<div ng-controller="AcctAssignRolesToRightsCtrl as assign" class="rp-aside-modal rp-aside-modal-right acct-role-modal assign-roles-rights-aside">
    <div class="rp-aside-modal-header">
        <span class="rp-aside-modal-close" ng-click="assign.cancel()">
        </span>
        <h2 class="rp-aside-modal-header-title">
            Assign Roles
        </h2>
        <h3 class="rp-aside-modal-header-subtitle">
            {{assign.model.roleData.description}}
        </h3>
    </div>
    <div class="rp-aside-modal-content">
        <form novalidate name="rightsForm" rp-focus-invalid-field >
            <div ng-if="assign.model.currentType=== 'edit'" class="row extend">
                <div class="col-md-12">
                    <rp-form-input-text config="assign.formConfig.assignName" rp-model="assign.model.assignName">
                    </rp-form-input-text>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="grid-controls">
                        <div class="grid-control-item">
                            <rp-toggle model="assign.model.grid.filtersModel.state.active" options="{
                            defaultText: 'Filter',
                            activeIconClass: 'rp-icon-filter',
                            defaultIconClass: 'rp-icon-filter active'
                        }">
                            </rp-toggle>
                        </div>
                    </div>
                    <div>
                        <div ng-if="assign.isError" class="roles-error-msg"> Please select a role</div>
                        <rp-grid model="assign.model.grid">
                        </rp-grid>
                        <rp-grid-pagination model="assign.model.gridPagination">
                        </rp-grid-pagination>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="rp-aside-modal-footer rp-aside-modal-footer-btns">
        <button ng-click="assign.cancel($event)" class="rp-btn rp-aside-modal-footer-btn outline primary">
            Cancel
        </button>
        <button ng-if= "assign.hasAccess()" ng-click="assign.update()" class="rp-btn rp-aside-modal-footer-btn primary">
            Update
        </button>
    </div>
</div>
