<div class="usermgmt-properties-wrapper" ng-controller="UserMgmtPropertiesGridCtrl as prop">
    <div class="usermgmt-properties-body" ng-if="!prop.isPropertiesError">
        <div class="usermgmt-properties" ng-if="!prop.allProperties">
            <div class="grid-controls">
                <div class="grid-control-item">
                    <rp-toggle model="prop.grid.filtersModel.state.active" options="{
		                defaultText: 'Filter',
		                activeIconClass: 'rp-icon-filter',
		                defaultIconClass: 'rp-icon-filter active'
		            }">
                    </rp-toggle>
                </div>
            </div>
            <rp-grid ng-if="opa.isActive()" model="prop.grid" class="usermgmt-properties-grid">
            </rp-grid>
            <rp-grid-pagination ng-if="opa.isActive()" model="gridPagination">
            </rp-grid-pagination>
        </div>
    </div>
    <div class="usermgmt-properties-error" ng-if="prop.isPropertiesError">
        {{::prop.propertiesError}}
    </div>
</div>
