<div class="roles-wrapper" ng-controller="UserMgmtRolesGridCtrl as roles">
    <div class="usermgmt-roles-body" ng-if="!roles.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="roles.rolesGrid.filtersModel.state.active" options="{
                    defaultText: 'Filter',
                    activeIconClass: 'rp-icon-filter',
                    defaultIconClass: 'rp-icon-filter active'
                }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="roles.isActive()" model="roles.rolesGrid" class="usermgmt-roles-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="roles.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="usermgmt-roles-error" ng-if="roles.isDataError">
        {{::roles.dataErrorReason}}
    </div>
</div>
