.home {

	&-products {
        background-color: #ededed;
        overflow: hidden;

        .welcome-back-title {
			@include header-2;
			font-weight: normal;
			float: left;
        }

		&-not-you {
			float: left;
			margin-left: 20px;
		}

		&-view-all {
			float: right;
		}

        &-carousel {
        	clear: both;
        }
	}

	& &-resources {
        padding: 0 25px 25px;
	}

	&-resources {
        .resources-title {
			@include header-2;
			margin-top: 24px;
		}

        &-carousel {
        	clear: both;
        }
	}

	.link {
		color: $rp-primary !important;
		cursor: pointer;
	}
}
