.initial-product-card {
	&-icon {
		&::before {
			font-size: 24px;
			margin-right: 10px;
			vertical-align: middle;
			font-weight: bold;
		}
	}

	&-settings-icon {
		@include rp-icon(gear);
		color: $rp-neutral-04 !important;
		
		&:hover {
			color: $rp-neutral-04;
		}
	}

	.business-intelligence {
		@include rp-icon(statistics-7);
	}

	.investment-analytics {
		@include rp-icon(change-money);
	}

	.revenue-forecaster {
		@include rp-icon(statistics);
	}

	.leasing-and-rents {
		@include rp-icon(hotel-2);
	}

	.affordable {
		@include rp-icon(home);
	}

	.student-living {
		@include rp-icon(graduation-cap);
	}

	.military-housing {
		@include rp-icon(angle-double-down);
	}

	.care-management {
		@include rp-icon(heartbeat);
	}

	.facilities {
		@include rp-icon(service);
	}

	.purchasing {
		@include rp-icon(shopping-cart);
	}

	.ops-technology {
		@include rp-icon(shopping-cart);
	}

	.budgeting {
		@include rp-icon(statistics-5);
	}

	.screening {
		@include rp-icon(user);
	}

	.websites {
		@include rp-icon(monitor);
	}

	.contact-center {
		@include rp-icon(photo-classic);
	}

	.marketing-center {
		@include rp-icon(photo);
	}

	.package-delivery {
		@include rp-icon(package-delivery);
	}

	.payments {
		@include rp-icon(card);
	}

	.renters-insurance {
		@include rp-icon(file-document);
	}

	.resident-portal {
		@include rp-icon(user-profile);
	}

	.utility-management {
		@include rp-icon(bulb);
	}
}