// Solutions Carousel

.products-carousel {

    &-product {
        width: 100%;
        height: 100%;
        background-color: #fff;
        font-size: 0;
        line-height: 0;
        line-height: 100px;
        position: relative;
        white-space: no-wrap;
        border: 1px solid #ebf0f2;
        box-shadow: 1px 1px 0 0 rgba(163, 175, 181, 0.5);
        border: 1px solid rgba(163, 175, 181, 0.5);

        &-favorite,
        &-info {
            cursor: pointer;
            position: absolute;
            right: 8px;
            opacity: 0;
            font-size: 20px;
            color: #303436;
            transition: all 0.2s ease-in-out;
        }

        &:hover {
            .products-carousel-product-favorite,
            .products-carousel-product-info {
                opacity: 0.25;
                transition: all 0.2s ease-in-out;
            }
        }

        &-favorite {
            top: 8px;
        }

        &-info {
            bottom: 8px;
        }

        &-span {
            width: 100%;
            height: 100%;
            display: block;
            padding-left: 15px;
            cursor: default;
        }

        &-link {
            width: 100%;
            height: 100%;
            display: block;
            padding-left: 15px;
            cursor: pointer;
        }
        &-wrap {
            height: 100px;
            padding-right: 2px;
            padding-bottom: 2px;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-icon {
            width: 48px;
            height: 48px;
            font-size: 0;
            line-height: 48px;
            margin-right: 15px;

            img {
                width: 48px;
                height: 100%;
                max-width: 48px;
                display: inline-block;
                vertical-align: middle;
            }
        }

        &-content {
            width: 195px;
        }

        &-icon,
        &-content {
            display: inline-block;
            vertical-align: middle;
        }

        &-title {
            @include title-1;
        }

        &-products {
            @include body-3($rp-neutral-02);
        }

        &-title,
        &-products {
            margin: 0;
        }
    }
}

.disabled-product-card {
    z-index: 5;
    background-color: #ededed;
    opacity: 0.5;
}

.product-favorited {
    opacity: 0.25;
}
