// Solutions Carousel

.resources-carousel {
    &-resource {
        width: 100%;
        height: 100%;
        background-color: #F7F8F9;
        font-size: 0;
        line-height: 0;
        line-height: 100px;
        white-space: nowrap;
        border: 1px solid rgba(163, 175, 181, 0.5);
        position: relative;

        &-span {
            cursor: default;
        }

        &-link {
            cursor: pointer;
        }

        &-icon {
            width: 100%;
            height: 100%;
            font-size: 0;
            line-height: 32px;
            padding-top: 16px;
            padding-bottom: 16px;

            img {
                width: 32px;
                height: 32px;
                max-width: 32px;
                display: inline-block;
                vertical-align: middle;
            }
        }

        &-icon,
        &-content {
            display: block;
            vertical-align: middle;
            text-align: center;
        }

        &-title {
            @include title-2;
            color: #262A2D;
            padding-bottom: 16px;
        }

        &-resources {
            @include body-3($rp-neutral-02);
        }

        &-title,
        &-resources {
            margin: 0;
        }
    }
}

.disabled-resource-card {
    z-index: 5;
    background-color: #ededed;
    opacity: 0.5;
}
