%on-blur-error {
	.rp-form-input-text {
		&-cell {
			border-color: $rp-danger;

			&:first-child,
			&:last-child {
				border-color: $rp-danger;
			}
		}	

		.rp-form-error-msgs {
			display: block;

			.rp-form-error-msg {
				display: block;
			}
		}
	}
}

.manage-user-wrapper .user-details {

	width: 100%;


	.add-persona-btn {
		color: $rp-primary;
		background-color: transparent;
		border: none;

		margin-top: 15px;
	}

	.enable-user-switch {
		&-wrapper {
			// margin-top: 45px;
		}

		&-label {
			float: right;

			&.form-control-label {
				@media #{$smScAndBelow} {
			        width: auto;
			        margin-top: 12px;
			        margin-bottom: 12px;
			    }
		    }
		}

		float: right;
		margin-top: 10px;

		@media #{$smScAndBelow} {
	        margin-top: 16px;
	        margin-bottom: 12px;
	    }
	}

	.ui-switch {
		border: none;
		background-color: $rp-neutral-06;

		i {
			&:before {
				border: none;
				background-color: $rp-neutral-06;				
			}

			&:after {
				background-color: $rp-neutral-02;	
			}
		}

		input:checked {
			& + i {				
				&:after {
					background-color: $rp-primary;
				}
			}
		}

		&.disabled-switch {
			cursor: $cursor-disabled;

			input:checked {
				& + i {				
					&:after {
						background-color: $rp-neutral-02;
					}
				}
			}
		}
	}

	.rp-datetimepicker {
		min-height: 56px; 
		
		&-icon:before {
			color: $rp-nav-color-02;
		}

		&-text {
			border-right: 0;
			border-color: $input-border !important;
		}

		.input-group {
			border: 0;
		}
	}

	//TODO temporary workaround
	.rp-form-input-text {
		&.disabled {
			background-color: transparent !important; //need to override important at .disabled
		}
	}

	.failed-pswd {
		&-validation {
			@extend %on-blur-error;

			.focus.rp-form-input-text {
				.rp-form-error-msgs {
					display: none;

					.rp-form-error-msg {
						display: none;
					}
				}
			}
		}

		&-match {
			@extend %on-blur-error;
		}
	}
}

.edit-user .user-details .enable-user-switch-wrapper {
	margin-top: 0;
}

