$valid-input-color: $light-green-800;
$form-border-color: $rp-neutral-02;
$form-background-color: $rp-neutral-05;

.manage-user-wrapper {

	.password-popover {
		margin-top: -10px;
	}

	.change-password {

		section {
			margin: 0 15px;
		}

		&.ng-dirty {
			.change-pwd-status-indicator li:before {
				visibility: visible;
			}
		}

		.form-group {
			position: relative;
		}
	}

	.change-pwd {
		&-instructions {
	        height: 10px;
	        font-weight: bold;
	    }

	    &-label {
	        @include form-label-block;
	        font-weight: bold;
	        margin-bottom: 0;
	    }

	    &-status-indicator {
	        list-style-type: none;
	        margin: 16px 0;
	        padding: 0;

	        li {
	            margin-bottom: 3px;

	            &:last-child {
	                margin-bottom: 0;
	            }

	            &:before {
	                display: block;
	                float: left;
	                content: "";
	                width: 16px;
	                height: 16px;
	                margin-right: 3px;
	                line-height: 16px;
	            }

	            &.checked:before {
	                @include rp-icon(correct);
	                margin-top: 3px;
	                color: $valid-input-color;
	                font-size: 12px;
	            }
	        }
	    }

	    &-actions {
	        .form-group {
	            text-align: center;
	        }

	        button {
	            width: 100%;
	        }

	        .hide {
	            display: none;
	        }
	    }
	}	

}