<div class="profile-tab"
    ng-controller="MpProfileTabCtrl as profile">
    <form novalidate name="profileForm"
        rp-focus-invalid-field rp-track-form-changes>
        <div class="user-profile-image"></div>
        <div class="row edit-photo-button-wrap">
            <button class="edit-photo-button btn small rounded btn-outline b-primary text-primary m-b-md" type="button"><i class="rp-icon-photography camera-icon"></i>Edit Photo</button>
        </div>

        <div class="row">
            <div class="col-md-5">
                <label for="">First</label>
                <rp-form-input-text
                    config="profile.formConfig.firstName"
                    rp-model="profile.model.data.firstName">
                </rp-form-input-text>
            </div>
            <div class="col-md-2">
                <label for="">Middle</label>
                <rp-form-input-text
                    config="profile.formConfig.middleName"
                    rp-model="profile.model.data.middleName">
                </rp-form-input-text>
            </div>
            <div class="col-md-5">
                <label for="">Last</label>
                <rp-form-input-text
                    config="profile.formConfig.lastName"
                    rp-model="profile.model.data.lastName">
                </rp-form-input-text>
            </div>
        </div>

        <div class="row"
            ng-repeat="item in profile.model.telecomNumbers">
            <div class="col-md-7">
                <label for="phone-number-{{item.index}}">Phone</label>
                <rp-form-input-text
                    config="item.phoneNumberConfig"
                    rp-model="item.derivedData.phoneNumber">
                </rp-form-input-text>
            </div>
            <div class="col-md-5">
                <label for="usage-type-{{item.index}}">Type</label>
                <rp-form-select-menu
                    config="item.usageTypeConfig"
                    rp-model="item.data.contactMechanismUsageType.contactMechanismUsageTypeId">
                </rp-form-select-menu>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <label for="">Preferred Contact Method</label>
                <rp-form-select-menu
                    config="profile.formConfig.contactMethod"
                    rp-model="profile.model.data.preferredContactMethodId">
                </rp-form-select-menu>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <label for="">Industry Standard Job Title</label>
                <rp-form-select-menu
                    config="profile.formConfig.jobTitle"
                    rp-model="profile.model.data.partyRole.roleTypeId">
                </rp-form-select-menu>
                <label for="">Company Job Title</label>
                <rp-form-input-text
                    config="profile.formConfig.title"
                    rp-model="profile.model.data.title">
                </rp-form-input-text>
            </div>
        </div>
    </form>
</div>