// Add User Success Modal

.user-request {
    &-status-modal {
        width: 300px;
    }

    &-error-msg {
        margin: 0;
    }

    &-footer-btn {
        &s.rp-modal-footer-btns {
            text-align: center;

            .rp-btn {
                margin: 0;
                min-width: 160px;
            }
        }
    }
}
