.prev-acct-dialog,
.acct-not-found-dialog,
.acct-email-dialog,
.acct-not-created-dialog {
    max-width: 480px;
}

.prev-acct-body,
.acct-not-found-body,
.acct-not-created-body {
    line-height: 30px;
    text-align: center;
}

.acct-email-body {
    line-height: 30px;
}

.prev-acct-dialog,
.acct-not-found-dialog,
.acct-email-dialog,
.acct-not-created-dialog {
    text-align: center;
}
