.lead-2-lease {
    &-roles-grid {
    	.is-assigned {
            min-width: 125px;
            max-width: 125px;
            white-space: nowrap;
    	}
    	.name {
    		width: 95%;
    	}
    }

    &-roles-select {
        width: 40%;
    }
}

.lead-2-lease-roles-error {
    margin-top: 20px;
}
