<div class="user-profile">
	<div class="box">
	    <div class="user-profile-main">
	        <div class="user-profile-main-image">
	            <rp-user-image
	                image-size="'90px'"
	                image-src="$ctrl.userSummary.avatar">
	            </rp-user-image>
	        </div>
	        <div class="user-profile-main-information">
	            <div class="user-profile-main-name" title="{{$ctrl.userSummary.firstName}} {{$ctrl.userSummary.middleName}} {{$ctrl.userSummary.lastName}}">
	                {{$ctrl.userSummary.firstName}} {{$ctrl.userSummary.middleName}}  {{$ctrl.userSummary.lastName}}
	            </div>

	            <p class="m-b-0" title="{{$ctrl.userSummary.title}}">{{$ctrl.userSummary.title}}</p>
	            <p>{{$ctrl.userSummary.latestOrganization}}</p>
	            <p class="m-b-0">
	                <a href="mailto:{{$ctrl.userSummary.latestEmail}}">
	                   {{$ctrl.userSummary.latestEmail}}
	                </a>
	            </p>
	            <p>{{$ctrl.userSummary.latestContactNum | phoneNumber}}</p>

	            <span ng-click="$ctrl.manageProfile()"
	                  class="user-profile-main-link link">
	                {{::"label.dashboard.manageProfile" | dashboardText}}
	            </span>
	        </div>
	    </div>
	    <div class="user-profile-summary">
	        <div class="user-summary-counts">
	            <!-- TODO reveal when data is available.
	            <div class="user-summary-count-item">
	                <div class="user-summary-count-item-number">
	                    <a ng-href="#/people/users/{{page.model.dashboard.userSummary.realPageId}}">{{page.model.dashboard.userSummary.summaryCounts.properties}}</a>
	                </div>
	                <p>{{::"label.dashboard.properties" | dashboardText}}</p>
	            </div>
	            -->
	            <div class="user-summary-count-item">
	                <div class="user-summary-count-item-number">
	                    <a ng-href="#/products">
	                    	{{$ctrl.userSummary.summaryCounts.products}}
                    	</a>
	                </div>
	                <p>{{::"label.dashboard.products" | dashboardText}}</p>
	            </div>
	            <!-- TODO reveal when data is available.
	            <div class="user-summary-count-item">
	                <div class="user-summary-count-item-number">
	                    <a ng-href="#/people/users/{{page.model.dashboard.userSummary.realPageId}}">{{page.model.dashboard.userSummary.summaryCounts.roles}}</a>
	                </div>
	                <p>{{::"label.dashboard.roles" | dashboardText}}</p>
	            </div>
	            -->
	        </div><!-- .user-summary-counts -->

	        <div class="user-summary-achievements">
	            <div class="user-summary-achievements-title">
	                {{::"label.dashboard.achievements" | dashboardText}}
	            </div>
	            <div class="user-summary-achievements-badges">
	            	<div class="soon">Coming Soon!</div>
	            </div>
	            <!-- <div class="user-summary-achievements-badges">
	                <div class="circle"></div>
	                <div class="circle"></div>
	                <div class="circle"></div>
	                <div class="circle"></div>
	                <div class="circle outline">+10</div>
	            </div> Coming soon! NOT MVP -->
	        </div><!-- .user-summary-achievements -->
	    </div>
	</div><!-- .box -->
</div><!-- .user-profile -->
