<div ng-show="ilmlmpa.isActive()" detect-product-change="{onChange: ilmlmpa.setChanged}" ng-controller="ILMLeadManagementProductAccessCtrl as ilmlmpa">
    <h3 class="assign-product-access-title">
        {{ilmlmpa.panelName}}
    </h3>
    <div ng-show="ilmlmpa.productDisabled" class="ilm-lead-management-error-msg">
        This product cannot be assigned when User Type is Regular user (no email).
    </div>
    <div ng-show="!ilmlmpa.productDisabled">
        <rp-scrolling-tabs-menu model="ilmlmpa.tabsMenu">
        </rp-scrolling-tabs-menu>
        <ng-include ng-repeat="tab in ilmlmpa.tabsList" src="tab.incUrl" ng-show="tab.isActive">
        </ng-include>
    </div>
</div>
