<div class="properties-wrapper" ng-controller="ILMLeadManagementPropertiesGridCtrl as ilmlmp">
    <div class="properties-body" ng-if="!ilmlmp.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="ilmlmp.propertiesGrid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="ilmlmpa.isActive()" model="ilmlmp.propertiesGrid" class="ilm-lm-properties-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="ilmlmpa.isActive()" model="propertiesGridPagination">
        </rp-grid-pagination>
    </div>
    <div class="properties-body-error" ng-if="ilmlmp.isDataError">
        <p>{{::ilmlmp.dataErrorReason}}</p>
    </div>
</div>
