$faded-white: rgba(255, 255, 255, 0.25);
html {
    background-color: $white;
    height: 100%;
}

body {
    background-color: #e5e5e5;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.page-login {
    background-color: #fff;
    height: 100vh;
    width: 100vw;

    @media #{$mdSc} {
        background-color: #e5e5e5;
        background-image: url("/login/content/images/login-world.png");
        background-position: center;
        background-size: cover;
    }

    // width: 100%;
    // height: 100%;
    // display: table;
    // position: fixed;
    // background-image: url("/Content/images/login-world.png");
    // background-size: cover;
    // background: #e5e5e5;
    // background: -moz-linear-gradient(top, #e5e5e5 0%, #e5e5e5 50%, #ffffff 100%);
    // background: -webkit-linear-gradient(top, #e5e5e5 0%, #e5e5e5 50%, #ffffff 100%);
    // background: linear-gradient(top, #e5e5e5 0%, #e5e5e5 50%, #ffffff 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=0);
    
    .login-remember {
        color: $rp-neutral-02;
        padding-left: 0;
    }
}

// .login-page {
//     display: table-row;
// }

label {
    font-weight: normal;
}

// .content {
//     text-align: center;
//     display: table-cell;
//     vertical-align: middle;
// }

.user-lookup, .forgot-password-questions {
    form.ng-submitted .ng-invalid {
        border: 1px solid $rp-danger !important;
    }

    .rp-form-error-msgs {
        margin-bottom: 0;
        @include caption($rp-danger);
    }
}

.login-banner {

    &-container {
        display: none;
    }

    &-tile {
        width: 170px;
        height: 170px;
        text-align: center;
        background: $white;
        border: 1px solid $rp-nav-color-04;
        border-radius: $border-radius-lg;
		box-shadow: 1px 1px 0 0 rgba(163,175,181,0.5);

        &-link {
            height: 100%;
            width: 100%;
            display: block;
        }

        @media #{$mdScAndBelow} {
            width: 140px;
            height: 140px;
            &:nth-child(n+2) {
                margin-top: 30px;
            }
            display: inline-block;
            &s {
                margin: 60px auto 0 auto;
                text-align: center;
                width: 140px;
                }
        }

        @media #{$lgSc} {
            position: absolute;
            &s {
                top: 50%;
                left: 50%;
                width: 430px;
                height: 430px;
                position: absolute;
                margin: -215px 0 0 -215px;
            }

            &:nth-child(1) {
                top: 0;
                left: 0;
            }

            &:nth-child(2) {
                top: 0;
                right: 0;
            }

            &:nth-child(3) {
                left: 0;
                bottom: 0;
            }

            &:nth-child(4) {
                right: 0;
                bottom: 0;
            }

            &:nth-child(5) {
                top: 50%;
                left: 50%;
                margin: -85px 0 0 -85px;
            }
        }

		&-icon {
            width: 60px;
            height: 60px;
			margin-top: 30px;
            @media #{$mdScAndBelow} {
                width: 40px;
                height: 40px;
                margin-top: 25px;
            }
		}

        &-text {
            height: 36px;
            display: block;
            line-height: 18px;
            margin-top: 18px;
            margin-left: 25px;
            margin-right: 25px;
            text-align: center;
            color: $rp-form-neutral;
            @media #{$mdScAndBelow} {
                margin-top: 14px;
                margin-left: 20px;
                margin-right: 20px;
            }

            &.smaller {
                @include medium-text;
            }
        }
    }

    &-buttons {
        margin-top: 50px;
        margin-left: -10px;

        .view-demo-btn {
            width: 195px;
        }

        .download-ebook-btn {
            margin-left: 10px;
            width: 235px;
        }
    }
}

.logout-page {
    background-color: #fff;
    height: 100vh;
    width: 100vw;

    @media #{$mdSc} {
        background-color: #e5e5e5;
        background-image: url("/login/content/images/login-world.png");
        background-position: center;
        background-size: cover;
    }
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // position: fixed;
    // width: 100%;
    // background-image: url("/Content/images/login-world.png");
    // background-size: cover;
    // background: #e5e5e5;
    // background: -moz-linear-gradient(top, #e5e5e5 0%, #e5e5e5 50%, #ffffff 100%);
    // background: -webkit-linear-gradient(top, #e5e5e5 0%, #e5e5e5 50%, #ffffff 100%);
    // background: linear-gradient(top, #e5e5e5 0%, #e5e5e5 50%, #ffffff 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=0);
}

.logout-message {
    &-content {
        padding-top: 3rem;
        width: 100%;
        text-align: center;
    }

    &-status {
        @include body-2($rp-neutral-02);
        padding-top: 10%;
        padding-bottom: 1.5rem;
        text-align: center;
    }

    background-color: #fff;
    width: 100%;
    padding: 3rem 16px;
    max-width: 440px;
    margin: 0 auto;

    @media #{$mdSc} {
        padding: 0 45px;
        border: 1px solid $rp-neutral-05;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    // left: 50%;
    // bottom: 65%;
    // width: 440px;
    // height: 250px;
    // position: fixed;
    // background: #fff;
    // z-index: 10;
    // margin-left: -200px;
    // margin-bottom: -100px;
    // box-shadow: 0 2px 6px 1px rgba(82, 97 , 115, .6);
}


.logout-banner {
    &-container {
        display: none;
        // background-image: url("/Content/images/logout-03.png");
        // background-attachment: fixed;
        // background-position: center center;
        // background-size: cover;
        // height: 100%;
        // min-height: 700px;
        // position: relative;

        // @media #{$mdSc} {
        //     @include grid-col(12);
        //     min-height: 900px;
        //     display: block;
        // }

        // @media #{$lgSc} {
        //     @include grid-col(12);
        //     display: block;
        // }

        // @media #{$exLgSc} {
        //     @include grid-col(12);
        //     display: block;
        // }
    }
}
