// User Profile Details
.user-profile-details {

    &-action {
        min-width: 190px;
        text-align: center;
        margin-left: $grid-gutter-width;

        &s {
            left: 0;
            bottom: 0;
            width: 90%;
            font-size: 0;
            line-height: 0;
            background: #fff;
            text-align: right;
            padding: $grid-gutter-width;
        }
    }

    &-info {
        padding-top: 25px;
    }

    &-avatar-lg {
        @include rounded(96px);
        width: 96px;
        height: 96px;
        float: right;
        overflow: hidden;
        background-color: #D8D8D8;
    }

    &-initials {
        margin: 30px 25px 0 20px;
        color: #61676B;
        font-family: Roboto;
        font-size: 30px;
        line-height: 34px;
        text-align: center;
        text-transform: uppercase;
    }

    &-card {
        min-height: 520px;
        overflow: hidden;
        border-radius: 2px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(82, 97, 115, 0.2);
    }

    &-header-information {
        line-height: 18px;
        margin-top: 19px;
        margin-left: 32px;
        margin-right: 0;
    }

    &-header {
        margin-top: 19px;
        margin-left: 32px;
        margin-right: 0;
        line-height: 18px;
    }

    &-close {
        float: right;
        cursor: pointer;
        margin-top: 19px;
        margin-right: 24px;
        color: #afb3b6;
        line-height: 22px;
    }

    &-header-title {
        color: #303436;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: .02em;
        margin-top: 19px;
        margin-left: 32px;
        margin-right: 0;
        line-height: 18px;
    }
}
