// User Profile
.user-edit-profile {
    @include grid-container-fluid(true, true);

    &-card {
        height: 80px;
        border-radius: 2px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(82, 97, 115, 0.2);
    }

    &-form-label {
        @include form-label;
        display: block;
    }

    &-field {
        margin-top: 20px;
        min-height: 80px;
    }

    &-avatar-sm {
        @include rounded(56px);
        width: 60px;
        height: 56px;
        float: left;
        overflow: hidden;
        margin: 11px 12px 13px 10px;
        background: $rp-neutral-05;
    }


    &-initials {
        margin: 16px 15px 16px 14px;
        color: #61676B;
        font-family: Roboto;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
    }

    &-info {
        white-space: nowrap;
        padding-top: 18px;
    }

    &-name {
        margin: 0;
        height: 22px;
        width: 100%;
        color: #303436;
        font-family: Roboto;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    &-role {
        margin: 0;
        height: 22px;
        width: 96.95px;
        opacity: 0.5;
        color: #303436;
        font-family: Roboto;
        font-size: 14px;
        line-height: 22px;
    }

    &-contact {
        white-space: nowrap;
        padding-top: 28px;
    }

    &-icon {
        padding-right: 10px;
    }

    &-edit {
        float: right;
        cursor: pointer;
        margin-top: 28px;
        margin-right: 24px;
        color: #afb3b6;
        line-height: 22px;
    }

    .add-ph-link {
        float: left;
        @include link;
        margin-bottom: 15px;
    }
    .del-ph {
        cursor: pointer;
        float: left;
        margin-top: 40px;
        font-size: 10px;
        color: #afb3b6;
    }
    .sec-email {
        margin-bottom: 15px;
    }
}
