raul-textarea {
  display: block;
}

raul-textarea .r-form-element__control {
  position: relative;
}

raul-textarea .r-form-element__control textarea {
  border-width: 1px;
  border-color: #C6CCD0;
  display: block;
  font-size: 0.875rem;
  height: 5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  background-color: var(--raul-input-bg, #ffffff);
  border-radius: var(--raul-input-border-radius, 0.125rem);
  color: var(--raul-input-color, #37474F);
  min-height: 2.5rem;
}

raul-textarea .r-form-element__control textarea::-webkit-input-placeholder {
  color: #C6CCD0;
}

raul-textarea .r-form-element__control textarea::-moz-placeholder {
  color: #C6CCD0;
}

raul-textarea .r-form-element__control textarea:-ms-input-placeholder {
  color: #C6CCD0;
}

raul-textarea .r-form-element__control textarea::-ms-input-placeholder {
  color: #C6CCD0;
}

raul-textarea .r-form-element__control textarea::placeholder {
  color: #C6CCD0;
}

raul-textarea .r-form-element__control textarea[disabled] {
  background-color: #EBEDEE;
  border-color: #EBEDEE;
  color: #9BA3A7;
  cursor: not-allowed;
}

raul-textarea .r-form-element__control textarea:focus {
  border-color: #0076CC;
  outline: 0;
}

raul-textarea .r-form-element__control textarea:invalid {
  border-color: #D01A1F;
}

raul-textarea .r-form-element__label {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

raul-textarea .r-form-element__hint {
  display: block;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

raul-textarea .r-form-element__error {
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  color: #D01A1F;
  margin-top: 0.5rem;
}

raul-textarea .r-form-element__error__icon {
  font-size: 1rem;
  margin-right: 0.25rem;
}

raul-textarea .r-form-element--invalid textarea {
  border-color: #D01A1F;
}