<div class="rp-modal-wrap" ng-controller="AccessNotDefinedCtrl as access">
    <div class="rp-modal" ng-click="$hide()">
        <div rp-stop-event="click" class="rp-modal-dialog access-not-defined">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="$hide()"></span>
                <h2 class="rp-modal-header-title">Product Access Not Defined</h2>
            </div>
            <div class="rp-modal-content">
                <p>For each selected products, you must configure the product access by selecting at least one property and role. Please go back and finish the configuration of the following products:</p>

                <ul class="products-missing-access">
                    <li ng-repeat="soln in access.model.list">
                        {{soln.getTitleText()}}
                    </li>
                </ul>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns access-not-defined-footer-btns">
                    <button ng-click="$hide()"
                        class="rp-modal-footer-btn rp-btn primary access-not-defined-action">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
