.nav-side-menu ul .sub-menu li:before {
    font-family: "";
    content: "";
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
}

.rp-side-menu-item-text.active {
    font-weight: bold;
}