html, body, .docs-container {
  min-height: 100%;
}

.docs-container {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}

main {
  flex: 1 1 0%;
  flex-direction: column;
}

.docs-page-container {
  background-color: #F7F8F9;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.docs-page-header {
  background-color: #F7F8F9;
  padding: 1.5rem;
}

@media (min-width: 1024px) {
  .docs-page-header {
    padding: 3rem;
  }
}

.docs-page-header h1,
.docs-page-header .r-content h1 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -0.27px;
  margin-top: 12px;
  padding-top: 26px;
  position: relative;
}

.docs-page-header h1:before {
  background-color: #F06000;
  border-radius: 4px;
  content: "";
  display: block;
  height: 8px;
  width: 19px;
  position: absolute;
  top: 0;
}

.docs-page-header h1:after {
  background-color: #9BA3A7;
  border-radius: 4px;
  content: "";
  display: block;
  height: 8px;
  width: 37px;
  position: absolute;
  top: 0;
  left: 27px;
}

.docs-page-header.tabbed {
  padding-bottom: 0;
  border-bottom-width: 1px;
  border-color: #EBEDEE;
}

.docs-page-header.tabbed raul-tabs .tabs {
  margin: 0 0 -1px -15px;
}

.docs-page-header.tabbed raul-tabs .tabs .tabs__item--active {
  border-bottom-width: 2px;
  border-color: #F06000;
}

.docs-page-content {
  flex: 1 1 0%;
  background-color: #ffffff;
  padding: 1.5rem;
}

@media (min-width: 1024px) {
  .docs-page-content {
    padding: 3rem;
  }
}

.docs-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-right: -24px;
}

.docs-cards-container .docs-card-wrapper {
  padding-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.docs-cards-container .docs-card-wrapper .docs-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  border-width: 1px;
  border-color: #EBEDEE;
  background-color: #ffffff;
  height: 100%;
  box-shadow: none;
  z-index: 0;
  transition: all ease 0.3s;
}

.docs-cards-container .docs-card-wrapper .docs-card .docs-card-illustration {
  display: flex;
  flex-grow: 1;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  min-height: 140px;
}

.docs-cards-container .docs-card-wrapper:hover > .docs-card, .docs-cards-container .docs-card-wrapper:focus > .docs-card {
  margin-top: -8px;
  margin-bottom: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all ease 0.3s;
}