<div class="product-roles-wrapper">
	<div class="product-roles-header box-header">
		<div class="product-roles-search-wrapper">
			<rp-form-input-text
                rp-model="$ctrl.model.searchText"
                config="$ctrl.config.form.searchText">
            </rp-form-input-text>
		</div>
	</div>

	<div class="product-roles-body box-body">
		<rp-grid model="$ctrl.config.grid"></rp-grid>
		<!-- 
		<rp-grid-pagination model="gridPagination">
		</rp-grid-pagination>
		 -->
	</div>
	
</div>