<div ng-controller="ALSingleUserActivityAsideCtrl as sua"
    class="rp-aside-modal rp-aside-modal-right single-user-activity-aside">
    <div class="rp-aside-modal-header">
        <span class="rp-aside-modal-close"
             ng-click="sua.cancel()">
        </span>
        <h2 class="rp-aside-modal-header-title">
            {{::sua.title}}
        </h2>
    </div>

    <div class="rp-aside-modal-content">
        <div class="single-user-activity-aside-wrapper">
            <div class="single-user-activity-aside-body">
                <div class="activity-log-profile-card">
                    <div class="activity-log-profile-avatar-sm">
                        <p class="activity-log-profile-initials">
                            {{sua.profileModel.userInitials}}
                        </p>
                    </div>
                    <div class="activity-log-profile-info">
                        <p class="activity-log-profile-name">
                            <span>
                            {{sua.profileModel.data.firstName}} {{sua.profileModel.data.lastName}}
                            </span>
                            <span class="activity-log-profile-status">
                                {{sua.profileModel.data.userLogin.status}}
                            </span>
                        </p>
                        <span class="activity-log-profile-role">
                            {{sua.profileModel.data.personaType}}
                            <span ng-click="sua.editProfile()" class="edit-profile link">View User Profile</span>
                        </span>
                    </div>
                    <div class="activity-log-profile-contact">
                        <span class="contact-login-name" ng-show="sua.loginNameIsEmail()">
                            {{sua.profileModel.data.userLogin.loginName}}
                        </span>
                        <span class="contact-separator" ng-if="sua.profileModel.data.telecommunicationNumber['0'].hasValidPhoneNumber && sua.loginNameIsEmail()">|</span>
                        <span class="contact-phone-number" ng-if="sua.profileModel.data.telecommunicationNumber['0'].hasValidPhoneNumber">
                            {{sua.profileModel.data.telecommunicationNumber["0"].displayNumber}}
                        </span>
                    </div>
                </div>
                <rp-export-menu config="sua.exportMenu" class="activity-log-aside-export-menu">
                </rp-export-menu>
                <div class="activity-grid user-view aside-view">
                    <rp-grid model="sua.asideGrid" class="activity-log-grid">
                    </rp-grid>

                    <rp-grid-pagination model="gridPagination">
                    </rp-grid-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
