.employee-access {
    
    
    &-grid-wrap {
        margin-left: 10px;
    }

   
    &-user-grid {
        .company-name {
            min-width: 20%;
        }

        .name {
            width: 20%;
        }
        .user-type {
            width:200px;
        }

        .user-name {
            width: 250px;
        }

        .email-id {
            width: 250px;
        }

        .name3rd-party-iDP {
            width: 150px;
        }

        .more {
            width: 100px;
        }
    }
    .rp-grid-header {
        .rp-grid-text {
            font-size: 14px; // font-weight: normal;
        }

        &.company-name {
            width: 20%;
        }
        
        &.name {
            width: 20%;
        }

        &.user-type {
            width: 200px;
        }

        .user-name {
            width: 250px;
        }

        .email-id {
            width: 250px;
        }

        .name3rd-party-iDP {
            width: 150px;
        }

        &.more {
            // text-align: center;
            width: 100px;
        }
    }
    .rp-grid-cell {
        &.company-name {
            width: 20%;
        }

        &.name {
            // text-align: center;
            width: 20%;
        }

        &.user-type {
            width: 200px;
        }

        .user-name {
            width: 250px;
        }

        .email-id {
            width: 250px;
        }

        .name3rd-party-iDP {
            width: 150px;
        }

        &.more {
            text-align: center;
            width: 100px;
            font-size: 20px;
        }
    }
}

.rp-actions-menu-panel {
    &.employee-access-actionsmenu {
        z-index: 9999;
    }
}


