raul-grid-sorter {
  display: inline-block;
  vertical-align: middle;
}

raul-grid-sorter .r-grid__sorter {
  display: flex;
  flex-direction: column;
  margin-left: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

raul-grid-sorter .r-grid__sorter__icon {
  display: block;
  width: 0;
  height: 0;
  border-left-width: 4px;
  border-right-width: 4px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-left-color: transparent;
  border-right-color: transparent;
}

raul-grid-sorter .r-grid__sorter__icon--ascending {
  border-bottom-width: 4px;
  border-bottom-color: #9BA3A7;
}

raul-grid-sorter .r-grid__sorter__icon--ascending.r-grid__sorter__icon--active {
  border-bottom-color: #0076CC;
}

raul-grid-sorter .r-grid__sorter__icon--descending {
  border-top-width: 4px;
  border-top-color: #9BA3A7;
}

raul-grid-sorter .r-grid__sorter__icon--descending.r-grid__sorter__icon--active {
  border-top-color: #0076CC;
}