<div class="product-filters">
    <div class="product-filter">
        <rp-form-select-menu
            class="prod-family"
            rp-model="page.form.prodFamily"
            config="page.formConfig.prodFamily">
        </rp-form-select-menu>
    </div>

    <div class="product-filter">
        <rp-form-select-menu
            class="prodSolution"
            rp-model="page.form.prodSolution"
            config="page.formConfig.prodSolution">
        </rp-form-select-menu>
    </div>

    <div class="product-filter search-text">
        <rp-form-input-text
            class="products-search-filter"
            rp-model="page.form.searchText"
            config="page.formConfig.searchText">
        </rp-form-input-text>
    </div>
</div>

<div ng-if="family.isActive"
    class="product-families"
    ng-repeat="family in page.model.families">
    <div rp-collapsible-panel-toggle
        class="rp-collapsible-panel-toggle">
        <span class="rp-collapsible-panel-toggle-icon rp-svg-icon"
            svg-src="{{family.getIconId() | productIconPath}}">
        </span>
        <span class="rp-collapsible-panel-toggle-text">
            {{::family.data.familyName}}
        </span>
    </div>

    <div class="rp-collapsible-panel" rp-collapsible-panel>
        <div ng-if="soln.isActive"
            class="product-card-wrap"
            ng-repeat="soln in family.solutions">
            <div class="card product-card">
                <div class="disabled-product-card"
                    ng-if="soln.isProductDisabled()">
                </div>

                <span class="product-card-icon rp-svg-icon"
                    svg-src="{{soln.getIconId() | productIconPath}}">
                </span>

                <div ng-if="soln.data.hasAccess"
                    class="product-card-favorite"
                    ng-click="soln.toggleFavStatus()"
                    ng-class="{active: soln.data.isFavorite}">
                </div>

                <div class="product-card-content">
                    <p class="product-card-title"
                        ng-href="{{::soln.data.productUrl}}">
                        {{::soln.data.solutionName}}
                    </p>
                    <p class="product-card-description">
                        {{::soln.data.subsolution}}
                    </p>
                    <div class="product-card-actions">
                        <a bs-popover
                            data-auto-close="1"
                            data-container="body"
                            data-placement="top-right"
                            class="product-card-action"
                            data-template-url="products/base/templates/product-more-info.html">
                        <i class="more-info"></i>
                    </div>
                    <a class="product-card-link"
                        ng-href="{{::soln.data.productUrl}}"
                        ng-attr-target="{{soln.getWinId()}}">
                        Launch
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="!page.model.hasSolutions" class="no-products-msg">
    No results were found.
</div>
