.user-lookup {
    // margin-top: 35px;

    form {
        background-color: #f1f1f1;
        border: 1px solid #d8d2d2;
        padding: 30px 30px 20px;
    }

    .validation-errors {
        min-height: 20px;
    }
}
