<div class="start-profile">
    <div class="start-profile-instructions">
    	<div class="col-md-12">
            <h1>{{:: "profile_welcome" | startProfileText }}</h1>
            <span>{{:: "profile_instructions" | startProfileText }}</span>
    	</div>
    </div>
    <form name="startProfileForm" novalidate rp-focus-invalid-field rp-track-form-changes class="start-profile-form ft-form" role="form"      ng-if="page.isFormDisplay"  >        
        
        <div class="form-group col-md-12">
            <label for="{{ ::page.startProfileFormConfig.username }}" class="form-control-label">
                {{:: "profile_username" | startProfileText }}
            </label>
            <rp-form-input-text
                class="username-wrapper"
                rp-model="page.startProfileData.username"
                config="page.startProfileFormConfig.username">
            </rp-form-input-text>
        </div>
        <div class="form-group col-md-12">
            <label class="form-control-label" for="industryJobTitle">
                {{:: "profile_industry_job_title" | startProfileText }}
            </label>
            <rp-form-select-menu config="page.startProfileFormConfig.industryJobTitle" rp-model="page.startProfileData.industryJobTitle">
            </rp-form-select-menu>
        </div>
        <div class="form-group col-md-12">
	        <label for="{{ ::page.startProfileFormConfig.companyJobTitle }}" class="form-control-label">
                {{:: "profile_company_job_title" | startProfileText }}
            </label>
            <rp-form-input-text
                rp-model="page.startProfileData.companyJobTitle"
                config="page.startProfileFormConfig.companyJobTitle">
            </rp-form-input-text>
        </div>
        <div class="form-group col-md-12">
            <div class="row" ng-repeat="item in page.startProfileData.telecomNumbers" ng-if="!item.isDeleted" ng-init="i=$index">
                <div class="col-md-8">
                    <label for="{{ ::page.startProfileFormConfig.phoneNumber }}" class="form-control-label"> {{i === 0 ? "Primary " : "Additional "}} Phone
                        <!-- {{:: "profile_phone_number" | startProfileText }} -->
                    </label>
                    <rp-form-input-text
                        rp-model="item.phoneNumber"
                        config="page.startProfileFormConfig.phoneNumber">
                    </rp-form-input-text>
                </div>
                <div class="col-md-3">
                    <label class="form-control-label" for="phoneType">
                        {{:: "profile_phone_type" | startProfileText }}
                    </label>
                    <rp-form-select-menu config="page.startProfileFormConfig.phoneType" rp-model="item.contactMechanismUsageType.contactMechanismUsageTypeId">
                    </rp-form-select-menu>
                </div>
                <div class="col-md-1" ng-if="i !== 0">
                            <div class="del-ph" ng-click="page.delPhone(item)"><i class="icon rp-icon-delete-2"></i></div>
                </div>
            </div>
            <div class="row">
                        <div class="col-md-8">
                            <div class="add-ph-link" ng-click="page.addPhone(startProfileForm)"> + Add Phone</div>
                        </div>
            </div>
            <div class="row" >
                <div class="col-md-8 sec-email">
                    <label for="">Secondary Email</label>
                    <rp-form-input-text config="page.startProfileFormConfig.secondaryEmail" rp-model="page.startProfileData.electronicEmails[0].addressString">
                    </rp-form-input-text>
                </div>
            </div>
        </div>
        <div class="start-profile-actions">
            <div class="col-md-12 error-msg">
                {{ page.errorMsg }}
            </div>
            <div class="col-md-8">
                <button class="rp-btn primary" ng-click="page.submitStartProfile(startProfileForm)" ng-disabled="page.form.submitBtnDisabled" type="button">
                    {{:: "profile_save" | startProfileText }}
                </button>
            </div>
            <div class="col-md-4">
                <button ng-click="page.skipStarterProfile()" class="rp-btn outline primary" type="button">
                    {{:: "profile_cancel" | startProfileText }}
                </button>
            </div>
        </div>
    </form>
</div>
