################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.dbmdl
*.jfm
*.cache
*.props
*.inc.js
*.zip
*.bak.*
*.bak
*.rsuser
package-lock.json
Enterprise/Subsystem/ProductLauncher/Service/LandingAPI/RP.Enterprise.Subsystem.ProductLauncher.Service.LandingAPI.XML
Enterprise/Subsystem/ProductLauncher/Service/LandingAPIEnterprise/RP.Enterprise.Subsystem.ProductLauncher.Service.LandingAPIEnterprise.xml
Enterprise/Subsystem/ProductLauncher/Service/SharedObjects/RP.Enterprise.Subsystem.ProductLauncher.Component.SharedObjects.XML

environment.js

.vs/
bin/
obj/
TestResults/
packages/
node_modules/
v1.10.*/

Enterprise/Subsystem/ProductLauncher/Web/IdentityServer/Identity/Content/
Enterprise/Subsystem/ProductLauncher/Web/identity-ui-src/Content/lib/

Enterprise/Subsystem/ProductLauncher/Web/landing-ui-src/v1/lib/
Enterprise/Subsystem/ProductLauncher/Web/landing-ui-src/v1/user/lib/
Enterprise/Subsystem/ProductLauncher/Web/landing-ui-src/new-user/lib/

Enterprise/Subsystem/ProductLauncher/Web/landing/[0-9]*
Enterprise/Subsystem/ProductLauncher/Web/landing/index.html
Enterprise/Subsystem/ProductLauncher/Web/landing/main.*
Enterprise/Subsystem/ProductLauncher/Web/landing/main-es*.*
Enterprise/Subsystem/ProductLauncher/Web/landing/oidc-*
Enterprise/Subsystem/ProductLauncher/Web/landing/polyfills.*
Enterprise/Subsystem/ProductLauncher/Web/landing/polyfills-es*.*
Enterprise/Subsystem/ProductLauncher/Web/landing/polyfills-core*.*
Enterprise/Subsystem/ProductLauncher/Web/landing/polyfills-dom*.*
Enterprise/Subsystem/ProductLauncher/Web/landing/runtime.*
Enterprise/Subsystem/ProductLauncher/Web/landing/runtime-es*.*
Enterprise/Subsystem/ProductLauncher/Web/landing/scripts.*
Enterprise/Subsystem/ProductLauncher/Web/landing/styles.*
Enterprise/Subsystem/ProductLauncher/Web/landing/common.*
Enterprise/Subsystem/ProductLauncher/Web/landing/common-es*.*
Enterprise/Subsystem/ProductLauncher/Web/landing/summernote.*
Enterprise/Subsystem/ProductLauncher/Web/landing/omnibar-silent-refresh.html
Enterprise/Subsystem/ProductLauncher/Web/landing/chat.html
Enterprise/Subsystem/ProductLauncher/Web/landing/chunk-*
Enterprise/Subsystem/ProductLauncher/Web/landing/main-*
Enterprise/Subsystem/ProductLauncher/Web/landing/polyfills-*
Enterprise/Subsystem/ProductLauncher/Web/landing/tinymce
Enterprise/Subsystem/ProductLauncher/Web/landing/styles*
Enterprise/Subsystem/ProductLauncher/Web/landing/scripts-*

Enterprise/Subsystem/ProductLauncher/Web/landing/silent-refresh.html
Enterprise/Subsystem/ProductLauncher/Web/landing/product-redirect.html

Enterprise/Subsystem/ProductLauncher/Web/landing/v*
Enterprise/Subsystem/ProductLauncher/Web/landing/email
Enterprise/Subsystem/ProductLauncher/Web/landing/json
Enterprise/Subsystem/ProductLauncher/Web/landing/new-user
Enterprise/Subsystem/ProductLauncher/Web/landing/settings
Enterprise/Subsystem/ProductLauncher/Web/landing/unityui

Enterprise/Subsystem/ProductLauncher/Web/landing/assets/css/
Enterprise/Subsystem/ProductLauncher/Web/landing/assets/images/
Enterprise/Subsystem/ProductLauncher/Web/landing/assets/js/
Enterprise/Subsystem/ProductLauncher/Web/landing/assets/omnibar/
Enterprise/Subsystem/ProductLauncher/Web/landing/assets/raul/
/Enterprise/Subsystem/ProductLauncher/Web/Landing/omnibar-silent-refresh.html
/Enterprise/Subsystem/ProductLauncher/Database/UserAudit/UserAudit/UserAudit/Import Schema Logs
/Enterprise/Subsystem/ProductLauncher/Web/Landing/prerendered-routes.json
.claude/settings.local.json
