.ul-app-header {
    z-index: 10;
    background: #fff;
    transition: left .5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
}

.rp-app-content {
    margin-left: 0 !important;
    padding-top: 44px;
}

.rp-aside-modal {
	top: 56px;
}

omnibar-scope .r-scope-subhead {
    margin-top: 0 !important;
}

header[slot="header"] {
    position: relative;
    z-index: 10;
}

