// Variables
@import 'variables';

// Media Query Styles
//*==========  Mobile First Media Queries  ==========*/

//* The Bootstrap "sm" Snap Point, Mobile Devices */
@media only screen and (min-width: 575px) {

}

//* Additional Breakpoint for customization */
@media only screen and (min-width: 648px) {

}

//* The Bootstrap "md" Snap Point, Mobile Devices */
@media only screen and (min-width: 769px) {
  footer {
    margin-left: 54px;
  }
  .raul-left-navigation-expanded footer {
    margin-left: 300px;
  }
}

//* The Bootstrap "lg" Snap Point, Tablet and Small Desktop Screen Devices */
@media only screen and (min-width: 992px) {

}

//* The Bootstrap "xl" Snap Point, Large Desktop Devices */
@media only screen and (min-width: 1200px) {
  .login-container .rp-logo {
    padding-top: 25% !important;
  }
}

//* The Bootstrap "xl" Snap Point, Large Desktop Devices */
@media only screen and (min-width: 1500px) {

  .login-banner-container {
    top: 40%;
    left: 60%;
  }

  .login-banner-tiles {
    top: 50%;
    left: 50%;
    width: 630px;
    height: 630px;
    position: absolute;
    margin: -215px 0 0 -215px;
  }

  .login-banner-tile {
    width: 250px;
    height: 250px;
    position: absolute;
    text-align: center;
    background: #fff;
    border: 1px solid #ebf0f2;
    border-radius: .3rem;
    box-shadow: 1px 1px 0 0 rgba(163,175,181,.5);
  }

  .login-banner-tile:nth-child(5) {
    top: 44%;
    left: 44%;
    margin: -85px 0 0 -85px;
  }

  .login-banner-tile-link {
    height: 100%;
    width: 100%;
    display: block;
  }

  .login-banner-tile-icon {
    width: 98px;
    height: 98px;
    margin-top: 40px;
  }

  .login-banner-tile-text {
    font-size: 18px;
  }

}

//*==========  Non-Mobile First Media Queries  ==========*/

//* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

//* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

  .login-banner-container {
    left: 90%;
    top: 250px;
  }

  .login-banner-tile {
    position: relative;
    margin-bottom: 30px;
  }

  .login-banner-tile:nth-child(5) {
    top: auto;
    left: auto;
    margin: 0;
  }

}

//* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .login-container {
    left: 0px;
  }

  .login-banner-container {
    left: 90%;
    top: 250px;
  }

  .page-header {
    height: auto;
    &.users-header {
      padding: 0 15px;
    }
    .page-header-list {
      margin: 0;
      display: block;
      width: 100%;
      .export-menu {
        left: 150%;
        top: 0;
        right: auto;
      }
    }
    .page-header-list-item.page-header-list-item-search {
      width: 100%;
      margin: 0;
    }
    .page-header-list-item-search .search-wrapper {
      width: 100%;
    }
    .page-header-list-item {
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
      margin: 10px 5px;
      & > a {
        position: relative;
        top: auto;
      }
    }
    .header-left-item {
      margin: 10px 0 0 0;
    }
  }

  .details-wrapper {
    .details {
      margin-top: 20px;
    }
  }

  .details-wrapper-edit {
    .details-box-edit {
      .box-body {
        .edit-details-content {
          float: none;
          width: 100%;
          padding-left: 0;
          .text-input-row {
            margin-top: 0;
            .text-input-label {
              margin-top: 10px;
            }
          }
        }
        .edit-details-image {
          float: none;
        }
      }
      .box-footer {
        text-align: center;
        .button {
          margin-right: 0;
          margin-top: 15px;
          &:first-of-type {
            margin-top: 0;
          }
        }
      }
    }
  }
}

//* Smaller Devices, Tablets */
@media only screen and (max-width: 648px) {
  .login-banner-container {
    display: none;
  }
  .login-help-main {
    display: none;
  }

  .login-help-mobile {
    display: block;
  }
}

//* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {

  .app-switcher-menu {
    position: fixed!important;
    right: 10px!important;
    left: 10px!important;
    top: 56px!important;
    width: auto;
  }

}


