// Body
$body-bg: #f5f8fa;
$eee-bg: #eeeeee;

// Colors
$white: #fff;
$alabaster: #F8F8F8;
$dark-gray: #636b6f;
$secondary-grey: #DAE2E5;
$hit-gray: #A3AFB5;
$lochmara: #0076CC;
$de-york: #6CC79F;
$jellybean-blue: #2D71A8;
$cinnabar: #E55932;
$white-smoke: #ebf0f2;
$fringy-flower-green:#C4EBD3;
$botticelli-blue:#cddce7;
$danger-red:#FD5F68;
$border-color:#cbcbcb;
$silver-chalice:#aaaaaa;
$abbey-grey:#515356;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #0076CC;
$brand-info: #42AF5F;
$brand-success: #6CC79F;
$brand-warning: #FFC200;
$brand-danger:  #FD5F68;
$brand-disabled: #CBCBCB;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
$primary-text: #0076CC;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;


// Base Colors
$black: #000;
$black-color: $black;
$white: #FFF;
$full-white: $white;
$light: #f8f8f8;
$light-color: $light;
$grey: #424242;
$grey-color: $grey;
$dark: #2e3e4e;
$dark-color: $dark;

$full-black:  		rgba(0, 0, 0, 1);
$dark-black:  		rgba(0, 0, 0, 0.87);
$light-black: 		rgba(0, 0, 0, 0.54);
$min-black:   		rgba(0, 0, 0, 0.065);

$full-white:  		rgba(255, 255, 255, 1);
$dark-white:  		rgba(255, 255, 255, 0.87);
$light-white: 		rgba(255, 255, 255, 0.54);
$min-white:   		rgba(255, 255, 255, 0.1);


$charcoal-90: #181A1b;
$charcoal-80: #303436;
$charcoal-70: #494D50;
$charcoal-30: #AFB3B6;
$charcoal-20: #C9CDCF;
$charcoal-10: #E4E6E7;
$charcoal: #303436; // base

$data-grey: #9E9E9E;
$data-light-grey: #F7F8F9;

// Brand Colors
$primary-70: #005A9A;
$primary-60: #0076CC;
$primary-55: #008AE8;
$primary-05: #E5F4FF;
$primary: #0076CC; // base
$primary-color: $primary; // base


$accent-50: #FF6600;
$accent-55: darken($accent-50, 5%);
$accent-45: lighten($accent-50, 5%);
$accent: #FF6600; //base
$accent-color: $accent; //base


// Neutral Colors
$neutral-one: #4C5258;
$neutral-two: #999EA0;
$neutral-three: #B5B7B9;
$neutral-four: #EBEAE8;

// Message Colors
$info: #0076CB;
$info-color: $info;
$info-light: #E5F4FF;

$success: #00BB47;
$success-color: $success;
$success-light: #E9FFF2;

$error: #EC231F;
$error-color: $error;
$error-light: #FFF4F0;

$warn: #FFC200;
$warn-color: $warn;
$warning: #FFC200;
$warning-color: $warn;
$warning-light: #FFFEE5;

$danger: #f44455;
$danger-color: $danger;

// Shell Colors
$header: #37474f;

$nav-dark: #495E69;
$nav-dark-sub: #37474F;
$nav-dark-sub-hover: #28343B;

$nav-light: $white;
$nav-light-sub: #F7F6F6;
$nav-light-sub-hover: #EBEAE8;


