.roles-details {
    &.new-role-aside {

        .ft-dark {
            font-weight: bold;
        }
        .space {
            margin-bottom: 30px;
        }

        .selected {
            font-weight: bold;
        }

        .link {
            margin-top: 40px;
            margin-bottom: 40px;
            &-text {
                @include link;
            }
            &-icon {
                color: $rp-neutral-03;
            }
        }

        .small{
            .rp-form-input-text-table{            
                width:50px;     
             }
        }
    }
}