<!-- EDIT USER -->  

<div class="edit-user" ng-show="page.dataReady">

    <!-- User profile -->
    <div class="user-profile-wrapper">
        <gb-user-profile ng-if="!page.isLoading.userProfile" data="page.model.data"></gb-user-profile>
    </div>

    <!-- User details -->
    <div class="box edit-user-details user-details" 
        ng-if="!page.isLoading.userDetails"
        ng-include src="'people/user/user-profile/templates/edit-details-box.html'">
    </div>

    <!-- Personas -->
    <div ng-show="page.formState.hasAddedPersona"
        ng-include src="'people/user/persona-navigation/templates/persona-navigation.html'"></div>

    <!-- Buttons -->
    <div class="actions row">
        <div class="col-md-3 pull-right">
            <button type="button"
                class="btn primary rounded w-full"
                ng-click="page.updateUser()"
                ng-disabled="page.formState.isLoading">
                    {{:: "update_user" | editUserText }}
            </button>
        </div>
       <!-- TODO: NOT MVP 
       <div class="col-md-3 btn-wrapper">
            <button type="button"
                class="btn primary rounded w-full"
                ng-click="page.cloneUser()"
                ng-disabled="page.formState.isLoading">
                	Clone User
                    {{:: "clone_user" | editUserText }}
            </button>
        </div>
        -->
        <div class="col-md-2 btn-wrapper cancel">
            <a href="#/people/users"
               class="btn secondary rounded w-full">
                {{:: "cancel" | editUserText }}
            </a>
        </div>
    </div>

</div>