<div ng-controller="ProductCommonCtrl as cpactrl"
     ng-show="cpactrl.isActive()"
     detect-product-change="{onChange: cpactrl.setChanged}">
    <h3 class="assign-product-access-title">
        {{cpactrl.panelName}}
    </h3>

    <div ng-show="cpactrl.isProductDisabled()" class="assign-product-access-error-msg">
        This product is not available when User Type is {{cpactrl.userType}}.
    </div>

     <rp-scrolling-tabs-menu model="cpactrl.tabsMenu">
        </rp-scrolling-tabs-menu>
        <ng-include
            src="tab.incUrl"
            ng-show="tab.isActive"
            ng-repeat="tab in cpactrl.tabsList">
        </ng-include>
</div>
