<div ng-controller="ProductCommonCtrl as cpactrl"
     ng-show="cpactrl.isActive()"
     detect-product-change="{onChange: cpactrl.setChanged}">
    <h3 class="assign-product-access-title">
        {{cpactrl.panelName}}
    </h3>

    <div ng-show="cpactrl.isProductDisabled()" class="assign-product-access-error-msg">
        This product is not available when User Type is {{cpactrl.userType}}.
    </div>

    <div  class="row" ng-if="cpactrl.isAccountingProduct()">
        <div class="row marg-r">
            <div class="col-md-2">
                <div class="options"> Options: </div>
            </div>
            <div class="col-md-5">
                <rp-switch class="col-md-12 inline label-1"
                    config="cpactrl.accountingSMSwitchModel.configData"
                    rp-model="cpactrl.hasAccessToSiteSpendManagementOnly"
                    rp-label-text="cpactrl.accountingSMSwitchModel.text">
                </rp-switch>
            </div>
            <div class="col-md-5">
                <rp-switch class="col-md-12 inline label-1"
                    config="cpactrl.accountingAllPropertiesSwitchModel.configData"
                    rp-model="cpactrl.hasAccessToAllCurrentFutureProperties"
                    rp-label-text="cpactrl.accountingAllPropertiesSwitchModel.text">
                </rp-switch>
            </div>
        </div>
        <div class="row marg-r">
            <div class="col-md-2">            
            </div>
            <div class="col-md-5">
                <rp-switch class="col-md-12 inline label-1"
                    config="cpactrl.accountingAdminSwitchModel.configData"
                    rp-model="cpactrl.isAccountingAdmin"
                    rp-label-text="cpactrl.accountingAdminSwitchModel.text">
                </rp-switch>
            </div>
        </div>
    </div>

     <rp-scrolling-tabs-menu model="cpactrl.tabsMenu">
        </rp-scrolling-tabs-menu>
        <ng-include
            src="tab.incUrl"
            ng-show="tab.isActive"
            ng-repeat="tab in cpactrl.tabsList">
        </ng-include>
</div>
