<div ng-controller="ProductCommonCtrl as cpactrl"
     ng-show="cpactrl.isActive()"
     detect-product-change="{onChange: cpactrl.setChanged}">
    <h3 class="assign-product-access-title">
        {{cpactrl.panelName}}
    </h3>

    <div ng-show="cpactrl.isProductDisabled()" class="assign-product-access-error-msg">
        This product is not available when User Type is {{cpactrl.userType}}.
    </div>

    <div class="row" ng-show="cpactrl.isFinancialSuiteProduct()">
        <div class="col-md-2">
           <div class="options" > Options: </div>
        </div>
        <div class="col-md-5">
            <rp-switch class="inline label-1"
                config="apa.acessSiteSpndMgmtOnlySwitch"
                rp-model="apa.acessSiteSpndMgmtOnly"
                rp-label-text="'Access to Site Spend Management only'">
            </rp-switch>
        </div>
        <div class="col-md-5">
            <rp-switch class="inline label-1"
                config="apa.allPropSwitch"
                rp-model="apa.allProperties"
                rp-label-text="'Allow access to all current and future entities'">
            </rp-switch>
        </div>        
    </div>
    <div class="row" ng-show="cpactrl.isFinancialSuiteProduct()">
        <div class="col-md-2">            
        </div>
        <div class="col-md-5">            
            <rp-switch class="inline label-1"
                config="apa.accountingAdminSwitch"
                rp-model="apa.accountingAdmin"
                rp-label-text="'Accounting Admin'">
            </rp-switch>
        </div>
    </div>
    
     <rp-scrolling-tabs-menu model="cpactrl.tabsMenu">
        </rp-scrolling-tabs-menu>
        <ng-include
            src="tab.incUrl"
            ng-show="tab.isActive"
            ng-repeat="tab in cpactrl.tabsList">
        </ng-include>
</div>
