<div ng-controller="ProductNotificationGridCtrl as rpn">
    <div ng-if="!rpn.isVendorCredentialing()" class="row">
        <div class="col-xs-10 col-sm-7">
            <rp-switch class="label-1 theme-1"
                config="rpn.frontDeskSwitch"
                rp-model="rpn.frontDesk"
                rp-label-text="::'notificationName.FrontDesk' | residentPortalsText">
            </rp-switch>
            <hr>
        </div>
        <div class="col-xs-10 col-sm-7">
            <rp-switch class="label-1 theme-1"
                config="rpn.amenitySwitch"
                rp-model="rpn.amenity"
                rp-label-text="::'notificationName.Reservation' | residentPortalsText">
            </rp-switch>
            <hr>
        </div>
        <div class="col-xs-10 col-sm-7">
            <rp-switch class="label-1 theme-1"
                config="rpn.serviceReqSwitch"
                rp-model="rpn.serviceReq"
                rp-label-text="::'notificationName.ServiceRequest' | residentPortalsText">
            </rp-switch>
            <hr>
        </div>
    </div>
    <div ng-if="rpn.isVendorCredentialing()" class="row">
		<div class="col-xs-10 col-sm-7">
			<rp-switch class="label-1 theme-1"
				rp-model="rpn.isInsuranceExpired"
                config="rpn.venIsInsuranceExpired"
				rp-label-text="'Notify by email when any vendor\'s insurance is about to expire'">
			</rp-switch>
			<hr>
		</div>
		<div class="col-xs-10 col-sm-7">
			<rp-switch class="label-1 theme-1"
				rp-model="rpn.IsVendorRecommendationChanges"
                config="rpn.venIsVendorRecommendationChanges"
				rp-label-text="'Notify by email when any vendor\'s recommendation changes'">
			</rp-switch>
			<hr>
		</div>
		<div class="col-xs-10 col-sm-7">
			<rp-switch class="label-1 theme-1"
				rp-model="rpn.isVendorNotLinkedToAnyProperty"
                config="rpn.venIsVendorNotLinkedToAnyProperty"
				rp-label-text="'Notify by email when a vendor is not linked to any properties.'">
			</rp-switch>
			<hr>
		</div>
	</div>
</div>