<div ng-controller="ProductPanelListAsideCtrl as pplac" class="rp-aside-modal rp-aside-modal-right pa-properties-list-aside">
    <div class="rp-aside-modal-header">
        <span class="rp-aside-modal-close" ng-click="pplac.cancel()">
        </span>
        <h2 class="rp-aside-modal-header-title">
            {{::pplac.title}}
        </h2>
        <h3 class="rp-aside-modal-header-subtitle">
            {{pplac.subtitle}}
        </h3>
    </div>
    <div class="rp-aside-modal-content">
        <div class="pa-properties-list-aside-wrapper">
            <div class="pa-properties-list-aside-aside-body">
                <div class="grid-controls">
                    <div class="grid-control-item">
                        <rp-toggle model="pplac.asideGrid.filtersModel.state.active" options="{
                            defaultText: 'Filter',
                            activeIconClass: 'rp-icon-filter',
                            defaultIconClass: 'rp-icon-filter active'
                        }">
                        </rp-toggle>
                    </div>
                </div>
                <rp-grid model="pplac.asideGrid" class="pa-properties-list-aside-grid">
                </rp-grid>
                <rp-grid-pagination model="asidegridPagination">
                </rp-grid-pagination>
            </div>
        </div>
    </div>
    <div ng-if="pplac.isBtnFooterRequired" class="rp-aside-modal-footer rp-aside-modal-footer-btns">
        <button ng-click="pplac.cancel()" class="rp-btn rp-aside-modal-footer-btn outline primary">
            Cancel
        </button>
        <button ng-click="pplac.update()" class="rp-btn rp-aside-modal-footer-btn primary">
            Update
        </button>
    </div>
</div>
