<div class="product-panel-roles-wrapper" ng-controller="ProductTab6GridCtrl as cpr">
    <div class="product-panel-roles-body" ng-if="!cpr.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="cpr.bmrolesGrid.filtersModel.state.active" options="{
                    defaultText: 'Filter',
                    activeIconClass: 'rp-icon-filter',
                    defaultIconClass: 'rp-icon-filter active'
                }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="cpr.isActive()" model="cpr.tab6Grid" class="product-panel-roles-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="cpr.isActive()" model="tab6GridPagination">
        </rp-grid-pagination>
    </div>
    <div class="product-panel-roles-error" ng-if="cpr.isDataError">
        {{::cpr.dataErrorReason}}
    </div>
</div>
