<div class="client-portal-properties-wrapper" ng-controller="ProductPropertiesGridCtrl as cpp">
    <div class="client-portal-properties-body" ng-if="!cpp.isDataError">

        <rp-form-input-radio class="inline marg-r" ng-repeat="rad in cpp.radioconfig"
            rp-value="rad.key"
            rp-on-change="cpp.resetDataModel()"
            rp-model="cpp.propertySelect"
            rp-disabled="cpp.hasViewUserAccess"
            rp-label-text="rad.text">
        </rp-form-input-radio>


        <div ng-if="cpp.propertySelect == 'property'" class="client-portal-properties">
            <div class="grid-controls">
                <div class="grid-control-item">
                    <rp-toggle model="cpp.propertiesGrid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                    </rp-toggle>
                </div>
            </div>
            <rp-grid
                ng-if="cpp.isActive()"
                model="cpp.propertiesGrid"
                class="client-portal-properties-grid">
            </rp-grid>
            <rp-grid-pagination ng-if="cpp.isActive()" model="propertiesGridPagination">
            </rp-grid-pagination>
        </div>


        <div class="client-portal-all-properties" ng-if="cpp.propertySelect == 'all'">
            This user will be provided access to all current and future properties.
        </div>
    </div>
    <div class="client-portal-properties-error" ng-if="cpp.isDataError">
        {{::cpp.dataErrorReason}}
    </div>
</div>
