<div class="product-panel-properties-wrapper" ng-controller="ProductPropertiesGridCtrl as cpp">
    <div class="product-panel-properties-body" ng-if="!cpp.isDataError">

      <div class="product-panel-notification rp-notification-wrap info ui-pnotify-fade-normal ui-pnotify-in" ng-if="cpp.showNotification()" >
            <div class="brighttheme ui-pnotify-container brighttheme-info ui-pnotify-shadow" style="min-height: 16px;">
                <div class="rp-notification ng-scope">
                    <div class="rp-notification-cell rp-notification-icon-wrap"><span class="rp-notification-icon"></span></div>
                    <div class="rp-notification-cell rp-notification-msg-wrap">
                        <p class="rp-notification-msg">Properties selected for Unified Platform will control access to <b>CIMPL</b></p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <rp-form-input-radio class="inline marg-r" ng-repeat="rad in cpp.radioconfig" rp-value="rad.key" rp-on-change=" cpp.resetDataModel()" rp-model="cpp.propertySelect" rp-disabled="cpp.hasViewUserAccess" rp-label-text="rad.text">
            </rp-form-input-radio>
        </div>

 <!-- rp-model="cpp.propertySelect" -->
        <div  class="all-feature-properties" ng-if="cpp.isSwitchConfigLoaded()">
            <rp-switch  class="inline label-1 marg-r" ng-repeat="sw in cpp.switchconfigs"
                config="sw.configData"
                rp-model="cpp.allProperties"
                rp-label-text="sw.text">
            </rp-switch>
        </div>
        <br>
       <!--  class="product-panel-properties" -->
        <div ng-if="!cpp.hidePropertiesGrid()" >
            <div class="grid-controls">
                <div class="grid-control-item">
                    <rp-toggle model="cpp.propertiesGrid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                    </rp-toggle>
                </div>
            </div>
            <rp-grid
                ng-if="cpp.isActive()"
                model="cpp.propertiesGrid"
                class="product-panel-properties-grid">
            </rp-grid>
            <rp-grid-pagination ng-if="cpp.isActive()" model="propertiesGridPagination">
            </rp-grid-pagination>
        </div>


        <div class="product-panel-all-properties" ng-if="cpp.hidePropertiesGrid()">
            <div ng-if="cpp.isFinancialSuite()">
                This user will be assigned current and new entities automatically.
            </div>
            <div ng-if="!cpp.isFinancialSuite()">
                This user will be assigned current and new properties automatically.
            </div>
        </div>
    </div>
    <div class="product-panel-properties-error" ng-if="cpp.isDataError">
        {{::cpp.dataErrorReason}}
    </div>
</div>
