
<div class="rights-wrapper" ng-controller="ProductRightsGridCtrl as prc">
    <div class="rights-body" ng-if="!prc.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="prc.grid.filtersModel.state.active" options="{
                    defaultText: 'Filter',
                    activeIconClass: 'rp-icon-filter',
                    defaultIconClass: 'rp-icon-filter active'
                }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid model="prc.grid" class="utility-management-roles-grid">
        </rp-grid>
        <rp-grid-pagination model="rightsGridPagination">
        </rp-grid-pagination>
    </div>
    <div class="roles-body-error" ng-if="prc.isDataError">
        <p>{{::prc.dataErrorReason}}</p>
    </div>
</div>
