// Profile

.user-profile-image {
	@include rp-icon(user);
	background-color: #cbcbcb;
    border-radius: 500px;
    color: #fff;
    font-size: 100px;
    overflow: hidden;
    text-align: center;
    width: 135px;
    height: 135px;
    margin: 0 auto;
    margin-top: 20px;

    &:before {
    	line-height: 1.75;
    }
}

.edit-photo-button-wrap {
	text-align: center;
	margin-top: 20px;
}

.camera-icon {
	margin-right: 5px;
}

.edit-photo-button {
	@include body-2;
	min-width: 185px;
}

.contact-info-wrap {
	margin: 20px 30px 20px 30px;
}

.first-name-wrap {
	width: 170px;
	float: left;
	margin-right: 10px;
}

.middle-name-wrap {
	width: 90px;
	float: left;
	margin-right: 10px;
}

.last-name-wrap {
	width: 180px;
	float: left;
}

.phone-number-wrap {
	width: 270px;
	float: left;
	margin-right: 10px;
}

.phone-type-wrap {
	width: 180px;
	float: left;
}

.preferred-contact-wrap {
	width: 270px;
}

.corporate-info-wrap {
	margin: 20px 30px 0px 30px;
}

.job-title-wrap {
	width: 270px;
}

.corporate-address-wrap {
	width: 460px;
}

.alternate-corp-address-wrap {
	width: 460px;
}

.profile-button-wrap {
	text-align: right;
}

.profile-cancel-button {
	width: 120px;
	margin-right: 15px;
}

.profile-update-button {
	width: 120px;
}

.phone-number-error-msg {
    display: none;

    .ng-submitted & {
        display: block;
        margin-top: -20px;
        margin-bottom: 20px;
        @include body-3($rp-danger);
    }
}
