<div ng-controller="SpndMgmtRightsCtrl as  SPCtrl" class="spndmgmt-rights-details spacer">
    <div>
        <h3 class="rights-grid-section-title">Spend Management Rights  <h3>
    </div>
  <div class="row">

    <div class="spm-accordion">
                <div class="spm-header">
                    <div class="spm-row-container">
                        <div class="rights">
                            Rights
                        </div>
                        <div class="description">
                            Description
                        </div>
                    </div>
                </div>
                <div class="spm-body" ng-repeat="item in SPCtrl.model.data" ng-init="i=$index">
                    <div class="spm-row-1">
                        <div class="spm-row-container">
                            <div class="rights">                                 
                                 <i ng-click="SPCtrl.showIconToggle(item)" class="fa {{item.showHideIcon}}  spacer"></i>
                                 {{ item.mainName}}
                            </div>
                            <div class="description">
                                
                            </div>
                            <div class="edit-menu">
                                
                            </div>
                        </div>
                        <div class="spm-row-1" ng-repeat="subitem in item.subGroupList" ng-init="j=$index">                        
                            <div class="spm-row-container inner" ng-class="item.showHide">
                                <div class="rights">                                     
                                     <i ng-click="SPCtrl.showIconToggle1(subitem)" class="fa {{subitem.showHideIcon1}} spacer"></i>
                                     {{subitem.subName}}
                                </div>
                                <div class="description">
                                    
                                </div>
                                <div class="edit-menu">
                                   
                                </div>
                            </div>

                            <div class="spm-row-2"  ng-repeat="rt in subitem.rightsList" ng-init="k=$index">
                                <div class="spm-row-container inner " ng-class="subitem.showHide1">
                                    <div class="rights right">
                                        {{rt.right}}
                                    </div>
                                    <div class="description">
                                        {{rt.description}}
                                    </div>
                                    <div class="edit-menu">
                                        <i class="editable-icon"></i>
                                    </div>
                                </div>                                
                            </div>

                         </div>
                        </div>

                </div>
    </div>
    </div>
</div>