.activity-log-container {
    display: table;

    &-row {
        display: table-row;
        padding: 5px;
    }

    &-cell {
        display: table-cell;
    }

    .link {
        color: $rp-primary !important;
        cursor: pointer;
    }
}

.activity-log-filter {
    &s > * {
        margin-bottom: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }

    &-keyword {
        width: 210px;
        float: left;
    }

    &-activity {
        width: 205px;
        float: left;
    }

    &-daterange {
        width: 220px;
        float: left;
    }

    &-sortby-group {
        float: left;
        margin-left: 12px;
    }

    &-sortby-label {
        float: left;
        margin-top: 10px;
        margin-right: 10px;
    }

    &-sortby {
        width: 150px;
        float: left;
        margin: 0px 0px 0px 0px;
    }

    &-export-menu {
        float: left;
        margin-top: 10px;
    }
}
.labelFrom {
    padding: 3px;
    border: 1px solid #e4e6e8;
    // margin: -3px 0px 0px 6px;
}
.labelFrom>label {
    position: absolute;
    bottom: 29px;
    left: 20px;
    background-color: white;
}
.labelFrom .rp-datetimepicker-text {
    border: none;
    box-shadow: none !important;
}
.labelFrom .rp-datetimepicker-icon-wrap {
    border: none;
}
.labelTo {
    padding: 3px;
    border: 1px solid #e4e6e8;
    // margin: -3px 0px 0px 6px;
}
.labelTo>label {
    position: absolute;
    bottom: 29px;
    left: 20px;
    background-color: white;
    margin-left: 6px;
}
.labelTo .rp-datetimepicker-text {
    border: none;
    box-shadow: none !important;
}
.labelTo .rp-datetimepicker-icon-wrap {
    border: none;
}

.rp-actions-menu-panel {
    z-index: 1060;
}

.activity-log-item {

    &-type {
        padding-left: 25px;
        width: 100px;
        float: left;

    }

    &-user-thumb {
        padding-left: 25px;
        width: 100px;
        float: left;

    }

    &-details {
        float: left;
        &-message {
            font-weight: 500;
            white-space: normal;
            @include break-word;
        }

        &-timestamp {
            color: $rp-neutral-02;
            white-space: normal;
            @include break-word;
        }
    }

    .activity-log-no-records {
        padding-left: 200px;
    }
}
