%inline-filters {
    display: inline-block;
    padding-left: 10px;
    // float: right;
}

.activity-log-filters {
    .grid {
        &-filter {
            @extend %inline-filters;
            width: 25%;


            &-wrapper {
                //text-align: right;

                .rp-select-menu {
                    text-align: left;
                }
            }
        }

        &-more-filter {
            width: 180px;

            &-toggle {
                @extend %inline-filters;
                cursor: pointer;

                .rp-toggle {
                    .rp-icon-filter {
                        float: left;
                        margin-top: 12px;
                    }

                    .text {
                        @include form-label-block;
                        margin-left: 20px;
                    }

                    &.on {
                        color: $rp-primary;

                        .text {
                            color: $rp-primary;
                        }
                    }
                }
            }

            &-panel {
                margin-top: 0.5rem;
                margin-bottom: 1.75rem;

                h3 {
                    @include subheader-2($rp-primary);
                }

                label {
                    font-weight: 500;
                }

            }

            &-title {
                text-transform: uppercase;
            }
        } // .grid-more-filter

        &-apply-btn,
        &-reset-btn,
        &-cancel-btn {
            position: relative;
            top: 12px;
            width: 140px;
        }

        &-cancel-btn {
            background-color: $white;
        }
    }

    @media #{$smScAndBelow} {
        %vertical-filters {
            width: 100%;
            margin-top: 5px;
        }

        @include outer-spacing-top;

        .grid-filter-wrapper {
            @include outer-spacing-top;
        }

        .grid-filter {
            @extend %vertical-filters;
        }

        .grid-more-filter-panel .form-group {
            @extend %vertical-filters;
        }

        .grid-more-filter {
            @extend %vertical-filters;

            &-toggle {
                @extend %vertical-filters;
            }
        }

        .grid {
            &-apply-btn,
            &-reset-btn,
            &-cancel-btn {
                width: 100%;
                margin-top: 15px;
            }
        }


    }
}

.users-grid-more-filters {
    @include outer-spacing-top;
    padding-top: 15px;

    background-color: $rp-neutral-06;
}
