.activity-log-grid {
    padding-top: 10px;
    
    .icon {
        width: 65px;
        .use-default {
            padding-top: 8px;
        }
        .aside-view & {
            display: none;
        }
    }
    .message {
        width: auto;
    }

    .activity-date {
        width: 210px;
        text-align: right;
    }

    .user-details {
        width: 130px;
        .user-view & {
            display: none;
        }
    }
}

.list {
    .item {
        color: red;

        .type-1 & {
            color: green;
        }

        .type-2 & {
            color: blue;
        }
    }
}