<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <IdentityConfig>
    <add key="IssuerUri" value="https://myl.realpage.com/identity" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiUri" value="https://my2.realpage.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RedirectUri" value="https://my.realpage.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LandingClientId" value="landing" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LandingScopes" value="openid profile landing unifiedUIApi rplandingapi" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LandingUri" value="https://my.realpage.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </IdentityConfig>
  <appSettings>
    <add key="ElasticSearchUri" value="http://cluster-e.monitoring.corp.realpage.com:9200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Environment" value="PROD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="ShouldWriteInFile" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>