<div class="rp-modal-wrap" ng-controller="ELMSModalCtrl as elms">
    <div class="rp-modal" ng-click="$hide()">
        <div class="rp-modal-dialog prev-acct-dialog" ng-show="elms.modalStates.data.haveUser" rp-stop-event="click">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="$hide()"></span>
                <h2 class="rp-modal-header-title">Previous account?</h2>
            </div>
            <div class="rp-modal-content prev-acct-body">
                <p>Do you have a username for EasyLMS?</p>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns prev-acct-buttons">
                    <button ng-click="elms.contactAdminModal()"
                        class="rp-modal-footer-btn rp-btn outline primary prev-acct-button">
                         No
                    </button>
                    <button class="rp-modal-footer-btn rp-btn primary prev-acct-button"
                        ng-click="elms.showNextModal()">
                        Yes
                    </button>
                </div>
            </div>
        </div>

        <div class="rp-modal-dialog acct-email-dialog" rp-stop-event="click" ng-show="elms.modalStates.data.enterEmail">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="$hide()"></span>
                <h2 class="rp-modal-header-title">Account Email</h2>
            </div>
            <form name="elmsEmailForm" ng-submit="elms.submitEmailForm()" novalidate>
                <div class="rp-modal-content">
                    <div class="acct-email-body">
                        <p>Please enter the email address (username) associated with your EasyLMS account:</p>
                    </div>
                    <label for="">Email</label>
                    <rp-form-input-text
                        config="elms.formConfig.emailAddress"
                        rp-model="elms.formModel.data.userEmailAddress">
                    </rp-form-input-text>
                </div>
                <div class="rp-modal-footer">
                    <div class="rp-modal-footer-btns acct-email-buttons">
                        <button ng-click="$hide()"
                            class="rp-modal-footer-btn rp-btn outline primary acct-email-button">
                            Cancel
                        </button>
                        <button type="submit"
                            class="rp-modal-footer-btn rp-btn primary acct-email-button">
                            Continue
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="rp-modal-dialog acct-not-found-dialog" rp-stop-event="click" ng-show="elms.modalStates.data.notFound">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="$hide()"></span>
                <h2 class="rp-modal-header-title">Account Not Found</h2>
            </div>
            <div class="rp-modal-content">
                <div class="acct-not-found-body">
                    <p>
                        We did not find an account with that username.<br />
                        Please verify your EasyLMS username and click this tile again.<br />
                        Please contact your Learning Administrator for any assistance.
                    </p>
                </div>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns acct-not-found-buttons">
                    <button ng-click="$hide()"
                        class="rp-modal-footer-btn rp-btn primary acct-not-created-button">
                        OK
                    </button>
                </div>
            </div>
        </div>

        <div class="rp-modal-dialog acct-not-created-dialog" rp-stop-event="click" ng-show="elms.modalStates.data.contactAdmin">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="$hide()"></span>
                <h2 class="rp-modal-header-title">Contact Administrator</h2>
            </div>
            <div class="rp-modal-content">
                <div class="acct-not-created-body">
                    <p>
                        Please contact your Learning Administrator to create a user for you.<br />
                        This admin will also assign you to a group so you will have assigned courses.
                    </p>
                </div>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns acct-not-created-buttons">
                    <button ng-click="$hide()"
                        class="rp-modal-footer-btn rp-btn primary acct-not-created-button">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
