<div ng-controller="OnesiteProductAccess as opa">
    <div rp-accordion-panel
        class="rp-accordion-panel">
        <div class="rp-accordion-panel-title">
            <span class="rp-accordion-panel-title-text">
                {{opa.panelName}}
            </span>
        </div>
        <div class="container-fluid"> 
            <div 
                ng-controller="OSPropertiesRolesCtrl as osprc">
                <rp-scrolling-tabs-menu 
                    model="osprc.tabsMenu">
                </rp-scrolling-tabs-menu>
                <ng-include 
                    src="tab.incUrl" 
                    ng-show="tab.isActive" 
                    ng-repeat="tab in osprc.tabsList">
                </ng-include>
            </div>
        </div>
	</div>
</div>