<div class="onesite-properties-wrapper" ng-controller="OSPropertiesGridCtrl as prop">
	<div class="product-properties-header box-header">
        <div class="all-properties">
			<rp-switch class="inline label-1"
				config="prop.allPropSwitch"
				rp-model="prop.allProperties"
				rp-label-text="'Allow access to all current and future properties'">
			</rp-switch>
        </div>
	</div>

	<div class="onesite-properties-body box-body">
		<div class="onesite-properties" ng-if="!prop.allProperties">
		    <div class="grid-controls">
		        <div class="grid-control-item">
		            <rp-toggle model="prop.grid.filtersModel.state.active" options="{
		                defaultText: 'Filter',
		                activeIconClass: 'rp-icon-filter',
		                defaultIconClass: 'rp-icon-filter active'
		            }">
		            </rp-toggle>
		        </div>
		    </div>
			<rp-grid model="prop.grid" class="onesite-properties-grid">
			</rp-grid>
			<rp-grid-pagination model="gridPagination">
			</rp-grid-pagination>
		</div>
	</div>
	
</div>