<div class="onesite-roles-wrapper" ng-controller="OSRolesGridCtrl as role">
	<div class="onesite-roles-body box-body">
		<div class="onesite-roles">
		    <div class="grid-controls">
		        <div class="grid-control-item">
		            <rp-toggle model="role.grid.filtersModel.state.active" options="{
		                defaultText: 'Filter',
		                activeIconClass: 'rp-icon-filter',
		                defaultIconClass: 'rp-icon-filter active'
		            }">
		            </rp-toggle>
		        </div>
		    </div>
			<rp-grid model="role.grid" class="onesite-roles-grid">
			</rp-grid>
			
			<rp-grid-pagination model="gridPagination">
			</rp-grid-pagination>
		</div>
	</div>
</div>