<form novalidate
    name="userSecurityQuestionsForm"
    ng-controller="SecurityQuestionsCtrl as securityQuestions" rp-focus-invalid-field
    class="rp-focus-invalid-field">
    <p>If you would like to update your security questions, please do so below or to change your password, click the Password tab.</p>
    <div class="security-questions" ng-repeat="listItem in securityQuestions.questionsList">
        <div class="security-questions-question">
            <label for="question-{{listItem.index}}" class="security-questions-form-label">Question</label>
            <rp-form-select-menu config="listItem.questionConfig" rp-model="listItem.data.questionId">
            </rp-form-select-menu>
        </div>
        <div class="answer">
            <label for="answer-{{listItem.index}}" class="security-questions-form-label">
                Answer
            </label>
            <rp-form-input-text config="listItem.answerConfig" rp-model="listItem.data.answer">
            </rp-form-input-text>
        </div>
        <hr ng-if="!$last">
    </div>
</form>
