.roles{	
	.message{
		text-align: center;
		.icon-size{
			font-size: 60px;
			color: $rp-neutral-03;
			margin-top: 20px;
			margin-bottom: 20px;
		}

	}
}

.ul-roles-error-msg {
            color: #d31612;
            font-size: 12px;
            line-height: 16px;
            font-weight: normal;
            letter-spacing: 0.005em;
 }
.roles-section {        
    &-title {
        @include header-3;
    }       
}





