raul-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  background-color: #EBEDEE;
}

raul-avatar .raul-avatar__icon {
  color: #9BA3A7;
  font-size: 1.25rem;
}

raul-avatar[primary] {
  background-color: #0076CC;
}

raul-avatar[primary] .raul-avatar__icon {
  color: #ffffff;
}

raul-avatar[small] {
  width: 2rem;
  height: 2rem;
}

raul-avatar[small] .raul-avatar__icon {
  font-size: 1rem;
}