<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>
	<connectionStrings>
		<add name="AuditDbCnn" connectionString="Data Source=RCDUSODBSQL001.Corp.Realpage.com;Initial Catalog=AuditDbV2;user id=identityserver; password=p@$$w0rd;Encrypt=yes;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!--Elastic search related configurations-->
		<add key="logging:environment" value="LOCAL" />
		<add key="logging:filePath" value="" />
		<add key="logging:elasticIndexFormatRoot" value="rp-logs-unity" />
		<add key="logging:elasticAdditionalTags" value="ule-app-log" />
		<add key="logging:kafkaCluster" value="rceeitapkaf201.realpage.com:9092,rceeitapkaf202.realpage.com:9092,rceeitapkaf203.realpage.com:9092" />
		<add key="logging:excludedProperties" value="EventId" />
		<add key="serilog:minimum-level" value="Debug" />
		<add key="serilog:minimum-level:override:Microsoft" value="Warning" />
		<add key="serilog:minimum-level:override:System" value="Warning" />
		<!--Elastic search related configurations-->

		<!--APM settings-->
		<add key="ElasticApm:Enabled" value="true" />
		<add key="ElasticApm:Environment" value="LOCAL" />
		<add key="ElasticApm:ServerUrl" value="https://elkdevapm.realpage.com" />
		<add key="ElasticApm:ServiceName" value="unified-login-activity-command" />
		<add key="ElasticApm:ServiceVersion" value="master" />
		<add key="ElasticApm:TransactionSampleRate" value="1.0" />
		<add key="ElasticApm:MetricsInterval" value="0s" />
		<add key="ElasticApm:DisableMetrics" value="*" />
	</appSettings>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="Throttled">
					<serviceThrottling maxConcurrentCalls="100" maxConcurrentInstances="100" />
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<services>
			<service name="RP.Enterprise.Foundation.Activity.Service.Logging.Command.Writer" behaviorConfiguration="Throttled">
				<endpoint name="ObjectSvc" address="msmq.formatname:DIRECT=OS:.\private$\greenbook_activity" binding="msmqIntegrationBinding" bindingConfiguration="IntQBind_Object" contract="RP.Enterprise.Foundation.Activity.Service.Logging.Command.IWriter" />
				<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
			</service>
		</services>
		<bindings>
			<msmqIntegrationBinding>
				<!--binding config to read message as object-->
				<binding name="IntQBind_Object" exactlyOnce="false" maxReceivedMessageSize="6553600">
					<security mode="None" />
				</binding>
			</msmqIntegrationBinding>
		</bindings>
	</system.serviceModel>
	<system.webServer>
		<!--Following config makes sure to init service automatically; may not work in local env-->
		<applicationInitialization doAppInitAfterRestart="true">
			<add initializationPage="/Writer.svc" />
		</applicationInitialization>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="ElasticApmModule" type="Elastic.Apm.AspNetFullFramework.ElasticApmModule, Elastic.Apm.AspNetFullFramework" preCondition="managedHandler" />
		</modules>
		<directoryBrowse enabled="true" />

		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Elasticsearch.Net" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Confluent.Kafka" publicKeyToken="12c514ca49093d1e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Elastic.Apm" publicKeyToken="ae7400d2c189cf22" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.26.0.0" newVersion="1.26.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Serilog.Sinks.PeriodicBatching" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Serilog.Sinks.File" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Serilog.Formatting.Elasticsearch" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>