DECLARE 
	@ClientName nvarchar(400) = 'Self-provisioning portal',
	@ClientCode nvarchar(400) = 'SelfProvisioningPortal'

SET @ClientId = NULL
SET @ProductId = 25
SET @FromDate = GETUTCDATE()

DECLARE @AuthClients TABLE (
	ClientId int
);

IF NOT EXISTS(SELECT TOP 1 1 FROM Auth.Scopes WHERE Name = @ClientCode)
BEGIN
	INSERT INTO Auth.Scopes (
		Name,
		DisplayName,
		Description,
		ClaimsRule,
		Enabled,
		Required,
		Emphasize,
		Type,
		IncludeAllClaimsForUser,
		ShowInDiscoveryDocument,
		AllowUnrestrictedIntrospection
	)
	VALUES (
		@ClientCode, --Name,
		@ClientName, --DisplayName,
		NULL, --Description,
		NULL, --ClaimsRule,
		1, --Enabled,
		0, --Required,
		1, --Emphasize,
		0, --Type,
		1, --IncludeAllClaimsForUser,
		1, --ShowInDiscoveryDocument,
		1 --AllowUnrestrictedIntrospection
	)
END

--Implicit Flow
IF NOT EXISTS(SELECT TOP 1 1 FROM Auth.Clients WHERE ClientCode = @ClientCode AND Flow = 1)
BEGIN
	INSERT INTO Auth.Clients (
					ClientCode,
					ClientName,
					ClientUri,
					LogoUri,
					Flow,
					LogoutUri,
					IdentityTokenLifetime,
					AccessTokenLifetime,
					AuthorizationCodeLifetime,
					AbsoluteRefreshTokenLifetime,
					SlidingRefreshTokenLifetime,
					RefreshTokenUsage,
					RefreshTokenExpiration,
					AccessTokenType,
					UpdateAccessTokenOnRefresh,
					Enabled,
					LogoutSessionRequired,
					RequireSignOutPrompt,
					AllowAccessToAllScopes,
					AllowClientCredentialsOnly,
					RequireConsent,
					AllowRememberConsent,
					EnableLocalLogin,
					IncludeJwtId,
					AlwaysSendClientClaims,
					PrefixClientClaims,
					AllowAccessToAllGrantTypes
	)
	OUTPUT INSERTED.ClientId INTO @AuthClients (ClientId)
	VALUES (
					@ClientCode, --ClientCode
					@ClientName, --ClientName
					'http://localhost:5000/', --ClientUri
					'https://somesite.com/logo/logo.jpg', --LogoUri
					1, --Implicit Flow
					NULL, --LogoutUri
					36000, --IdentityTokenLifetime
					36000, --AccessTokenLifetime
					36000, --AuthorizationCodeLifetime
					86400, --AbsoluteRefreshTokenLifetime
					36000, --SlidingRefreshTokenLifetime
					0, --RefreshTokenUsage
					0, --RefreshTokenExpiration
					1, --AccessTokenType
					1, --UpdateAccessTokenOnRefresh
					1, --Enabled
					0, --LogoutSessionRequired
					0, --RequireSignOutPrompt
					1, --AllowAccessToAllScopes
					0, --AllowClientCredentialsOnly
					0, --RequireConsent
					1, --AllowRememberConsent
					1, --EnableLocalLogin
					1, --IncludeJwtId
					1, --AlwaysSendClientClaims
					1, --PrefixClientClaims
					1 --AllowAccessToAllGrantTypes
	)

	SELECT	@ClientId = ClientId
	FROM	@AuthClients

	INSERT INTO Auth.ClientScopes (
		ClientId,
		Scope
	)
	SELECT	@ClientId, --ClientId
					ScopeId --Scope
	FROM		Auth.Scopes
	WHERE Name = @ClientCode

	INSERT INTO Auth.ClientRedirectUris (
		ClientId,
		Uri
	)
	SELECT	@ClientId, --ClientId
					'http://localhost:54194/signin-oidc' --Uri
END

IF NOT EXISTS(SELECT TOP 1 1 FROM Enterprise.ProductType WHERE Name = @ClientName)
BEGIN
	INSERT INTO Enterprise.ProductType (
		ProductTypeId,
		ParentProductTypeId,
		Name,
		Description,
		ProductTypeGuid
	)
	VALUES (
		504, --ProductTypeId,
		500, --ParentProductTypeId: Administration,
		@ClientName, --Name,
		@ClientName, --Description,
		'8E494564-1FC1-41F5-AB91-40315FC86ED2' --ProductTypeGuid
	)
END

IF NOT EXISTS(SELECT TOP 1 1 FROM Enterprise.Product WHERE ProductId = @ProductId AND Name = @ClientName)
BEGIN
	INSERT INTO Enterprise.Product (
		ProductId,
		ProductGUID,
		Name,
		Description,
		ProductTypeId
	)
	SELECT	@ProductId, --ProductId
					'B7C67D08-7B10-4AAF-B129-AF461D4BDA8C', --ProductGUID
					@ClientName, --Name
					@ClientName, --Description
					ProductTypeID
	FROM		Enterprise.ProductType
	WHERE	Name = @ClientName

	EXEC Enterprise.CreateProductConfiguration @ConfigurationId = @ConfigurationId OUTPUT -- int

	--***** Start a Product setting loop for each attribute / value that needs set. *****
	------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Get the ProductSettingTypeId for the attribute you need to select, the API should have all these cached though.
	SET @ProductSettingId = NULL
	SET @ProductSettingTypeId = NULL

	EXEC Enterprise.GetProductSettingType
		@Name = 'ClientId',                                         -- varchar(50)
		@ProductSettingTypeId = @ProductSettingTypeId OUTPUT -- int

	-- Create the Value and assign it to the Product and ProductSettingType
	EXEC Enterprise.CreateProductSetting
		@ProductId = @ProductId,                             -- int
		@ProductSettingTypeId = @ProductSettingTypeId,                  -- int
		@Value = N'7',                               -- nvarchar(1000)
		@FromDate = @FromDate,          -- datetime
		@ThruDate = NULL,          -- datetime
		@ProductSettingId = @ProductSettingId OUTPUT -- int

	-- Link the Product Setting to an actual configuration
	EXEC Enterprise.LinkProductSettingToConfiguration
		@ConfigurationId = @ConfigurationId,              -- int
		@ProductSettingId = @ProductSettingId,             -- int
		@FromDate = @FromDate, -- datetime
		@ThruDate = NULL   -- datetime

	------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Get the ProductSettingTypeId for the attribute you need to select, the API should have all these cached though.
	SET @ProductSettingId = NULL
	SET @ProductSettingTypeId = NULL

	EXEC Enterprise.GetProductSettingType
		@Name = 'ClassName',                                         -- varchar(50)
		@ProductSettingTypeId = @ProductSettingTypeId OUTPUT -- int

	-- Create the Value and assign it to the Product and ProductSettingType
	EXEC Enterprise.CreateProductSetting
		@ProductId = @ProductId,                             -- int
		@ProductSettingTypeId = @ProductSettingTypeId,                  -- int
		@Value = @ClientCode,                               -- nvarchar(1000)
		@FromDate = @FromDate,          -- datetime
		@ThruDate = NULL,          -- datetime
		@ProductSettingId = @ProductSettingId OUTPUT -- int

	-- Link the Product Setting to an actual configuration
	EXEC Enterprise.LinkProductSettingToConfiguration
		@ConfigurationId = @ConfigurationId,              -- int
		@ProductSettingId = @ProductSettingId,             -- int
		@FromDate = @FromDate, -- datetime
		@ThruDate = NULL   -- datetime

	------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Get the ProductSettingTypeId for the attribute you need to select, the API should have all these cached though.
	SET @ProductSettingId = NULL
	SET @ProductSettingTypeId = NULL

	EXEC Enterprise.GetProductSettingType
		@Name = 'TitleId',                                         -- varchar(50)
		@ProductSettingTypeId = @ProductSettingTypeId OUTPUT -- int

	-- Create the Value and assign it to the Product and ProductSettingType
	EXEC Enterprise.CreateProductSetting
		@ProductId = @ProductId,                             -- int
		@ProductSettingTypeId = @ProductSettingTypeId,                  -- int
		@Value = @ClientName,                               -- nvarchar(1000)
		@FromDate = @FromDate,          -- datetime
		@ThruDate = NULL,          -- datetime
		@ProductSettingId = @ProductSettingId OUTPUT -- int

	-- Link the Product Setting to an actual configuration
	EXEC Enterprise.LinkProductSettingToConfiguration
		@ConfigurationId = @ConfigurationId,              -- int
		@ProductSettingId = @ProductSettingId,             -- int
		@FromDate = @FromDate, -- datetime
		@ThruDate = NULL   -- datetime

	------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Get the ProductSettingTypeId for the attribute you need to select, the API should have all these cached though.
	SET @ProductSettingId = NULL
	SET @ProductSettingTypeId = NULL

	EXEC Enterprise.GetProductSettingType
		@Name = 'TitleUniqueId',                                         -- varchar(50)
		@ProductSettingTypeId = @ProductSettingTypeId OUTPUT -- int

	-- Create the Value and assign it to the Product and ProductSettingType
	EXEC Enterprise.CreateProductSetting
		@ProductId = @ProductId,                             -- int
		@ProductSettingTypeId = @ProductSettingTypeId,                  -- int
		@Value = N'30F35CCE-4B6C-42E3-89A6-40AC368813A4',                               -- nvarchar(1000)
		@FromDate = @FromDate,          -- datetime
		@ThruDate = NULL,          -- datetime
		@ProductSettingId = @ProductSettingId OUTPUT -- int

	-- Link the Product Setting to an actual configuration
	EXEC Enterprise.LinkProductSettingToConfiguration
		@ConfigurationId = @ConfigurationId,              -- int
		@ProductSettingId = @ProductSettingId,             -- int
		@FromDate = @FromDate, -- datetime
		@ThruDate = NULL   -- datetime

	------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Get the ProductSettingTypeId for the attribute you need to select, the API should have all these cached though.
	SET @ProductSettingId = NULL
	SET @ProductSettingTypeId = NULL

	EXEC Enterprise.GetProductSettingType
		@Name = 'IsNewTab',                                         -- varchar(50)
		@ProductSettingTypeId = @ProductSettingTypeId OUTPUT -- int

	-- Create the Value and assign it to the Product and ProductSettingType
	EXEC Enterprise.CreateProductSetting
		@ProductId = @ProductId,                             -- int
		@ProductSettingTypeId = @ProductSettingTypeId,                  -- int
		@Value = N'1',                               -- nvarchar(1000)
		@FromDate = @FromDate,          -- datetime
		@ThruDate = NULL,          -- datetime
		@ProductSettingId = @ProductSettingId OUTPUT -- int

	-- Link the Product Setting to an actual configuration
	EXEC Enterprise.LinkProductSettingToConfiguration
		@ConfigurationId = @ConfigurationId,              -- int
		@ProductSettingId = @ProductSettingId,             -- int
		@FromDate = @FromDate, -- datetime
		@ThruDate = NULL   -- datetime

	------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Get the ProductSettingTypeId for the attribute you need to select, the API should have all these cached though.
	SET @ProductSettingId = NULL
	SET @ProductSettingTypeId = NULL

	EXEC Enterprise.GetProductSettingType
		@Name = 'MetatagUniqueId',                                         -- varchar(50)
		@ProductSettingTypeId = @ProductSettingTypeId OUTPUT -- int

	-- Create the Value and assign it to the Product and ProductSettingType
	EXEC Enterprise.CreateProductSetting
		@ProductId = @ProductId,                             -- int
		@ProductSettingTypeId = @ProductSettingTypeId,                  -- int
		@Value = @ClientName,                               -- nvarchar(1000)
		@FromDate = @FromDate,          -- datetime
		@ThruDate = NULL,          -- datetime
		@ProductSettingId = @ProductSettingId OUTPUT -- int

	-- Link the Product Setting to an actual configuration
	EXEC Enterprise.LinkProductSettingToConfiguration
		@ConfigurationId = @ConfigurationId,              -- int
		@ProductSettingId = @ProductSettingId,             -- int
		@FromDate = @FromDate, -- datetime
		@ThruDate = NULL   -- datetime

	------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Get the ProductSettingTypeId for the attribute you need to select, the API should have all these cached though.
	SET @ProductSettingId = NULL
	SET @ProductSettingTypeId = NULL

	EXEC Enterprise.GetProductSettingType
		@Name = 'ProductUrl',                                         -- varchar(50)
		@ProductSettingTypeId = @ProductSettingTypeId OUTPUT -- int

	-- Create the Value and assign it to the Product and ProductSettingType
	EXEC Enterprise.CreateProductSetting
		@ProductId = @ProductId,                             -- int
		@ProductSettingTypeId = @ProductSettingTypeId,                  -- int
		@Value = N'/product/selfprovisioningportal',                               -- nvarchar(1000)
		@FromDate = @FromDate,          -- datetime
		@ThruDate = NULL,          -- datetime
		@ProductSettingId = @ProductSettingId OUTPUT -- int

	-- Link the Product Setting to an actual configuration
	EXEC Enterprise.LinkProductSettingToConfiguration
		@ConfigurationId = @ConfigurationId,              -- int
		@ProductSettingId = @ProductSettingId,             -- int
		@FromDate = @FromDate, -- datetime
		@ThruDate = NULL   -- datetime

	------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Get the ProductSettingTypeId for the attribute you need to select, the API should have all these cached though.
	SET @ProductSettingId = NULL
	SET @ProductSettingTypeId = NULL

	EXEC Enterprise.GetProductSettingType
		@Name = 'IsResource',                                         -- varchar(50)
		@ProductSettingTypeId = @ProductSettingTypeId OUTPUT -- int

	-- Create the Value and assign it to the Product and ProductSettingType
	EXEC Enterprise.CreateProductSetting
		@ProductId = @ProductId,                             -- int
		@ProductSettingTypeId = @ProductSettingTypeId,                  -- int
		@Value = N'1',                               -- nvarchar(1000)
		@FromDate = @FromDate,          -- datetime
		@ThruDate = NULL,          -- datetime
		@ProductSettingId = @ProductSettingId OUTPUT -- int

	-- Link the Product Setting to an actual configuration
	EXEC Enterprise.LinkProductSettingToConfiguration
		@ConfigurationId = @ConfigurationId,              -- int
		@ProductSettingId = @ProductSettingId,             -- int
		@FromDate = @FromDate, -- datetime
		@ThruDate = NULL   -- datetime

	------------------------------------------------------------------------------------------------------------------------------------------------------
	EXEC Enterprise.LinkGlobalConfigurationToProduct
		@ConfigurationId = @ConfigurationId,              -- int
		@ProductId = @ProductId,                    -- int
		@FromDate = @FromDate, -- datetime
		@ThruDate = NULL   -- datetime

	EXEC Enterprise.ListGlobalSettingsForProduct @productid = @ProductId
END

IF NOT EXISTS(SELECT TOP 1 1 FROM Ident.SamlProductSettings WHERE ProductId = @ProductId)
BEGIN
	INSERT INTO Ident.SamlProductSettings (
		ProductId,
		LoginUri,
		SigningCertificateThumbprint,
		SubjectIdSamlAttribute
	)
	VALUES (
		@ProductId, --ProductId
		'http://localhost:54194/signin-oidc', --LoginUri
		'NA', --SigningCertificateThumbprint
		'productUsername' --SubjectIdSamlAttribute
	)
END

EXEC sys.sp_updateextendedproperty @name=N'Build', @value='48'