.helpandtranining-content {
    padding: 0 3% !important;
}

.inline-input {
    display: inline-block;
    width: 75px;
}

.videoSetting-subhead {
    padding-top: 20px;
    color: #303436;
    padding-bottom: 5px;
}

.system-security-container .systerm-security-tabs li:first-child a {
    padding: 5px 15px !important;
}

.allowUserSkipRow {
    display: none;
}


.percent-icon {
    position: absolute;
    top: 15px;
    color: #ccc;
    right: 2px;
}

.helpandtranining-content .fa-arrow-right {
    color: #ccc;
    padding-right: 5px;
    padding-left: 10px;
}

.skipControlWrap {
    display: none;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    border-color: #d01a1f;
    box-shadow: none;
}

input.parsley-error:focus {
    border-color: #d01a1f;
}

.parsley-errors-list {
    color: #843534;
}

ul.parsley-errors-list li {
    border-top: 0px !important;
}

.system-security-container .raul-list-group-item li > label {
    cursor: default;
}