// Variables
@import '../variables';

.settings-pages-container {

    .nav > li.page-tab {
        display: block;
        width: 100%;
    }

    .nav > li > a {
        display: block;
    }

    .page-tab-head {
        font-size: 20px;
        font-weight: 500;

        img {
            margin-right: 8px;
            width: 18px;
        }

        .fa {
            margin-top: 3px;
        }
    }

    .page-tab-template,
    .page-content-template {
        display: none;
    }

    .pages-tabs li a {
        padding: 12px 15px;
    }

    .pages-tabs li.active > a {
        color: $black-color;
        border-left: 5px solid $lochmara;
    }


    .i-p-action-btns button:first-child {
        margin-right: 10px;
    }

    .i-p-action-btns {
        button {
            width: 96px;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 20px;
        }
    }

    .info-icon {
        opacity: 0.5;
        margin-left: 5px;
        width: 20px;
        height: 20px;
    }

    .control-item-border {
        border: 1px solid #c9cdcf;
    }
}

// dynamic setting page

.form-icon-box {

    i {
        color: $black-color
    }
}

.left-menu-head {
    background: #f7f8f9;
    padding: 20px;
}

.settings-pages-leftnav {
    border-right: 1px solid #c9cdcf;
}

.left-menu {
    height: calc(100vh - 100px);

    .tile-name {
        cursor: pointer;
        padding: 10px 2px;
        display: block;
        font-size: 18px;
    }

    .raul-content-loader-wrapper {
        height: 100px;
    }
        
    .pages-wrapper > .pages-tabs {
        margin-left: 20px;

        li {
            display: block;
            width: 100%;
            border-bottom: 1px solid $charcoal-10;
            font-weight: 400;
        }
    }
}


ul.pages-tabs li:hover {
    background: $data-light-grey;
}

ul.pages-tabs li.active-menu {
    border-left: 5px solid $primary;
}

.form-icon-box {
    padding: 0px 8px 0px;
    cursor: pointer;
}

.back-icon {
    margin-right: 5px;
    font-size: 23px;
    font-weight: bold;
    color: $primary;
    vertical-align: top;
    display: inline-block;
    margin-top: 1px;
}

.pages-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: $white;
}

[data-drilldown-sub] {
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 100%;
    -webkit-transition: left .4s;
    transition: left .4s;
    visibility: hidden;
}

[data-drilldown-item] {
    position: relative;
    left: 0;
    -webkit-transition: all .4s;
    transition: all .4s;
}

[data-drilldown-button]::after {
    color: $charcoal-20;
    content: '\f105';
    display: block;
    font-family: FontAwesome;
    font-size: 1rem;
    margin-top: -.75rem;
    position: absolute;
    right: 1.5rem;
    top: 50%;
}

[data-drilldown-button] {
    position: relative;
    left: 0;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.open {
    visibility: visible;
}

.close-pages {
    left: -100%;
    visibility: hidden;
}

/** Responsive Media Queries **/

@media only screen and (max-width: 992px) {



    .settings-pages-container {
        position: relative;

            .page-leftnav-toggle {
                margin-right: 5px;
                font-size: 23px;
                color: $primary-text;
            }

            .settings-pages-leftnav {
                position: absolute;
                top: -40px;
                background: $white;
                border-right: 0;
                bottom: 0;
                z-index: 10;
                transition: left 0.5s;
                margin-right: 10px;
                max-width: 100%;
                min-width: 100%;
                left: -105%;

                > div {
                    padding: 0px;
                }
            }


            .tab-content {
                left: 100%;
                padding: 0;
                -webkit-transition: left .5s;
                transition: left .5s;
                visibility: hidden;
            }

            .page-content {
                max-width: 100%;
                left: 0;
                right: 0;
                top: -30px;
                -webkit-transition: left .4s;
                transition: left .4s;
                visibility: visible;
            }


            .settings-pages-leftnav.fix-leftnav {
                position: absolute;
                left: 0px;
            }

            .page-leftnav-close {
                float: left;
                margin-left: 10px;
            }
    }

    
}

@media only screen and (max-width: 767px) {

    .settings-section-container {
        padding: 0 15px;
    }

    .settings-pages-container {
        .page-tab-head .fa {
            margin-top: 0;
        }

        .page-tab-head {
            border-bottom: 1px solid $charcoal-10;
            color: $primary-text;
            font-size: 18px;
            font-weight: normal;
            margin-top: 0 !important;
            padding: 8px 20px 8px;
            padding-top: 0;
        }

        .info-icon {
            margin-left: 0;
            margin-right: 5px;
        }

        .pull-right-lg {
            float: none;
        }

        .back-icon {
            float: left;
        }

        .left-menu-head {
            text-align: center;
            padding: 0;
        }

        .left-menu .tile-name {
            background: $white;
            color: $primary-text;
            padding: 10px 15px;
            border-bottom: 1px solid $charcoal-10;
            min-height: 48px;
        }

        .back-icon {
            font-weight: normal;
        }

        .search-bar {
            padding: 20px;
        }

        .pages-head {
            text-align: center;

            .fa {
                float: left;
            }
        }

        .i-p-action-btns {
            padding-bottom: 20px;
            text-align: center;
            width: 100%;

            button {
                width: 45%;
            }
        }
    }

    .settings-tabpanel  {
        padding-top:20px;
    }
}



/**Implement Tiles CSS*/

ul.implement-tiles {
    clear: both;
    width: 100%;
}

ul.implement-tiles li {
    border: 1px solid #ccc;
    height: 195px;
    width: 280px;
    display: inline-block;
    float: left;
    margin-left: -1px;
    text-align: center;
    padding: 25px;
    padding-top: 16px;
}

.implement-tiles img {
    padding: 5px 15px 15px;
}

.implement-tiles a {
    font-size: 12px;
    margin: 16px 0px;
    display: block;
}

.task-progress {
    font-size: 12px;
}

.raul-progress {
    height: 6px;
    margin-bottom: 5px;
}
