// Variables
@import '../variables';

/* Identity Provider Page css*/

.system-security-container {
    /*min-height: 600px;
    margin: 0 !important;
    background: #fff;
    padding: 40px 20px;*/

    .nav > li {
        display: block;
        width: 100%;
    }

    .nav > li > a {
        display: block;
    }

    .systerm-security-head {
        /*margin-bottom: 20px;
        color: $charcoal-80;*/
    }

    .systerm-security-tab-head {
        /*color: $charcoal-80;*/
        font-size: 20px;
        /*margin-bottom: 10px;
        white-space: nowrap;*/

        img {
            margin-right: 8px;
            width: 18px;
        }

        .fa {
            margin-top: 3px;
        }
    }

    .systerm-security-tabs li a {
        padding: 7px 10px;
    }

    .systerm-security-tabs li:first-child {
        margin-top: 20px;
    }

    .systerm-security-tabs li:first-child a {
        // padding: 0 !important;
     }

    .systerm-security-tabs li.active a {
        background: $lochmara;
        color: $white;
    }


    .i-p-action-btns button:first-child {
        margin-right: 10px;
    }

    .i-p-action-btns {
        button {
             width: 96px;
             font-size: 14px;
             font-weight: 500;
        }
    }

    .info-icon {
        opacity: 0.5; 
        margin-left: 5px; width: 20px; height: 20px;
    }

}

.noborder {
    box-shadow: none;

    &:hover {
        box-shadow: none;
    }

    &:focus {
        box-shadow: none;
    }

    &:active {
        box-shadow: none;
    }

    &:active:focus {
        box-shadow: none;
    }
}

.addicon {
    width: 20px;
    margin-right: 5px;
}

.copy-link {
    color: #0076cc;
    margin-top: 5px;
    float: right;
}

.system-security-container .identity-provider label.raul-select {
    min-width: 320px;
    position: relative;
    margin-bottom: 0;
}

.system-security-container .identity-provider label.raul-select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: 10;
    position: relative;
    background: inherit;
}

.system-security-container .identity-provider label.raul-select:after {
    content: '\f107';
    display: block;
    font-family: FontAwesome;
    font-weight: 500;
    height: 10px;
    position: absolute;
    right: 8px;
    bottom: 20px;
    width: 10px;
}

.dynamic-form {
    margin-top: -1px;
}

.identity-provider table td {
    padding: 15px 10px !important;

}

.identity-provider .form-control {
    min-width: 320px;
}

.form-label {
    padding-top: 8px;
}

.system-security-content .form-label  {
    line-height: 1.8;
}

.system-security-content {
    padding: 0 3% !important;
    display: none;
}

.inline-input {
    width: 70px;
    display: inline-block;
}

.percent-icon {
    margin-left: -23px;
    padding-right: 20px;

}
    /** Responsive Media Queries **/
    @media only screen and (max-width: 1200px) {
        .system-head-in {
            max-width: 70%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            vertical-align: middle;
            line-height: 1.2;
        }

        .ellipsis {
            width: 95%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    @media only screen and (max-width: 979px) {

        .system-security-leftnav-toggle {
            margin-right: 10px;
        }

        .system-security-leftnav {
            position: fixed;
            top: 101px;
            left: -50%;
            background: #fff;
            bottom: 0;
            z-index: 99;
            width: 50%;
            max-width: 50%;
            box-shadow: rgba(0, 0, 0, 0.2) -2px 50px 16px 0;
            transition: width 0.5s, left 0.5s;
            border-right: 1px solid #c9cdcf;
            padding: 20px !important;
            max-width: 50%;
            min-width: 50%;
            left: -55%;
        }

        .fix-leftnav {
            left: 0px;
        }

        .system-security-container {
            padding-top: 20px;
        }

        .system-security-content {
            flex: 100% !important;
            max-width: 100%;
            padding: 0px !important;
        }

        .system-security-leftnav-close {
            float: right;
            font-size: 30px;
            margin-left: 10px;
        }

        .form-label {
            padding: 5px 0px;
        }
    }

    @media only screen and (max-width: 767px) {
        .search-settings-container {
            padding-right: 15px;
            padding-left: 15px;
        }

        .system-security-leftnav {
            margin-right: 10px;
            max-width: 100%;
            min-width: 100%;
            left: -105%;
        }

        .fix-leftnav {
            left: 0px;
        }

        .pull-right-lg {
            float: none;
        }
    }

    @media only screen and (max-width: 480px) {
        .identity-provider .form-control {
            min-width: 100%;
        }

        .system-security-container .identity-provider label.raul-select {
            min-width: 100%;
        }

        .ipType .ellipsis {
            width: 320px;
        }

        .ipType .form-label {
            padding: 10px 0px;
        }
    }

    @media only screen and (max-width: 320px) {
        .ipType .ellipsis {
            width: 250px;
        }
    }

    /* Custom User Fields */
    .custom-user-fields {
        .control-panel-more-actions-wrap {
            min-height: 60px;
        }

        .custom-field-title {
            font-size: 14px;
        }

        .table .custom-field-tooltip {
            display: none;
        }

        .control-panel-wrapper .control-panel-drag-drop {
            margin-left: 0;
        }

        .raul-datatable-main-info {
            line-height: 22px;
        }

        .raul-datatable-main-info .second-line-text {
            text-transform: capitalize;
        }

        .dataTables_length,
        .dataTables_info,
        .dataTables_paginate {
            display: none;
        }

        .custom-field-tooltip {
            position: relative;
            cursor: pointer;
        }

        .custom-field-tooltip a {
            position: relative;
            z-index: 10;
        }

        .custom-field-tooltip::before,
        .custom-field-tooltip-content {
            box-shadow: 0 4px 8px 0 rgba(82, 97, 115, 0.18);
            filter: alpha(opacity=0);
            left: 50%;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            transition: all 0.18s ease-out 0.18s;
            background-color: $white;
        }

        .custom-field-tooltip::before {
            content: '';
            height: 8px;
            margin-bottom: 7px;
            margin-left: -3px;
            width: 8px;
            border-bottom: 0;
            border-left: 1px solid #f7f8f9;
            border-right: 0;
            border-top: 1px solid #f7f8f9;
            margin-left: -4px;
            margin-top: 7px;
            z-index: 12;
            bottom: 100%;
            box-shadow: none;
            top: 100%;
            left: 50%;
            transform: rotate(45deg) !important;
            transform-origin: center;
        }

        .custom-field-tooltip-content {
            position: absolute;
            background: $white;
            border: 1px solid #f7f8f9;
            border-radius: 2px;
            box-sizing: border-box;
            color: #303436;
            font-family: 'Roboto';
            font-size: 12px;
            line-height: 16px;
            margin-top: 11px;
            max-height: 120px;
            max-width: 288px;
            padding: 14px 20px;
            z-index: 11;
            top: 100%;
            left: auto;
            right: 25%;
            transform: none;
            transition: all 0.18s ease-out 0.18s;
        }

        .custom-field-tooltip-content > div {
            text-align: left;
        }

        .custom-field-tooltip-content .raul-table-status-column {
            margin-top: 7px;
        }

        .custom-field-tooltip:hover + .custom-field-tooltip-content,
        .custom-field-tooltip:hover::before {
            filter: alpha(opacity=100);
            opacity: 1;
            pointer-events: auto;
            transform: none;
        }
    }

.system-security-container .modal {
    label:not(.raul-switch),
    legend {
        width: 100%;
        margin-bottom: 0;
    }

    input,
    select {
        margin-top: 4px;
    }

    label.raul-select {
        position: relative;
    }

    label.raul-select:after {
        content: '\f107';
        display: block;
        font-family: 'FontAwesome';
        font-weight: 500;
        height: 10px;
        position: absolute;
        right: 8px;
        bottom: 20px;
        width: 10px;
    }

    label.raul-select select {
        -moz-appearance: none;
        -webkit-appearance: none;
        z-index: 10;
        position: relative;
        background: inherit;
    }

    select.form-control {
        padding: .5rem 1rem .5rem .75rem;
    }

    .custom-fields-btn-panel {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    fieldset.character-length label {
        width: 45%;
    }

    .custom-fields-btn-panel button {
        //width: 47%;
    }



    .parsley-customfieldname,
    .parsley-min,
    .parsley-max,
    .parsley-customValidationError,
    .parsley-greaterorequal {
        color: #fd5f68 !important;
    }
}

    @media only screen and (max-width: 576px) {

        .system-security-container .table {
            .custom-field-tooltip {
                display: inline-block;

                .info-icon {
                    opacity: 1;
                    margin-left: 0;
                }
            }

            .custom-field-tooltip-content .second-line-text {
                overflow: hidden;
            }

            .custom-field-tooltip-content .second-line-text span {
                margin-left: -5px;
            }

            td {
                padding: 8px 5px;
            }

            th:first-child,
            td:first-child {
                text-align: left;
            }

            th:last-child,
            td:last-child {
                width: 30%;
            }

            .custom-fields-sequence,
            .custom-field-length,
            th:nth-child(3), //hide status column
            td:nth-child(3) {
                display: none;
            }

            .control-panel-wrapper > div {
                margin-left: 7px;

                img {
                    width: 20px;
                }
            }

            .control-panel-wrapper > div:first-child {
                margin-left: 0;
            }
        }

    }

    .unified-platform-setup [data-tooltip]:after {
        width: 285px;
        white-space: normal;
    }

    .validDays {
        line-height: 35px;
    }

.helpandtranining-content .raul-switch-wrapper {
    margin-top: 5px;
    margin-bottom: 0px;
}

.helpandtranining-content .form-label img {
    margin-right: 8px;
 }

.m-r-60 { 
    margin-right: 60px;
}

.landing-page-icon { 
    height: 45px;
    width: 45px;
}

.helpandtranining-content .error {
    line-height: 2;
    margin: 5px 15px 0px 0px;
    display: none;
}

.AllowNewUsersRows {
    margin-top: -1px;

    .form-label {
        margin-bottom: 0;
        padding-top: 0;
   }
}

.setting-icon .fa-newspaper-o {
    vertical-align: middle;
    color: #000;
}

.viewSelectValue { 
     line-height: 35px;
}
.customTable-border { margin-bottom:0px !important}


@media only screen and (max-width: 979px) {
    .helpandtranining-content {
        padding: 0 !important;
        max-width: 100% !important;
        flex: 100%;
    }
}




