<div class="document-management-departments-wrapper" ng-controller="DMDepartmentsGridCtrl as dmdeps">
    <div class="document-management-departments-body-wrapper" ng-if="!dmdeps.isDataError">
        <div class="document-management-departments-body">
            <div class="grid-controls">
                <div class="grid-control-item">
                    <rp-toggle model="dmdeps.grid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                    </rp-toggle>
                </div>
            </div>
            <rp-grid ng-if="dmpa.isActive()" model="dmdeps.grid" class="document-management-departments-grid">
            </rp-grid>
            <rp-grid-pagination ng-if="dmpa.isActive()" model="gridPagination">
            </rp-grid-pagination>
        </div>
    </div>
    <div class="document-management-departments-body-error" ng-if="dmdeps.isDataError">
        {{::dmdeps.dataErrorReason}}
    </div>
</div>
