<div class="document-management-properties-wrapper" ng-controller="DMPropertiesGridCtrl as prop">
    <div class="document-management-properties-body-wrapper" ng-if="!prop.isDataError">
        <div class="document-management-properties-body">
            <div class="document-management-properties" ng-if="!prop.allProperties">
                <div class="grid-controls">
                    <div class="grid-control-item">
                        <rp-toggle model="prop.grid.filtersModel.state.active" options="{
			                defaultText: 'Filter',
			                activeIconClass: 'rp-icon-filter',
			                defaultIconClass: 'rp-icon-filter active'
			            }">
                        </rp-toggle>
                    </div>
                </div>
                <rp-grid ng-if="dmpa.isActive()" model="prop.grid" class="document-management-properties-grid">
                </rp-grid>
                <rp-grid-pagination ng-if="dmpa.isActive()" model="gridPagination">
                </rp-grid-pagination>
            </div>
        </div>
    </div>
    <div class="document-management-properties-body-error" ng-if="prop.isDataError">
        {{::prop.dataErrorReason}}
    </div>
</div>
