<div class="document-management-roles-wrapper" ng-controller="DMRolesGridCtrl as role">
    <div class="document-management-roles-body" ng-if="!role.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="role.grid.filtersModel.state.active" options="{
                    defaultText: 'Filter',
                    activeIconClass: 'rp-icon-filter',
                    defaultIconClass: 'rp-icon-filter active'
                }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="dmpa.isActive()" model="role.grid" class="document-management-roles-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="dmpa.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="document-management-roles-body-error" ng-if="role.isDataError">
        {{::role.dataErrorReason}}
    </div>
</div>
