<ng-form name="$ctrl.form" class="persona-wrapper ft-form" role="form" novalidate>

    <div class="row ft-form persona-form" ng-if="$ctrl.isDisplayDetails">
        <div class="form-group col-md-4">
            <label for="{{:: $ctrl.formConfig.username.id }}" class="form-control-label">
                {{:: "persona_name" | manageUserPersonaText }}
            </label>
            <rp-form-input-text ng-if="!$ctrl.isReadOnly"
                                rp-model="$ctrl.persona.data.name"
                                config="$ctrl.formConfig.personaName">
            </rp-form-input-text>
            <div ng-if="$ctrl.isReadOnly">{{ $ctrl.persona.data.name }}</div>
        </div>

        <div class="col-md-4">
            <label for="{{:: $ctrl.formConfig.userType.id }}" class="form-control-label">
                {{:: "persona_type" | manageUserPersonaText }}
            </label>
            <rp-form-select-menu ng-if="!$ctrl.isReadOnly"
                                 rp-model="$ctrl.persona.data.type"
                                 config="$ctrl.formConfig.personaType">
            </rp-form-select-menu>
            <div ng-if="$ctrl.isReadOnly">{{ $ctrl.persona.data.type | userTypeLabel }}</div>
        </div>

        <div class="col-md-2">
            <label for="{{:: $ctrl.formConfig.startDate.id }}" class="form-control-label">
                {{:: "persona_effective_date" | manageUserPersonaText }}
            </label>
            <rp-datetimepicker ng-if="!$ctrl.isReadOnly"
                               rp-model="$ctrl.persona.data.startDate"
                               config="$ctrl.formConfig.startDate">
            </rp-datetimepicker>
            <div ng-if="$ctrl.isReadOnly">{{ $ctrl.persona.data.startDate | momentDate }}</div>
        </div>

        <div class="col-md-2">
            <label for="{{:: $ctrl.formConfig.endDate.id }}" class="form-control-label">
                {{:: "persona_expiry_date" | manageUserPersonaText }}
                <small ng-if="!$ctrl.isReadOnly">
                    ({{:: "persona_optional" | manageUserPersonaText }})
                </small>
            </label>
            <rp-datetimepicker ng-if="!$ctrl.isReadOnly"
                               rp-model="$ctrl.persona.data.endDate"
                               config="$ctrl.formConfig.endDate">
            </rp-datetimepicker>
            <div ng-if="$ctrl.isReadOnly">{{ $ctrl.persona.data.endDate | momentDate }}</div>
        </div>
    </div>


    <div ng-if="$ctrl.formState.showProductsLinking" bs-collapse
         class="panel-group" data-allow-multiple="true" role="tablist" aria-multiselectable="true" ng-model="$ctrl.productPanelState">

        <div ng-repeat="currPanel in $ctrl.productPanelConfig track by $index"
             ng-class="{ 'active': $ctrl.isActivePanel($index) }"
             class="box panel panel-default">

            <div class="box-header panel-heading" role="tab">
                <h4 class="panel-title">
                    <a bs-collapse-toggle>
                        {{::currPanel.title}}
                        <div class="pull-right">
                            <i class="panel-toggle-icon"></i>
                        </div>
                    </a>
                </h4>
            </div>

            <div class="box-body panel-collapse" role="tabpanel"
                 ng-class="currPanel.panelClassName"
                 bs-collapse-target>
                <div class="panel-body" ng-include src="currPanel.location">
                    //include content based location
                </div>
            </div>

        </div>
    </div>

</ng-form>