<div class="forgot-password-questions">
    <p ng-hide="page.model.error.state" class="forgot-password-instructions text-center text-neutral-02">    {{:: "forgot_instruction" | forgotPasswordText }}
    </p>
    <p ng-show="page.model.error.state" class="forgot-password-error-message text-center text-danger">{{ page.model.error.message }}</p>
    <form name="forgotPasswordForm" class="ft-form" role="form" novalidate>
        <fieldset>
            <div class="form-group">
                <label for="security-question-1">
                    {{ page.questions[0].question }}
                </label>
                <input required name="security-question-1" class="form-control" autofocus id="security-question-1" type="text" placeholder="" ng-model="page.model.form.securityAnswer1" maxlength="100" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="security-question-2">
                    {{ page.questions[1].question }}
                </label>
                <input required id="security-question-2" name="security-question-2" class="form-control" type="text" placeholder="" ng-model="page.model.form.securityAnswer2" maxlength="100" autocomplete="off">
            </div>
        </fieldset>
        <section class="forgot-password-actions">
            <div class="form-group">
                <button ng-click="page.submit(forgotPasswordForm)" ng-disabled="page.model.form.submitBtnDisabled" class="rp-btn primary w-full">
                    {{:: "forgot_continue" | forgotPasswordText }}
                </button>
            </div>
        </section>

        <div class="login-return-action text-center text-primary" ng-click="page.setLoginState()">
            <p>{{:: "forgot_back_to_login" | forgotPasswordText }}</p>
        </div>
    </form>
</div>
