<div class="users">
	<div class="row">
    	<div class="col-md-12">
    		<div class="users-action-bar rp-action-bar box" ng-if="!page.hasViewOnlySupportToolAccess()">

	            <div class="action-item select-all ft-form">
                    <div class="grid-action-item rp-grid-select ft-form" rp-grid-model="page.grid.gridModel" ng-if="page.grid.gridModel">
                        <label class="md-check dark-bluebox rp-grid-select-label">
                            <input type="checkbox" name="name"
                                   ng-true-value="true"
                                   ng-false-value="false"
                                   ng-model="gridSelect.model.selected"
                                   ng-change="gridSelect.model.publishState()"
                                   ng-click="page.toggleSelect(gridSelect.model.selected)"
                                   class="ng-pristine ng-untouched ng-valid ng-empty">
                            <i class="primary"></i>
                        </label>
                    </div>
                </div>

	            <button ng-if="page.security.isAllowed('activatedeactivateUser')"
                        class="action-item"
                        ng-click="page.activateSelectedUsers()"
                        ng-disabled="page.grid.isGridLoading">
	                <i class="action-icon rp-icon-correct"></i>
	                <span class="action-text">{{:: "users_activate" | userListText }}</span>
	            </button>
	            <button ng-if="page.security.isAllowed('activatedeactivateUser')"
                        class="action-item"
                        ng-click="page.deactivateSelectedUsers()"
                        ng-disabled="page.grid.isGridLoading">
	                <i class="action-icon rp-icon-delete-2"></i>
	                <span class="action-text">{{:: "users_deactivate" | userListText }}</span>
	            </button>
	            <button ng-if="page.security.isAllowed('lockUnlockUser')"
                    class="action-item"
                    ng-click="page.lockSelectedUsers()"
                    ng-disabled="page.grid.isGridLoading">
	                <i class="action-icon ic-lock"></i>
	                <span class="action-text">{{:: "users_lock" | userListText }}</span>
	            </button>
	            <button ng-if="page.security.isAllowed('lockUnlockUser')"
                    class="action-item"
                    ng-click="page.unlockSelectedUsers()"
                    ng-disabled="page.grid.isGridLoading">
	                <i class="action-icon ic-unlock"></i>
	                <span class="action-text">{{:: "users_unlock" | userListText }}</span>
	            </button>

                <div class="btn-group dropdown">
                    <button class="action-item" data-toggle="dropdown">
                        <i class="action-icon rp-icon-ellipsis-v"></i>
                        <span class="action-text">{{:: "users_more" | userListText }}</span>
                    </button>

                    <ul class="dropdown-menu users-action-bar-more-info-menu">
                        <li class="dropdown-item"
                            ng-if="page.security.isAllowed('resendInvitation')"
                            ng-click="page.resendInvites()">
                            <span>{{:: "users_resend_invite" | userListText }}</span>
                        </li>
                    </ul>
                </div>

	        </div>
    	</div>
    </div>

    <div class="row users-grid-filters">
    	<div class="add-user col-md-2">
    		<a ng-if="page.security.isAllowed('createUser') && !page.hasViewOnlySupportToolAccess()"
                href="#/user/add" class="users-create-new-btn rp-btn primary w-full">
                + {{:: "users_new_user" | userListText }}
            </a>
    	</div>
        <div class="col-md-10 grid-filter-wrapper">
            <div class="grid-more-filter-toggle">
                <rp-toggle
                    model="page.filter.isDisplayPanel"
                    options="page.filter.config.moreFilters">
                </rp-toggle>
            </div>
            <div class="grid-filter">
                <rp-form-select-menu
                    config="page.filter.config.products"
                    rp-model="page.filter.model.product">
                </rp-form-select-menu>
            </div>
            <div class="grid-filter">
                <rp-form-input-text
                    config="page.filter.config.user"
                    rp-model="page.filter.model.name">
                </rp-form-input-text>
            </div>
            <div>
                <rp-export-menu config="page.exportMenu" class="export-menu">
                </rp-export-menu>
            </div>
            <div ng-if="page.hasImportUsersAccess()" class="import-users-link link">
                <i class="fa fa-upload"></i>
                <a ng-click="page.openImportUsers()">Import Users</a>
            </div>
        </div>
    </div>

    <div class="row users-grid-filters users-grid-more-filters" ng-show="page.filter.isDisplayPanel">
        <div class="col-md-12">
            <div class="grid-more-filter-panel">
                <h3 class="grid-more-filter-title">{{:: "users_more_filters" | userListText }}</h3>
                <div class="ft-form form-inline">
                    <div class="form-group">
                        <label>{{:: "users_user_type" | userListText }}</label>
                        <rp-form-select-menu
                            class="grid-more-filter"
                            config="page.filter.config.userType"
                            rp-model="page.filter.model.userType">
                        </rp-form-select-menu>
                    </div>
                    <div class="form-group">
                        <label>{{:: "users_acct_state" | userListText }}</label>
                        <rp-form-select-menu
                            class="grid-more-filter"
                            config="page.filter.config.accountStatus"
                            rp-model="page.filter.model.status">
                        </rp-form-select-menu>
                    </div>
                    <div class="form-group">
                        <button class="grid-reset-btn md-btn md-flat text-primary"
                            ng-click="page.resetFilter()">
                                {{:: "users_reset" | userListText }}
                        </button>
                    </div>
                    <div class="form-group">
                        <button class="grid-cancel-btn rp-btn outline primary"
                            ng-click="page.hideMoreFilters()">
                                {{:: "users_cancel" | userListText }}
                        </button>
                    </div>
                    <div class="form-group">
                        <button class="grid-apply-btn rp-btn primary"
                            ng-click="page.applyFilter()">
                                {{:: "users_apply" | userListText }}
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="users-list row" ng-class="page.getCustomColState()">
        <rp-grid class="col-md-12" model="page.grid.gridModel"></rp-grid>
        <rp-grid-pagination model="page.grid.gridPagination"></rp-grid-pagination>
    </div>
</div>
