<div class="change-password">
    <form name="page.changePasswordForm" novalidate role="form"
        class="change-password-form ft-form text-neutral-02">

        <div class="change-pwd-rules">
            <p ng-if="page.showExpireMsg" class="change-pwd-instructions">{{:: "label.passwordExpired" | setPasswordText}}</p>
            <p class="change-pwd-instructions">{{:: "label.instructions" | setPasswordText }}</p>
            <p class="change-pwd-instructions">{{:: "label.rules" | setPasswordText }}</p>

            <ul class="change-pwd-status-indicator">
                <li ng-repeat="currState in page.formState.password" ng-class="{'checked': currState.value}">
                    {{::currState.label}}
                </li>
            </ul>
        </div>

        <fieldset class="change-pwd-fields">
            <div class="form-group"
                    ng-class="{ 'show-validation-error': page.changePasswordForm.createPassword.$touched }">
                <label class="change-pwd-label">{{:: "label.inputPassword" | setPasswordText }}</label>
                <rp-form-input-text
                    class="set-pswd-text new-password"
                    config="page.passwordConfig.createPassword"
                    rp-model="page.model.createPassword">
                </rp-form-input-text>
            </div>
            <div class="form-group"
                    ng-class="{ 'show-validation-error': page.changePasswordForm.confirmPassword.$touched }">
                <label class="change-pwd-label">{{:: "label.confirmPassword" | setPasswordText }}</label>
                <rp-form-input-text
                    class="set-pswd-text confirm-password"
                    config="page.passwordConfig.confirmPassword"
                    rp-model="page.model.confirmPassword">
                </rp-form-input-text>
            </div>
        </fieldset>

        <div class="form-field error-msg" ng-if="page.errorMessages">
            {{page.errorMessages}}
        </div>

        <div class="change-pwd-actions">
            <div class="form-group col-md-8">
                <button class="rp-btn primary"
                    ng-click="page.changePassword()"
                    ng-disabled="page.formState.isSaving"
                    type="button">
                        {{:: "label.setPassword" | setPasswordText }}
                </button>
            </div>
            <div class="form-group col-md-4">
                <button ng-click="page.cancelSetup()" class="rp-btn outline primary" type="button">
                    {{:: "label.cancel" | setPasswordText }}
                </button>
            </div>
        </div>
    </form>

    <iframe src="/home/signout" width="0" height="0" tabindex="-1" title="empty" aria-hidden="true" class="new-user-signout">
</div>
