<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nothing Selected</h5>
            </div>
            <div class="modal-body p-lg">
                <p><b>No item was selected</b></p>
                <p>You must select an item before you click [{{ctrl.model.action}}]</p>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns">
                    <button type="button" class="rp-modal-footer-btn rp-btn primary" ng-click="ctrl.hideNotSelectedModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
