<div ng-show="easyLMS.isActive()"
    ng-controller="EasyLMSProductAccessCtrl as easyLMS">
    <h3 class="assign-product-access-title">
        {{easyLMS.panelName}}
    </h3>
    <div class="easy-lms-info">
	    <p>If your company uses the HR/Payroll System feed, user management is automated for EasyLMS and no action is required on your part to manage users.</p>
	    <p>If your company does <strong><em>not</em></strong>&nbsp;&nbsp;use the HR/Payroll System feed, your designated EasyLMS Admin will need to log into EasyLMS directly to manage users.</p>
	</div>
</div>
