.manage-user-wrapper {

	.panel {
		&-heading {
			background-color: $rp-primary;			
		}

		&-title {
			@include header-3($white);
		}

		&-toggle {
			@include small-text;
		}

		&-collapse {
			padding: 15px;
		}
	}

	.box {
		&.active {
			& > .box {
				&-header {
					.panel-toggle-icon {
						@include rp-icon(angle-up);
					}
				}

				&-body {
					display: block;
				}
			}
		}

		& > .box {
			&-header {
				@include crop-text-overflow;

				.panel-toggle-icon {
					@include rp-icon(angle-down);
				}
			}

			&-body {
				display: none;
			}
		}

	}
}
