.roles-details-new {
    &.new-roles-rights-aside {

        .rights-error-msg {
            color: #d31612;
            font-size: 12px;
            line-height: 16px;
            font-weight: normal;
            letter-spacing: 0.005em;
        }

        .extend {
            margin-top: 20px;
        }

        .small {
            .rp-form-input-text-table {
                width: 150px;
            }
        }


        .icon-size {
            font-size: 18px;
            line-height: 38px;
            margin-right: 5px;

            &.text {
                font-size: 14px;
            }
        }

        .spm-title {
            font-size: 22px;
            font-weight: bold;
            width: 80%;
            float: left;
        }
        .spm-filter {
            float: right;
            color: blue;
        }
        .spm-container:after {
            clear: both;
            content: "";
            display: block;
        }
        .app-spacer {
            padding: 20px;
        }
        .spm-accordion {
            margin-top: 20px;
        }
        .spm-title-container:after,
        .spm-accordion .spm-row-container:after {
            clear: both;
            content: "";
            display: block;
        }
        .spm-accordion .spm-header {
            font-size: 16px;
            font-weight: bold;
        }
        .spm-accordion .spm-header .rights {
            width: 43%;
            float: left;
            padding-left: 15px;
        }
        .spm-accordion .spm-header .description {
            width: 57%;
            float: left;
            padding-left: 5px;
        }
        .spm-accordion .spm-header .edit-menu {
            // width: 10%;
            // float: left;
        }
        .spm-accordion .spm-body {
            margin-top: 10px;
        }
        .spm-accordion .spm-body .rights {
            width: 40%;
            float: left;
            padding-left: 15px;
            font-weight: bold;
        }
         .spm-accordion .spm-body .description {
            width: 45%;
            float: left;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .spm-accordion .spm-body .edit-menu {
            width: 15%;
            float: right;
        }
        .spm-accordion .spm-body .editable-icon {
            float: right;
            margin-right: 10px;
        }
        .spm-body .spm-row-container {
            padding: 10px 0px;
            border-top: solid 1px #d3d3d3;
        }
        .rights {
            .spacer {
                margin-right: 10px;
                font-size: 20px;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .spm-row-1 .inner {
            margin-left: 30px;
        }

        .spm-row-2 .inner {
            margin-left: 60px;
        }
    }
}