.change-user-type-modal {
    max-width: 500px;
}

.existing-user-modal {
    max-width: 500px;
}

.user-modal-link{
	@include link;	
	text-align: center;
}

.rp-supp-link {            
    @include link;            
  }
