// User Details Tab
.user-details {
    @include grid-row;
    max-width: 820px;
    margin-top: -10px;

    &-form-label {
        @include form-label;
        display: block;
    }

    &-first-name {
        @include grid-col(4);
    }

    &-middle-initial {
        @include grid-col(2);
    }

    &-last-name {
        @include grid-col(6);
    }

    &-user-type {
        @include grid-col(6);
    }

    &-username {
        @include grid-col(6);
    }

    &-password {
        @include grid-col(6);
    }

    &-password-copy {
        @include grid-col(6);
    }

    &-notification-email {
        @include grid-col(6);
    }

    &-effective {
        @include grid-col(3);
    }

    &-expires {
        @include grid-col(3);
    }

    &-field {
        margin-top: 20px;
        min-height: 80px;
    }
}



.custom-fields {
   // @include grid-col(6);
    clear: left;
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width * 1.5;

    &:last-child {
        margin-bottom: 0;
    }

    &-title {
        @include subheader-1;
    }

    &-form-label {
        @include form-label;
        display: block;
    }

    &-form-sub-label {
        color: #afb3b6;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0.005em;
        margin: 0;
        padding-right: 12px; //height: 16px;
        line-height: 10px;
        font-weight: normal;
    }

    &-item {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: solid 1px $rp-neutral-04;
    }

    &-field {
        margin-top: 5px;
        min-height: 30px;
    }
}

.access-details {
    @include grid-col(6);
    clear: left;
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width * 1.5;

    &:last-child {
        margin-bottom: 0;
    }

    &-title {
        @include subheader-1;
    }

    &-item {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: solid 1px $rp-neutral-04;
    }
}

.profile-info {
    @include grid-row;
    clear: left;
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width * 1.5;
    &-separator {
        height: 0;
        clear: both;
        overflow: hidden;
        margin-left: $grid-gutter-width/2;
        margin-right: $grid-gutter-width/2;
        border-bottom: solid 1px $rp-neutral-04;
    }

    &-title {
        @include header-3;
        @include grid-col(12);
        padding-top: $grid-gutter-width * 1.5;
    }

    &-phone {
        @include grid-col(5);
    }

    &-phone-type {
        @include grid-col(3);
    }

    &-contact-method {
        @include grid-col(5);
    }

    &-industry-job-title {
        @include grid-col(8);
    }

    &-company-job-title {
        @include grid-col(8);
    }
    &-header-title {
        @include subheader-1;
    }
    &-info {
        padding-top: 25px;
    }

    &-avatar-lg {
        @include rounded(96px);
        width: 96px;
        height: 96px;
        float: right;
        overflow: hidden;
        background-color: #D8D8D8;
    }

    &-initials {
        margin: 30px 25px 0 20px;
        color: #61676B;
        font-family: Roboto;
        font-size: 30px;
        line-height: 34px;
        text-align: center;
        text-transform: uppercase;
    }

    .add-ph-link {
        float : left;
        @include link;
        margin-bottom :15px;
    }
    .del-ph{
        cursor:pointer;
        float : left;
        margin-top : 40px;
        font-size : 10px;
        color: #afb3b6;
    }
    .sec-email {        
        margin-bottom :15px;
    }
}
