<div class="onesite-access"
    ng-show="opa.isActive()"
    detect-product-change="{onChange: opa.setChanged}"
    ng-controller="OnesiteProductAccess as opa">
    <h3 class="assign-product-access-title">
        {{opa.panelName}}
    </h3>

    <div ng-controller="OSPropertiesRolesCtrl as osprc">
        <rp-scrolling-tabs-menu
            model="osprc.tabsMenu">
        </rp-scrolling-tabs-menu>
        <ng-include
            src="tab.incUrl"
            ng-show="tab.isActive"
            ng-repeat="tab in osprc.tabsList">
        </ng-include>
    </div>
</div>
