<div class="onesite-roles-wrapper" ng-controller="OSRolesGridCtrl as role">
    <div class="onesite-roles-body-wrapper" ng-if="!role.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="role.grid.filtersModel.state.active" options="{
                    defaultText: 'Filter',
                    activeIconClass: 'rp-icon-filter',
                    defaultIconClass: 'rp-icon-filter active'
                }">
                </rp-toggle>
            </div>
        </div>

        <rp-grid
            ng-if="opa.isActive()"
            model="role.grid" class="onesite-roles-grid">
        </rp-grid>

        <rp-grid-pagination ng-if="opa.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="onesite-roles-body-error" ng-if="role.isDataError">
        {{::role.dataErrorReason}}
    </div>
</div>
