    <div class="activity-log-filters activity-log-container-row">
        <rp-form-input-text
            class="activity-log-filter-keyword"
            config="al.filter.config.keyword"
            rp-model="al.filter.model.keyword">
        </rp-form-input-text>

        <rp-form-select-menu
            class="activity-log-filter-activity "
            config="al.filter.config.activities"
            rp-model="al.filter.model.activity">
        </rp-form-select-menu>

        <!-- <rp-form-select-menu
            class="activity-log-filter-daterange"
            config="al.filter.config.daterange"
            rp-model="al.filter.model.daterange">
        </rp-form-select-menu> -->
        <div class="col-md-2 labelFrom" ng-class="{'dateRequired': al.fromDateRequired}">
                <label ng-class="{'lblTextReq': al.fromDateRequired}">{{al.lblFromDateText}}</label>
             <rp-datetimepicker 
                class="activity-log-filter"
                config="al.filter.config.startDate" 
                rp-model="al.filter.model.startDate">
            </rp-datetimepicker>
        </div>
        
        <div class="col-md-2 labelTo" ng-class="{'dateRequired': al.toDateRequired}">
                <label ng-class="{'lblTextReq': al.toDateRequired}">{{al.lblToDateText}}</label>
            <rp-datetimepicker 
                class="activity-log-filter"
                config="al.filter.config.endDate" 
                rp-model="al.filter.model.endDate">
            </rp-datetimepicker>
        </div>
        

        <div class="activity-log-filter-sortby-group">
            <span class="activity-log-filter-sortby-label">Sort By:</span>
            <rp-form-select-menu
                class="activity-log-filter-sortby"
                config="al.filter.config.sortby"
                rp-model="al.filter.model.sortby">
            </rp-form-select-menu>
        </div>
        <rp-export-menu config="al.exportMenu" class="activity-log-filter-export-menu">
        </rp-export-menu>
    </div>
    <rp-grid model="al.grid" class="activity-log-grid">
    </rp-grid>

    <rp-grid-pagination model="gridPagination">
    </rp-grid-pagination>
