raul-aside {
  display: block;
}

raul-aside .r-aside {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  z-index: 10000;
}

raul-aside .r-aside__backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #37474F;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.15s linear;
}

raul-aside .r-aside__dialog {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-left-width: 1px;
  border-color: #EBEDEE;
  transition: transform 0.35s ease, background-color 0.35s ease;
  transform: translateX(100%);
}

raul-aside .r-aside--visible {
  display: block;
}

raul-aside .r-aside--visible > .r-aside__backdrop {
  opacity: 0.5;
}

raul-aside .r-aside--visible > .r-aside__dialog {
  transform: translateX(0);
}

raul-aside[visible] > .r-aside {
  display: block;
}

raul-aside[expanded] > .r-aside > .r-aside__backdrop {
  opacity: 0.5;
}

raul-aside[expanded] > .r-aside > .r-aside__dialog {
  transform: translateX(0);
}

raul-aside[expanded] > .r-aside > raul-aside[expanded] ~ .r-aside__dialog {
  background-color: #EBEDEE;
}

raul-aside[expanded] > .r-aside > raul-aside[expanded] .r-aside__backdrop {
  opacity: 0;
}

raul-aside[size=small] > .r-aside > .r-aside__dialog {
  width: 100%;
}

@media (min-width: 640px) {
  raul-aside[size=small] > .r-aside > .r-aside__dialog {
    width: 22.5rem;
  }
}

raul-aside[size=medium] > .r-aside > .r-aside__dialog {
  width: 100%;
}

@media (min-width: 768px) {
  raul-aside[size=medium] > .r-aside > .r-aside__dialog {
    width: 37.5rem;
  }
}

raul-aside[size=large] > .r-aside > .r-aside__dialog {
  width: 100%;
}

@media (min-width: 1024px) {
  raul-aside[size=large] > .r-aside > .r-aside__dialog {
    width: 64rem;
  }
}