<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="RealPage Artifactory" value="https://artifacts.realpage.com/artifactory/api/nuget/nuget-virtual" />
	</packageSources>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
</configuration>