<div class="user-photo-wrapper">
    <span class="user-photo">
        <rp-user-image image-size="'40px'"
                       image-src="record.imgSrc"
                       icon-size="'35px'">
        </rp-user-image>
        <i class="on b-white bottom"></i>
    </span>
</div>
<div class="user-identifier-wrapper">
    <a ng-if="(record.hasEditUserAccess)" href="{{record[config.profileLink]}}">
        <div class="user-full-name">
            {{record.user}}
        </div>
        <div class="user-username">
            {{record.username}}
        </div>
    </a>
    <span ng-if="!(record.hasEditUserAccess)">
        <div class="user-full-name">
            {{record.user}}
        </div>
        <div class="user-username">
            {{record.username}}
        </div>
    </span>
</div>
