%minimum-view {
	min-width: 500px;
}

.product-properties-wrapper {
	width: 100%;
	overflow-x: auto;
	
	.product-properties {
		&-header {
			@include subheader-1;
			@extend %minimum-view;

			padding: 10px;
			border-bottom: none;
		}

		&-body {
			@extend %minimum-view;

			padding: 10px;
			padding-bottom: 20px;			
		}

		&-search {
			&-wrapper {
				max-width: 300px;
			}
		}
	}
}