<div class="security-questions">
    <div class="security-questions-instructions">
        <div class="col-md-12">
            {{:: "label.instructions" | securityQuestionsText }}
        </div>
    </div>
    <form name="securityQuestionsForm" novalidate class="security-questions-form ft-form" role="form">
            <div class="form-group col-md-12">
                <div class="security-question" ng-repeat="listItem in page.questionsList">
                    <div class="question">
                        <label for="question-{{listItem.index}}"> {{:: "label.question" | securityQuestionsText }}</label>

                        <rp-form-select-menu config="listItem.questionConfig" rp-model="listItem.data.questionId">
                        </rp-form-select-menu>
                    </div>

                    <div class="custom-question" ng-if="listItem.isCustom()">
                        <label for="custom-question-{{listItem.index}}">
                            {{:: "label.customQuestion" | securityQuestionsText}}
                        </label>

                        <rp-form-input-text config="listItem.customQuestionConfig" rp-model="listItem.data.customQuestion">
                        </rp-form-input-text>
                    </div>

                    <div class="answer">
                        <label for="answer-{{listItem.index}}">
                            {{:: "label.answer" | securityQuestionsText }}
                        </label>

                        <rp-form-input-text config="listItem.answerConfig" rp-model="listItem.data.answer">
                        </rp-form-input-text>
                    </div>

                    <hr ng-if="!$last">

                </div>

                <div class="security-questions-actions">
                    <div class="col-md-12 error-msg">
                        {{ page.errorMsg }}
                    </div>
                    <div class="col-md-8">
                        <button class="rp-btn primary" ng-click="page.submitSecurityQuestions(securityQuestionsForm)" ng-disabled="page.form.submitBtnDisabled" type="button">
                            {{:: "label.save" | securityQuestionsText }}
                        </button>
                    </div>
                    <!-- <div class="col-md-4">
                        <button ng-click="page.cancelSetup()" class="rp-btn outline primary" type="button">
                            {{:: "label.cancel" | securityQuestionsText }}
                        </button>
                    </div> -->
                </div>
            </div>
        </form>
</div>
