<div id="auto-logout-modal" class="modal" data-backdrop="true">
  <div class="row-col h-v">
    <div class="row-cell v-m">
      <div class="modal-dialog modal-alt-sm">
        <div class="modal-content">
          <a class="box-close" data-dismiss="modal">
            <i class="rp-icon-delete-2"></i>
          </a>
          <div class="modal-header">
            <h5 class="modal-title">Security Warning</h5>
          </div>
          <div class="modal-body p-lg">
            <p ng-repeat="msg in $ctrl.messages track by $index">{{msg}}</p>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn primary rounded p-x-md" data-dismiss="modal">OK</button>
          </div>
        </div><!-- /.modal-content -->
      </div>
    </div>
  </div>
</div>