raul-tooltip {
  display: inline-block;
}

.r-tooltip {
  background-color: #37474F;
  color: #ffffff;
  font-size: 0.75rem;
  padding: 0.75rem;
  border-radius: 0.125rem;
  box-shadow: 0 16px 27px 0 rgba(82, 97, 115, 0.22);
  opacity: 0;
  transition: opacity .15s linear;
  z-index: 50;
  max-width: 16rem;
}

.r-tooltip__arrow {
  height: 0;
  width: 0;
  border-color: transparent;
  position: absolute;
  border-width: 0.5rem;
}

.r-tooltip--show {
  opacity: 1;
}

.r-tooltip[x-placement^=top] {
  margin-bottom: 0.75rem;
}

.r-tooltip[x-placement^=top] .r-tooltip__arrow {
  border-bottom-width: 0;
  margin-bottom: -0.5rem;
  bottom: 0;
  border-top-color: #37474F;
}

.r-tooltip[x-placement^=bottom] {
  margin-top: 0.75rem;
}

.r-tooltip[x-placement^=bottom] .r-tooltip__arrow {
  border-top-width: 0;
  margin-top: -0.5rem;
  top: 0;
  border-bottom-color: #37474F;
}

.r-tooltip[x-placement^=right] {
  margin-left: 0.75rem;
}

.r-tooltip[x-placement^=right] .r-tooltip__arrow {
  border-left-width: 0;
  margin-left: -0.5rem;
  left: 0;
  border-right-color: #37474F;
}

.r-tooltip[x-placement^=left] {
  margin-right: 0.75rem;
}

.r-tooltip[x-placement^=left] .r-tooltip__arrow {
  border-right-width: 0;
  margin-right: -0.5rem;
  right: 0;
  border-left-color: #37474F;
}

.r-tooltip[x-placement^=top-start] .r-tooltip__arrow, .r-tooltip[x-placement^=bottom-start] .r-tooltip__arrow {
  left: 0.5rem !important;
  right: auto !important;
}

.r-tooltip[x-placement^=top-end] .r-tooltip__arrow, .r-tooltip[x-placement^=bottom-end] .r-tooltip__arrow {
  left: auto !important;
  right: 0.5rem !important;
}

.r-tooltip[x-placement^=top-start] .r-tooltip__arrow, .r-tooltip[x-placement^=bottom-start] .r-tooltip__arrow {
  left: 0.5rem !important;
  right: auto !important;
}

.r-tooltip[x-placement^=left-start] .r-tooltip__arrow, .r-tooltip[x-placement^=right-start] .r-tooltip__arrow {
  top: 0.5rem !important;
  bottom: auto !important;
}

.r-tooltip[x-placement^=left-end] .r-tooltip__arrow, .r-tooltip[x-placement^=right-end] .r-tooltip__arrow {
  top: auto !important;
  bottom: 0.5rem !important;
}