raul-sortable-list {
  width: 100%;
  height: 100%;
}

raul-sortable-list .r-sortable-list {
  width: 100%;
  height: 100%;
}

raul-sortable-list .r-sortable-list .r-sortable-list__group-label {
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #ebedee;
}

raul-sortable-list .r-sortable-list .not-draggable {
  cursor: default;
}

raul-sortable-list .r-sortable-list .r-sortable-list__items-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: move;
  height: 100%;
}

raul-sortable-list .sortable-ghost {
  background-color: #E5F4FF;
}

raul-sortable-list .sortable-ghost > * {
  visibility: hidden;
}

raul-sortable-list raul-card {
  position: relative;
  width: 360px;
  border-radius: 2px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px 0 rgba(55, 71, 79, 0.2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

raul-sortable-list raul-card:hover {
  box-shadow: 0 8px 16px 0 rgba(82, 97, 115, 0.18);
}

raul-sortable-list raul-card:hover:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  content: "";
  border: 3px dotted rgba(0, 0, 0, 0.1);
  border-width: 0 3px;
  height: 39px;
  width: 8px;
  margin-right: 8px;
}

raul-sortable-list raul-card.not-draggable:hover {
  background-color: #e5f4ff;
}

raul-sortable-list raul-card.not-draggable:hover:before {
  display: none;
}

.sortable-drag {
  background-color: white;
  opacity: 1 !important;
}

.sortable-drag raul-card {
  box-shadow: 0 8px 16px 0 rgba(82, 97, 115, 0.18);
}

.sortable-drag raul-card:not(:first-child) {
  display: none;
}

.sortable-drag .r-list-item {
  box-shadow: 0 8px 16px 0 rgba(82, 97, 115, 0.18);
}

.sortable-drag .r-list-item:not(:first-child) {
  display: none;
}

.sortable-drag .r-list-item::before {
  opacity: 0;
}

.sortable-drag .r-checkbox .r-checkbox {
  display: none;
}