// Error Page

.error-page {
    max-width: 1200px;

    &-title {
        &-1 {
            font-size: 48px;
            line-height: 48px;
            text-align: center;
            margin-bottom: 30px;
            color: $rp-neutral-02;
        }

        &-emphasis-1 {
            display: block;
            font-size: 120px;
            font-weight: bold;
            color: $rp-primary;
            line-height: 130px;
            margin-bottom: 25px;
        }
    }

    &-msg-1 {
        font-size: 30px;
        font-weight: bold;
        line-height: 35px;
        text-align: center;
        color: $rp-neutral-04;
    }

    &-action {
        &s {
            margin-top: 120px;
            text-align: center;
        }

        &-go-home {
            min-width: 280px;
            letter-spacing: 1px;
        }
    }
}
