.edit-user {

	&-details {
		background-color: $pale-gray;
		box-shadow: 300px;
		padding: 25px 10px;	
	}
	

	.user-profile {
		width: 100%;
		
		&-wrapper {
			min-height: 165px;
		}
		
	    &-main {
	        &-link {
	        	color: $rp-primary;
	        }
	    }

	    .box {
	    	margin-bottom: 0;
	    }
	}

}

