
<div class="asset-optimization-access"
    ng-show="bipactrl.isActive()"
    detect-product-change="{onChange: bipactrl.setChanged}"
    ng-controller="BusinessIntelligenceProductAccessCtrl as bipactrl">
    <h3 class="assign-product-access-title">
        {{bipactrl.panelName}}
    </h3>

    <div ng-show="bipactrl.productDisabled" class="assign-product-access-error-msg">
        This product cannot be assigned when User Type is Regular user (no email).
    </div>

    <div ng-show="!bipactrl.userDetailsModel.getForm().loginName.$valid" class="assign-product-access-error-msg">
        Please enter a Username in User Details Tab
    </div>

    <div ng-show="bipactrl.userDetailsModel.getForm().loginName.$valid" >

        <rp-scrolling-tabs-menu
            class="asset-optimization-tabs"
            ng-class="{visible: bipactrl.model.tabsReady}"
            model="bipactrl.tabsMenu">
        </rp-scrolling-tabs-menu>
        <ng-include
            src="tab.incUrl"
            ng-show="tab.isActive"
            ng-repeat="tab in bipactrl.tabsList">
        </ng-include>

    </div>
</div>
