<div class="business-intelligence-groups-wrapper" ng-controller="BusinessIntelligencePropertyGroupsCtrl as bipropgrp">
    <div class="business-intelligence-groups-body" ng-if="!bipropgrp.isPropertiesError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="bipropgrp.grid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="bipropgrp.isActive()" model="bipropgrp.grid" class="business-intelligence-groups-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="bipropgrp.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="business-intelligence-groups-body-error" ng-if="bipropgrp.isDataError">
        {{::bipropgrp.dataErrorReason}}
    </div>
</div>
