<div class="business-intelligence-properties-wrapper" ng-controller="BusinessIntelligencePropertiesCtrl as biprop">
    <div class="business-intelligence-properties-body" ng-if="!biprop.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="biprop.grid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="biprop.isActive()" model="biprop.grid" class="business-intelligence-properties-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="biprop.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="business-intelligence-properties-body-error" ng-if="biprop.isDataError">
        {{::biprop.dataErrorReason}}
    </div>
</div>
