<div ng-controller="BIPropertyListAsideCtrl as pla" class="rp-aside-modal rp-aside-modal-right business-intelligence-properties-list-aside">
    <div class="rp-aside-modal-header">
        <span class="rp-aside-modal-close" ng-click="pla.cancel()">
        </span>
        <h2 class="rp-aside-modal-header-title">
            {{::pla.title}}
        </h2>
        <h3 class="rp-aside-modal-header-subtitle">
            {{pla.subtitle}}
        </h3>
    </div>
    <div class="rp-aside-modal-content">
        <div class="business-intelligence-properties-list-aside-wrapper">
            <div class="business-intelligence-properties-list-aside-body">
                <div class="grid-controls">
                    <div class="grid-control-item">
                        <rp-toggle model="pla.asideGrid.filtersModel.state.active" options="{
                            defaultText: 'Filter',
                            activeIconClass: 'rp-icon-filter',
                            defaultIconClass: 'rp-icon-filter active'
                        }">
                        </rp-toggle>
                    </div>
                </div>
                <rp-grid model="pla.asideGrid" class="business-intelligence-properties-list-aside-grid">
                </rp-grid>
                <rp-grid-pagination model="gridPagination">
                </rp-grid-pagination>
            </div>
        </div>
    </div>
</div>
