<div class="business-intelligence-roles-wrapper" ng-controller="BusinessIntelligenceRolesGridCtrl as biroles">
    <div class="business-intelligence-roles-body" ng-if="!biroles.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="biroles.rolesGrid.filtersModel.state.active" options="{
                    defaultText: 'Filter',
                    activeIconClass: 'rp-icon-filter',
                    defaultIconClass: 'rp-icon-filter active'
                }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="biroles.isActive()" model="biroles.rolesGrid" class="business-intelligence-roles-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="biroles.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="business-intelligence-roles-body-error" ng-if="biroles.isDataError">
        {{::biroles.dataErrorReason}}
    </div>
</div>
