<ng-form ng-controller="ManageUserDetailsCtrl as page" name="page.formState.userDetailsForm" class="ft-form" role="form" novalidate>

    <div class="row">
        <div class="col-md-6">
            <label for="{{:: page.formConfig.userType.id }}" class="form-control-label">
                {{:: page.formConfig.userType.data.label }}
            </label>
            <rp-form-select-menu 
                rp-model="page.userData.userType"
                config="page.formConfig.userType">
            </rp-form-select-menu>
        </div>
        <div class="col-md-6">
            <label for="{{:: page.formConfig.username.id }}" class="form-control-label">
                {{ page.formConfig.username.label }}
            </label>
            <rp-form-input-text
                rp-model="page.userData.username"
                config="page.formConfig.username">
            </rp-form-input-text>
        </div>
    </div>
    <div class="row">
        <!-- DELETEME page.formState.isRolesReady if roles is alraedy available -->
        <div ng-if="page.formState.isRolesReady"
                class="col-md-6" ng-if="page.formConfig.enterpriseRole.isVisible">
            <label for="{{:: page.formConfig.password.id }}" class="form-control-label">
                {{:: page.formConfig.enterpriseRole.label }}
            </label>
            <rp-form-input-text
                rp-model="page.userData.enterpriseRole"
                config="page.formConfig.enterpriseRole">
            </rp-form-input-text>
        </div>

        <div class="col-md-3">
            <label for="{{:: page.formConfig.startDate.id }}" class="form-control-label">
                {{:: page.formConfig.startDate.label }}
            </label>
            <rp-datetimepicker
                rp-model="page.userData.startDate"
                config="page.formConfig.startDate">
            </rp-datetimepicker>
        </div>
        <div class="col-md-3">
            <label for="{{:: page.formConfig.endDate.id }}" class="form-control-label">
                {{:: page.formConfig.endDate.label }}
                <small>({{:: "user_detail_optional" | userDetailsText}})</small>                
            </label>
            <rp-datetimepicker
                rp-model="page.userData.endDate"
                config="page.formConfig.endDate">
            </rp-datetimepicker>
        </div>

        <div class="col-md-6" ng-if="page.formConfig.notificationEmail.isVisible">
            <label for="{{:: page.formConfig.notificationEmail.id }}" class="form-control-label">
                {{:: page.formConfig.notificationEmail.label }}
                <small>({{:: "user_detail_optional" | userDetailsText}})</small>                
            </label>
            <rp-form-input-text
                rp-model="page.userData.notificationEmail"
                config="page.formConfig.notificationEmail">
            </rp-form-input-text>
        </div>

    <!--
    <div class="row" ng-if="page.formConfig.notificationEmail.isVisible">
        <div class="col-md-12">
            <label for="{{:: page.formConfig.notificationEmail.id }}" class="form-control-label">
                {{:: page.formConfig.notificationEmail.label }}
                <small>({{:: "user_detail_optional" | userDetailsText}})</small>                
            </label>
            <rp-form-input-text
                rp-model="page.userData.notificationEmail"
                config="page.formConfig.notificationEmail">
            </rp-form-input-text>
        </div>
    </div>
    -->
    </div>
    <div class="row">
        <div class="ng-hide col-xs-6"
                ng-if="!page.formState.hasAddedPersona && page.formConfig.addPersona.isVisible">
            <button class="add-persona-btn" ng-click="page.addPersona()">
                + {{:: page.formConfig.addPersona.label }}
            </button>                                                   
        </div>

        <!-- TODO convert to rp-switch -->
        <div class="col-xs-6" ng-class="{'offset-xs-6': page.formState.hasAddedPersona}">
            <div class="row enable-user-switch-wrapper">
                <div class="col-lg-11 col-xs-10">
                    <label for="{{::page.formConfig.enableUser.id}}" class="form-control-label enable-user-switch-label" >
                        {{:: page.formConfig.enableUser.label }}
                    </label>
                </div>
                <div class="col-lg-1 col-xs-2">
                    <label class="ui-switch enable-user-switch"
                            ng-class="{'disabled-switch': !page.formState.allowUserSwitch}">
                        <input type="checkbox"
                            id="{{::page.formConfig.enableUser.id}}"
                            ng-model="page.userData.isEnabled"
                            ng-disabled="!page.formState.allowUserSwitch"/>
                        <i></i>                            
                    </label>
                </div>
            </div>
        </div>

    </div>
</ng-form>