<div class="password-popover popover-bottom popover">
  	<div class="popover-arrow"></div>
	<div class="change-password popover-content">
		<div class="change-pwd-rules">
		    <p class="change-pwd-instructions">{{:: "change_pwd_instructions" | userDetailsText}}</p>
		    <ul class="change-pwd-status-indicator">
		        <li ng-repeat="currState in page.formState.password" ng-class="{'checked': currState.value}">
		            {{::currState.label}}
		        </li>
		    </ul>
		</div>
	</div>
</div>