<ng-form ng-controller="ManageUserDetailsCtrl as page" name="page.formState.userDetailsForm" class="ft-form" role="form" novalidate>

    <div class="row">
        <div class="col-md-6">
            <label for="{{:: page.formConfig.firstname.id }}" class="form-control-label">
                {{:: page.formConfig.firstName.label }}
            </label>
            <rp-form-input-text
                rp-model="page.userData.firstName"
                config="page.formConfig.firstName">
            </rp-form-input-text>
        </div>

        <div class="col-md-2">
            <label for="{{:: page.formConfig.middleInitial.id }}" class="form-control-label">
                {{:: page.formConfig.middleInitial.label }}
            </label>
            <rp-form-input-text
                rp-model="page.userData.middleInitial"
                config="page.formConfig.middleInitial">
            </rp-form-input-text>
        </div>

        <div class="col-md-4">
            <label for="{{:: page.formConfig.lastname.id }}" class="form-control-label">
                {{:: page.formConfig.lastName.label }}
            </label>
            <rp-form-input-text
                rp-model="page.userData.lastName"
                config="page.formConfig.lastName">
            </rp-form-input-text>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="{{:: page.formConfig.userType.id }}" class="form-control-label">
                {{:: page.formConfig.userType.data.label }}
            </label>
            <rp-form-select-menu 
                rp-model="page.userData.userType"
                config="page.formConfig.userType">
            </rp-form-select-menu>
        </div>

        <div class="col-md-6">
            <label for="{{:: page.formConfig.username.id }}" class="form-control-label">
                {{ page.formConfig.username.label }}
            </label>
            <rp-form-input-text
                rp-model="page.userData.username"
                config="page.formConfig.username">
            </rp-form-input-text>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" ng-class="{'failed-pswd-validation':!page.passwordValid}">
            <label for="{{:: page.formConfig.password.id }}" class="form-control-label">
                {{:: page.formConfig.password.label }}
            </label>
            <div bs-popover class="pswd-popover"
                    data-auto-close="1"
                    data-placement="bottom" 
                    data-template-url="people/user/user-profile/templates/password-requirements.html">
                <rp-form-input-text
                    rp-model="page.userData.password"
                    config="page.formConfig.password">
                </rp-form-input-text>
            </div>
        </div>

        <div class="col-md-6" ng-class="{'failed-pswd-match': !page.confirmPasswordValid}">
            <label for="{{:: page.formConfig.confirmPassword.id }}" class="form-control-label">
                {{:: page.formConfig.confirmPassword.label }}
            </label>
            <rp-form-input-text
                rp-model="page.userData.confirmPassword"
                config="page.formConfig.confirmPassword">
            </rp-form-input-text>
        </div>
    </div>

    <div class="row" ng-if="page.formConfig.notificationEmail.isVisible">
        <div class="col-md-12">
            <label for="{{:: page.formConfig.notificationEmail.id }}" class="form-control-label">
                {{:: page.formConfig.notificationEmail.label }}
                <small>({{:: "user_detail_optional" | userDetailsText}})</small>                
            </label>
            <rp-form-input-text
                rp-model="page.userData.notificationEmail"
                config="page.formConfig.notificationEmail">
            </rp-form-input-text>
        </div>
    </div>

    <div class="row">
        <!-- TODO delete page.formState.isRolesReady if roles is already available -->
        <div ng-if="page.formState.isRolesReady" 
            class="col-md-6" ng-if="page.formConfig.enterpriseRole.isVisible">
            <label for="{{:: page.formConfig.password.id }}" class="form-control-label">
                {{:: page.formConfig.enterpriseRole.label }}
            </label>
            <rp-form-input-text
                rp-model="page.userData.enterpriseRole"
                config="page.formConfig.enterpriseRole">
            </rp-form-input-text>
        </div>

        <div class="col-md-3">
            <label for="{{:: page.formConfig.startDate.id }}" class="form-control-label">
                {{:: page.formConfig.startDate.label }}
            </label>
            <rp-datetimepicker
                rp-model="page.userData.startDate"
                config="page.formConfig.startDate">
            </rp-datetimepicker>
        </div>

        <div class="col-md-3">
            <label for="{{:: page.formConfig.endDate.id }}" class="form-control-label">
                {{:: page.formConfig.endDate.label }}
                <small>({{:: "user_detail_optional" | userDetailsText}})</small>
            </label>
            <rp-datetimepicker
                rp-model="page.userData.endDate"
                config="page.formConfig.endDate">
            </rp-datetimepicker>
        </div>        

        <!-- TODO display isRolesReady
        <div class="col-md-6"
                ng-if="!page.formState.hasAddedPersona && page.formConfig.addPersona.isVisible && page.formState.showProductsLinking">
            <button class="add-persona-btn" ng-click="page.addPersona()">
                + {{:: page.formConfig.addPersona.label }}
            </button>                                                   
        </div>

        <div class="col-md-6">
            <div class="row enable-user-switch-wrapper">
                <div class="col-lg-11 col-xs-10">
                    <label for="{{::page.formConfig.enableUser.id}}" class="form-control-label enable-user-switch-label" >
                        {{:: page.formConfig.enableUser.label }}
                    </label>
                </div>
                <div class="col-lg-1 col-xs-2">
                    <label class="ui-switch enable-user-switch"
                            ng-class="{'disabled-switch': !page.formState.allowUserSwitch}">
                        <input type="checkbox"
                            id="{{::page.formConfig.enableUser.id}}"
                            ng-model="page.userData.isEnabled"
                            ng-disabled="!page.formState.allowUserSwitch"/>
                        <i></i>                            
                    </label>
                </div>
            </div>
        </div>
        -->
    </div>
    <div class="row">
        <div class="ng-hide col-xs-6"
                ng-if="!page.formState.hasAddedPersona && page.formConfig.addPersona.isVisible && page.formState.showProductsLinking">
            <button class="add-persona-btn" ng-click="page.addPersona()">
                + {{:: page.formConfig.addPersona.label }}
            </button>                                                   
        </div>

        <div class="col-xs-6"
                ng-class="{'offset-xs-6': !(!page.formState.hasAddedPersona && page.formConfig.addPersona.isVisible && page.formState.showProductsLinking)}">

            <!-- TODO convert to rp-switch -->
            <div class="row enable-user-switch-wrapper">
                <div class="col-lg-11 col-xs-10">
                    <label for="{{::page.formConfig.enableUser.id}}" class="form-control-label enable-user-switch-label" >
                        {{:: page.formConfig.enableUser.label }}
                    </label>
                </div>
                <div class="col-lg-1 col-xs-2">
                    <label class="ui-switch enable-user-switch"
                            ng-class="{'disabled-switch': !page.formState.allowUserSwitch}">
                        <input type="checkbox"
                            id="{{::page.formConfig.enableUser.id}}"
                            ng-model="page.userData.isEnabled"
                            ng-disabled="!page.formState.allowUserSwitch"/>
                        <i></i>                            
                    </label>
                </div>
            </div>
        </div>

    </div>

</ng-form>