<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cannot delete custom role</h5>
            </div>
            <div class="modal-body p-lg">
                <p>The role cannot be deleted because there are active users assigned to it. Please remove the role from the active users before deleting.</p>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns">
                    <button type="button" class="rp-modal-footer-btn rp-btn primary" ng-click="ctrl.hideWarningModal()">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
