// Assign Products

.assign-product {
    &s {
        background: $rp-neutral-06;
        border: solid 1px $rp-neutral-04;
        border-bottom: none;

        &-title-1 {
            @include header-3;
            margin: 0;
            padding: 15px;
            border-bottom: solid 1px $rp-neutral-04;
        }
    }

    &-family {
        position: relative;
        border-bottom: solid 1px $rp-neutral-04;

        %icon-styles {
            @include header-3;
            width: 40px;
            height: 50px;
            float: right;
            display: block;
            font-weight: bold;
            line-height: 50px;
            text-align: center;
        }

        &-title {
            @include subheader-1;
            margin: 0;
            background: #fff;
            line-height: 50px;
            padding: 0 0 0 40px;

            .assign-products-wrap &:before {
                @extend %icon-styles;
            }

            .assign-products-wrap &.collapsed:before {
                @extend %icon-styles;
            }
        }

        .rp-select-all {
            top: 4px;
            left: 15px;
            position: absolute;
        }
    }

    &-solution {
        cursor: pointer;
        position: relative;
        padding: 10px 0 10px 40px;

        &:nth-child(3) {
            border-top: solid 1px $rp-neutral-04;
        }

        &.selected {
            background: rgba($rp-neutral-05, 0.5);
        }

        &-title {
            @include subheader-2;
            margin: 0;
            padding-left: 30px;

            &:before {

            }
        }

        &-products {
            @include body-2($rp-neutral-02);
            margin: 0;
            padding-left: 30px;
        }

        .rp-form-input-checkbox {
            top: 9px;
            left: 40px;
            position: absolute;
        }
    }
}
