<div ng-controller="DepositAltProductAccessCtrl as uapa" ng-show="uapa.isActive()" detect-product-change="{onChange: uapa.setChanged}">
    <h3 class="assign-product-access-title">
        {{uapa.panelName}}
    </h3>
     <div ng-show="uapa.productDisabled" class="deposit-alternative-error-msg">
        This product cannot be assigned when User Type is Regular user (no email).
    </div>
    <div ng-show="!uapa.productDisabled">
        <rp-scrolling-tabs-menu 
    		model="uapa.tabsMenu">
        </rp-scrolling-tabs-menu>
        <ng-include 
        	src="tab.incUrl" 
        	ng-show="tab.isActive" 
        	ng-repeat="tab in uapa.tabsList">
        </ng-include>
    </div>
 </div>
