<div class="deposit-alternative-properties-wrapper" ng-controller="DepositAltRegionsGridCtrl as regions">
    <div class="deposit-alternative-properties-body-wrapper" ng-if="!regions.isDataError">
        <div class="deposit-alternative-properties-body">
            <div class="deposit-alternative-properties">
                <div class="grid-controls">
                    <div class="grid-control-item">
                        <rp-toggle model="regions.grid.filtersModel.state.active" options="{
                            defaultText: 'Filter',
                            activeIconClass: 'rp-icon-filter',
                            defaultIconClass: 'rp-icon-filter active'
                        }">
                        </rp-toggle>
                    </div>
                </div>
                <rp-grid ng-if="uapa.isActive()" model="regions.grid" class="deposit-alternative-properties-grid">
                </rp-grid>
                <rp-grid-pagination ng-if="uapa.isActive()" model="gridPagination">
                </rp-grid-pagination>
            </div>
        </div>
    </div>
    <div class="deposit-alternative-properties-body-error" ng-if="regions.isDataError">
        {{::prop.dataErrorReason}}
    </div>
</div>
