<div class="deposit-alternative-roles-wrapper" ng-controller="DepositAltRolesGridCtrl as role">
    <div class="deposit-alternative-roles-body-wrapper" ng-if="!role.isDataError">
        <div class="deposit-alternative-all-props-message" ng-if="role.allProperties">
            Users with this role will get access to all active properties in the PMC.
        </div>
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="role.grid.filtersModel.state.active" options="{
                    defaultText: 'Filter',
                    activeIconClass: 'rp-icon-filter',
                    defaultIconClass: 'rp-icon-filter active'
                }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="uapa.isActive()" model="role.grid" class="deposit-alternative-roles-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="uapa.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="deposit-alternative-roles-body-error" ng-if="role.isDataError">
        {{::role.dataErrorReason}}
    </div>
</div>
