<!-- ADD USER -->

<div class="add-user">

    <div class="panel-group" role="tablist" aria-multiselectable="true" bs-collapse
    		ng-model="page.userDetailsPanelState">

        <div class="box panel panel-default" ng-class="{ 'active': page.userDetailsPanelState === 0 }">
            <div class="box-header panel-heading" role="tab">
                <h4 class="panel-title">
                    <a bs-collapse-toggle>
                        {{:: "user_details" | addUserText }}

                        <div class="pull-right">
                            <i class="panel-toggle-icon"></i>
                        </div>
                    </a>
                </h4>
            </div>

        <div class="box-body panel-collapse add-user-details user-details" role="tabpanel" bs-collapse-target>
            <div class="panel-body" ng-include src="'people/user/user-profile/templates/user-details-panel.html'"></div>
        </div>
    </div>
</div>
<rp-persona ng-repeat="currPersona in page.personas" model="currPersona"
    ng-if="true" class=""
    display-details="page.formState.hasAddedPersona"></rp-persona>

    <!--
    <div ng-show="page.formState.hasAddedPersona"
        ng-include src="'people/user/persona-navigation/templates/persona-navigation.html'"></div>
    -->

    <div class="actions row">
        <div class="col-md-4 btn-wrapper">
            <button type="button"
                class="rp-btn primary w-full"
                ng-click="page.createUser()"
                ng-disabled="page.formState.isLoading">
                    {{:: "create_user" | addUserText }}
            </button>
        </div>

        <div class="col-md-2 btn-wrapper cancel">
            <button type="button"
               class="rp-btn outline primary w-full"
               ng-click="page.cancel()">
                {{:: "cancel" | addUserText }}
            </button>
        </div>
    </div>

</div>
