<form name="cloneRightsTabForm" rp-focus-invalid-field>
    <div ng-controller="OnesiteCloneRightsCtrl as rhts" class="roles-details assign-roles-rights-aside">
        <div class="row">
            <div class="col-md-12">
                <div class="grid-controls">
                    <div class="grid-control-item">
                        <rp-toggle model="rhts.model.grid.filtersModel.state.active" options="{
                            defaultText: 'Filter',
                            activeIconClass: 'rp-icon-filter',
                            defaultIconClass: 'rp-icon-filter active'
                        }">
                        </rp-toggle>
                    </div>
                </div>
                <div>
                    <div ng-if="rhts.isError" class="rights-error-msg"> Please select a right</div>
                    <rp-grid model="rhts.model.grid">
                    </rp-grid>
                    <rp-grid-pagination model="rhts.model.gridPagination">
                    </rp-grid-pagination>
                </div>
            </div>
        </div>
    </div>
</form>