<div ng-controller="AddProductsCtrl as page">

    <div ng-if="!page.isLoading && page.personaProducts.hasFamilies()" class="assign-products-wrapper">
        <form novalidate name="searchForm" class="ft-form" role="form">

            <!-- Assign Products Actions -->
            <div class="row product-search m-b-xs">
                <div class="form-group col-md-5 col-xs-8">
                    <label for="{{::page.productFormConfig.searchText}}" class="form-control-label">
                        {{:: "search_by_name" | manageUserProductsText }}
                    </label>
                    <rp-form-input-text
                        rp-model="page.productFormData.searchObj.model.name"
                        config="page.productFormConfig.searchText">
                    </rp-form-input-text>
                </div>

                <div class="form-group col-md-7 col-xs-4">
                    <label id="select-all-prod-solutions" class="md-check" for="{{::page.productFormConfig.selectAll.id}}">
                        <input type="checkbox"
                            id="{{::page.productFormConfig.selectAll.id}}"
                            name="{{::page.productFormConfig.selectAll.fieldName}}"
                            ng-model="page.productFormData.selectAll"
                            ng-click="page.selectAllProducts()" />
                        <i class="primary"></i>
                        {{:: "select_all" | manageUserProductsText }}
                    </label>
                </div>
            </div>
        </form>

        <form novalidate name="addProductsForm" class="ft-form" role="form">
            <!-- Products -->
            <div class="row product-families">
                <!-- TODO revise searching of objects, should search families, products -->
                <div class="product-family" ng-repeat="currFamily in page.personaProducts.data.families track by currFamily.data.id">
                    <div ng-class="{ 'active': currFamily.state.isActive }" class="box">
                        <div class="box-header">
                            <a class="box-title" ng-click="currFamily.togglePanelState()">
                                {{currFamily.data.name}}
                            </a>

                            <div class="product-family-actions">
                                <button class="select-all-toggle rp-btn small"
                                    ng-click="page.selectAllItemsInFamily(currFamily)">
                                     <i class="select-all-state m-r-sm" ng-class="{ 'selected': currFamily.state.isSelectAll }"></i>
                                    {{:: "select_all" | manageUserProductsText }}
                                </button>

                                <button class="panel-toggle rp-btn small"
                                    ng-click="currFamily.togglePanelState()">
                                        <i class="panel-toggle-icon"></i>
                                </button>
                            </div>
                        </div>

                        <div class="box-body panel-collapse">
                            <div class="panel-body">
                                <ul class="product-solutions">
                                    <li ng-repeat="currProduct in currFamily.data.productItems track by currProduct.data.id">
                                        <label class="md-check">
                                            <input type="checkbox"
                                                ng-model="currProduct.state.isSelected"
                                                ng-click="page.selectProduct(currProduct, currFamily)" />
                                            <i class="primary"></i>
                                            <div class="product-solution">
                                                {{currProduct.data.name}}
                                            </div>
                                            <div class="product-list">
                                                {{currProduct.data.subsolution}}
                                            </div>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="assign-products-status-msg" ng-if="!page.isLoading && !page.personaProducts.hasFamilies()">
        {{:: "no_products" | manageUserProductsText }}
    </div>
    <div class="assign-products-status-msg" ng-if="page.isLoading">
        {{:: "loading_products" | manageUserProductsText }}
    </div>

</div>
