<div ng-controller="ProductAccessCtrl as page">
    <div class="product-access-wrapper" ng-if="page.personaProducts.hasSelectedProducts()">
        <div rp-accordion="products">
            <div
                ng-repeat="currProduct in page.personaProducts.data.productList track by currProduct.data.id"
                ng-if="currProduct.isSelected()">
                <ng-include
                    ng-if="currProduct.data.name === 'OneSite'"
                    src="'people/user/persona/add-products/onesite/templates/index.html'">
                </ng-include>
                <ng-include
                    ng-if="currProduct.data.name === 'RealPage Accounting'"
                    src="'people/user/persona/add-products/accounting/templates/index.html'">
                </ng-include>
                <ng-include
                    ng-if="currProduct.data.name === 'Marketing Center'"
                    src="'people/user/persona/add-products/marketing-center/templates/index.html'">
                </ng-include>
                <ng-include
                    ng-if="currProduct.data.name === 'Spend Management'"
                    src="'people/user/persona/add-products/spend-management/templates/index.html'">
                </ng-include>
                <ng-include
                    ng-if="currProduct.data.name === 'Vendor Services'"
                    src="'people/user/persona/add-products/vendor-compliance/templates/index.html'">
                </ng-include>
             </div>
<!--         <rp-product-item-user-access
             ng-repeat="currProduct in page.personaProducts.data.productList track by currProduct.data.id"
             ng-if="currProduct.isSelected()"
             product-item="currProduct">
        </rp-product-item-user-access> -->
        </div>
    </div>
    <div class="product-access-status-msg" ng-if="!page.personaProducts.hasProducts()">
        {{:: "product_access_no_products" | manageUserProductAccessText }}
    </div>
    <div class="product-access-status-msg" ng-if="page.personaProducts.hasProducts() && !page.personaProducts.hasSelectedProducts()">
        {{:: "product_access_select_one" | manageUserProductAccessText }}
    </div>
</div>
