<div class="product-item">
    <div class="box" ng-class="{ 'active': $ctrl.state.isPanelActive }">

        <div class="box-header">
            <span class="box-title">
                <a ng-click="$ctrl.togglePanelState()">
                    {{:: $ctrl.product.getName() }}
                </a>
            </span>

            <div class="product-item-actions">
                <button class="panel-toggle btn small"
                        ng-click="$ctrl.togglePanelState()">
                    <i class="panel-toggle-icon"></i>
                </button>
            </div>
        </div>

        <div class="product-item-body box-body panel-collapse">
            <div class="row panel-body" ng-if="$ctrl.state.isPanelActive">

                <!--TODO -->
                <div class="col-xs-3 account-navigation">                    
                    <div class="box-body">
                      <ul>
                        <li class="list-item active">
                          <div class="list-body">
                            <a class="_500" href>Production</a>
                          </div>
                        </li>
                        <li class="list-item">
                          <div class="list-body">
                            <a class="_500" href>UAT</a>
                          </div>
                        </li>
                      </ul>
                    </div>
                </div>

                <div class="col-xs-9 account-details">
                    <rp-scrolling-tabs-menu model="$ctrl.config.scrollTabsMenu">
                    </rp-scrolling-tabs-menu>
                    
                    <rp-product-item-properties-access
                        ng-show="$ctrl.state.activeTab == 'properties-tab'">
                    </rp-product-item-properties-access>
                    <rp-product-item-roles-access
                        ng-show="$ctrl.state.activeTab == 'roles-tab'">
                    </rp-product-item-roles-access>
                </div>
            </div>
        </div>

    </div>    
</div>