CREATE PROCEDURE [Ident].[GetCurrentUserStatus] (
	@RealPageId uniqueidentifier , 
	@OrganizationPartyId int
)
AS
BEGIN
DECLARE @UserId BIGINT
		--Get record of the user (GetUserStatus, given that we dont have one already)
		SELECT @UserId = iul.UserId
            FROM    Enterprise.Party ep
                        INNER JOIN Ident.UserLogin iul ON (ep.PartyId = iul.PersonPartyId)
            WHERE    ep.RealPageId = @RealPageId
		SELECT	UL.UserId,
						ULP.StatusTypeId,
						UL.LastLoginDate,
						ULP.UserLoginPersonaId,
						ULP.PrimaryOrganization
		FROM		Ident.UserLogin UL
						INNER JOIN Ident.UserLoginPersona ULP ON ULP.UserLoginId = UL.UserId
						INNER JOIN  Enterprise.Party P ON P.PartyId = UL.PersonPartyId
		WHERE	
			P.RealPageId = @RealPageId
			AND 
			ULP.OrganizationPartyId = @OrganizationPartyId
END