<div class="persona-nav" ng-controller="PersonaNavigationCtrl as page">

	<!-- <button class="btn rounded primary pull-right"
		ng-if="!page.isReadOnly"
	    ng-click="page.addNewPersona()"> + </button>
 -->
	<!-- <rp-scrolling-tabs-menu model="page.personaScrollConfig"></rp-scrolling-tabs-menu> -->

	<rp-persona ng-repeat="currPersona in page.personas" model="currPersona" 
	    ng-if="true"
	    is-read-only="page.isReadOnly"
	    display-details="page.formState.hasAddedPersona">
	</rp-persona>	
</div>