raul-toast {
  display: block;
}

raul-toast .r-toast {
  background-color: #ffffff;
  width: 22.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  box-shadow: 0 8px 16px 0 rgba(82, 97, 115, 0.18);
  position: relative;
  overflow: hidden;
  opacity: 1;
  -webkit-animation: slideIn 1s;
  animation: slideIn 1s;
}

raul-toast .r-toast__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  position: relative;
}

raul-toast .r-toast__header--read {
  padding-left: 1rem;
}

raul-toast .r-toast__origin, raul-toast .r-toast__timestamp {
  font-size: 0.75rem;
}

raul-toast .r-toast__timestamp {
  color: #9BA3A7;
  transition: opacity 0.35s linear;
}

raul-toast .r-toast__timestamp::first-letter {
  text-transform: capitalize;
}

raul-toast .r-toast__body {
  display: flex;
  margin-top: 0.25rem;
}

raul-toast .r-toast__avatar {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

raul-toast .r-toast__avatar img {
  width: 100%;
  height: auto;
}

raul-toast .r-toast__dismiss {
  color: #C6CCD0;
  font-size: 1.375rem;
  line-height: 1;
  display: block;
  position: absolute;
  right: 0;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.35s linear;
}

raul-toast .r-toast__content {
  flex: 1 1 0%;
  min-width: 0;
}

raul-toast .r-toast__title {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 0.5rem;
  margin-bottom: 0;
}

raul-toast .r-toast__priority {
  font-size: 0.75rem;
  display: inline-block;
  margin-top: 0.25rem;
  font-weight: 500;
  padding: 3px 6px;
  color: #D01A1F;
  background-color: #FAE8E9;
}

raul-toast .r-toast__meta {
  font-size: 0.75rem;
  color: #9BA3A7;
  font-style: italic;
}

raul-toast .r-toast__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

raul-toast .r-toast__action {
  color: #0076CC;
  text-align: right;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0.25rem;
  margin-left: 0.75rem;
}

raul-toast .r-toast__action:hover {
  text-decoration: underline;
}

raul-toast .r-toast__status-wrapper {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-right: 0.5rem;
}

raul-toast .r-toast__status {
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

raul-toast .r-toast__status--unread {
  background: #f65216;
}

raul-toast .r-toast--has-avatar .r-toast__header {
  margin-left: 4rem;
}

raul-toast .r-toast--hidden {
  -webkit-animation: slideOut 1s;
  animation: slideOut 1s;
}

@media (max-width: 640px) {
  raul-toast .r-toast {
    width: 100%;
  }
}

raul-toast .r-toast:hover .r-toast__timestamp {
  opacity: 0;
}

raul-toast .r-toast:hover .r-toast__dismiss {
  opacity: 1;
}

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(100%, -10px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(100%, -10px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@-webkit-keyframes slideOut {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }

  to {
    opacity: 0;
    transform: translate(100%, -10px);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }

  to {
    opacity: 0;
    transform: translate(100%, -10px);
  }
}