<div ng-show="ilmlapa.isActive()" detect-product-change="{onChange: ilmlapa.setChanged}" ng-controller="ILMLeadAnalyticsProductAccessCtrl as ilmlapa">
    <h3 class="assign-product-access-title">
        {{ilmlapa.panelName}}
    </h3>
    <div ng-show="ilmlapa.productDisabled" class="ilm-lead-analytics-error-msg">
        This product cannot be assigned when User Type is Regular user (no email).
    </div>
    <div ng-show="!ilmlapa.productDisabled">
        <rp-scrolling-tabs-menu model="ilmlapa.tabsMenu">
        </rp-scrolling-tabs-menu>
        <ng-include ng-repeat="tab in ilmlapa.tabsList" src="tab.incUrl" ng-show="tab.isActive">
        </ng-include>
    </div>
</div>
