<div class="properties-wrapper" ng-controller="ILMLeadAnalyticsPropertiesGridCtrl as ilmla">
    <div class="properties-body" ng-if="!ilmla.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="ilmla.propertiesGrid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="ilmlapa.isActive()" model="ilmla.propertiesGrid" class="ilm-leasing-properties-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="ilmlapa.isActive()" model="propertiesGridPagination">
        </rp-grid-pagination>
    </div>
    <div class="properties-body-error" ng-if="ilmla.isDataError">
        <p>{{::ilmla.dataErrorReason}}</p>
    </div>
</div>
