<div class="property-group-wrapper" ng-controller="ILMLeadAnalyticsPropertyGroupGridCtrl as ilmlapg">
    <div class="properties-group-body" ng-if="!ilmlapg.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="ilmlapg.grid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="ilmlapg.isActive()" model="ilmlapg.grid" class="ilm-leasing-property-group-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="ilmlapg.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="property-group-body-error" ng-if="ilmlmp.isDataError">
        <p>{{::ilmlapg.dataErrorReason}}</p>
    </div>
</div>
