<div ng-controller="ManageProfileCtrl as manageProfile"
    class="rp-aside-modal rp-aside-modal-right manage-profile-modal">
    <div class="rp-aside-modal-header">
        <span class="rp-aside-modal-close"
             ng-click="manageProfile.cancel()">
        </span>
        <h2 class="rp-aside-modal-header-title">
            {{'modalTitle' | manageProfileText}}
        </h2>
        <h3 class="rp-aside-modal-header-subtitle">
            {{manageProfile.username}}
        </h3>
    </div>

    <div class="rp-aside-modal-content">
        <rp-scrolling-tabs-menu
            model="manageProfile.tabsMenu">
        </rp-scrolling-tabs-menu>

        <ng-include
            src="tab.incUrl"
            ng-show="tab.isActive"
            ng-repeat="tab in manageProfile.tabsList">
        </ng-include>
    </div>

    <div class="rp-aside-modal-footer rp-aside-modal-footer-btns">
        <button ng-click="manageProfile.cancel()"
            class="rp-btn rp-aside-modal-footer-btn outline primary">
            {{'cancelBtn' | manageProfileText}}
        </button>
        <button ng-click="manageProfile.update()"
            class="rp-btn rp-aside-modal-footer-btn primary">
            {{'updateBtn' | manageProfileText}}
        </button>
    </div>
</div>
