<div class="rp-modal-wrap" ng-controller="AddUserSuccessModalCtrl as success">
    <div class="rp-modal" ng-click="success.dismissModal()">
        <div class="rp-modal-dialog add-user-success-modal">
            <div class="rp-modal-header">
                <span class="rp-modal-close"></span>
                <h2 class="rp-modal-header-title">Success</h2>
            </div>
            <div class="rp-modal-content">
                <p>User was created successfully.</p>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns add-user-success-modal-footer-btns">
                    <button class="rp-modal-footer-btn rp-btn primary add-user-success-modal-footer-btn">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
