<div class="roles-wrapper" ng-controller="SMRolesGridCtrl as smr">
    <div class="roles-wrapper-body" ng-if="!smr.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="smr.rolesGrid.filtersModel.state.active" options="{
                    defaultText: 'Filter',
                    activeIconClass: 'rp-icon-filter',
                    defaultIconClass: 'rp-icon-filter active'
                }">
                </rp-toggle>
            </div>
        </div>

    	<rp-grid ng-if="smpa.isActive()"
            model="smr.rolesGrid" class="spend-management-roles-grid">
    	</rp-grid>

    	<rp-grid-pagination ng-if="smpa.isActive()" model="gridPagination">
    	</rp-grid-pagination>
    </div>
    <div class="roles-body-error" ng-if="smr.isDataError">
        {{::smr.dataErrorReason}}
    </div>
</div>
