.accounting-companies-grid {
	.is-assigned {
        min-width: 125px;
        max-width: 125px;
        white-space: nowrap;
	}
    .id {
        width: 25%
    }
	.name {
		width: 74%;
	}
	.state {
		width: 10%;
	}
}

.accounting-companies-wrapper {
    .all-properties {
        text-align: right;
        margin-bottom: 20px;

        .rp-switch {
            text-align: left;
        }
    }
    &-error {
        margin-top: 20px;
    }
}
