.accounting-entity-group-aside {
	width: 560px;
}

.accounting-entity-groups-aside-grid {
	.name {
		width: 80%
	}
	.id {
		width: 0%
	}
	.state {
		width: 20%
	}
}

.accounting {
	
	.opt{
		line-height : 40px;
	}
	
	.all-properties {
		text-align: right;
		margin-bottom: 20px;
	}

	.ui-switch {
		text-align: left;
	}

	.roles-wrapper,
	.entities-wrapper {
		margin-top: 10px;
	}
}
