.accounting-entities-grid {
	.is-assigned {
        min-width: 125px;
        max-width: 125px;
        white-space: nowrap;
	}
    .property-id {
        width: 25%
    }
	.property-name  {
		width: 25%;
	}
	.company-id  {
		width: 24%;
	}
    .company-name   {
        width: 24%;
    }
}

.accounting-entities-wrapper {
    .all-properties {
        text-align: right;
        margin-bottom: 20px;

        .rp-switch {
            text-align: left;
        }
    }
    &-error {
        margin-top: 20px;
    }
}
