.accounting-roles-grid {
	.is-assigned {
        min-width: 125px;
        max-width: 125px;
        white-space: nowrap;
	}
	.name {
		width: 90%;
	}
}

.roles-wrapper-error {
    margin-top: 20px;
}
