.utility-management-roles-grid {
    .is-assigned {
        min-width: 125px;
        max-width: 125px;
        white-space: nowrap;
    }
    .role-name {
        width: 30%;
    }
    .role-description {
        width: 65%;
    }
}

.roles-wrapper {
    .roles-body-error {
        margin-top: 20px;
    }
}
