.marketing-center-property-groups-grid {

	.is-assigned {
		width: 5%;
	}
	.name {
		width: 90%;
	}
	.info-tooltip {
		width: 5%;
	}
}

.marketing-center-info-tooltip-icon {
	color: $rp-primary;
	cursor: pointer;
}