.security-questions {
	margin: 35px auto 20px;
	max-width: 460px;

	&-instructions {
		@include grid-row();
		color: $rp-neutral-02;
		font-weight: bold;
		text-align: center;
	}

	&-form {
		@include grid-row();

		.rp-form-error-msgs {
			list-style-type: none;
			padding-left: 0;
		}
	}

	&-actions {
		@include clearfix();
		float: left;
		margin-top: 45px;
		width: 100%;

		button {
			width: 100%;
		}

		.error-msg {
			color: $rp-danger;
			margin-bottom: 15px;
		}
	}

	.form {
		&-group {
			margin-bottom: 0;
		}
	}
}