.client-portal-properties-body {
    padding-left: 0px;
    padding-right: 0px;
}

.client-portal-properties-error {
    margin-top: 20px;
}

.client-portal-properties {
    width: 100%;

    &-grid {
        .is-assigned {
            min-width: 125px;
            max-width: 125px;
            white-space: nowrap;
        }

        .name {
            width: 90%;
        }

        .state {
            min-width: 105px;
            max-width: 105px;
            white-space: nowrap;
        }
    }
}

.single-prop-access-type-option {
    margin-left: 20px;
}

.access-type-option {
    margin-left: 20px;
}


.client-portal-all-properties,
.client-portal-no-access {
    margin-top: 10px;
    margin-bottom: 10px;
}
