.client-portal-roles-body {
    padding-left: 0px;
    padding-right: 0px;
}

.client-portal-roles-error {
    margin-top: 20px;
}

.client-portal-roles {
    width: 100%;

    &-grid {
        .is-assigned {
            min-width: 125px;
            max-width: 125px;
            white-space: nowrap;
        }

        .name {
            width: 90%;
        }

         .roletype {
            min-width: 200px;
            max-width: 200px;
        }

        .info-icon {
            min-width: 50px;
            max-width: 50px;
        }


    }
}
