<div class="pa-roles-wrapper" ng-controller="PerformanceAnalyticsCompaniesCtrl as pacs">
    <div class="pa-roles-body" ng-if="!pacs.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="pacs.grid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="pacs.isActive()" model="pacs.grid" class="pa-roles-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="pacs.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="pa-roles-body-error" ng-if="pacs.isDataError">
        {{::pacs.dataErrorReason}}
    </div>
</div>