<div class="pa-properties-list-wrapper" ng-controller="PACompanyPropertiesCtrl as papropctrl">
    <div class="pa-property-list-body" ng-if="!papropctrl.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="papropctrl.grid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="papropctrl.isActive()" model="papropctrl.grid" class="pa-properties-list-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="papropctrl.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="properties-list-body-error" ng-if="papropctrl.isDataError">
        {{::papropctrl.dataErrorReason}}
    </div>
</div>