<div class="pa-property-group-wrapper" ng-controller="PAPropertyGroupsCtrl as papgctrl">
    <div class="pa-property-group-body" ng-if="!papgctrl.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="papgctrl.grid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="papgctrl.isActive()" model="papgctrl.grid" class="pa-property-group-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="papgctrl.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="pa-property-group-body-error" ng-if="papgctrl.isDataError">
        {{::papgctrl.dataErrorReason}}
    </div>
</div>