.user-profile {
	&-wrapper {
		@include grid-row;
	}

	@include grid-col(12);

	@media #{$mdSc} {
        @include grid-col(8);
    }

    .box {
    	overflow: hidden;
    	padding: 25px 10px;
    }

    &-main {
    	@include grid-col(12);
    	border-right: none;
    	color: $rp-neutral-02;

		@media #{$lgSc} {
            @include grid-col(5);
            border-right: 1px solid $rp-border-neutral;
        }

        &-image {
        	float: left;

		    img {
		    	border-radius: 500px;
			    width: 90px;
			    height: 90px;
		    }
        }

        &-name {
        	@include header-2;
        	margin-bottom: 6px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &-information {
        	float: left;
        	margin-left: 20px;
            width: 70%;

            .m-b-0 {
                text-overflow: ellipsis;
                overflow: hidden;       
            }
        }

        &-link {
            cursor: pointer;
        }
    }

	&-summary {
		@include grid-col(12);
		color: $rp-neutral-02;
		margin-top: 25px;
		padding-left: 15px;

		@media #{$lgSc} {
            @include grid-col(7);
            margin-top: 0;
            padding-left: 45px;
        }
	}
}



.user-summary {

    &-counts {
        @include grid-row;
    }

    &-count-item {
        @include grid-col(4);

        &-number {
            color: $rp-primary;
            font-size: 30px;
            line-height: 1;
        }
    }
    
    &-achievements {
        .circle {
            background-color: $rp-neutral-06;
            border-radius: 50%;
            float: left;
            line-height: 40px;
            margin-left: 20px;
            text-align: center;
            width: 40px;
            height: 40px;

            &:first-child {
                margin-left: 0;
            }

            &.outline {
                background-color: transparent;
                border: 1px solid $rp-neutral-06;
                color: $rp-neutral-06;
            }
        }

        .soon {
            background-color: $grey-50;
            width: 400px;
            border-radius: 10px;
            text-align: center;
            line-height: 40px;
            color: #bfbfbf;
        }

        &-title {
            color: $rp-neutral;
            font-weight: bold;
        }

        &-badges {
            margin-top: 10px;
        }

    }
}