CREATE PROCEDURE [Security].[CreateRole]
(@RoleName       NVARCHAR(250),
 @ShortName      NVARCHAR(250)  = NULL,
 @Description    NVARCHAR(200),
 @RoleTypeID     INT,
 @RoleCategoryId INT,
 @PartyID        INT,
 @CreatedBy      INT NULL,
 @RoleID         INT OUTPUT
)
AS
;
BEGIN
	DECLARE @RoleValueTypeId int;
	DECLARE @ErrorLogID int;
	DECLARE @DefaultRightValueTypeId1 int;
	DECLARE @DefaultRightValueTypeId2 int;
	DECLARE @RightId int;
	DECLARE @ProductId int;	
	DECLARE @Status int;
	DECLARE @roleType int;
	DECLARE @SaveEnterpriseRoleData varchar(10);
	DECLARE @EnterpriseRoleID INT;

	IF @RoleName IN ('SystemRole', 'SystemRight')
	BEGIN
		SELECT 0 AS RoleID, 'Role with this name cannot be created.' as ErrorMessage;
		RETURN;
	END
	IF NOT EXISTS
	(
		SELECT 1
		FROM [Security].[Role]
		WHERE RoleName = @RoleName
	)
	BEGIN
		BEGIN TRY
			Declare @OutPutTbl Table (RoleID INT);

			Select @SaveEnterpriseRoleData = PS.Value from Enterprise.ProductSetting PS
			Join Enterprise.ProductSettingType PST ON
				PS.ProductSettingTypeId = PST.ProductSettingTypeId
			where PS.ProductId = 3
			And PST.Name = 'SaveRoleDataInEnterprise'

			Select @roleType = RoleTypeId From Security.RoleType Where value = 'Custom'
			Select @ProductId = ProductId From Enterprise.Product where Name = 'Unified Platform'			

			INSERT INTO [Security].[Role]( RoleName, ShortName, Description, OrgPartyID,RoleTypeId, ProductId,CreatedBy,CreatedDate)
			OUTPUT INSERTED.RoleId INTO @OutPutTbl (RoleID)
			VALUES( @RoleName, @ShortName, @Description, @PartyID,@roleType, @ProductId,@CreatedBy,GETDATE() );
			
			SELECT @RoleID = RoleID FROM @OutPutTbl
			SELECT @RoleID AS RoleID, '' AS ErrorMessage

			IF (@SaveEnterpriseRoleData = 'True')
			BEGIN
				EXEC [Enterprise].[CreateRole] @RoleName, @ShortName, @Description, @RoleTypeID, @RoleCategoryId, @PartyID, @EnterpriseRoleID OUTPUT
			END

		END TRY
		BEGIN CATCH
			EXEC dbo.LogError @ErrorLogID = @ErrorLogID OUTPUT;
			SELECT 0 AS RoleID, ErrorMessage
			FROM dbo.ErrorLog
			WHERE ErrorLogID = @ErrorLogID;
		END CATCH;
	END;
	ELSE
	BEGIN
		SELECT RoleId AS RoleID, '' AS ErrorMessage
		FROM [Security].[Role]
		WHERE RoleName = @RoleName
	END;
END;