CREATE PROCEDURE [Security].[DeleteRole](@RoleId INT)
AS
     BEGIN
         DECLARE @ErrorLogID INT;
		 DECLARE @SaveEnterpriseRoleData varchar(10);

		 Select @SaveEnterpriseRoleData = PS.Value from Enterprise.ProductSetting PS
			Join Enterprise.ProductSettingType PST ON
				PS.ProductSettingTypeId = PST.ProductSettingTypeId
			where PS.ProductId = 3
			And PST.Name = 'SaveRoleDataInEnterprise'

    --validate if role is assinged to user.
         IF EXISTS
         (
             SELECT 1
             FROM Security.PersonaRole
             WHERE RoleId = @RoleId
         )
             BEGIN
                 SELECT @RoleId AS RoleId,
                        'Role cannot be deleted because it is currently assigned to users.' AS ErrorMessage;
                 RETURN;
         END;

		 IF EXISTS
         (
             SELECT 1
             FROM [Security].Role R
			 JOIN Security.OrganizationDefaultRole ODR ON
				R.RoleId = ODR.RoleId
             WHERE R.RoleId = @RoleId 
         )
             BEGIN
                 SELECT @RoleId AS RoleId,
                        'Role cannot be deleted because it is currently marked as default role.' AS ErrorMessage;
                 RETURN;
         END;
    
    --Delete all the rights associated with the role
         IF EXISTS
         (
             SELECT 1
             FROM Security.[RoleRight]
             WHERE RoleId = @RoleID
         )
             BEGIN
                 DELETE FROM Security.[RoleRight]
                 WHERE RoleId = @RoleId;
         END;
	    --Delete Role
         IF EXISTS
         (
             SELECT 1
             FROM Security.[Role]
             WHERE RoleId = @RoleID
         )
             BEGIN TRY
                 DELETE FROM Security.[Role]
                 WHERE RoleId = @RoleID;
         END TRY
             BEGIN CATCH
                 EXEC dbo.LogError
                      @ErrorLogID = @ErrorLogID OUTPUT;
                 SELECT 0 AS Id,
                        ErrorMessage
                 FROM dbo.ErrorLog
                 WHERE ErrorLogID = @ErrorLogID;
         END CATCH;
             ELSE
             BEGIN
                 SELECT @RoleId AS RoleId,
                        'Role does not exist.';
         END;

		IF (@SaveEnterpriseRoleData = 'True')
		BEGIN
			EXEC [Enterprise].[DeleteRole] @RoleId
		END
     END;