CREATE PROCEDURE [Security].[GetUnifiedLoginDefaultRole](@RealPageID UNIQUEIDENTIFIER)
AS
     BEGIN
            SELECT DISTINCT R.RoleId 
			FROM [Security].Role R
            INNER JOIN Security.[OrganizationDefaultRole] ODR ON 
				R.RoleId= ODR.RoleId AND	
				R.OrgPartyID = ODR.OrgPartyId
            INNER JOIN Enterprise.Organization O ON 
				O.PartyId = R.OrgPartyID
            INNER JOIN Enterprise.Party P ON 
				P.PartyId = O.PartyId
            WHERE R.ProductId = 3           
			AND P.RealPageId = @RealPageID;
     END;