CREATE PROCEDURE [Security].[LinkPersonaToRole]
(@PersonaID         BIGINT,
 @RoleID            INT,
 @IsDeleted         BIT    = 0,
 @CreatedBy			INT NULL,
 @PersonaPrivilgeID INT OUTPUT
)
AS
     BEGIN
        DECLARE @ErrorLogID INT;
		 DECLARE @SaveEnterpriseRoleData varchar(10);
		 DECLARE @PartyId INT;
		 DECLARE @EnterpriseRoleId INT
		 DECLARE @adminRole int,
				@basicUserRole int,
				@ROUserRole int

		Select @PartyID = [OrganizationPartyId]
		From [Ident].[UserLoginPersona] UL 
		JOIN [Person].[Persona] P ON
			P.UserLoginPersonaId = UL.UserLoginPersonaId
		Where P.PersonaId = @PersonaID

		SELECT	@SaveEnterpriseRoleData = ps.Value				
		FROM	Enterprise.GlobalProductConfiguration gpc
				JOIN Enterprise.ProductConfiguration pc ON pc.ConfigurationId = gpc.ConfigurationId
				JOIN Enterprise.ProductSetting ps ON ps.ProductSettingId = pc.ProductSettingId
				JOIN Enterprise.ProductSettingType pst ON pst.ProductSettingTypeId = ps.ProductSettingTypeId
		WHERE  gpc.ProductId = 3
		AND (gpc.ThruDate IS NULL)
		AND ( pc.ThruDate IS NULL)
		AND ( ps.ThruDate IS NULL)
		And PST.Name = 'SaveRoleDataInEnterprise'

        IF @IsDeleted = 0
        BEGIN
            IF NOT EXISTS
            (
                SELECT 1
                FROM [Security].[PersonaRole]
                WHERE PersonaId = @PersonaID
                    AND RoleID = @RoleID
            )
                BEGIN
                    BEGIN TRY
                        INSERT INTO [Security].[PersonaRole]
                        (PersonaId,
                        RoleID,
                        FromDate,
						CreatedBy,
						CreatedDate
                        )
                        VALUES
                        (@PersonaID,
                        @RoleID,
                        GETUTCDATE(),
						@CreatedBy,
						GETUTCDATE()
                        );
                        SELECT @PersonaPrivilgeID = SCOPE_IDENTITY();
                        SELECT @PersonaPrivilgeID AS Id,
                            '' AS ErrorMessage;
            END TRY
            BEGIN CATCH
                EXEC dbo.LogError
                    @ErrorLogID = @ErrorLogID OUTPUT;
                SELECT 0 AS Id,
                    ErrorMessage
                FROM dbo.ErrorLog
                WHERE ErrorLogID = @ErrorLogID;
            END CATCH;
            END;
                ELSE
                BEGIN
                    SELECT 'PersonaID is already assigned with this role.';
            END;
		END;
        IF @IsDeleted = 1
        BEGIN
            IF EXISTS
            (
                SELECT 1
                FROM [Security].[PersonaRole]
                WHERE PersonaId = @PersonaID
                    AND RoleID = @RoleID
            )
                BEGIN
                    DECLARE @DeletedPersonaPrivilegeId TABLE(PersonaPrivilegeId INT);
            END;
            BEGIN TRY
                DELETE FROM [Security].[PersonaRole]
                OUTPUT DELETED.PersonaRoleId
                    INTO @DeletedPersonaPrivilegeId
                WHERE PersonaId = @PersonaId
                    AND RoleId = @RoleId;
                SELECT PersonaPrivilegeId AS 'Id',
                    '' AS ErrorMessage
                FROM @DeletedPersonaPrivilegeId;
			END TRY
				BEGIN CATCH
					EXEC dbo.LogError
						@ErrorLogID = @ErrorLogID OUTPUT;
					SELECT 0 AS Id,
						ErrorMessage
					FROM dbo.ErrorLog
					WHERE ErrorLogID = @ErrorLogID;
			END CATCH;
		END;
		IF (@SaveEnterpriseRoleData = '1')
		BEGIN
			SET @EnterpriseRoleId = @RoleId
			Select @adminRole = RoleId from [Security].Role where ShortName = 'SuperUser'
			Select @basicUserRole = RoleId from [Security].Role where ShortName = 'User'
			Select @ROUserRole = RoleId from [Security].Role where ShortName = 'ROForUnifiedPlatform'

			IF (@RoleId = @adminRole)
			Begin
				Select @EnterpriseRoleId = RoleId From Enterprise.Role R
				Join Enterprise.RoleValueType RV ON
					RV.RoleValueTypeId = R.RoleValueTypeId
				Where RV.Value = 'User Administrator'
				And R.PartyID = @PartyId
			End
			IF (@RoleId = @basicUserRole)
			Begin
				Select @EnterpriseRoleId = RoleId From Enterprise.Role R
				Join Enterprise.RoleValueType RV ON
					RV.RoleValueTypeId = R.RoleValueTypeId
				Where RV.Value = 'Basic End User'
				And R.PartyID = @PartyId
			End
			IF (@RoleId = @ROUserRole)
			Begin
				Select @EnterpriseRoleId = RoleId From Enterprise.Role R
				Join Enterprise.RoleValueType RV ON
					RV.RoleValueTypeId = R.RoleValueTypeId
				Where RV.Value = 'Read only for Unified Platform'
				And R.PartyID = @PartyId
			End
			EXEC [Enterprise].[LinkPersonaToRole] @PersonaID , @EnterpriseRoleId,@IsDeleted , @PersonaPrivilgeID  OUTPUT
		END
   END;
