CREATE PROCEDURE [Security].[LinkRightsToRoles]
( 
	@ManageRight typrole READONLY, 
	@CreatedBy			INT NULL,
	@NewRightID int OUTPUT
)
AS
BEGIN
	DECLARE @RoleID int;	
	DECLARE @RightValueTypeId int;
	DECLARE @RightId int;
	DECLARE @IsDeleted bit= 0;
	DECLARE @Description nvarchar(200);
	DECLARE @Rightname nvarchar(200);
	DECLARE @ErrorLogID int;
	DECLARE @RowNum int;
	DECLARE @DelRIghtId int;	
	DECLARE @Status int;	
	DECLARE @PartyId int;	
	DECLARE @SaveEnterpriseRoleData varchar(10);
	DECLARE @dashBoardRightId int;	
	DECLARE @peopleRightId int;	
	DECLARE @viewUsersRightId int;

	CREATE TABLE #ProcessedList
	( 
		 RoleId int, RightValueTypeId int, RightId int, Success bit
	);

	--Select @roleType = RT.[Value] From Security.[Role] R
	--Join Security.RoleType RT ON
	--	R.RoleTypeId = RT.RoleTypeId
	--Where R.RoleId = @RoleID

	SELECT	@SaveEnterpriseRoleData = ps.Value				
	FROM	Enterprise.GlobalProductConfiguration gpc
			JOIN Enterprise.ProductConfiguration pc ON pc.ConfigurationId = gpc.ConfigurationId
			JOIN Enterprise.ProductSetting ps ON ps.ProductSettingId = pc.ProductSettingId
			JOIN Enterprise.ProductSettingType pst ON pst.ProductSettingTypeId = ps.ProductSettingTypeId
	WHERE  gpc.ProductId = 3
	AND (gpc.ThruDate IS NULL)
	AND ( pc.ThruDate IS NULL)
	AND ( ps.ThruDate IS NULL)
	And PST.Name = 'SaveRoleDataInEnterprise'


	Select @dashBoardRightId = [RightId] from Security.[Right] Where Value = 'Dashboard'
	Select @peopleRightId = [RightId] from Security.[Right] Where Value = 'People'
	Select @viewUsersRightId = [RightId] from Security.[Right] Where Value = 'Ability to view users'

	IF(SELECT COUNT(*)	FROM @ManageRight) > 0
	BEGIN
		IF (@SaveEnterpriseRoleData = '1')
		BEGIN
			EXEC [Enterprise].[LinkRightsToRoles] @ManageRight, @NewRightID OUTPUT
		END

		SELECT IDENTITY(int, 1, 1) AS RowNum, RoleId, RightId, IsDeleted, 0 AS 'PStatus'
		INTO #LinkRights
		FROM @ManageRight;
		
		IF Exists(Select 1 From @ManageRight Where RightId = @viewUsersRightId)
		Begin
			Insert Into #LinkRights(RoleId,RightId, IsDeleted, PStatus)
			Select RoleId,@peopleRightId, IsDeleted, 0
			From @ManageRight Where RightId = @viewUsersRightId

			Insert Into #LinkRights(RoleId,RightId, IsDeleted, PStatus)
			Select RoleId,@dashBoardRightId, IsDeleted, 0
			From @ManageRight Where RightId = @viewUsersRightId
		End
	END;

	--SELECT @PartyId = OrgPartyID
	--FROM [Security].[Role]
	--WHERE RoleId = @RoleId;
	

	WHILE EXISTS
	(
		SELECT 1
		FROM #LinkRights
		WHERE PStatus = 0
	)
	BEGIN
		SELECT TOP 1 @RowNum = Rownum, @RoleId = RoleId, @RightValueTypeId = RightId, @IsDeleted = IsDeleted
		FROM #LinkRights
		WHERE PStatus = 0;

		IF(@IsDeleted = 0)
		BEGIN
			IF NOT EXISTS
			(
				SELECT 1
				FROM [Security].[RoleRight]
				WHERE RoleId = @RoleId AND 
					  RightId = @RightValueTypeId
			)
			BEGIN
				BEGIN TRY
					
					INSERT INTO [Security].[RoleRight]( RoleID, RightId,CreatedDate,CreatedBy )
					VALUES( @RoleID, @RightValueTypeid, GETDATE(),@CreatedBy );
					SELECT @NewRightID = SCOPE_IDENTITY();
					SELECT @NewRightID AS Id, '' AS ErrorMessage;
					
					INSERT INTO #ProcessedList( RoleId, RIghtValueTypeId, RightId, Success )
					VALUES( @RoleId, @RightValueTypeId, @NewRightId, 1 );
				END TRY
				BEGIN CATCH
					EXEC dbo.LogError @ErrorLogID = @ErrorLogID OUTPUT;
					SELECT 0 AS Id, ErrorMessage
					FROM dbo.ErrorLog
					WHERE ErrorLogID = @ErrorLogID;
					INSERT INTO #ProcessedList( RoleId, RIghtValueTypeId, RightId, Success )
					VALUES( @RoleId, @RightValueTypeId, 0, 0 );
				END CATCH;
			END;
		END;
		IF(@IsDeleted = 1)
		BEGIN
			IF EXISTS
				(
					SELECT 1
					FROM [Security].[RoleRight]
					WHERE RoleId = @RoleId AND 
					  RightId = @RightValueTypeId
				)
			BEGIN
				BEGIN TRY
					SELECT @DelRightId = RoleRightId
					FROM [Security].[RoleRight]
					WHERE RoleId = @RoleId AND 
					  RightId = @RightValueTypeId

					DELETE FROM [Security].[RoleRight]
					WHERE RoleId = @RoleId AND 
					  RightId = @RightValueTypeId
					
					INSERT INTO #ProcessedList( RoleId, RIghtValueTypeId, RightId, Success )
					VALUES( @RoleId, @RightValueTypeId, @DelRightId, 1 );
				END TRY
				BEGIN CATCH
					EXEC dbo.LogError @ErrorLogID = @ErrorLogID OUTPUT;
					SELECT 0 AS Id, ErrorMessage
					FROM dbo.ErrorLog
					WHERE ErrorLogID = @ErrorLogID;
				END CATCH;
			END;
		END;
		UPDATE #LinkRights
		  SET PStatus = 1
		WHERE RowNum = @RowNum;
	END;
	SELECT *
	FROM #ProcessedList;
END;