CREATE PROCEDURE [Security].[ListRolesByRealPageID](@RealPageID UNIQUEIDENTIFIER)
AS
     BEGIN
		SELECT R.RoleName Role,
			    R.ShortName 'RoleNickName',
                R.RoleID,
                0 as 'PartyRoleTypeID',
                0 as 'ParentPartyRoleTypeId'
         FROM [Security].[Role] R
		 Where OrgPartyID IS NULL
		 UNION
         SELECT R.RoleName Role,
			    R.ShortName 'RoleNickName',
                R.RoleID,
                0 as 'PartyRoleTypeID',
                0 as 'ParentPartyRoleTypeId'
         FROM [Security].[Role] R             
              INNER JOIN Enterprise.Party P ON R.OrgPartyID = P.PartyId            
         WHERE P.RealPageId = @RealPageID;
     END;