CREATE PROCEDURE [Security].[ListRightsAssociatedWithRoles] (
	@PartyId INT
	,@ProductId INT
	,@TargetProductId [Enterprise].[ProductIdType] READONLY
	,@RightId INT = NULL
	)
AS
BEGIN
	IF (SELECT COUNT(*)	FROM @TargetProductId) = 0
	BEGIN
		SELECT 0 AS Id,'Target ProductId list is empty.';
		RETURN;
	END;

	Declare @OrgDefaultRole AS TABLE (
			RoleId int,
			DefaultRole bit default 0);

	Declare @OrgOverrideRights AS TABLE (
			RightId int);

		Insert Into @OrgOverrideRights (RightId)
		Select RightId from [Security].[OrganizationOverRideRight]
		Where OrgPartyId = @PartyId

		Insert Into @OrgDefaultRole(RoleId,DefaultRole)
		Select RoleId,1 From Security.OrganizationDefaultRole
		Where OrgPartyId = @PartyId

	SELECT DISTINCT Convert(int,r2.RoleID) [RoleId]
		,r2.rolename [Role]
		,r2.ShortName AS [RoleNickname]
		,ST.Value [RoleType]
		,ISNULL(OD.DefaultRole, 0) AS DefaultRole  		 
		,Convert(int,r.RightID) [RightId]
		,r.Value [Right]
		,r.RightName [RightNickName]
		,Convert(int,r.RightId) [RightValueTypeId]
	FROM [security].[Right] r
	INNER JOIN [Security].[RoleRight] rr ON rr.rightid = r.rightid
	INNER JOIN [security].ROLE r2 ON r2.RoleID = rr.RoleID
	INNER JOIN [security].roletype AS ST ON ST.RoleTypeId = r2.RoleTypeId
	INNER JOIN Enterprise.StatusType STT ON r.VisibilityStatusId = STT.StatusTypeId
	LEFT JOIN @OrgDefaultRole AS OD ON
		OD.RoleId = R2.RoleId
	WHERE r2.OrgPartyID = @PartyId  
		AND r.ProductId = @ProductId  
		AND r.TargetProductId IN  (SELECT ProductId FROM @TargetProductId )  
		AND (r.RightID = @RightId  OR @RightId IS NULL )  
		AND r.RightID NOT IN (Select RightId From @OrgOverrideRights)
		AND STT.Name <> 'HIDDEN'
		AND r2.RoleID <> - 1
	UNION
		SELECT DISTINCT Convert(int,r2.RoleID) [RoleId]
		,r2.rolename [Role]
		,r2.ShortName AS [RoleNickname]
		,ST.Value [RoleType]
		,ISNULL(OD.DefaultRole, 0) AS DefaultRole  		 
		,Convert(int,r.RightID) [RightId]
		,r.Value [Right]
		,r.RightName [RightNickName]
		,Convert(int,r.RightId) [RightValueTypeId]
	FROM [security].[Right] r
	INNER JOIN [Security].[RoleRight] rr ON rr.rightid = r.rightid
	INNER JOIN [security].ROLE r2 ON r2.RoleID = rr.RoleID
	INNER JOIN [security].roletype AS ST ON ST.RoleTypeId = r2.RoleTypeId
	INNER JOIN Enterprise.StatusType STT ON r.VisibilityStatusId = STT.StatusTypeId
	LEFT JOIN @OrgDefaultRole AS OD ON
		OD.RoleId = R2.RoleId
	WHERE r2.OrgPartyID IS NULL
		AND r.ProductId = @ProductId  
		AND r.TargetProductId IN  (SELECT ProductId FROM @TargetProductId )
		AND STT.Name <> 'HIDDEN'
		AND r.RightID NOT IN (Select RightId From @OrgOverrideRights)
END
