CREATE PROCEDURE [Security].[ListRolesByParty]  
(@PartyID INT,   
 @TargetProductId PRODUCTIDTYPE READONLY )  
AS  
BEGIN  
   
    IF  
    (  
        SELECT COUNT(*) FROM @TargetProductId  
    ) = 0  
    BEGIN  
        SELECT 0 AS Id,  
               'Target ProductId list is empty.';  
        RETURN;  
    END;  
 SELECT DISTINCT R.RoleName Role,  
           R.ShortName RoleNickname,  
           R.RoleID,  
           RT.RoleTypeID,  
           RT.ParentRoleTypeId  
    FROM [Security].Role R  
	INNER JOIN [Security].RoleRight rr ON 
		rr.RoleId =r.RoleId
	INNER JOIN [Security].[Right] RGT  ON 
		RGT.RightID = rr.RightID  
    INNER JOIN Enterprise.Party P  ON
        R.OrgPartyID = P.PartyId  
    INNER JOIN [Security].RoleType RT  ON
        R.RoleTypeID = RT.RoleTypeID 
    WHERE P.PartyId = @PartyID  
	AND RGT.TargetProductId IN  
              (  
                  SELECT ProductId FROM @TargetProductId  
              )  
END;