CREATE PROCEDURE [Security].[ListPersonaRightsAndActionsByRoute]
( 
				@PersonaID bigint, @RouteID nvarchar(50)
)
AS
BEGIN
			Declare @orgPartyID bigint

			Select @orgPartyID = [OrganizationPartyId]
			From [Ident].[UserLoginPersona] UL 
			JOIN [Person].[Persona] P ON
				P.UserLoginPersonaId = UL.UserLoginPersonaId
			Where P.PersonaId = @PersonaID
	
			 Select NULL AS 'ActionId',
			 'Route' AS 'ObjectType' ,
			 @RouteID AS 'Action',
			 NULL AS 'ParentActionId',
			 NULL AS 'ActionValueTypeId'
			 Union 			
			 Select   NULL AS 'ActionId',
			 'Right' AS 'ObjectType' ,
			 RGR.RightName AS 'Action',
			 NULL AS 'ParentActionId',
			 NULL AS 'ActionValueTypeId'
			 From [Security].[Right] R 
				INNER JOIN [Security].[RightRoute] RGR ON
					R.RightId = RGR.RightId
				INNER JOIN [Security].[Route] RU ON
					RU.RouteId = RGR.RouteId
				INNER JOIN [Security].[RoleRight] RR ON
					R.RightId = RR.RightId
				INNER JOIN [Security].[Role] RO ON
					RO.RoleId = RR.RoleId
				INNER JOIN [Security].[PersonaRole] PR ON
					PR.RoleId = RO.RoleId
			WHERE PR.PersonaId = @personaid
			AND RU.RouteValue = @RouteID
			and R.RightId not in (select rightid from [Security].[OrganizationOverRideRight] Where OrgPartyId = @orgPartyID) 
			ORDER BY ObjectType DESC;

END;