CREATE PROCEDURE [Security].[ListRightForProductsByPartyId]
(@PartyId   INT,
 @ProductId INT = NULL
)
AS
     BEGIN
         IF(@ProductId IS NOT NULL)          
             BEGIN
                 SELECT DISTINCT
                        rg.value,
                        rg.RightId [RightValueTypeId],
						rg.RightName AS 'RightNickName',
                        rt.Value AS RoleType
                 FROM Enterprise.Organization AS o
                      INNER JOIN Security.Role AS r ON 
						o.PartyId = r.OrgPartyID
					  INNER JOIN Security.RoleType AS rt ON
						r.RoleTypeID = rt.RoleTypeId
					  INNER JOIN Security.[RoleRight] AS rr ON 
						r.RoleID = rr.RoleID
					  INNER JOIN Security.[Right] AS rg ON 
						rr.RightId = rg.RightId
                 WHERE o.partyid = @PartyId
                       AND rg.ProductId = @ProductId
				UNION
				SELECT DISTINCT
                        rg.value,
                        rg.RightId [RightValueTypeId],
						rg.RightName AS 'RightNickName',
                        rt.Value AS RoleType
                 FROM Enterprise.Organization AS o
                      INNER JOIN Security.Role AS r ON 
						o.PartyId = r.OrgPartyID
					  INNER JOIN Security.RoleType AS rt ON
						r.RoleTypeID = rt.RoleTypeId
					  INNER JOIN Security.[RoleRight] AS rr ON 
						r.RoleID = rr.RoleID
					  INNER JOIN Security.[Right] AS rg ON 
						rr.RightId = rg.RightId
                 WHERE o.partyid IS NULL
                 AND rg.ProductId = @ProductId;
         END;
         IF(@ProductId IS NULL)           
             BEGIN
                  SELECT DISTINCT
                        rg.value,
                        rg.RightId [RightValueTypeId],						
                        rt.Value AS RoleType
                 FROM Enterprise.Organization AS o
                      INNER JOIN Security.Role AS r ON 
						o.PartyId = r.OrgPartyID
					  INNER JOIN Security.RoleType AS rt ON
						r.RoleTypeID = rt.RoleTypeId
					  INNER JOIN Security.[RoleRight] AS rr ON 
						r.RoleID = rr.RoleID
					  INNER JOIN Security.[Right] AS rg ON 
						rr.RightId = rg.RightId
                 WHERE o.partyid = @PartyId
				 UNION
				SELECT DISTINCT
                        rg.value,
                        rg.RightId [RightValueTypeId],						
                        rt.Value AS RoleType
                 FROM Enterprise.Organization AS o
                      INNER JOIN Security.Role AS r ON 
						o.PartyId = r.OrgPartyID
					  INNER JOIN Security.RoleType AS rt ON
						r.RoleTypeID = rt.RoleTypeId
					  INNER JOIN Security.[RoleRight] AS rr ON 
						r.RoleID = rr.RoleID
					  INNER JOIN Security.[Right] AS rg ON 
						rr.RightId = rg.RightId
                 WHERE o.partyid IS NULL
         END;
     END;