CREATE PROCEDURE [Security].[UpdateRole]  
(@RoleId      INT,  
 @Rolename    NVARCHAR(50),  
 @Description NVARCHAR(200) NULL,
 @CreatedBy nvarchar(50)
)  
AS  
BEGIN  
 DECLARE @SaveEnterpriseRoleData varchar(10);
 Declare @OrgPartyId INT,@EnterpriseRoleId INT, @EnterpriseRolename    NVARCHAR(50)

	SELECT	@SaveEnterpriseRoleData = ps.Value				
	FROM	Enterprise.GlobalProductConfiguration gpc
			JOIN Enterprise.ProductConfiguration pc ON pc.ConfigurationId = gpc.ConfigurationId
			JOIN Enterprise.ProductSetting ps ON ps.ProductSettingId = pc.ProductSettingId
			JOIN Enterprise.ProductSettingType pst ON pst.ProductSettingTypeId = ps.ProductSettingTypeId
	WHERE  gpc.ProductId = 3
	AND (gpc.ThruDate IS NULL)
	AND ( pc.ThruDate IS NULL)
	AND ( ps.ThruDate IS NULL)
	And PST.Name = 'SaveRoleDataInEnterprise'

	
	Select @OrgPartyId = OrgPartyID, @EnterpriseRolename = RoleName From  [Security].[Role] Where RoleId = @RoleId

	 BEGIN TRY  
	  BEGIN  
	   SET NOCOUNT ON;  
		IF EXISTS  
		(  
		 SELECT 1  
		 FROM [security].Role  
		 WHERE Rolename = LTRIM(RTRIM(@RoleName))		 
		 AND OrgPartyID = @OrgPartyId
		)  
	   BEGIN  
		SELECT @RoleId AS RoleId, '' AS ErrorMessage;  
	   END;  
	   ELSE  
	   BEGIN  
			UPDATE [Security].[Role]
			  SET RoleName = @Rolename, 
				  Description = @Description ,
				  CreatedBy = @CreatedBy,
				  CreatedDate = GETDATE()
			WHERE RoleId = @RoleId 
			SELECT @RoleId AS ID, '' AS ErrorMessage;  
	   END;  

	  END;  
	 END TRY  
	 BEGIN CATCH  
	  DECLARE @ErrorLogID int;  
	  EXEC dbo.LogError @ErrorLogID = @ErrorLogID OUTPUT;  
	  SELECT 0 AS Id, ErrorMessage  
	  FROM dbo.ErrorLog  
	  WHERE ErrorLogID = @ErrorLogID;  
	 END CATCH;  

	IF (@SaveEnterpriseRoleData = '1')
	BEGIN
		Select @EnterpriseRoleId = R.RoleID from Enterprise.Role R 
		Join Enterprise.RoleValueType RV ON
			RV.RoleValueTypeId = R.RoleValueTypeId
			AND R.PartyID = @OrgPartyId
		Where RV.Value = @EnterpriseRolename

		EXEC [Enterprise].[UpdateRole] @EnterpriseRoleId, @RoleName, @Description
	END
END;