<div ng-controller="SpndMgmtNewRoleCtrl as newRole" class="rp-aside-modal rp-aside-modal-right spndmgmt-role-modal">
    <div class="rp-aside-modal-header">
        <span class="rp-aside-modal-close" ng-click="newRole.cancel()">
        </span>
        <h2 class="rp-aside-modal-header-title">
            New Role
        </h2>
        <h3 class="rp-aside-modal-header-subtitle">

        </h3>
    </div>
    <div class="rp-aside-modal-content">
        <form name="newRoleForm" rp-focus-invalid-field>
            <div class="row extend">
                <div class="col-md-12">
                    <label for="">Role Name</label>
                    <rp-form-input-text config="newRole.roleConfig.roleName" rp-model="newRole.model.data.roleName">
                    </rp-form-input-text>
                     <label for="">Description</label>
                    <rp-form-input-text config="newRole.roleConfig.roleDesc" rp-model="newRole.model.data.roleDesc">
                    </rp-form-input-text>

                    <div ng-if="newRole.isError" class="ul-roles-error-msg">
                        {{newRole.errorMsg}}</div>
                </div>
            </div>
        </form>
        <rp-scrolling-tabs-menu class="page-tabs" model="newRole.tabsMenu">
        </rp-scrolling-tabs-menu>
        <ng-include src="tab.incUrl" ng-show="tab.isActive" ng-repeat="tab in newRole.tabsList">
        </ng-include>
    </div>
    <div class="rp-aside-modal-footer rp-aside-modal-footer-btns">
        <button ng-click="newRole.cancel()" class="rp-btn rp-aside-modal-footer-btn outline primary">
            Cancel
        </button>
        <button ng-if= "newRole.hasAccess()" ng-click="newRole.create()" class="rp-btn rp-aside-modal-footer-btn primary">
            Create
        </button>
    </div>
</div>
