.onsite-wrapper {
    .all-properties {
        text-align: right;
        margin-bottom: 20px;

        .rp-switch {
            text-align: left;
        }
    }
}

.on-site-properties-grid {
    .is-assigned {
        min-width: 90px;
        max-width: 90px;
    }

    .name {
        width: 50%;
    }

    .city {
        width: 20%;
    }

    .state {
        width: 15%;
    }
}

.onsite-wrapper {
    .properties-body-error {
        margin-top: 20px;
    }
}