<div ng-controller="AcctRolesCtrl as  ARCtrl" class="acct-roles-details spacer">
    <div class="roles-grid-section">
        <h3 class="roles-grid-section-title">Financial Suite Roles</h3>
    </div>
    <div class=" actions-row">
        <div class="new-btn">
            <button ng-if="ARCtrl.hasAccess()" class="rp-btn primary" ng-click="ARCtrl.createNewRole()">
                <i class="fa fa-fw fa-plus icon-size"></i> New Role</button>
        </div>
        <div class="filters">
            <div class="grid-controls">
                <div class="grid-control-item">
                    <rp-toggle model="ARCtrl.model.grid.filtersModel.state.active" options="{
                                defaultText: 'Filters',
                                activeIconClass: 'rp-icon-filter',
                                defaultIconClass: 'rp-icon-filter active'
                            }">
                    </rp-toggle>
                </div>
            </div>
        </div>
    </div>
    <div class="acct-grid">
        <rp-grid model="ARCtrl.model.grid" class="roles-grid">
        </rp-grid>
        <rp-grid-pagination model="ARCtrl.model.gridPagination">
        </rp-grid-pagination>
    </div>
</div>
