raul-grid-cell {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-bottom-width: 1px;
  border-color: #EBEDEE;
}