.rm-companies-body {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;

    &-error {
        margin-top: 20px;
    }
}

.rm-companies {
    width: 100%;

    &-wrapper {
        margin-top: 10px;
    }

    &-grid {
        .rp-grid-headers-1,
        .rp-grid-filters-1,
        .rp-grid-body-1 {
            table-layout: auto;
        }

        .company-name {
            width: 60%;
        }

        .role {
            min-width: 30%;
            max-width: 30%;
        }
    }
}
