.rm-properties-list {
    &-grid {
        .rp-grid-headers-1,
        .rp-grid-filters-1,
        .rp-grid-body-1 {
            table-layout: auto;
        }

        .company-name {
            width: 70%;
        }

        &.assigned-properties {
            width: 40%;
        }
    }
}


.rm-properties-list-wrapper {
    .properties-list-body-error {
        margin-top: 20px;
    }
}

.rm-properties-list-body {
    padding-left: 0px;
    padding-right: 0px;

    &-error {
        margn-top: 20px;
    }
}

.rm-grid-col {
    &-cursor {
        cursor: pointer;
    }
    &-rights {
        font-weight: 500;
        color: $rp-primary;
    }
}
