.rm-property-group-body {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    &-error {
        margn-top: 20px;
    }
}
.rm-property-group {
    width: 100%;

    &-grid {
        .is-assigned {
            min-width: 125px;
            max-width: 125px;
            white-space: nowrap;
        }

        .group-name {
            width: 90%;
        }

        .info-icon {
            min-width: 50px;
            max-width: 50px;
        }
    }
}

.role-info-icon {
    .rp-icon-info-circle {
        color: $rp-primary;
        cursor: pointer;
    }
}
