<div class="user-lookup">
    <p class="text-center text-neutral-02">
        {{:: "lookup_username_info" | userLookupText }}
    </p>

    <form novalidate name="userLookupForm" class="ft-form" role="form">
        <p class="text-center text-neutral-02 m-b-0">{{:: "lookup_enter_username" | userLookupText }}</p>

        <fieldset>
            <div class="form-group m-t-0">
                <label for="username"></label>
                <input required name="username" class="form-control form-placeholder-center" autofocus id="username" type="text" ng-model="page.model.form.username" maxlength="100" autocomplete="off">
                <div class="validation-errors">
                    <ul ng-show="userLookupForm.$submitted && userLookupForm.$invalid" ng-messages="userLookupForm.username.$error" class="rp-form-error-msgs" role="alert">
                        <li ng-message="required" class="rp-form-error-msg">
                            {{:: "lookup_required" | userLookupText }}
                        </li>
                    </ul>
                </div>
            </div>
        </fieldset>

        <div ng-show="page.model.error.state" class="forgot-password-error-message ng-hide text-danger">
            <p>{{ page.model.error.message }}</p>
        </div>
        <section class="user-lookup-actions">
            <div class="form-group">
                <button ng-click="page.submit(userLookupForm)" ng-disabled="page.model.form.submitBtnDisabled" class="rp-btn primary w-full" type="button">
                    {{:: "lookup_continue" | userLookupText }}
                </button>
            </div>
        </section>
    </form>

    <div class="login-return-action text-center text-primary m-t" ui-sref="login">
        <p>{{:: "lookup_back_to_login" | userLookupText }}</p>
    </div>
</div>
