<div ng-controller="SpndMgmtNewRightsCtrl as rhts" class="roles-details-new new-roles-rights-aside">
    <form name="newRightsTabForm" rp-focus-invalid-field>
        <div class="row">
            <div class="col-md-11">
                    <rp-form-input-text config="rhts.rightConfig.searchRightName" rp-model="rhts.model.searchRightName">
                    </rp-form-input-text>
            </div>    
            <div class="col-md-1">        
                    <i class="rp-icon-filter icon-size"></i><span class="icon-size text">Filters</span>
            </div>    
            <div class="col-md-12">
                <div class="spm-accordion">
                    <div class="spm-header">
                        <div class="spm-row-container">
                            <div class="rights">
                                Right
                            </div>
                            <div class="description">
                                Description
                            </div>
                        </div>
                        <div ng-if="rhts.isError" class="rights-error-msg"> Please select a right</div>
                    </div>
                    <div class="spm-body" ng-if="item.isVisible === true" ng-repeat="item in rhts.model.data.records" >
                        <div class="spm-row-1">
                            <div class="spm-row-container">
                                <div class="rights">
                                    <!-- <i class="fa fa-angle-down spacer"></i> -->
                                    <i ng-click="rhts.showIconToggle(item)" class="fa {{item.showHideIcon}}  spacer"></i>
                                    {{ item.mainName}}
                                </div>
                                <div class="description">
                                    
                                </div>
                                <div class="edit-menu">
                                    
                                </div>
                            </div>
                            <div class="spm-row-1" ng-if="subitem.isVisible === true" ng-repeat="subitem in item.subGroupList">
                                <!-- <div class="spm-row-container inner"> -->
                                <div class="spm-row-container inner" ng-class="item.showHide">
                                    <div class="rights">
                                        <!-- <i class="fa fa-angle-down spacer"></i> -->
                                        <i ng-click="rhts.showIconToggle1(subitem)" class="fa {{subitem.showHideIcon1}} spacer"></i>
                                        {{subitem.subName}}
                                    </div>
                                    <div class="description">
                                        
                                    </div>
                                    <div class="edit-menu">
                                       
                                    </div>
                                </div>

                                <div class="spm-row-2" ng-if="rt.isVisible === true"   ng-repeat="rt in subitem.rightsList">                
                                    <div class="spm-row-container inner " ng-class="subitem.showHide1">
                                        <div class="rights">                 
                                           <rp-form-input-checkbox rp-model="rt.isAssigned" rp-label-text="rt.right" rp-on-change="rhts.allowDenyEnabled(rt)">
                                            </rp-form-input-checkbox>
                                        </div>
                                        <div class="description">
                                            {{rt.description}}
                                        </div>
                                        <div class="edit-menu" ng-if="rt.isCompliance">
                                            <rp-form-input-checkbox class="inline label-1" rp-model="rt.isWarnAssigned" rp-on-change="rhts.warningEnabled(rt)" rp-label-text="rt.warntext">
                                            </rp-form-input-checkbox>
                                        </div>
                                    </div>                                
                                </div>

                             </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>