<div ng-controller="SpndMgmtNewWrkFlCtrl as rhts" class="roles-details-new new-roles-rights-aside">
    <form name="newWfTabForm" rp-focus-invalid-field>
        <div class="row extend">
            <div class="col-md-3 small">                
                <label for="">Workflow Timeout for Orders</label>
                <rp-form-input-text config="rhts.wfConfig.orderTimeOut" rp-model="rhts.model.data.orderTimeOut">
                </rp-form-input-text>    
            </div>
            <div class="col-md-9">
                 <label for=""></label>
                 <rp-form-input-checkbox
                rp-model="rhts.model.data.isOrderReminder" 
                rp-label-text="'Reminder Email Only'" 
                 >
                </rp-form-input-checkbox>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 small">                
                <label for="">Workflow Timeout for Invoices</label>
                <rp-form-input-text config="rhts.wfConfig.invoiceTimeOut" rp-model="rhts.model.data.invoiceTimeOut">
                </rp-form-input-text>    
            </div>
            <div class="col-md-9">
                <label for=""></label>
                 <rp-form-input-checkbox
                rp-model="rhts.model.data.isInvoiceReminder" 
                rp-label-text="'Reminder Email Only'" 
                 >
                </rp-form-input-checkbox> 
            </div>
        </div>
    </form>
</div>