<div class="rp-modal-wrap company-switch" ng-controller="CompSwitchModalCtrl as cs">
    <div class="rp-modal" >
        <div class="modal-width rp-modal-dialog add-user-success-modal">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="cs.dismissModal()"></span>
                <h2 class="rp-modal-header-title">Change Company</h2>
            </div>
            <div class="rp-modal-content"> 
                <label for="">Company</label>
                <rp-form-select-menu config="cs.menuConfig.optionsData" rp-model="cs.filterMenuVal">
                </rp-form-select-menu>
                
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns add-user-success-modal-footer-btns">
                    <!-- <button class="rp-btn rp-aside-modal-footer-btn outline primary" ng-click="cs.dismissModal()">
                        Cancel
                    </button> -->
                    <button class="rp-modal-footer-btn rp-btn primary add-user-success-modal-footer-btn" ng-click="cs.switchCompany()">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
