<div ng-controller="RightsController as rights" class="assign-products">
    <h2 class="assign-products-title-1">
       Products
    </h2>
    <div rp-accordion="rights.families" class="assign-products-list">
        <div ng-class="{'expand': family.isActive}"  rp-accordion-panel="{instName: family.familyId}" class="assign-product-family rp-accordion-panel" ng-repeat="family in rights.families">
            <h3 class="assign-product-family-title rp-accordion-panel-title">
                <span class="rp-accordion-panel-title-text">
                    {{::family.data.familyName}}
                </span>
            </h3>
            <div class="assign-product-solution" ng-repeat="soln in family.solutions" ng-click="rights.selectSoln(soln)" ng-class="{'selected': soln.selected}">
                <h4 class="assign-product-solution-title">
                    {{soln.titleId}}
                </h4>
            </div>
        </div>
    </div>
</div>
