<div class="product-card-popover popover" ng-controller="ProductModelPopoverCtrl as pop">
	<div class="popover-content">
		<h3 class="popover-content-title">{{::rpPopoverOptions.modelData.titleID}} - {{::rpPopoverOptions.modelData.family}}</h3>
		<p>{{::rpPopoverOptions.modelData.productDescription}}</p>

		<div class="popover-content-footer">
			<a class="popover-redirect-link" ng-href="{{::pop.realpageMainUrl}}" target="_blank">
				{{:: "label.dashboard.learnMore" | dashboardText}}
			</a>
		</div>
	</div>
</div>
