<div class="products-carousel-unit">
    <div class="products-carousel-product-wrap"
        ng-repeat="product in $ctrl.model.data.list">
        <div class="products-carousel-product"
            products-carousel-product="product"
            ng-class="{ 'disabled-product-card': productCtrl.model.isProductDisabled()}"
            ng-controller="ProductsCarouselProductCtrl as productCtrl">
            <i class="products-carousel-product-favorite" ng-class="{'rp-icon-star-full product-favorited': productCtrl.model.isFavorite(), 'rp-icon-star': !productCtrl.model.isFavorite()}" ng-click="productCtrl.model.toggleFavStatus()" aria-hidden="true"></i>
            <i class="products-carousel-product-info rp-icon-info-circle" rp-popover="productCtrl.productInfoPopoverConfig"></i>
            <span class="products-carousel-product-span"
                ng-if="productCtrl.model.isProductDisabled()">
                <span class="products-carousel-product-icon">
                    <img ng-src="{{productCtrl.getProductId() | productIconPath}}" />
                </span>
                <div class="products-carousel-product-content">
                    <p class="products-carousel-product-title">{{productCtrl.model.data.productName}}</p>
                    <p class="products-carousel-product-products"
                        ng-if="productCtrl.model.data.subsolution">
                        {{productCtrl.model.data.subsolution}}
                    </p>
                </div>
            </span>
            <a class="products-carousel-product-link"
                ng-href="{{::productCtrl.model.data.productUrl}}"
                ng-attr-target="{{::productCtrl.model.getLinkTarget()}}"
                ng-if="!productCtrl.model.isProductDisabled() && productCtrl.model.data.productId != 36">
                <span class="products-carousel-product-icon">
                    <img ng-src="{{productCtrl.getProductId() | productIconPath}}" />
                </span>
                <div class="products-carousel-product-content">
                    <p class="products-carousel-product-title">{{productCtrl.model.data.productName}}</p>
                    <p class="products-carousel-product-products"
                        ng-if="productCtrl.model.data.subsolution">
                        {{productCtrl.model.data.subsolution}}
                    </p>
                </div>
            </a>
            <!-- special product card for Easy LMS -->
            <a class="products-carousel-product-link"
                ng-href="#"
                ng-click="productCtrl.showELMSModal()"
                ng-if="!productCtrl.model.isProductDisabled() && productCtrl.model.data.productId == 36">
                <span class="products-carousel-product-icon">
                    <img ng-src="{{productCtrl.getProductId() | productIconPath}}" />
                </span>
                <div class="products-carousel-product-content">
                    <p class="products-carousel-product-title">{{productCtrl.model.data.productName}}</p>
                    <p class="products-carousel-product-products"
                        ng-if="productCtrl.model.data.subsolution">
                        {{productCtrl.model.data.subsolution}}
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

<!--<div class="initial-product-cards-container">
    <div class="initial-product-card-item-container">
        <div class="initial-product-card-item"
            ng-repeat="product in $ctrl.model.data.list">
            <div class="card product-card">

                <div class="disabled-product-card"
                    ng-if="page.isProductDisabled(product)"></div>

                Product Icon
                <a class="product-card-icon rp-svg-icon"
                    svg-src="{{('prod' + product.productId) | productIconPath}}"
                    ng-href="{{::product.productUrl}}"
                    ng-attr-target="{{::product.isNewTab === true ? product.titleUniqueId : undefined }}">
                </a>
                Product Body
                <div class="product-card-content">
                    <a class="product-card-title"
                        ng-href="{{::product.productUrl}}"
                        ng-attr-target="{{::product.isNewTab === true ? product.titleUniqueId : undefined }}">
                        {{::product.titleID}}
                    </a>
                    <p class="product-card-description">
                        {{::product.subsolution}}
                    </p>
                    <div class="product-card-actions">
                        <a class="product-card-action"
                            bs-popover data-template-url="home/base/templates/product-more-info.html"
                            data-placement="top-right"
                            data-auto-close="1"
                            data-container="body">
                                <i class="more-info"></i>
                        </a>
                    </div>
                    <a class="product-card-link"
                        ng-href="{{::product.productUrl}}"
                        ng-attr-target="{{::product.titleUniqueId}}">
                        Launch
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>-->
