<div class="resources-carousel-unit">
    <div class="resources-carousel-resource"
        ng-class="{ 'disabled-resource-card': !resourceCtrl.model.data.hasAccess}"
        ng-controller="ResourcesCarouselCtrl as resourceCtrl"
        >
        <div class="resources-carousel-resource-span"
            ng-if="!resourceCtrl.model.data.hasAccess">
            <span class="resources-carousel-resource-icon">
                <img ng-src="{{ resourceCtrl.getProductId() | productIconPath}}" />
            </span>
            <div class="resources-carousel-resource-content">
                <p class="resources-carousel-resource-title">{{resourceCtrl.model.data.text}}</p>
            </div>
        </div>
        <div class="resources-carousel-resource-link"
            ng-if="resourceCtrl.model.data.hasAccess"
            ng-click="resourceCtrl.invokeLink()">
            <span class="resources-carousel-resource-icon">
                <img ng-src="{{ resourceCtrl.getProductId() | productIconPath}}" />
            </span>
            <div class="resources-carousel-resource-content">
                <p class="resources-carousel-resource-title">{{resourceCtrl.model.data.text}}</p>
            </div>
        </div>
    </div>
</div>
