<div ng-controller="CPCompListAsideCtrl as cpComp" class="rp-aside-modal rp-aside-modal-right companies-list-aside" detect-product-change="{onChange: cpComp.setChanged}">
     <div class="rp-aside-modal-header">
        <span class="rp-aside-modal-close" ng-click="cpComp.cancel()">
        </span>
        <h2 class="rp-aside-modal-header-title">
            Assign Companies
        </h2>
        <h3 class="rp-aside-modal-header-subtitle">
            {{cpComp.subtitle}}
        </h3>
    </div>
    <form name="compForm" rp-focus-invalid-field rp-track-form-changes>
      
    <div class="rp-aside-modal-content">
        <div class="companies-list-aside-wrapper">
            <div class="companies-list-aside-body">

                 <div class="col-md-12">
                    <div ng-if="cpComp.isError" class="companies-error-msg"> Please select a company</div>
                </div>

                <div class="grid-controls">
                    <div class="grid-control-item">
                        <rp-toggle model="cpComp.asideGrid.filtersModel.state.active" options="{
                            defaultText: 'Filter',
                            activeIconClass: 'rp-icon-filter',
                            defaultIconClass: 'rp-icon-filter active'
                        }">
                        </rp-toggle>
                    </div>
                </div>
                <rp-grid model="cpComp.asideGrid" class="companies-list-aside-grid">
                </rp-grid>
                <rp-grid-pagination model="gridPagination">
                </rp-grid-pagination>
            </div>
        </div>
    </div>
    </form> 
    <div class="rp-aside-modal-footer rp-aside-modal-footer-btns">
        <button ng-click="cpComp.cancel()" class="rp-btn rp-aside-modal-footer-btn outline primary">
            Cancel
        </button>
        <button    ng-if= "!cpComp.hasAccess()"       
        ng-click="cpComp.update()" class="rp-btn rp-aside-modal-footer-btn primary">
            Update
        </button>  
    </div>
</div>
