<div ng-controller="CPCompRolesGridCtrl as cp" ng-show="cp.isActive()" detect-product-change="{onChange: cp.setChanged}">
    <h3 class="assign-product-access-title">
        {{cp.panelName}}
    </h3>
    
     <div class="click-pay-roles-body-wrapper" ng-if="!cp.isDataError">
        <div ng-show="cp.productDisabled" class="click-pay-error-msg">
            This product cannot be assigned when User Type is Regular user (no email).
        </div>     
        <div ng-show="!cp.productDisabled"> 
            <div class="grid-controls">
                <div class="grid-control-item">
                    <rp-toggle model="cp.grid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                    </rp-toggle>
                </div>
            </div>
            <rp-grid  model="cp.grid" class="click-pay-roles-grid">
            </rp-grid>
            <rp-grid-pagination  model="gridPagination">
            </rp-grid-pagination>
         </div>   

    </div>
    <div class="click-pay-roles-body-error" ng-if="cp.isDataError">
        {{::cp.dataErrorReason}}
    </div>
 </div>

