
<div ng-controller="CpLLCCtrl as cpLlc" class="rp-aside-modal rp-aside-modal-right roles-details-new new-roles-llc-aside llc-list-aside" detect-product-change="{onChange: cpLlc.setChanged}">
     <div class="rp-aside-modal-header">
        <span class="rp-aside-modal-close" ng-click="cpLlc.cancel()">
        </span>
        <h2 class="rp-aside-modal-header-title">
            Assign LLCs
        </h2>
        <h3 class="rp-aside-modal-header-subtitle">
            {{cpLlc.subtitle}}
        </h3>
    </div>
    <div class="rp-aside-modal-content">
         <form name="llcForm" rp-focus-invalid-field>
            <div class="row">
                <div class="col-md-11">
                        <rp-form-input-text config="cpLlc.formConfig.searchRightName" rp-model="cpLlc.model.searchRightName">
                        </rp-form-input-text>
                </div>    
                <div class="col-md-1">        
                        <i class="rp-icon-filter icon-size"></i>                        
                </div>                   
                <div class="col-md-12">
                    <div class="llc-accordion">
                        <div class="llc-header">
                            <div class="llc-row-container">
                                <div class="col-md-1">    
                                </div>
                                <div class="col-md-2 llc-header">    
                                    <rp-form-input-checkbox
                                    config= "cpLlc.formConfig.selectAll"
                                     rp-model="cpLlc.isAllSelected" rp-label-text="cpLlc.title" 
                                    >  
                                    </rp-form-input-checkbox>                  
                                </div>
                                 
                                <div ng-if="cpLlc.isError" class=" llc-error-msg"> Please select a LLC</div>                       
                            </div>
                            
                        </div>
                        <div class="llc-body" ng-if="item.isVisible === true" ng-repeat="item in cpLlc.model.data" >
                            <div class="llc-row-1">
                                <div class="llc-row-container">
                                    <div class="col-md-1  spacer-angle">          
                                        <i ng-click="cpLlc.showIconToggle(item)" class="fa {{item.showHideIcon}}  "></i>
                                    </div>
                                    <div class="col-md-10">    
                                         <rp-form-input-checkbox 
                                         rp-disabled="item.disableSelection"
                                         rp-model="item.isAssigned" rp-label-text="item.name" rp-on-change="cpLlc.onChange(item)">
                                        </rp-form-input-checkbox>                                        
                                    </div>
                                </div>
                                <div class="llc-row-1" ng-if="subitem.isVisible === true" ng-repeat="subitem in item.siteList">                                                  
                                    <div class="llc-row-container inner " ng-class="subitem.showHide1">
                                        <div class="description">
                                            {{subitem.name}}
                                        </div>                                            
                                    </div>                                
                                 </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="rp-aside-modal-footer rp-aside-modal-footer-btns">
        <button ng-click="cpLlc.cancel()" class="rp-btn rp-aside-modal-footer-btn outline primary">
            Cancel
        </button>
        <button    ng-if= "!cpLlc.hasAccess()"       
        ng-click="cpLlc.onUpdate()" class="rp-btn rp-aside-modal-footer-btn primary">
            Update
        </button> 
    </div>
</div>
