<div ng-controller="CPSiteListAsideCtrl as cpProp" class="rp-aside-modal rp-aside-modal-right properties-list-aside" detect-product-change="{onChange: cpProp.setChanged}">
     <div class="rp-aside-modal-header">
        <span class="rp-aside-modal-close" ng-click="cpProp.cancel()">
        </span>
        <h2 class="rp-aside-modal-header-title">
            Assign Properties
        </h2>
        <h3 class="rp-aside-modal-header-subtitle">
            {{cpProp.subtitle}}
        </h3>
    </div>
    <form name="siteForm" rp-focus-invalid-field rp-track-form-changes>
      
    <div class="rp-aside-modal-content">
        <div class="properties-list-aside-wrapper">
            <div class="properties-list-aside-body">
                <div class="col-md-12">
                    <div ng-if="cpProp.isError" class="properties-error-msg"> Please select a site</div>
                </div>
                <div class="grid-controls">
                    <div class="grid-control-item">
                        <rp-toggle model="cpProp.asideGrid.filtersModel.state.active" options="{
                            defaultText: 'Filter',
                            activeIconClass: 'rp-icon-filter',
                            defaultIconClass: 'rp-icon-filter active'
                        }">
                        </rp-toggle>
                    </div>
                </div>
                <rp-grid model="cpProp.asideGrid" class="properties-list-aside-grid">
                </rp-grid>
                <rp-grid-pagination model="gridPagination">
                </rp-grid-pagination>
            </div>
        </div>
    </div>
    </form> 
    <div class="rp-aside-modal-footer rp-aside-modal-footer-btns">
        <button ng-click="cpProp.cancel()" class="rp-btn rp-aside-modal-footer-btn outline primary">
            Cancel
        </button>
        <button ng-if= "!cpProp.hasAccess()"   ng-click="cpProp.update()" class="rp-btn rp-aside-modal-footer-btn primary">
            Update
        </button>   
    </div>
</div>
