@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This will be where the user lands after logging in.</p>
<a href="#"><div onclick="window.open('https://lm-10-22-163-146.onesitedev.realpage.com/ui/signin/o2c.html?access_token=@ViewBag.Token');">Unified UI</div></a>
<br />
<a href="#"><div onclick="window.open('https://logindev.corp.realpage.com/product/onesite');">OneSite pick user</div></a>
<br />
<a href="#"><div onclick="window.open('https://logindev.corp.realpage.com/product/onesite/3');">OneSite ia</div></a>
