@{

    Layout = null;

}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>RealPage Home</title>
        <base href="/home/">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.realpage.com/raul/v2.85.2/css/raul.min.css" />
        <link rel="stylesheet" href="assets/css/raul-shell.min.css" />
    <link rel="stylesheet" href="styles.e20d9f33a644797a439b.css"></head>

    <body>
    <app-root>      
        <div class="raul-page-loader-wrapper">
            <div class="raul-page-loader"></div>
        </div>
    </app-root>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.realpage.com/raul/v2.85.2/js/raul.min.js"></script>
    <script src="assets/js/raul-shell.min.js"></script>
    <script src="assets/js/bulk-actions.js"></script>

    <script type="text/javascript" src="runtime.b4ca575030181fb13c01.js"></script><script type="text/javascript" src="polyfills.9d3a8743be9f041e6ba8.js"></script><script type="text/javascript" src="scripts.4d10c1b333ada0ab6568.js"></script><script type="text/javascript" src="main.d169a8d1a89a03cd52b0.js"></script></body>
</html>
