<div class="axm-companies-wrapper" ng-controller="AxmCompaniesCtrl as axmcs">
    <div class="axm-companies-body" ng-if="!axmcs.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="axmcs.grid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="axmcs.isActive()" model="axmcs.grid" class="axm-companies-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="axmcs.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="axm-companies-body-error" ng-if="axmcs.isDataError">
        {{::axmcs.dataErrorReason}}
    </div>
</div>
