<div class="axm-markets-wrapper" ng-controller="AXMMarketsCtrl as axmmar">
    <div class="axm-markets-body" ng-if="!axmmar.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="axmmar.grid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="axmmar.isActive()" model="axmmar.grid" class="axm-markets-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="axmmar.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="axm-markets-body-error" ng-if="axmmar.isDataError">
        {{::axmmar.dataErrorReason}}
    </div>
</div>
