<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Information</h5>
            </div>
            <div class="modal-body p-lg">
                <p>This role type (Default) cannot be deleted. Please de-select role from the list before deleting.</p>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns">
                    <button type="button" class="rp-modal-footer-btn rp-btn primary" ng-click="ctrl.hideDefWarningModal()">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
