<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Custom Role</h5>
            </div>
            <div class="modal-body p-lg">
                <p>You are about to delete the following custom role {{ctrl.model.roleName}}</p>
                <p>Press delete to confirm</p>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns">
                    <button type="button" class="rp-modal-footer-btn rp-btn outline primary" ng-click="ctrl.hideDeleteRoleModal()">Cancel</button>
                    <button type="button" class="rp-modal-footer-btn rp-btn primary" ng-click="ctrl.confirmDeleteRoleModal()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
