<div ng-controller="UserMgmtRolesBaseCtrl as  UmRlCtrl" class="usermgmt-roles-details spacer">
    <div class="roles-grid-section">
        <h3 class="roles-grid-section-title">Unified Platform Roles<h3>
    </div>
    <div class=" actions-row">
        <div class="new-btn">
            <button ng-if= "UmRlCtrl.hasAccess()" class="rp-btn primary" ng-click="UmRlCtrl.createNewRole()">
                <i class="fa fa-fw fa-plus icon-size"></i> New Role</button>
        </div>
        <div class="filters">
            <div class="grid-controls">
                <div class="grid-control-item">
                    <rp-toggle model="UmRlCtrl.model.grid.filtersModel.state.active" options="{
                        defaultText: 'Filters',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                    </rp-toggle>
                </div>
            </div>
        </div>
    </div>
    <div class="usermgmt-grid">
        <rp-grid model="UmRlCtrl.model.grid" class="roles-grid">
        </rp-grid>
        <rp-grid-pagination model="UmRlCtrl.model.gridPagination">
        </rp-grid-pagination>
    </div>
</div>
