<div class="home" ng-show="!page.isLoading && !page.isError">
    <div class="container-fluid home-products gb-content-wrap">
        <h2 class="welcome-back-title">
            {{::"label.dashboard.welcomeBack" | dashboardText }}, {{ page.model.userSummary.firstName }}!
        </h2>
        <span class="home-products-not-you link" ng-click="page.logoutUser()">
            {{::"label.dashboard.not" | dashboardText}} {{ page.model.userSummary.firstName }}?
        </span>
<!--         <a class="home-products-view-all link" ui-sref="products.all">
            {{::"label.dashboard.viewAll" | dashboardText}}
        </a> -->
        <div class="home-products-carousel">
            <rp-carousel
                model="page.productsCarousel"
                class="solns-carousel">
            </rp-carousel>
        </div>
    </div>
    <div class="container-fluid home-resources" ng-if="page.showResourcesList">
        <h2 class="resources-title">
            {{::"label.dashboard.resources" | dashboardText }}
        </h2>
        <div class="home-resources-carousel">
            <rp-carousel
                model="page.resourcesCarousel"
                class="solns-carousel">
            </rp-carousel>
        </div>
    </div>
</div>
<div class="home container-fluid" ng-show="!page.isLoading && page.isError">
    {{page.errorMessage || ("errorMsgs.dashboard.noDetails" | dashboardText) }}
</div>
