// Assign Product Access

.assign-product-access {
    float: left;
    width: 100%;

    &-title {
        @include header-3;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &-tabs {
        margin-bottom: 10px;
    }
}

.assign-product-access-error-msg {
    @include body-3($rp-danger);
    padding-bottom: 8px;
}
