raul-checkbox {
  display: inline-block;
}

raul-checkbox .r-checkbox__label {
  cursor: pointer;
  display: flex;
  line-height: 20px;
  position: relative;
}

raul-checkbox .r-checkbox__label input[type=checkbox] {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
  z-index: -1;
}

raul-checkbox .r-checkbox__label input[type=checkbox]:checked ~ .r-checkbox__label__icon, raul-checkbox .r-checkbox__label input[type=checkbox]:indeterminate ~ .r-checkbox__label__icon {
  background-color: var(--raul-checkbox-checked-or-indeterminate-bg-color, #0076CC);
  border-color: #0076CC;
}

raul-checkbox .r-checkbox__label input[type=checkbox]:checked ~ .r-checkbox__label__icon::after {
  content: "";
  position: absolute;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  height: 0.7em;
  left: 0.3em;
  top: 0.7em;
  transform: rotate(-135deg);
  transform-origin: 0 0;
  width: 0.3em;
}

raul-checkbox .r-checkbox__label input[type=checkbox]:indeterminate ~ .r-checkbox__label__icon::after {
  content: "";
  position: absolute;
  border-top: 2px solid #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0.6em;
}

raul-checkbox .r-checkbox__label input[type=checkbox]:disabled ~ .r-checkbox__label__icon {
  background-color: #ebedee;
  border-color: #ebedee;
}

raul-checkbox .r-checkbox__label input[type=checkbox]:disabled:checked ~ .r-checkbox__label__icon::after, raul-checkbox .r-checkbox__label input[type=checkbox]:disabled:indeterminate ~ .r-checkbox__label__icon::after {
  border-color: #9ba3a7;
}

body[modality] raul-checkbox .r-checkbox__label input[type=checkbox]:focus ~ .r-checkbox__label__icon::before {
  border-radius: var(--raul-checkbox-border-radius, 2px);
  bottom: -4px;
  box-shadow: 0 0 0 1px #0076CC;
  content: "";
  left: -4px;
  right: -4px;
  position: absolute;
  top: -4px;
}

raul-checkbox .r-checkbox__label__icon {
  background-color: #ffffff;
  border: 1px solid #b8bec1;
  border-radius: var(--raul-checkbox-border-radius, 2px);
  font-size: 20px;
  flex: none;
  height: 20px;
  position: relative;
  width: 20px;
  transition: background-color 0.15s linear, border-color 0.15s linear;
}

raul-checkbox .r-checkbox__label__text {
  font-size: 14px;
  margin-left: 8px;
  word-break: break-all;
}

raul-checkbox .r-checkbox--small .r-checkbox__label {
  line-height: 14px;
}

raul-checkbox .r-checkbox--small .r-checkbox__label__icon {
  font-size: 14px;
  height: 14px;
  width: 14px;
}

raul-checkbox .r-checkbox--invalid .r-checkbox__label__icon {
  border-color: #d01a1f;
}