.product-type {
    border-top: 1px solid lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-width: 0px;
}

.product-type:last-child {
    border-bottom: 1px solid lightgray;
    border-bottom-width: 1px;
}

.product-type:hover {
    background: #e5f4ff
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.text-lg {
    font-size: 1rem;
}

.text-xl {
    font-size: 1.25rem;
}

.user-products {
    border-top: solid 1px #c9cdcf;
}

.icon-color {
    color: #c9cdcf;
}

.form-label {
    @include form-label;
    display: block;
}

.product-list {
    cursor: pointer;
    height: 56px;
    padding-top: 15px;
    padding-left: 10px;
    background-color: $white;
}

.product-bg {
    background-color: #f7f8f9;
}
