<div ng-controller="ClientPortalProductAccessCtrl as cppa"
    ng-show="cppa.isActive()"
    detect-product-change="{onChange: cppa.setChanged}" >
    <h3 class="assign-product-access-title">
        {{cppa.panelName}}
    </h3>
    <div ng-show="cppa.productDisabled" class="client-portal-error-msg">
        This product cannot be assigned when User Type is Regular user (no email).
    </div>
    <div ng-controller="ClientPortalPropertiesRolesCtrl as cpprc">
        <rp-scrolling-tabs-menu
            model="cpprc.tabsMenu">
        </rp-scrolling-tabs-menu>
        <ng-include
            src="tab.incUrl"
            ng-show="tab.isActive"
            ng-repeat="tab in cpprc.tabsList">
        </ng-include>
    </div>
</div>
