<div class="client-portal-properties-wrapper" ng-controller="ClientPortalPropertiesGridCtrl as cpp">
	<div class="client-portal-properties-body" ng-if="!cpp.isDataError">
		<label class="md-check dark-bluebox access-type-option">
		    <input type="radio" value="property" ng-disabled="cpp.hasViewUserAccess" ng-change="cpp.resetDataModel()" ng-model="cpp.propertySelect" class="has-value">
		    <i class="primary"></i>
		    Single Property
		</label>
		<label class="md-check dark-bluebox access-type-option">
		    <input type="radio" value="all" ng-disabled="cpp.hasViewUserAccess" ng-change="cpp.resetDataModel()" ng-model="cpp.propertySelect" class="has-value">
		    <i class="primary"></i>
		    All Properties
		</label>

		<div ng-if="cpp.propertySelect == 'property'" class="client-portal-properties">
		    <div class="grid-controls">
		        <div class="grid-control-item">
		            <rp-toggle model="cpp.propertiesGrid.filtersModel.state.active" options="{
		                defaultText: 'Filter',
		                activeIconClass: 'rp-icon-filter',
		                defaultIconClass: 'rp-icon-filter active'
		            }">
		            </rp-toggle>
		        </div>
		    </div>
			<rp-grid
				ng-if="cpp.isActive()"
				model="cpp.propertiesGrid"
				class="client-portal-properties-grid">
			</rp-grid>
			<rp-grid-pagination ng-if="cpp.isActive()" model="propertiesGridPagination">
			</rp-grid-pagination>
		</div>


		<div class="client-portal-all-properties" ng-if="cpp.propertySelect == 'all'">
		    This user will be provided access to all current and future properties.
		</div>
	</div>
	<div class="client-portal-properties-error" ng-if="cpp.isDataError">
		{{::cpp.dataErrorReason}}
	</div>
</div>
