<div class="client-portal-roles-wrapper" ng-controller="ClientPortalRolesGridCtrl as cpr">
	<div class="client-portal-roles-body" ng-if="!cpr.isDataError">
	    <div class="grid-controls">
	        <div class="grid-control-item">
	            <rp-toggle model="cpr.rolesGrid.filtersModel.state.active" options="{
	                defaultText: 'Filter',
	                activeIconClass: 'rp-icon-filter',
	                defaultIconClass: 'rp-icon-filter active'
	            }">
	            </rp-toggle>
	        </div>
	    </div>
		<rp-grid  ng-if="cpr.isActive()" model="cpr.rolesGrid" class="client-portal-roles-grid">
		</rp-grid>
		<rp-grid-pagination ng-if="cpr.isActive()" model="gridPagination">
		</rp-grid-pagination>
	</div>
	<div class="client-portal-roles-error" ng-if="cpr.isDataError">
		{{::cpr.dataErrorReason}}
	</div>
</div>
