<div class="assign-products" ng-controller="AssignProductsCtrl as assignProducts">
    <h2 class="assign-products-title-1">
        {{"text.title" | assignProductsText}}
    </h2>

    <div rp-accordion="families"
        class="assign-products-list">
        <div ng-class="{'expand':  assignProducts.isFamilyAdministration(family.data.familyId)}"
            rp-accordion-panel="{instName: family.id}"
            class="assign-product-family rp-accordion-panel"
            ng-repeat="family in assignProducts.model.families">
            <rp-select-all
                class="theme-1"
                rp-model="family.selectAll">
            </rp-select-all>

            <h3 class="assign-product-family-title rp-accordion-panel-title">
                <span class="rp-accordion-panel-title-text">
                    {{family.getTitleText()}}
                </span>
            </h3>

            <div class="assign-product-solution"
                ng-repeat="soln in family.solutions"
                ng-click="assignProducts.selectSoln(soln)"
                ng-class="{'selected': soln.data.selected}">
                <rp-form-input-checkbox
                    rp-model="soln.data.isAssigned"
                    rp-disabled="assignProducts.isDisabled(soln)"
                    rp-on-change="soln.selectItem.onChange()">
                </rp-form-input-checkbox>

                <h4 class="assign-product-solution-title">
                    {{soln.getTitleText()}}
                </h4>

                <p class="assign-product-solution-products">
                    {{soln.data.products}}
                </p>
            </div>
        </div>
    </div>
</div>
