<!-- <form novalidate rp-focus-invalid-field name="empAcCtrl.searchForm"  class="employee-access" ng-controller="EmployeeAccessCtrl as empAcCtrl" > -->
    <div name="empAcCtrl.searchForm"  class="employee-access" ng-controller="EmployeeAccessCtrl as empAcCtrl" >
    <div class="search gb-content-wrap container-fluid">
        <div class="row extend">
            <div class="col-md-12">
                <h3 class="search-title">Start a New Search</h3></div>
            <div class="col-md-12 spacer">
                <h5 class="search-sub-title">Browse or search using identifying information in the field below</h5></div>
            <div class="col-md-12 spacer">
                <div class="col-md-3">
                </div>
                <div class="col-md-2">
                    <rp-form-select-menu 
                    class="employee-access-menu"
                     rp-model="empAcCtrl.defaultMenuSelected" config="empAcCtrl.menuConfig.optionsData">
                    </rp-form-select-menu>
                </div>
                <div class="col-md-5" ng-if="empAcCtrl.showList.compView">
                    <rp-form-input-text config="empAcCtrl.config.search" rp-model="empAcCtrl.model.search">
                    </rp-form-input-text>
                </div>
                 <form name="empAcCtrl.searchForm" rp-focus-invalid-field>
                <div class="col-md-5"  ng-if="empAcCtrl.showList.userView">
                    <rp-form-input-text config="empAcCtrl.config.searchUser" rp-model="empAcCtrl.model.searchUser">
                    </rp-form-input-text>
                </div>
                </form>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
    <div class="gb-content-wrap container-fluid ">
        <div ng-if="empAcCtrl.showList.compView" class="row extend">
            <div class="col-md-12">
                <h4 class="search-grid-title">Company List</h4>
            </div>
            <div class="col-md-12">
                <div class="employee-access-grid">
                    <rp-grid model="empAcCtrl.model.grid" class="roles-grid">
                    </rp-grid>
                    <rp-grid-pagination model="empAcCtrl.model.gridPagination">
                    </rp-grid-pagination>
                </div>
            </div>
        </div>

        <div ng-if="empAcCtrl.showList.userView" class="row extend">
            <div class="col-md-12">
                <h4 class="search-grid-title">User List</h4>
            </div>
            <div class="col-md-12">
                <div class="employee-access-user-grid">
                    <rp-grid model="empAcCtrl.userModel.grid" class="roles-grid">
                    </rp-grid>
                    <rp-grid-pagination model="empAcCtrl.userModel.gridPagination">
                    </rp-grid-pagination>
                </div>
            </div>
        </div>
    </div>
</div>