<div class="integration-marketplace"
    ng-show="umpa.isActive()"
    detect-product-change="{onChange: umpa.setChanged}"
    ng-controller="IntegMktProductAccess as umpa">
    <h3 class="assign-product-access-title">
        Integration Marketplace Product Access
    </h3>

    <div ng-controller="IntegMktRolesCtrl as umprc">
        <rp-scrolling-tabs-menu
            model="umprc.tabsMenu">
        </rp-scrolling-tabs-menu>
        <ng-include
            src="tab.incUrl"
            ng-show="tab.isActive"
            ng-repeat="tab in umprc.tabsList">
        </ng-include>
    </div>
</div>
