<div class="entities-wrapper" ng-controller="AEntitiesGridCtrl as aep">
	<div class="entities-body">
		<div class="all-properties box-header">
			<rp-switch class="inline label-1"
				config="aep.allPropSwitch"
				rp-model="aep.allProperties"
				rp-label-text="'Allow access to all current and future properties'">
			</rp-switch>
        </div>
        <div ng-if="!aep.allProperties" class="box-body">
		    <div class="grid-controls">
		        <div class="grid-control-item">
		            <rp-toggle model="aep.entitiesGrid.filtersModel.state.active" options="{
		                defaultText: 'Filter',
		                activeIconClass: 'rp-icon-filter',
		                defaultIconClass: 'rp-icon-filter active'
		            }">
		            </rp-toggle>
		        </div>
		    </div>
			<rp-grid model="aep.entitiesGrid" class="accounting-entities-grid">
			</rp-grid>
			<rp-grid-pagination model="gridPagination">
			</rp-grid-pagination>
		</div>
	</div>
	
</div>