<div ng-controller="AccountingProductAccess as apa">
    <div rp-accordion-panel
        class="rp-accordion-panel">
        <div class="rp-accordion-panel-title">
            <span class="rp-accordion-panel-title-text">
                {{apa.panelName}}
            </span>
        </div>
        <div class="container-fluid">
            <rp-scrolling-tabs-menu model="apa.tabsMenu">
            </rp-scrolling-tabs-menu>
            <ng-include 
                ng-repeat="tab in apa.tabsList"
                src="tab.incUrl" 
                ng-show="tab.isActive">
            </ng-include>
        </div>
    </div>
</div>