<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <IdentityConfig>
    <add key="IssuerUri" value="https://myl.realpage.com/identity" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RequiredScope" value="rplandingapi" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiSecret" value="api-secret1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LandingUri" value="https://my.realpage.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--Placeholder for DAM-->
    <add key="ImagesUri" value="https://my.realpage.com/email/email-notification/images" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DocumentUri" value="https://my.realpage.com/email/email-notification/assets" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CESURL" value="http://smtp.lettersandnotices.residentemails.com/emailservice.asmx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SystemGUID" value="C34616E3-D52E-4420-824C-595D1585D7C0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="VendorServicesIssueUri" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </IdentityConfig>
  <connectionStrings>
    <add name="IdpConfigurationDb" connectionString="Data Source=greenbooknode;Initial Catalog=identity;user id=identityserver; password=p@$$w0rd;Encrypt=yes;TrustServerCertificate=True;" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="ElasticSearchUri" value="http://cluster-e.monitoring.corp.realpage.com:9200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="cors:allowOrigins" value="https://my.realpage.com;https://myl.realpage.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Environment" value="PROD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="ShouldWriteInFile" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="ShouldLogDiagnostic" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>