<div class="login-wrapper">
  <h1 class="r-text-hero">Log in to claim products </h1>
  
  <form class="r-mt-5">
    <raul-button variant="secondary" class="w-50 r-mr-2" (click)="redirectToUL()"> Login with Unified Login</raul-button>

    <div class="text-center r-my-4">-OR-</div>
    <p class="r-text-lg r-mb-6"> Enter your log credentials for an existing product to get started.</p>
  <raul-alert [attr.variant]="alertClass" class="r-mb-4" *ngIf="alertMessage" [attr.content]="'User name and Password is correct'" [attr.heading]="'Login Failed'"></raul-alert> 

  <raul-select label="Product*" placeholder="Select Product" [(ngModel)]="productcode"
   class="r-mb-3" [options]="productList" searchable></raul-select>

  <raul-input label="Username*" class="r-mb-3">
    <input type="text" placeholder="Enter Username" [(ngModel)]="username" name="username"/>
  </raul-input>

  <raul-input label="Password*" class="r-mb-3">
    <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="password" value="password" />
  </raul-input>


  <div class="r-mt-5 text-center r-pt-5 ">

    <raul-button variant="primary" class="w-50" (click)="onLogin()">Login to Migrate</raul-button>
  </div>
  </form>
</div>