<div ng-controller="AcctCloneRoleCtrl as cloneRole" class="rp-aside-modal rp-aside-modal-right acct-role-modal">
    <div class="rp-aside-modal-header">
        <span class="rp-aside-modal-close" ng-click="cloneRole.cancel()">
        </span>
        <h2 class="rp-aside-modal-header-title">
            Clone Role
        </h2>
        <h3 class="rp-aside-modal-header-subtitle">
            {{cloneRole.model.data.roleName}}
        </h3>
    </div>
    <div class="rp-aside-modal-content">
        <form name="cloneRoleForm" rp-focus-invalid-field>
            <div class="row extend">
                <div class="col-md-12">
                    <label for="">Role Name</label>
                    <rp-form-input-text config="cloneRole.roleConfig.roleName" rp-model="cloneRole.model.data.cloneRoleName">
                    </rp-form-input-text>
                    <div ng-if="cloneRole.isError" class="ul-roles-error-msg">
                        {{cloneRole.errorMsg}}</div>
                </div>
            </div>
        </form>
        <rp-scrolling-tabs-menu class="page-tabs" model="cloneRole.tabsMenu">
        </rp-scrolling-tabs-menu>
        <ng-include src="tab.incUrl" ng-show="tab.isActive" ng-repeat="tab in cloneRole.tabsList">
        </ng-include>
    </div>
    <div class="rp-aside-modal-footer rp-aside-modal-footer-btns">
        <button ng-click="cloneRole.cancel()" class="rp-btn rp-aside-modal-footer-btn outline primary">
            Cancel
        </button>
        <button ng-if= "cloneRole.hasAccess()" ng-click="cloneRole.clone()" class="rp-btn rp-aside-modal-footer-btn primary">
            Create
        </button>
    </div>
</div>
