.product-panel-list-aside-body {
    padding-left: 0px;
    padding-right: 0px;

    &-error {
        margin-top: 20px;
    }
}

.product-panel-list-aside-header{
    width: 35%;
}

.product-panel-list-aside {
    &-grid {
        .is-assigned {
            min-width: 50px;
            max-width: 70px;
            white-space: nowrap;
        }

        .name {
            width: 60%;
        }

        .property-type {
            min-width: 20%;
            max-width: 20%;
        }
        .center-name {
            width: 50%;
        }
        .property-name {
            width: 90%;
        }
        .statecode {
            min-width: 120px;
            max-width: 120px;
        }
    }
}