.product-panel-properties-body {
    padding-left: 0px;
    padding-right: 0px;
}

.product-panel-properties-error {
    margin-top: 20px;
}

.product-panel-properties {
    width: 100%;

    &-grid {
        .is-assigned {
            min-width: 125px;
            max-width: 125px;
            white-space: nowrap;
        }

        .name {
            min-width: 250px;            
        }

        .state {
            min-width: 105px;
            max-width: 105px;
            white-space: nowrap;
        }
    }
}

.single-prop-access-type-option {
    margin-left: 20px;
}

.access-type-option {
    margin-left: 20px;
}


.product-panel-all-properties,
.product-panel-no-access {
    margin-top: 10px;
    margin-bottom: 10px;
}

.marg-r{
    margin-right: 30px;
}

.switch{    
    text-align: right;
    margin-bottom: 20px;
}

.radio{
    float: left; 
}