.product-panel-properties-body {
    padding-left: 0px;
    padding-right: 0px;
}

.product-panel-properties-error {
    margin-top: 20px;
}

.product-panel-notification {
    opacity: 1;
    display: block;
}

.rp-notification-wrap {
    max-width: 75%;
    background: transparent;
}
.product-panel-properties {
    width: 100%;

    &-grid {

        .rp-grid-headers-1,
        .rp-grid-filters-1,
        .rp-grid-body-1 {
            table-layout: auto;
        }

        .is-assigned {
            width: 5%;
        }

        .name {
            min-width: 30%;
            max-width: 80%;
        }

        .street1 {
            width: 20%;
        }

        .city {
            width: 15%;
        }

        .state {
            width: 15%;
        }

        .zip {
            width: 20%;
        }

        .assigned-groups {
            width: 25%;
        }

        .assigned-properties {
            width: 25%;
        }

        .property-id{
            width:15%;
        }

        .property-name{
            width: 20%;
        }

        .company-id{
            width:20%;
        }

        .company-name{
            width:20%;
        }
    }
}

.single-prop-access-type-option {
    margin-left: 20px;
}

.access-type-option {
    margin-left: 20px;
}


.product-panel-all-properties,
.product-panel-no-access {
    margin-top: 10px;
    margin-bottom: 10px;
}

.marketing-center-property-groups{
    width: 100%;
    &-grid {
        .is-assigned{
            width: 20%;
        }
        .id{
            width: 40%;
        }
        .name{
            width: 50%;
        }
    }
}

.marg-r {
    margin-right: 30px;
}

.switch {
    float: left;
}

.all-feature-properties {
    text-align: right;
    margin-bottom: 20px;

    .rp-switch {
        text-align: left;
    }
}
