
.product-panel-property-group-body {
    padding-left: 0px;
    padding-right: 0px;
}

.product-panel-property-group {
    width: 100%;
    &-grid {
        .rp-grid-headers-1,
        .rp-grid-filters-1,
        .rp-grid-body-1 {
            table-layout: auto;
        }
        .is-assigned {
            width: 10%; 
        }
        .name {
           width:60%;
        }
        .type {
            width: 40%;
        }
        .info-tooltip {
            width: 10%;
        }
    }
}

.product-panel-property-group-error {
    margin-top: 20px;
}

.product-panel-property-group{
    width: 35%;
}
