.product-panel-roles-body {
    padding-left: 0px;
    padding-right: 0px;
}

.product-panel-roles-error {
    margin-top: 20px;
}

.product-panel-roles {
    width: 100%;

    &-grid {
        .rp-grid-headers-1,
        .rp-grid-filters-1,
        .rp-grid-body-1 {
            table-layout: auto;
        }

        .is-assigned {
            min-width: 125px;
            max-width: 125px;
            white-space: nowrap;
        }

        .name {
             width: 90%;
            //min-width: 200px;
        }


        .roletype {
            min-width: 200px;
        }

        .info-icon {
            min-width: 50px;
        }

    }
}

.role-info-icon {
    .rp-icon-info-circle {
        color: $rp-primary;
        cursor: pointer;
    }
}
