.product-panel-roles-body {
    padding-left: 0px;
    padding-right: 0px;
}

.product-panel-roles-error {
    margin-top: 20px;
}

.product-panel-roles-select {
    width: 40%;
}

.product-panel-roles {
    width: 100%;

    &-grid {

        .rp-grid-headers-1,
        .rp-grid-filters-1,
        .rp-grid-body-1 {
            table-layout: auto;
        }

        .is-assigned {
            width: 10%;
        }

        .name {
            width: 60%;
        }

        .roletype {
            width: 20%;
        }

        .info-icon {
            width: 10%;
        }
    }
}

.role-info-icon {
    .rp-icon-info-circle {
        color: $rp-primary;
        cursor: pointer;
    }
}
