raul-filter-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

raul-filter-bar raul-filter-bar-button {
  display: inline-block;
  margin-left: 1.5rem;
}

raul-filter-bar raul-filter-bar-button[type=button] {
  appearance: none;
}

raul-filter-bar raul-filter-bar-button .r-filter-bar-button {
  position: relative;
}

raul-filter-bar raul-filter-bar-button .r-filter-bar-button__content {
  position: relative;
  border-width: 1px;
  border-color: transparent;
  border-radius: 0.125rem;
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.75rem;
  width: 100%;
  white-space: nowrap;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  color: #0076CC;
  border-color: #0076CC;
  background-color: #ffffff;
}

raul-filter-bar raul-filter-bar-button .r-filter-bar-button__content raul-icon {
  margin-top: -1px;
  margin-right: 2px;
  font-size: 1.25rem;
}

raul-filter-bar raul-filter-bar-button .r-filter-bar-button__element {
  appearance: none;
  position: absolute;
  border-radius: 0.125rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

raul-filter-bar raul-filter-bar-button .r-filter-bar-button__element[disabled], raul-filter-bar raul-filter-bar-button .r-filter-bar-button__element[aria-disabled] {
  pointer-events: none;
}

body[modality=keyboard] raul-filter-bar raul-filter-bar-button .r-filter-bar-button__element:focus ~ .r-filter-bar-button__content::before {
  position: absolute;
  border-width: 1px;
  border-color: transparent;
  border-radius: 0.125rem;
  content: "";
  bottom: -4px;
  left: -4px;
  right: -4px;
  top: -4px;
  border-color: #0076CC;
}

raul-filter-bar raul-filter-bar-button .r-filter-bar-button__element:hover ~ .r-button__content {
  background-color: #0069B7;
  border-color: #0069B7;
  color: #0069B7;
}

raul-filter-bar raul-filter-bar-button .r-filter-bar-button__focus-ring {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  border-radius: 0.125rem;
  height: 100%;
  width: 100%;
  z-index: 10;
  color: #0076CC;
}

raul-filter-bar raul-filter-menu {
  margin-left: 1.5rem;
  display: none;
}

@media (min-width: 768px) {
  raul-filter-bar raul-filter-menu {
    display: inline-block;
  }
}