.product-settings {
	.list {
		display: table;
		table-layout: fixed;
		border-collapse: collapse;
		width: 100%;

		@media screen and (min-width: 1400px) {
			width: 600px;
		}

		&-heading {
			color: $rp-primary;
			font-size: 16px;
			margin-top: 45px;
			margin-bottom: 15px;
			text-transform: uppercase;

			&:first-child {
				margin-top: 0;
			}
		}

		.list-item {
			display: table-row;
			border-bottom: 1px solid $rp-neutral-06;
		}

		.list-sub-item {
			padding-left: 25px;
		}

		.list-body {
			padding: 13px 0;

			span {
				display: table-cell;
				vertical-align: middle;
				width: 99%;
			}

			.list-item-check,
			.list-item-input,
			.list-item-select {
				display: table-cell;
				padding-right: 10px;
				padding-left: 10px;
				vertical-align: middle;
			}
				
			.list-item-input {
				width: 200px;
			}

			.checkboxes-group {
				margin-top: 10px;
				text-align: right;
			}

			.md-check {
				padding-left: 55px;

				&:first-child {
					padding-left: 0;
				}
			}

			.ui-switch-md {
				margin-left: 15px;
				vertical-align: middle;
			}
		}

		.list-note {
			border-bottom: none;
			color: $rp-neutral-02;
			font-size: 12px;
			font-style: italic;
			line-height: 15px;
		}
	}

	.list-divider {
		border: 1px solid $rp-neutral-06;
		margin-top: 25px;
		margin-bottom: 30px;
	}
	
}