.product-panel-content {
	left: 0;
	margin-left: 350px;

	@media #{$mdScAndBelow} {
		margin-left: 0px;
		position: relative;
	}

	.custom-select {
		width: 180px;
	}

	.block-input {
		width: 180px;
	}

	.inline-input {
		display: inline-block;
		width: 80px;
		margin: 0 10px;
	}

	.list-label-question,
	.list-label-info {
		margin-left: 5px;
		vertical-align: top;
	}

	.list-label-info {
		color: $rp-primary;
	}

	.box-body {
		padding-top: 35px;
		padding-bottom: 35px;
	}
}