.settings-content {
    position: relative;

    .nav-side-menu {
        float: left;

        @media #{$smScAndBelow} {
            width: 230px;
        }
    }

    &.open {
        .nav-side-menu {
            @media #{$mdScAndBelow} {
                position: absolute;
            }
        }
        .menu-list {
            display: block;
        }

        .product-panel-content {
            left: 250px;
            transition: left 0.50s;

            @media #{$mdSc} {
                left: 350px;
            }
        }
    }

    &.closed {
        .menu-list {
            @media #{$mdScAndBelow} {
                display: none;
                opacity: 0;
                transition: opacity 0.50s;
            }
        }

        .product-panel-content {
            left: 0;
            transition: left 0.25s linear;
        }
    }
}

.nav-side-menu {
    &-controls {
        @include rp-icon(menu);
        cursor: pointer;
        display: none;
        font-size: 14px;

        @media #{$mdScAndBelow} {
            display: inline-block;
            margin-right: 15px;
        }
    }

    li {
        height: 60px;
        
        &::before {
            color: $rp-neutral-04;
            font-size: 24px;
            padding-right: 20px;
            vertical-align: middle;
        }

        a {
            line-height: 22px;
            vertical-align: middle;
        }
    }

    .sub-menu {
        a {
            display: block;
            background-color: #fff;
            border: none;
            line-height: 17px;
            margin: 0;
            font-size: 16px;
            font-weight: normal;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;

            &.active {
                background-color: transparent;
                border-left: none;
                color: $rp-primary;
            }
        }
    }
}
