#auto-logout-modal {
	.box-close i {
		@include micro-text;
		color: $rp-neutral-03;

		top: 8px;
		right: 8px;
	}

	.modal {
		&-header {
			@include header-2;
		}

		&-footer {
			margin: 0;
		}
	}
}