/* Login Form */

.login-user-text .rp-form-input-text-field {
    opacity: 0.75;
}

.launch-simon-video {
        cursor: pointer;
}

.main-content-area {
    position: relative;
    z-index: 10;
}

.login {
    &-form {
        // margin: 0 auto;
        // max-width: 400px;
        // padding-top: 40px;
        .rp-form-input-checkbox {
            float: left;
        }

        .rp-form-input-text-field {
            font-size: 16px;
            
            @media #{$mdSc} {
                font-size: 14px;
            } 
        }

        &-container {
            background-color: #fff;
            width: 100%;
            padding: 1rem 16px;
            max-width: 440px;
            margin: 0 auto;

            @media #{$mdSc} {
                padding: 0 45px;
                border: 1px solid $rp-neutral-05;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            // float: none;
            // height: auto;
            // width: 440px;
            // min-height: 560px;
            // margin: 0 auto;
            // text-align: left;
            // background: #fff;
            // display: inline-block;
            // padding: 40px 40px 25px 40px;
            // box-shadow: 0 2px 6px 1px rgba(82, 97, 115, .6);
            // @include grid-col(12);
            // height: 100vh;
            // min-height: 550px;
            // padding-top: 12vh;
            // padding-left: $grid-gutter-width;
            // padding-right: $grid-gutter-width;
            // @media #{$mdSc} {
            //     @include grid-col(8);
            //     min-height: 550px;
            //     padding-left: $grid-gutter-width;
            //     padding-right: $grid-gutter-width;
            // }
            // @media #{$lgSc} {
            //     @include grid-col(4);
            //     min-height: 550px;
            //     padding-left: $grid-gutter-width;
            //     padding-right: $grid-gutter-width;
            // }
            // @media #{$exLgSc} {
            //     @include grid-col(3);
            //     min-height: 550px;
            //     padding-left: $grid-gutter-width;
            //     padding-right: $grid-gutter-width;
            // }
        }

        &-header {
            text-align: center;

            img {
                width: 100%;
                height: auto;
                padding: 1.5rem 0;
                display: block;
                margin: 0 auto;
                max-width: 255px;
                // max-width: 322px;
                @media #{$mdSc} {
                    padding: 3rem 0;
                }
            }
        }
    }

    &-actions {
        margin-top: 35px;
    }

    &-return-action {
        cursor: pointer;
    }

    &-error-message {
        min-height: 65px;
        margin-top: 20px;
    }

    &-status-msg {
        text-align: center;
    }

    &-copyright {
        width: auto;
        text-align: center;
        position: static;
        padding: 15px 0 0 0;
        // @include body-3;
        // left: 0;
        // bottom: 0;
        // position: fixed;
        // text-align: center;
        // padding-left: 25px;
        // padding-right: 25px;
        // padding-top: 16px;
        // padding-bottom: 16px;
        // margin-bottom: 0;
        // width: 100%;
        // background: #fff;
        // @media #{$mdSc} {
        //     width: 66%;
        // }
        // @media #{$lgSc} {
        //     width: 33%;
        // }
        // @media #{$exLgSc} {
        //     width: 25%;
        // }
    }
}

.changed-password-message {
    font-weight: bold;
    // margin-top: 50px;
    margin-bottom: 1rem;
}

.forgot-password-action {
    cursor: pointer;
    float: right;
    line-height: 40px;
    // text-align: center;
    // font-weight: 500;
}
