.document-management-departments-body {
    padding-left: 0px;
    padding-right: 0px;

    &-error {
        margin-top: 20px;
    }
}

.document-management-departments {
    &-grid {
        .assigned {
            min-width: 125px;
            max-width: 125px;
            white-space: nowrap;
        }

        .name {
            width: 90%;
        }
    }
}
