<div class="prospect-contact-center-properties-wrapper" ng-controller="ProspectContactCenterPropertiesGridCtrl as pccg">
	<div class="prospect-contact-center-body" ng-if="!pccg.isDataError">
		<div class="access-type-options">
			<label class="md-check dark-bluebox access-type-option">
			    <input type="radio" value="active" ng-disabled="pccg.hasViewUserAccess" ng-change="pccg.resetDataModel()" ng-model="pccg.propertySelect" class="has-value">
			    <i class="primary"></i>
			    Active Properties
			</label>
			<label class="md-check dark-bluebox access-type-option">
			    <input type="radio" value="inactive" ng-disabled="pccg.hasViewUserAccess" ng-change="pccg.resetDataModel()" ng-model="pccg.propertySelect" class="has-value">
			    <i class="primary"></i>
			    Inactive Properties
			</label>
			<label class="md-check dark-bluebox access-type-option">
			    <input type="radio" value="all" ng-disabled="pccg.hasViewUserAccess" ng-change="pccg.resetDataModel()" ng-model="pccg.propertySelect" class="has-value">
			    <i class="primary"></i>
			    All Properties
			</label>
		</div>
		<div class="prospect-contact-center-all-properties" ng-if="pccg.propertySelect === 'all'">
		    This user will be provided access to all current and future properties.
		</div>
	    <div ng-if="(pccg.propertySelect === 'active' || pccg.propertySelect === 'inactive')">
		    <div class="grid-controls">
		        <div class="grid-control-item">
		            <rp-toggle model="pccg.grid.filtersModel.state.active" options="{
		                defaultText: 'Filter',
		                activeIconClass: 'rp-icon-filter',
		                defaultIconClass: 'rp-icon-filter active'
		            }">
		            </rp-toggle>
		        </div>
		    </div>

			<rp-grid ng-if="pccg.isActive()" model="pccg.grid" class="prospect-contact-center-properties-grid">
			</rp-grid>

			<rp-grid-pagination ng-if="pccg.isActive()" model="gridPagination">
			</rp-grid-pagination>
		</div>
	</div>
	<div class="prospect-contact-center-error" ng-if="pccg.isDataError">
		{{::pccg.dataErrorReason}}
	</div>
</div>