@{
    Layout = "~/Views/Shared/_LayoutJquery.cshtml";
}

@*@Html.Partial("~/Views/Shared/_BreadCrumbs.cshtml")*@



<!--  temparory static breadcrumbs -->

<header id="raul-page-header" class="raul-page-header">
    <h2 id="raul-page-header-page" class="raul-page-header-page">Settings</h2>
    <div id="raul-page-header-breadcrumbs" class="raul-page-header-breadcrumbs">

        <!-- MOBILE SOLUTION -->
        <div id="raul-page-header-breadcrumbs-dropdown" class="raul-page-header-breadcrumbs-dropdown d-md-none">
            <a class="raul-page-header-breadcrumbs-dropdown-breadcrumb rp-breadcrumbs-template hidden" href="/">RealPage</a>
        </div>

        <i id="raul-page-header-breadcrumbs-back" class="fa fa-angle-left d-md-none"></i>

        <!-- DESKTOP SOLUTION -->
        <!--  <div class="rp-breadcrumbs-wrapper rp-breadcrumbs-template hidden">
            <a class="raul-page-header-breadcrumb hidden-sm-down" href="/">RealPage</a>
            <span class="hidden-sm-down">/</span>
        </div>
          -->
        <!-- DESKTOP SOLUTION -->
        <div class="rp-breadcrumbs-wrapper rp-breadcrumbs-template">
            <a class="raul-page-header-breadcrumb hidden-sm-down _600" href="/">Settings</a>
        </div>

    </div>
</header>




<main id="raul-page-container" class="raul-page-container">
    <section>
        <div class="">
            <div>
                <!-- commented this code as per new design USA-647
                <div class="background-charcoal-05 pt-5 pb-5">
                     <div class="row mx-0 ">
                         <div class="col-3 text-left"><h2 class="py-4 pl-3">Company Settings</h2></div>
                         <div class="col-5 form-group px-1 py-3">
                             <form id="settings-search-bar" class="settings-search-bar" ui-jp="parsley" ui-options="{}" data-parsley-focus="none">
                                 <input type="search" id="setting-search" name="example-input-11" class="form-control" placeholder="Search all Realpage Settings" autocomplete="off" minlength="3" required>
                                 <button type="submit" class="form-icon-box search-settings-icon">
                                     <i class="fa fa-search form-icon form-icon-search form-icon-black" aria-hidden="true"></i>
                                 </button>
                             </form>

                             @*<div class="search-results-dropdown p-0">

                         <ul id="searchlist">
                             <li>
                                 <div class="content-loader-wrapper">
                                     <div class="content-loader"></div>
                                 </div>
                             </li>
                         </ul>


                         <div class="readmore p-2 primary-text pl-3">
                             <a href="#"> View all search results  </a>
                         </div>

                     </div>*@


                         </div><div class="col-3 py-3 text-right"><a href="#" class="line-height-38 text-primary">Manage Property Settings</a></div>
                     </div>

                 </div>

                 -->


             


                <div class="settings-tabpanel ">
                    <ul id="landing-tabs-panel" class="raul-nav nav nav-tabs raul-nav-underline background-charcoal-05 px-5 pt-3" role="tablist">
                        <li class="nav-item hidden">
                            <a class="nav-link nav-dark background-charcoal-05" href="" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="false" data-target=""></a>
                        </li>
                    </ul>
                    <div id="landing-tabs-content" class="tab-content col-md-12">
                        <div class="tab-pane animated fadeIn hidden row clearfix pb-5" id="">

                            <div class="col-md-2 raul-tab-content tab-content general-settings-tile-wrapper">

                                <a href="" data-id="">
                                    <div class="text-center">
                                        <img src="" alt="">
                                        <p class="ft-s-16 _500"></p>
                                    </div>
                                </a>

                            </div>


                            <!--Implementation Questions-->


                            <div class="implementation-tiles-wrap mb-4 clearfix" style="display:none">
                                
                                <ul class="implement-tiles m-0 p-0">
                                    <li>
                                        <img src="/Assets/build/images/settings-icons/settings-security.svg" />
                                        <h5>Company Details</h5>
                                        <a href="#" class="text-primary">Answer Now</a>

                                        <div class="task-progress m-t-20">
                                            <div class="raul-progress progress">
                                                <div class="raul-progress-bar progress-bar success "
                                                     role="progressbar"
                                                     aria-valuenow="50"
                                                     aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>

                                            <div class="clearfix">
                                                <div class="pull-left">Task Complete</div>
                                                <div class="pull-right">5/20</div>
                                            </div>

                                        </div>

                                    </li>

                                    <li>
                                        <img src="/Assets/build/images/settings-icons/settings-security.svg" />
                                        <h5>Property Details</h5>
                                        <a href="#" class="text-primary">Answer Now</a>

                                        <div class="task-progress m-t-20">
                                            <div class="raul-progress progress">
                                                <div class="raul-progress-bar progress-bar success "
                                                     role="progressbar"
                                                     aria-valuenow="20"
                                                     aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>

                                            <div class="clearfix">
                                                <div class="pull-left">Task Complete</div>
                                                <div class="pull-right">8/20</div>
                                            </div>

                                        </div>

                                    </li>

                                    <li>
                                        <img src="/Assets/build/images/settings-icons/settings-security.svg" />
                                        <h5>Market</h5>
                                        <a href="#" class="text-primary">Answer Now</a>

                                        <div class="task-progress m-t-20">
                                            <div class="raul-progress progress">
                                                <div class="raul-progress-bar progress-bar success "
                                                     role="progressbar"
                                                     aria-valuenow="0"
                                                     aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>

                                            <div class="clearfix">
                                                <div class="pull-left">Task Complete</div>
                                                <div class="pull-right">5/20</div>
                                            </div>

                                        </div>

                                    </li>

                                </ul>



                            </div>



                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
</main>


<script src="@Url.Content("~/Assets/build/js/settings/load-scripts.js")"></script>
<script>
    loadFiles([
        '@Url.Content("~/Assets/build/js/settings/common-functions.js")',
		'@Url.Content("~/Assets/build/js/settings/ui-company-settings.js")'
    ]);
</script>
