<div class="rp-modal-wrap" ng-controller="PlpModalCtrl as plp">
    <div class="rp-modal" ng-click="$hide()">
        <div class="rp-modal-dialog prev-acct-dialog" ng-show="plp.modalStates.data.prevAcct" rp-stop-event="click">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="$hide()"></span>
                <h2 class="rp-modal-header-title">Previous account?</h2>
            </div>
            <div class="rp-modal-content prev-acct-body">
                <p>Did you previously create an account on the RealPage<br /> Product Learning Portal?</p>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns prev-acct-buttons">
                    <button ng-click="plp.createUserInPLP()"
                        class="rp-modal-footer-btn rp-btn outline primary prev-acct-button">
                         No
                    </button>
                    <button class="rp-modal-footer-btn rp-btn primary prev-acct-button"
                        ng-click="plp.showNextModal()">
                        Yes
                    </button>
                </div>
            </div>
        </div>

        <div class="rp-modal-dialog acct-email-dialog" rp-stop-event="click" ng-show="plp.modalStates.data.enterEmail">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="$hide()"></span>
                <h2 class="rp-modal-header-title">Account Email</h2>
            </div>
            <form name="plpEmailForm" ng-submit="plp.submitEmailForm()" novalidate>
                <div class="rp-modal-content">
                    <div class="acct-email-body">
                        <p>Please enter the email address associated with your RealPage Product Learning Portal account:</p>
                    </div>
                    <label for="">Email</label>
                    <rp-form-input-text
                        config="plp.formConfig.emailAddress"
                        rp-model="plp.formModel.data.userEmailAddress">
                    </rp-form-input-text>
                </div>
                <div class="rp-modal-footer">
                    <div class="rp-modal-footer-btns acct-email-buttons">
                        <button ng-click="$hide()"
                            class="rp-modal-footer-btn rp-btn outline primary acct-email-button">
                            Cancel
                        </button>
                        <button type="submit"
                            class="rp-modal-footer-btn rp-btn primary acct-email-button">
                            Continue
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="rp-modal-dialog acct-not-found-dialog" rp-stop-event="click" ng-show="plp.modalStates.data.notFound">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="$hide()"></span>
                <h2 class="rp-modal-header-title">Account Not Found</h2>
            </div>
            <div class="rp-modal-content">
                <div class="acct-not-found-body">
                    <p>
                        We did not find an account with that username.<br />
                        We'll create a new account for you.
                    </p>
                </div>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns acct-not-found-buttons">
                    <button ng-click="$hide()"
                        class="rp-modal-footer-btn rp-btn outline primary acct-not-found-button">
                        Cancel
                    </button>
                    <button ng-click="plp.createUserInPLP()"
                        class="rp-modal-footer-btn rp-btn primary acct-not-found-button">
                        Continue
                    </button>
                </div>
            </div>
        </div>

        <div class="rp-modal-dialog acct-not-created-dialog" rp-stop-event="click" ng-show="plp.modalStates.data.notCreated">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="$hide()"></span>
                <h2 class="rp-modal-header-title">Account Not Created</h2>
            </div>
            <div class="rp-modal-content">
                <div class="acct-not-created-body">
                    <p>
                        The user account could not be created.<br />
                        Please try again later.
                    </p>
                </div>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns acct-not-created-buttons">
                    <button ng-click="$hide()"
                        class="rp-modal-footer-btn rp-btn primary acct-not-created-button">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
