<div class="renters-insurance-access"
    ng-show="ripa.isActive()"
    detect-product-change="{onChange: ripa.setChanged}"
    ng-controller="RentersInsuranceProductAccessCtrl as ripa">
    <h3 class="assign-product-access-title">
        {{ripa.panelName}}
    </h3>

     <rp-scrolling-tabs-menu
        class="renters-insurance-tabs"
        ng-class="{visible: ripa.model.tabsReady}"
        model="ripa.tabsMenu">
    </rp-scrolling-tabs-menu>
    <ng-include
        src="tab.incUrl"
        ng-show="tab.isActive"
        ng-repeat="tab in ripa.tabsList">
    </ng-include>
</div>
