<div class="properties-wrapper" ng-controller="RentersInsurancePropertiesGridCtrl as rip">
    <div class="properties-body" ng-if="!rip.isDataError">
        <div class="renters-insurance-corporate-user" ng-if="rip.corporateUser">
            Corporate Users will be provided access to all properties.
        </div>
        <div ng-if="!rip.allProperties">
            <div class="grid-controls">
                <div class="grid-control-item">
                    <rp-toggle model="rip.propertiesGrid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                    </rp-toggle>
                </div>
            </div>
            <rp-grid model="rip.propertiesGrid" class="renters-insurance-properties-grid">
            </rp-grid>
            <rp-grid-pagination model="propertiesGridPagination">
            </rp-grid-pagination>
        </div>
    </div>
    <div class="properties-body-error" ng-if="rip.isDataError">
        {{::rip.dataErrorReason}}
    </div>
</div>
