raul-snackbar-group {
  display: flex;
  z-index: 1030;
  position: fixed !important;
  display: flex;
  flex-direction: column-reverse;
  right: 40px;
  bottom: 40px;
}

@media (max-width: 640px) {
  raul-snackbar-group {
    left: 40px;
  }
}

raul-snackbar-group raul-snackbar .r-snackbar__container {
  margin-bottom: 1rem;
}