<div class="ia-roles-wrapper" ng-controller="InvestmentAnalyticsCompaniesCtrl as iacs">
    <div class="ia-roles-body" ng-if="!iacs.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="iacs.grid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="iacs.isActive()" model="iacs.grid" class="ia-roles-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="iacs.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="ia-roles-body-error" ng-if="iacs.isDataError">
        {{::iacs.dataErrorReason}}
    </div>
</div>
