<div ng-controller="InvestmentAnalyticsProductAccessCtrl as iapctrl"
     ng-show="iapctrl.isActive()"
     detect-product-change="{onChange: iapctrl.setChanged}">
    <h3 class="assign-product-access-title">
        {{iapctrl.panelName}}
    </h3>

    <div ng-show="iapctrl.productDisabled" class="assign-product-access-error-msg">
        This product cannot be assigned when User Type is Regular user (no email).
    </div>

     <rp-scrolling-tabs-menu model="iapctrl.tabsMenu">
        </rp-scrolling-tabs-menu>
        <ng-include
            src="tab.incUrl"
            ng-show="tab.isActive"
            ng-repeat="tab in iapctrl.tabsList">
        </ng-include>

</div>
