<div class="ia-markets-wrapper" ng-controller="InvestmentAnalyticsMarketsCtrl as iamar">
    <div class="ia-markets-body" ng-if="!iamar.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="iamar.grid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="iamar.isActive()" model="iamar.grid" class="ia-markets-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="iamar.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="ia-markets-body-error" ng-if="iamar.isDataError">
        {{::iamar.dataErrorReason}}
    </div>
</div>
