.single-user-activity-aside {
	width: 660px;
	.activity-log-aside-export-menu {
	    float: right;
	    margin-top: 10px;
	}
}

.link {
	color: $rp-primary !important;
	cursor: pointer;
}

.rp-actions-menu-panel {
    z-index: 1060;
}
