// User Profile
.activity-log-profile {
    @include grid-container-fluid(true, true);

    &-card {
        height: 105px;
        border-radius: 2px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(82, 97, 115, 0.2);
    }

    &-avatar-sm {
        @include rounded(56px);
        width: 60px;
        height: 56px;
        float: left;
        overflow: hidden;
        margin: 11px 12px 33px 10px;
        background: $rp-neutral-05;
    }

    &-initials {
        margin: 16px 15px 16px 14px;
        color: #61676B;
        font-family: Roboto;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
    }

    &-info {
        white-space: nowrap;
        padding-top: 18px;
    }

    &-name {
        margin: 0;
        height: 22px;
        width: 100%;
        color: #303436;
        font-family: Roboto;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    &-status {
        margin: 0;
        height: 22px;
        width: 96.95px;
        opacity: 0.64;
        color: #181A1B;
        font-family: Roboto;
        font-size: 14px;
        line-height: 22px;  
        padding-left: 30px;
    }

    &-role {
        margin: 0;
        height: 22px;
        width: 96.95px;
        opacity: 0.64;
        color: #0E181C;
        font-family: Roboto;
        font-size: 14px;
        line-height: 22px;

        .edit-profile {
            float: right;
            padding-right: 25px;
        }
    }

    &-contact {
        margin: 0;
        height: 22px;
        opacity: 0.64;
        color: #0E181C;
        font-family: Roboto;
        font-size: 14px;
        line-height: 22px;

        .contact-login-name {

        }

        .contact-separator {
            padding-left: 10px;
        }

        .contact-phone-number {
            padding-left: 10px;            
        }
    }
}
