<div class="properties-wrapper" ng-controller="UtilityManagementPropertiesGridCtrl as ump">
    <div class="properties-body" ng-if="!ump.isDataError">
        <div class="utility-management-access-type-label">
            Role
        </div>

        <div class="utility-management-access-type-options">
            <label class="md-check dark-bluebox utility-management-access-type-option">
                <input type="radio" value="property" ng-change="ump.resetDataModel()" ng-model="ump.propertySelect" ng-disabled="ump.isUserHasViewOnlyAccess" class="has-value">
                <i class="primary"></i>
                Property Manager
            </label>
            <label class="md-check dark-bluebox utility-management-access-type-option">
                <input type="radio" value="group" ng-change="ump.resetDataModel()" ng-model="ump.propertySelect" ng-disabled="ump.isUserHasViewOnlyAccess" class="has-value">
                <i class="primary"></i>
                Group Manager
            </label>
            <label class="md-check dark-bluebox utility-management-access-type-option">
                <input type="radio" value="portfolio" ng-change="ump.resetDataModel()" ng-model="ump.propertySelect" ng-disabled="ump.isUserHasViewOnlyAccess" class="has-value">
                <i class="primary"></i>
                Portfolio Manager
            </label>
        </div>

        <div ng-if="ump.propertySelect == 'portfolio'">
            This user will be provided access to all properties.
        </div>
        <div ng-if="ump.propertySelect == 'property'">
            <div class="grid-controls">
                <div class="grid-control-item">
                    <rp-toggle model="ump.propertiesGrid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                    </rp-toggle>
                </div>
            </div>
            <rp-grid ng-if="umpa.isActive()" model="ump.propertiesGrid" class="utility-management-properties-grid">
            </rp-grid>
            <rp-grid-pagination ng-if="umpa.isActive()" model="propertiesGridPagination">
            </rp-grid-pagination>
        </div>

        <div ng-if="ump.propertySelect == 'group'">
            <div class="grid-controls">
                <div class="grid-control-item">
                    <rp-toggle model="ump.propertyGroupGrid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                    </rp-toggle>
                </div>
            </div>
            <rp-grid ng-if="umpa.isActive()" model="ump.propertyGroupGrid" class="utility-management-property-groups-grid">
            </rp-grid>
            <rp-grid-pagination ng-if="umpa.isActive()" model="propertyGroupGridPagination">
            </rp-grid-pagination>
        </div>

        <div ng-if="ump.propertySelect == 'region'">
            <div class="grid-controls">
                <div class="grid-control-item">
                    <rp-toggle model="ump.regionsGrid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                    </rp-toggle>
                </div>
            </div>
            <rp-grid ng-if="umpa.isActive()" model="ump.regionsGrid" class="utility-management-regions-grid">
            </rp-grid>
            <rp-grid-pagination ng-if="umpa.isActive()" model="regionsGridPagination">
            </rp-grid-pagination>
        </div>

    </div>
    <div class="properties-body-error" ng-if="ump.isDataError">
        <p>{{::ump.dataErrorReason}}</p>
    </div>
</div>
