<div class="property-groups-wrapper" ng-controller="UtilityManagementPropertyGroupsGridCtrl as umpg">
    <div class="property-groups-body">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="umpg.grid.filtersModel.state.active" options="{
                    defaultText: 'Filter',
                    activeIconClass: 'rp-icon-filter',
                    defaultIconClass: 'rp-icon-filter active'
                }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid model="umpg.grid" class="utility-management-property-groups-grid">
        </rp-grid>
        <rp-grid-pagination model="gridPagination">
        </rp-grid-pagination>
    </div>

</div>
