<div ng-controller="MCPropertyGroupAsideCtrl as mcpga"
    class="rp-aside-modal rp-aside-modal-right marketing-center-property-group-aside">
    <div class="rp-aside-modal-header">
        <span class="rp-aside-modal-close"
             ng-click="mcpga.cancel()">
        </span>
        <h2 class="rp-aside-modal-header-title">
            {{mcpga.title}}
        </h2>
        <h3 class="rp-aside-modal-header-subtitle">
            {{mcpga.subtitle}}
        </h3>
    </div>

    <div class="rp-aside-modal-content">
        <div class="property-groups-aside-wrapper">
            <div class="property-groups-aside-body">
                <div class="grid-controls">
                    <div class="grid-control-item">
                        <rp-toggle model="mcpga.asideGrid.filtersModel.state.active" options="{
                            defaultText: 'Filter',
                            activeIconClass: 'rp-icon-filter',
                            defaultIconClass: 'rp-icon-filter active'
                        }">
                        </rp-toggle>
                    </div>
                </div>
                <rp-grid model="mcpga.asideGrid" class="marketing-center-property-groups-aside-grid">
                </rp-grid>
                <rp-grid-pagination model="gridPagination">
                </rp-grid-pagination>
            </div>
            
        </div>
    </div>
</div>
