<div class="property-groups-wrapper" ng-controller="MCPropertyGroupsGridCtrl as mcpg">
	<div class="property-groups-body">
	    <div class="grid-controls">
	        <div class="grid-control-item">
	            <rp-toggle model="mcpg.grid.filtersModel.state.active" options="{
	                defaultText: 'Filter',
	                activeIconClass: 'rp-icon-filter',
	                defaultIconClass: 'rp-icon-filter active'
	            }">
	            </rp-toggle>
	        </div>
	    </div>
		<rp-grid model="mcpg.grid" class="marketing-center-property-groups-grid">
		</rp-grid>
		<rp-grid-pagination model="gridPagination">
		</rp-grid-pagination>
	</div>
	
</div>