<div class="properties-wrapper" ng-controller="MCPropertiesGridCtrl as mcp">
	<div class="properties-body">
	    <div class="grid-controls">
	        <div class="grid-control-item">
	            <rp-toggle model="mcp.propertiesGrid.filtersModel.state.active" options="{
	                defaultText: 'Filter',
	                activeIconClass: 'rp-icon-filter',
	                defaultIconClass: 'rp-icon-filter active'
	            }">
	            </rp-toggle>
	        </div>
	    </div>
		<rp-grid model="mcp.propertiesGrid" class="marketing-center-properties-grid">
		</rp-grid>
		<rp-grid-pagination model="gridPagination">
		</rp-grid-pagination>
	</div>
	
</div>