<div class="roles-wrapper" ng-controller="MCRolesGridCtrl as mcr">
	<div class="roles-body">
	    <div class="grid-controls">
	        <div class="grid-control-item">
	            <rp-toggle model="mcr.rolesGrid.filtersModel.state.active" options="{
	                defaultText: 'Filter',
	                activeIconClass: 'rp-icon-filter',
	                defaultIconClass: 'rp-icon-filter active'
	            }">
	            </rp-toggle>
	        </div>
	    </div>
		<rp-grid model="mcr.rolesGrid" class="marketing-center-roles-grid">
		</rp-grid>
		<rp-grid-pagination model="gridPagination">
		</rp-grid-pagination>
	</div>
	
</div>