.roles-details {
    &.assign-roles-rights-aside {

        .rights-error-msg {
            color: #d31612;
            font-size: 12px;
            line-height: 16px;
            font-weight: normal;
            letter-spacing: 0.005em;
        }


        .rp-grid-headers-1 .rp-grid-text {
            font-size: 14px;
            font-weight: bold;
        }
        .rp-grid-filters-1 {

            .rp-grid-cell {
                &.assigned {
                    width: 40px;
                }
            }
            .rp-grid-cell {
                &.center-name {
                    width: 45%;
                }
            }
            .rp-grid-cell {
                &.description {
                    width: 45%;
                }
            }
        }
        .rp-grid-headers-1 {

            .rp-grid-cell {
                &.assigned {
                    width: 40px;
                }
            }
            .rp-grid-cell {
                &.center-name {
                    width: 45%;
                    text-align: left;
                }
            }

            .rp-grid-cell {
                &.description {
                    width: 45%;
                    text-align: left;
                }
            }
        }

        .rp-grid-body-1 {
            .rp-grid-cell {
                &.assigned {
                    width: 40px;
                }
            }

            .rp-grid-cell {
                &.center-name {
                    text-align: left;
                    width: 45%;
                }
            }

            .rp-grid-cell {
                &.description {
                    text-align: left;
                    width: 45%;
                }
            }
        }
    }
}