<div class="popover pass-req" ng-controller="PassReqCtrl as passReq">
    <div class="arrow"></div>
    <h3 class="popover-title">
        Password must have at least:
    </h3>
    <div class="popover-content">
        <ul class="pass-req-list">
            <li class="pass-req-list-item"
                ng-class="{valid: passReq.model.hasMinChars() && passReq.model.hasMaxChars()}">
                {{::passReq.model.count.minChars}} - {{::passReq.model.count.maxChars}} characters
            </li>
            <li class="pass-req-list-item"
                ng-class="{valid: passReq.model.hasUppercaseChars()}">
                {{::passReq.model.count.uppercaseChars}} upper-case letter
            </li>
            <li class="pass-req-list-item"
                ng-class="{valid: passReq.model.hasLowercaseChars()}">
                {{::passReq.model.count.lowercaseChars}} lower-case letter
            </li>
            <li class="pass-req-list-item"
                ng-class="{valid: passReq.model.hasNumChars()}">
                {{::passReq.model.count.numChars}} number
            </li>
            <li class="pass-req-list-item"
                ng-class="{valid: passReq.model.hasSpecialChars()}">
                {{::passReq.model.count.specialChars}} special character (such as !@#$%)
            </li>
        </ul>
    </div>
</div>
