.ilm-leasing {
    &-property-group-grid {
        .is-assigned {
        min-width: 125px;
        max-width: 125px;
        white-space: nowrap;
        }
        .name {
            width: 90%;
        }
    }

}

.property-group-wrapper {
    .property-group-body-error {
        margin-top: 20px;
    }
}
