.deposit-alternative-error-msg {
    @include body-3($rp-danger);
    padding-bottom: 8px;
}


.deposit-alternative-properties-body {
    padding-left: 0px;
    padding-right: 0px;

    &-error {
        margn-top: 20px;
    }
}

.deposit-alternative-properties {
    width: 100%;

    &-wrapper {
        margin-top: 10px;
    }

    &-grid {
        .rp-grid-headers-1,
        .rp-grid-filters-1,
        .rp-grid-body-1 {
            table-layout: auto;
        }

        .is-assigned {
            min-width: 120px;
            max-width: 120px;
            white-space: nowrap;
        }

        .name {
            width: 90%;
        }

        .state {
            min-width: 105px;
            max-width: 105px;
            white-space: nowrap;
        }
    }
}
