.deposit-alternative-roles-body {
    padding-left: 0px;
    padding-right: 0px;

    &-error {
        margin-top: 20px;
    }
}

.deposit-alternative-all-props-message {
    @include body-3($rp-danger);
    padding-bottom: 8px;
}

.deposit-alternative-roles {
    width: 100%;

    &-wrapper {
        margin-top: 10px;
    }

    &-grid {
        .rp-grid-headers-1,
        .rp-grid-filters-1,
        .rp-grid-body-1 {
            table-layout: auto;
        }

        .is-assigned {
            min-width: 125px;
            max-width: 125px;
            white-space: nowrap;
        }

        .name {
            width: 90%;
        }

        .roletype {
            min-width: 200px;
            max-width: 200px;
        }

        .info-icon {
            min-width: 45px;
            max-width: 45px;
        }
    }
}

.role-info-icon {
    .rp-icon-info-circle {
        color: $rp-primary;
        cursor: pointer;
    }
}
