raul-badge {
  display: inline-block;
}

.r-badge__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.25rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  min-width: 30px;
}

.r-badge__container--primary {
  color: #ffffff;
  background-color: #0076CC;
}

.r-badge__container--warning {
  color: #37474F;
  background-color: #FEC12D;
}

.r-badge__container--error {
  color: #ffffff;
  background-color: #D01A1F;
}

.r-badge__container--success {
  color: #ffffff;
  background-color: #139C3E;
}

.r-badge__icon {
  position: relative;
  margin-right: 0.25rem;
}

.r-badge__content {
  white-space: nowrap;
}