$product-header-text-color: $rp-neutral;
$product-header-bg-color: $rp-neutral-05;

.product-access-wrapper {
	.product-item {
		&-actions {
			margin-top: -0.25rem;

			position: absolute;
			right: 0;
			top: 10px;

			button {
				box-shadow: none;
			}
		}

		& > .box {
			border: none;	
			margin-bottom: 0;
			box-shadow: none;

			& > .box-header {
				background-color: $product-header-bg-color;
				color: $product-header-text-color;

				border: 1px solid $rp-neutral-04;
				padding: 0.75rem 1rem;

				.box-title {
					@include subheader-1($product-header-text-color);
				}
			}
					
		}

		&-body {
			padding: 0;
		}

		//DELETEME temporary
		.account-navigation {
			padding-right: 0;

			.box-body {
				padding: 0;
			}
			ul {
				padding: 0;
			}
			.list-item {
				padding: 8px 10px;
				border-left: 5px solid white;
				border-bottom: 1px solid $rp-neutral-05;

				&.active {
					border-left-color: $rp-primary;
				}
			}
		}
		.account-details {
			padding: 15px;
			border-left: 1px solid $rp-neutral-05;
		}	

	}

	.panel-toggle-icon {
		color: $product-header-text-color;
	}
}