//Active Panel Colors
$active-panel-text-color: $white;
$active-panel-bg-color: $rp-primary;

//Inactive Panel Colors
$inactive-panel-text-color: $rp-neutral;
$inactive-panel-bg-color: $rp-neutral-05;

$product-form-label-color: $rp-neutral-02;

.assign-products-wrapper {

	.product {
		&-families {
			.box-body {
				padding: 1rem 1.5rem;
				height: 312px;
				overflow-y: scroll;
			}
		}

		&-family {
			@include grid-col(12);

			&-actions {
				margin-top: -0.5rem;

				position: absolute;
				right: 8px;
				top: 18px;
			}

			.md-check {
				padding-left: 2rem;

				& > i {
					margin-top: 0;
					margin-left: -28px;
				}
			}

			.panel-toggle, .select-all-toggle {
				border: none;
				background: transparent;
				box-shadow: none;

				padding: 0.5rem 0.25rem;
			}

			.select-all {		
				&-state {
					@include rp-icon(correct);
					
					&.selected {
						@include rp-icon(minus);
					}
				}
			}

			.box {
				&.active {
					.box-header {
						background-color: $active-panel-bg-color;
						color: $active-panel-text-color;
					}

					.box-title {
						@include header-3($active-panel-text-color);
					}

					.panel-toggle-icon {
						color: $active-panel-text-color;
					}

					.select-all-toggle {
						@include subheader-2($active-panel-text-color)
					}
				}

				&-header {
					background-color: $inactive-panel-bg-color;
					color: $inactive-panel-text-color;

					padding-right: 135px;
					@include crop-text-overflow;
				}

				&-title {
					@include header-3($inactive-panel-text-color);
				}

				.panel-toggle-icon {
					color: $inactive-panel-text-color;
				}

				.select-all-toggle {
					@include subheader-2($inactive-panel-text-color)
				}
			}

            @media #{$lgSc} {
	            @include grid-col(4);
	            
	            &:nth-of-type(3n+1) {
	                clear: both;
	            }
	        }

	        @media #{$mdScOnly} {
	            @include grid-col(6);

	            &:nth-of-type(2n+1) {
	                clear: both;
	            }
	        }
		}

		&-solutions {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;

			li {
				border-bottom: 1px solid $rp-neutral-04;
				padding: 15px 0;

				&:last-child {
					border-bottom: none;
				}
			}
		}

		&-solution {
			@include list-group-header($product-form-label-color);
		}

		&-list {
			color: $product-form-label-color;
		}
	}

	

}