.r-alert {
  width: 100%;
  padding: 1rem;
  font-size: 0.875rem;
  height: auto;
}

.r-alert__rounded {
  border-radius: 2px;
}

.r-alert__information {
  background-color: #E5F4FF;
  border-left: 12px solid #0076CC;
}

.r-alert__information a {
  color: #0076CC;
}

.r-alert__success {
  background-color: #E7F3EB;
  border-left: 12px solid #139C3E;
}

.r-alert__success a {
  color: #139C3E;
}

.r-alert__warning {
  background-color: #FEF8EA;
  border-left: 12px solid #FEC12D;
}

.r-alert__warning a {
  color: #FEC12D;
}

.r-alert__danger {
  background-color: #FAE8E9;
  border-left: 12px solid #D01A1F;
}

.r-alert__danger a {
  color: #D01A1F;
}

.r-alert__warning a {
  color: #BC8701;
}

.r-alert .r-alert__heading {
  font-weight: 600;
}

.r-alert .r-alert__content {
  padding-bottom: 0.25rem;
  color: rgba(32, 39, 55, 0.8);
}

.r-alert a {
  display: inline-block;
  text-decoration: none;
}

.r-alert a:focus {
  outline-color: #0076CC;
}