<div class="reset-password">
    <form novalidate name="resetPassword.resetPasswordForm" rp-focus-invalid-field ng-controller="ResetPasswordCtrl as resetPassword" class="rp-focus-invalid-field">
        <p class="directions">
            Password must have at least:
        </p>
        <ul class="requirements">
            <li class="requirement" ng-class="{valid: resetPassword.model.hasMinChars() && resetPassword.model.hasMaxChars()}">
                {{resetPassword.model.count.minimumLength}} - {{resetPassword.model.count.maximumLength}} characters
            </li>
            <li class="requirement" ng-class="{valid: resetPassword.model.hasUppercaseChars()}">
                {{resetPassword.model.count.upperCaseChars}} upper-case letter
            </li>
            <li class="requirement" ng-class="{valid: resetPassword.model.hasLowercaseChars()}">
                {{resetPassword.model.count.lowerCaseChars}} lower-case letter
            </li>
            <li class="requirement" ng-class="{valid: resetPassword.model.hasNumChars()}">
                {{resetPassword.model.count.numChars}} number
            </li>
            <li class="requirement" ng-class="{valid: resetPassword.model.hasSpecialChars()}">
                {{resetPassword.model.count.specialChars}} special character (such as !@#$%)
            </li>
        </ul>
        <div class="form-field error-msg" ng-if="resetPassword.model.data.errorMsg">
            <p>{{resetPassword.model.data.errorMsg}}</p>
        </div>
        <div class="form-field" ng-if="resetPassword.isEditingSelf()">
            <label for="">Current Password</label>
            <rp-form-input-text config="resetPassword.formConfig.oldPassword" rp-model="resetPassword.model.data.oldPassword">
            </rp-form-input-text>
        </div>
        <div class="form-field"
        ng-class="{'show-validation-error': resetPassword.resetPasswordForm.newPassword.$touched}">
            <label for="">New Password</label>
            <rp-form-input-text config="resetPassword.formConfig.newPassword" rp-model="resetPassword.model.data.newPassword">
            </rp-form-input-text>
        </div>
        <div class="form-field" ng-class="{'show-validation-error': resetPassword.resetPasswordForm.newPasswordCopy.$touched}">
            <label for="">Re-enter New Password</label>
            <rp-form-input-text config="resetPassword.formConfig.newPasswordCopy" rp-model="resetPassword.model.data.newPasswordCopy">
            </rp-form-input-text>
        </div>
    </form>
</div>
