.resident-portals-messaging-groups-grid {
    .is-assigned {
        min-width: 125px;
        max-width: 125px;
        white-space: nowrap;
    }
    .name {
        width: 95%;
    }
}

.messaging-groups-error {
    margin-top: 20px;
}
