// Residet Portals Product Access

.resident-portals-access {
    .all-properties {
        text-align: right;
        margin-bottom: 20px;

        .rp-switch {
            text-align: left;
        }
    }
}
.resident-portals-tabs {
    visibility: hidden;

    &.visible {
        visibility: visible;
    }
}
