/* GENERIC CHANGE PASSWORD FORM */

$form-border-color: $rp-neutral-02;
$form-background-color: $rp-neutral-05;
$valid-input-color: $light-green-800;

@mixin input-status-indicator($border-color) {
	border: 1px solid $border-color;
}

@mixin password-placeholder {
	color: $input-color-placeholder; //#999;
	opacity: 1;
}

.change-pswd-text .rp-form-input-text-field {
	&::-webkit-input-placeholder {
	   @include password-placeholder;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   @include password-placeholder;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   @include password-placeholder;
	}

	&:-ms-input-placeholder {
	   @include password-placeholder;
	}
}

.change-password {
	margin-top: 35px;
	margin-bottom: 20px;
	padding: 30px 0 20px;

	&-form {
		background-color: $form-background-color;
		border: 1px solid $form-border-color;
		display: block;

		section {
			margin: 0 15px;
		}

		&.ng-dirty {
			.change-pwd-status-indicator li:before {
				visibility: visible;
			}
		}

		.form-group {
			position: relative;
		}
	}
}

.change-pwd {
	&-instructions {
		margin-bottom: 0;
		font-weight: bold;
	}

	&-label {
		@include form-label-block;
		font-weight: bold;
		margin-bottom: 0;
	}

	&-status-indicator {
		list-style-type: none;
		margin: 16px 0;

		li {
			margin-bottom: 3px;

			&:last-child {
				margin-bottom: 0;
			}

			&:before {
				display: block;
				float: left;
				content: "";
				width: 16px;
				height: 16px;
				margin-right: 3px;
				line-height: 16px;
				visibility: hidden;
			}

			&.checked:before {
				@include rp-icon(correct);
				margin-top: 5px;
				color: $valid-input-color;
				font-size: 12px;
			}
		}
	}

	&-actions {
		.form-group {
			text-align: center;
		}

		button {
			width: 100%;
		}

		.hide {
			display: none;
		}
	}
}
