/*CHANGE PASSWORD STYLE OF LANDING > Settings > Change Password*/
.change-password {
	margin: 0 auto;
	max-width: 460px;
	&-form {
		background-color: transparent;
		border: none;
	}
}

.change-pwd {
	&-rules {
		@include grid-col(12);
	}
	&-fields {
		@include grid-col(12);
        z-index: 100;
        .form-group .change-pswd-text {
            .ng-not-empty {
                color: black;
                text-align: left
            }
        }
	}
}
