.usermgmt-roles-details {

    
    .user-default {        
        color: green;
    }
    

    &.spacer {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .menu-content {
        .selected {
            font-weight: bold;
        }
    }
    .roles-products-menu {
        @include grid-col(2);
        &.space {
            margin-top: 30px;
        }
    }
    .nav-side-menu ul li.collapsed:after {
        display: none;
    }
    .nav-side-menu li a {
        font-weight: 400;
    }
    .usermgmt-grid {
        padding-left: 10px;
    }

    .action-item {
        .rp-actions-menu {
            &.rp-icon-more {
                @include rp-icon(ellipsis-v);
                &::before {}
            }
        }
    }
    .grid-col {
        &-cursor {
            cursor: pointer;
        }
        &-rights {
            font-weight: 500;
            color: $rp-primary;
        }
    }
    .actions-row {
        @include grid-row();
        margin-left: 0px;
        margin-right: 12px;
        padding-bottom: 10px;
        padding-top: 8px;
        .new-btn {
            float: left;
            .icon-size {
                font-size: 12px;
            }
        }
        .filters {
            .grid-control-item {
                .icon-color {
                    color: $rp-neutral-03;
                }
            }
        }
    }
    .roles-grid-section {
        margin-bottom: 20px;
        @include grid-col(10);
        &.space {
            margin-top: 30px;
        }
        &-title {
            @include header-3;
        }
        &-action-bar {
            @include grid-col(12);
        }
    }
    .roles-grid {
        .is-selected {
            min-width: 60px;
        }

        .rights-assigned {
            width: 30%;
        }
        .roletype {
            width: 15%;
        }
        .default-role{
            width: 15%;
            text-align: center;
        }

        .more {
            width: 10%;
        }
    }
    .rp-grid-header {
        .rp-grid-text {
            font-size: 14px;
        }

        &.is-selected {
            width: 60px;
        }
        .is-selected {
            min-width: 60px;
        }

        &.rights-assigned {
            width: 30%;
        }

        &.roletype {
            width: 15%;
        }

        &.default-role{
            width: 15%;
        }

        &.more {
            text-align: center;
            width: 10%;
        }
    }
    .rp-grid-cell {
        &.is-selected {
            width: 60px;
        }

        &.rights-assigned {
            text-align: center;
            width: 30%;
        }

        &.roletype {
            width: 15%;
        }
        &.default-role{
            width: 15%;
        }

        &.more {
            text-align: center;
            width: 10%;
            font-size: 20px;
        }
    }
}

body .usr-mgmt-roles-action-menu {
    min-width: 130px;
}

.usermgmt-role-modal {
    width: 560px;
}
