<div class="change-password">
    <form name="page.changePasswordForm" novalidate role="form"
        class="change-password-form ft-form text-neutral-02">

        <section class="change-pwd-rules">
            <p class="change-pwd-instructions">{{page.label.changePasswordForUser}}</p>
            <p class="change-pwd-instructions">{{:: "label.rules" | changePasswordText }}</p>

            <ul class="change-pwd-status-indicator">
                <li ng-repeat="currState in page.formState.password" ng-class="{'checked': currState.value}">
                    {{::currState.label}}
                </li>
            </ul>
        </section>

        <fieldset class="change-pwd-fields">
            <div class="form-group form-group-message">
                <!--New Password-->
                <rp-form-input-text class="forgot-pswd-text" config="page.passwordConfig.createPassword" rp-model="page.passwordData.createPassword">
                </rp-form-input-text>
            </div>
            <div class="form-group form-group-message">
                <!--Confirm Password-->
                <rp-form-input-text class="forgot-pswd-text" config="page.passwordConfig.confirmPassword" rp-model="page.passwordData.confirmPassword">
                </rp-form-input-text>
            </div>
        </fieldset>

        <div class="change-pwd-actions">
            <div class="form-group">
                <button class="rp-btn primary"
                    ng-click="page.changePassword()"
                    ng-disabled="page.formState.isSaving">
                        {{:: "label.changePassword" | changePasswordText }}
                </button>
            </div>
        </div>

    </form>
</div>
