.companies-list-aside {
    width: 560px;
}

.companies-error-msg {
            color: #d31612;
            font-size: 12px;
            line-height: 16px;
            font-weight: normal;
            letter-spacing: 0.005em;
        }

.companies-list-aside-grid {
    .is-assigned {
        width: 20%;
    }
    .description {
    	width: 80%;
    }
}
