.llc-list-aside {
    width: 560px;
}
.roles-details-new {
    &.new-roles-llc-aside {

        .llc-error-msg {
            color: #d31612;
            font-size: 12px;
            line-height: 16px;
            font-weight: normal;
            letter-spacing: 0.005em;
        }
        

        .extend {
            margin-top: 20px;
        }

        .small {
            .rp-form-input-text-table {
                width: 150px;
            }
        }


        .icon-size {
            font-size: 18px;
            line-height: 38px;
            margin-right: 5px;

            &.text {
                font-size: 14px;
            }
        }

        .llc-header {            
            .rp-form-input-checkbox-label{
                font-weight: bold;            
            }
        }

        .llc-title {
            font-size: 22px;
            font-weight: bold;
            width: 80%;
            float: left;
        }
        .llc-filter {
            float: right;
            color: blue;
        }
        .llc-container:after {
            clear: both;
            content: "";
            display: block;
        }
        .app-spacer {
            padding: 20px;
        }
        .llc-accordion {
            margin-top: 5px;
        }
        .llc-title-container:after,
        .llc-accordion .llc-row-container:after {
            clear: both;
            content: "";
            display: block;
        }
        .llc-accordion .llc-header {
            font-size: 16px;
            font-weight: bold;
        }
        .llc-accordion .llc-header .llc {
            width: 43%;
            float: left;
            padding-left: 65px;
        }
        .llc-accordion .llc-header .description {
            width: 57%;
            float: left;
            padding-left: 5px;
        }
        .llc-accordion .llc-header .edit-menu {
            // width: 10%;
            // float: left;
        }
        .llc-accordion .llc-body {
            margin-top: 5px;
        }
        .llc-accordion .llc-body .llc {
            width: 40%;
            float: left;
            padding-left: 15px;
            font-weight: bold;
        }
         .llc-accordion .llc-body .description {
            width: 100%;
            float: left;
            margin-top: 5px;
            margin-bottom: 5px;
            padding-left : 60px;
        }
        .llc-accordion .llc-body .edit-menu {
            width: 15%;
            float: right;
        }
        .llc-accordion .llc-body .editable-icon {
            float: right;
            margin-right: 10px;
        }
        .llc-body .llc-row-container {
            padding: 5px 0px;
            border-top: solid 1px #d3d3d3;
        }
       
        .spacer-angle {
            /*width: 50px;*/
            /*margin-right: 10px;*/
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
        }
        
        .llc-row-1 .inner {
            margin-left: 30px;
        }

        .llc-row-2 .inner {
            margin-left: 60px;
        }
    }
}