.click-pay-error-msg {
    @include body-3($rp-danger);
    padding-bottom: 8px;
}

.click-pay-roles-body {
    padding-left: 0px;
    padding-right: 0px;

    &-error {
        margin-top: 20px;
    }
}

.click-pay-all-props-message {
    @include body-3($rp-danger);
    padding-bottom: 8px;
}

.click-pay-roles {
    width: 100%;

    &-wrapper {
        margin-top: 10px;
    }

    &-grid {
        .rp-grid-headers-1,
        .rp-grid-filters-1,
        .rp-grid-body-1 {
            table-layout: auto;
        }

       /* .is-assigned {
            min-width: 125px;
            max-width: 125px;
            white-space: nowrap;
        }*/

        .name {
            width: 40%;
        }

        .org-type {
           width: 20%;
        }

        .info-icon {
            width: 20%;
            text-align: center;
        }

        .org-type-link{
             width: 20%;
        }
    }
}

.grid-col-count {
        &-cursor {
            cursor: pointer;
        }
        &-name {
            font-weight: 500;
            color: $rp-primary;
        }        
    }


    .grid-col-link {
        &-cursor {
            cursor: pointer;
            text-align: right; 
        }        
        &-name {
            width: 100%;
            font-weight: 500;
            color: $rp-primary;                  
        }
    }

.role-info-icon {
    .rp-icon-info-circle {
        color: $rp-primary;
        cursor: pointer;
    }
}
