.properties-list-aside {
    width: 560px;
}

.properties-error-msg {
            color: #d31612;
            font-size: 12px;
            line-height: 16px;
            font-weight: normal;
            letter-spacing: 0.005em;
}
        

.properties-list-aside {
   
    &-grid {
        .is-assigned {
            min-width: 125px;
            max-width: 125px;
            white-space: nowrap;
         }

        .name {
            width: 40%;
        }

        .llc-name  {
            width: 40%;
        }
    }
}
