<div class="user-edit-profile" ng-controller="UserProfileCtrl as userProfile">
    <div class="user-edit-profile-card" ng-show="userProfile.displayHeader">
        <div class="row">
            <div class="col-md-7">
                <div class="user-edit-profile-avatar-sm">
                    <p class="user-edit-profile-initials">
                        {{userProfile.model.userInitials}}
                    </p>
                </div>
                <div class="user-edit-profile-info">
                    <p class="user-edit-profile-name">{{userProfile.model.data.firstName}} {{userProfile.model.data.lastName}}</p>
                    <p class="user-edit-profile-role">{{userProfile.model.data.personaType}}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="user-edit-profile-contact" ng-if="userProfile.isValidPhonenumber()">
                    <i class="user-edit-profile-icon   fa fa-phone"></i>
                    <span>{{userProfile.model.telecomNumbers["0"].displayDerivedData.phoneNumber}}</span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="user-edit-profile-contact" ng-if="userProfile.isLoginNameContainsEmail()">
                    <i class="user-edit-profile-icon icon rp-icon-envelope"></i>
                    <span>{{userProfile.model.data.userLogin.loginName}}</span>
                </div>
            </div>
            <div class="col-md-1">
                <span class="user-edit-profile-edit" ng-click="userProfile.displayPanelDetails()">
                    <i class="fa fa-pencil"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="user-profile-details-card" ng-show="userProfile.displayDetails">
        <form novalidate name="profileForm" rp-focus-invalid-field rp-track-form-changes>
            <div class="row">
                <div class="col-md-12">
                    <span class="user-profile-details-close" ng-click="userProfile.displayPanelHeader()">
                                <i class="icon rp-icon-delete-2"></i>
                         </span>
                    <h3 class="user-profile-details-header-title">Profile Information</h3>
                </div>
            </div>
            <div class="row user-profile-details-info">
                <div class="col-md-1">
                    <div class="user-profile-details-avatar-lg">
                        <p class="user-profile-details-initials">
                            {{userProfile.model.userInitials}}
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row" ng-repeat="item in userProfile.model.telecomNumbers" ng-if="!item.data.isDeleted" ng-init="i=$index">
                        <div class="col-md-5">
                            <label for="phone-number-{{item.index}}">{{i === 0 ? "Primary " : "Additional "}} Phone</label>
                            <rp-form-input-text config="item.phoneNumberConfig" rp-model="item.derivedData.phoneNumber">
                            </rp-form-input-text>
                        </div>
                        <div class="col-md-3">
                            <label for="usage-type-{{item.index}}">Type</label>
                            <rp-form-select-menu config="item.usageTypeConfig" rp-model="item.data.contactMechanismUsageType.contactMechanismUsageTypeId">
                            </rp-form-select-menu>
                        </div>
                        <div class="col-md-1" ng-if="i !== 0">
                            <div class="del-ph" ng-click="userProfile.delPhone(item)"><i class="icon rp-icon-delete-2"></i></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="add-ph-link" ng-click="userProfile.addPhone()"> + Add Phone</div>
                        </div>
                    </div>
                    <div class="row" ng-if="userProfile.isEditingSelf()">
                        <div class="col-md-8 sec-email">
                            <label for="">Secondary Email</label>
                            <rp-form-input-text config="userProfile.formConfig.secondaryEmail" rp-model="userProfile.model.data.emailContacts[0].addressString">
                            </rp-form-input-text>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label for="">Preferred Contact Method</label>
                            <rp-form-select-menu config="userProfile.formConfig.contactMethod" rp-model="userProfile.model.data.preferredContactMethodId">
                            </rp-form-select-menu>
                        </div>
                    </div>
                    <hr class="col-md-8">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="">Industry Standard Job Title</label>
                            <rp-form-select-menu config="userProfile.formConfig.jobTitle" rp-model="userProfile.model.data.partyRole.roleTypeId">
                            </rp-form-select-menu>
                            <label for="">Company Job Title</label>
                            <rp-form-input-text config="userProfile.formConfig.title" rp-model="userProfile.model.data.title">
                            </rp-form-input-text>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 user-profile-details-actions">
                    <button ng-click="userProfile.cancel()" class="rp-btn outline primary user-profile-details-action">Cancel</button>
                    <button ng-if="userProfile.hasAccess()" ng-click="userProfile.update()" class="rp-btn primary ng-binding user-profile-details-action">Save</button>
                </div>
        </form>
        </div>
    </div>