<div class="entity-roles-wrapper" ng-controller="PortfolioManagementEntitiesCtrl as pmecs">
    <div class="entity-roles-body" ng-if="!pmecs.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="pmecs.grid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="pmecs.isActive()" model="pmecs.grid" class="entity-roles-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="pmecs.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="entity-roles-body-error" ng-if="pmecs.isDataError">
        {{::pmecs.dataErrorReason}}
    </div>
</div>

