<div class="global-roles-wrapper" ng-controller="PortfolioManagementRolesCtrl as pmgr">
    <div class="global-roles-body" ng-if="!pmgr.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="pmgr.grid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="pmgr.isActive()" model="pmgr.grid" class="global-roles-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="pmgr.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="global-roles-body-error" ng-if="pmgr.isDataError">
        {{::pmgr.dataErrorReason}}
    </div>
</div>
