<ng-form ng-controller="ManageUserDetailsCtrl as page" name="page.formState.userDetailsForm" class="ft-form" role="form" novalidate>

    <div class="row">
        <div class="col-md-5">
            <label for="{{:: page.formConfig.firstname.id }}" class="form-control-label">
                {{:: "user_detail_first_name" | userDetailsText }}
            </label>
            <rp-form-input-text
                rp-model="page.userData.firstName"
                config="page.formConfig.firstName">
            </rp-form-input-text>
        </div>

        <div class="col-md-2">
            <label for="{{:: page.formConfig.middleInitial.id }}" class="form-control-label">
                {{:: "user_detail_middle_init" | userDetailsText }}
            </label>
            <rp-form-input-text
                rp-model="page.userData.middleInitial"
                config="page.formConfig.middleInitial">
            </rp-form-input-text>
        </div>

        <div class="col-md-4">
            <label for="{{:: page.formConfig.lastname.id }}" class="form-control-label">
                {{:: "user_detail_last_name" | userDetailsText }}
            </label>
            <rp-form-input-text
                rp-model="page.userData.lastName"
                config="page.formConfig.lastName">
            </rp-form-input-text>
        </div>

        <div class="col-md-1 col-xs-12">
            <label for="{{::page.formConfig.enableUser.id}}" class="form-control-label add-user-switch-label" >
                {{:: "user_detail_enable_user" | userDetailsText }}
            </label>
            <label class="ui-switch add-user-switch">
                <input type="checkbox"
                    id="{{::page.formConfig.enableUser.id}}"
                    ng-model="page.userData.isEnabled"/>
                <i></i>                            
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label for="{{:: page.formConfig.userType.id }}" class="form-control-label">
                {{:: "user_detail_user_type" | userDetailsText }}
            </label>
            <rp-form-select-menu 
                rp-model="page.userData.userType"
                config="page.formConfig.userType">
            </rp-form-select-menu>
        </div>

        <div class="col-md-4">
            <label for="{{:: page.formConfig.username.id }}" class="form-control-label">
                {{ page.formConfig.username.label }}
            </label>
            <rp-form-input-text
                rp-model="page.userData.username"
                config="page.formConfig.username">
            </rp-form-input-text>
        </div>

        <div class="col-md-4">
            <label for="{{:: page.formConfig.password.id }}" class="form-control-label">
                {{:: "user_detail_password" | userDetailsText }}
            </label>
            <rp-form-input-text
                rp-model="page.userData.password"
                config="page.formConfig.password">
            </rp-form-input-text>
        </div>
    </div>

    <div class="row">
        <div ng-if="page.formModel.isDisplayNotifEmail()" class="col-md-4">
            <label for="{{:: page.formConfig.username.id }}" class="form-control-label">
                {{:: "notification_email" | userDetailsText }}
            </label>
            <rp-form-input-text
                rp-model="page.userData.notificationEmail"
                config="page.formConfig.email">
            </rp-form-input-text>
        </div>

        <div class="col-md-2">
            <label for="{{:: page.formConfig.startDate.id }}" class="form-control-label">
                {{:: "user_detail_effective_date" | userDetailsText }}
                <small class="small-label">{{:: "user_detail_optional" | userDetailsText }}</small>
            </label>
            <rp-datetimepicker
                rp-model="page.userData.startDate"
                config="page.formConfig.startDate">
            </rp-datetimepicker>
        </div>

        <div class="col-md-2">
            <label for="{{:: page.formConfig.endDate.id }}" class="form-control-label">
                {{:: "user_detail_expiration_date" | userDetailsText }}
            </label>
            <rp-datetimepicker
                rp-model="page.userData.endDate"
                config="page.formConfig.endDate">
            </rp-datetimepicker>
        </div>

        <div class="col-md-4" ng-if="page.userData.userType !== 3">
            <label for="{{:: page.formConfig.password.id }}" class="form-control-label">
                {{:: "enterprise_role" | userDetailsText }}
            </label>
            <rp-form-input-text
                rp-model="page.userData.enterpriseRole"
                config="page.formConfig.enterpriseRole">
            </rp-form-input-text>
        </div>

        <div ng-class="ng-hide page.userData.userType === 2 ? 'col-md-12' : 'col-md-2'"
                ng-if="!page.formState.hasAddedPersona && page.formModel.canAddPersona()">
            <button class="add-persona-btn" ng-click="page.addPersona()">
                + {{:: "add_persona" | userDetailsText }}
            </button>                                                   
        </div>
    </div>

</ng-form>