
<div class="">
<form name="goalsForm" ng-controller="ResAppGoalsCtrl as goals" novalidate rp-focus-invalid-field class="rp-focus-invalid-field">
<hr>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-5">
                <label for="">Number of Duplicates Merged</label>               
            </div>
            <div class="col-sm-4">
                <rp-form-input-text config="goals.goalsConfig.noDupMrg" rp-model="goals.UMDataModel.data.inputJson.goals.noOfDupMerged">
                </rp-form-input-text>                
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-5">
                <label for="">Speed of Processing Duplicates</label>            
            </div>
            <div class="col-sm-4">
                <rp-form-input-text config="goals.goalsConfig.spdProcssDup" rp-model="goals.UMDataModel.data.inputJson.goals.spdOfProcsDup">
                </rp-form-input-text>                
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-5">
                <label for="">Number of Incomplete Records</label>              
            </div>
            <div class="col-sm-4">
                <rp-form-input-text config="goals.goalsConfig.noIncmpRec" rp-model="goals.UMDataModel.data.inputJson.goals.noOfInCmpltRec">
                </rp-form-input-text>                
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-5">
                <label for="">Number of Unique Records</label>                
            </div>
            <div class="col-sm-4">
                <rp-form-input-text config="goals.goalsConfig.noUnqRec" rp-model="goals.UMDataModel.data.inputJson.goals.noOfUniqueRec">
                </rp-form-input-text>                
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-5">
                <label for="">Number of Updated Master</label>                
            </div>
            <div class="col-sm-4">
                <rp-form-input-text config="goals.goalsConfig.noUpdMstr" rp-model="goals.UMDataModel.data.inputJson.goals.noOfUpdtdMstr">
                </rp-form-input-text>                
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-5">
                <label for="">Number of Records Escalated</label>               
            </div>
            <div class="col-sm-4">
                <rp-form-input-text config="goals.goalsConfig.noRecEsc" rp-model="goals.UMDataModel.data.inputJson.goals.noOfRcdEscalated">
                </rp-form-input-text>                
            </div>
        </div>
    </div>
    </form>
</div>
