<div class="res-app-access"
    ng-show="rapa.isActive()"
    detect-product-change="{onChange: rapa.setChanged}"
    ng-controller="ResAppProductAccess as rapa">
    <h3 class="assign-product-access-title">
        Master Data Management Product Access
    </h3>

    <div >
        <rp-scrolling-tabs-menu
            model="rapa.tabsMenu">
        </rp-scrolling-tabs-menu>
        <ng-include
            src="tab.incUrl"
            ng-show="tab.isActive"
            ng-repeat="tab in rapa.tabsList">
        </ng-include>
    </div>
</div>
