.axm-companies-body {
    padding-left: 0px;
    padding-right: 0px;

    &-error {
        margin-top: 20px;
    }
}

.axm-companies {
    width: 100%;

    &-wrapper {
        margin-top: 10px;
    }

    &-grid {
        .rp-grid-headers-1,
        .rp-grid-filters-1,
        .rp-grid-body-1 {
            table-layout: auto;
        }

        // min-height: 400px;

        .company-name {
            width: 60%;
        }

        .role {
            //width: 30%;
             min-width: 40%;
             max-width: 40%;
        }

    }
}

