.role-dropdown {
    min-width: 40%;
    max-width: 60%;

    &-menu {
        position: relative;
        min-height: 1px;
        // padding-right: 12px;
        // padding-left: 12px;
        width: 100%;
    }
}
