.axm-markets-body {
    padding-left: 0px;
    padding-right: 0px;

    &-error {
        margn-top: 20px;
    }
}

.axm-markets {
    width: 100%;

    &-wrapper {
        margin-top: 10px;
    }

    &-grid {
        .rp-grid-headers-1,
        .rp-grid-filters-1,
        .rp-grid-body-1 {
            table-layout: auto;
        }

        .is-assigned {
            min-width: 90px;
            max-width: 90px;
        }

        .group-name {
            width: 90%;
        }

        .state {
            min-width: 200px;
            max-width: 200px;
        }
    }
}
