// user-mgmt Product Access

.integration-marketplace {
    .all-properties {
        text-align: right;
        margin-bottom: 20px;

        .rp-switch {
            text-align: left;
        }
    }
}
