.prospect-contact-center {
    &-all-properties {
        margin-top: 20px;
    }

    &-error {
        margin-top: 20px;
    }

    &-properties-grid {
        .is-assigned {
            min-width: 125px;
            max-width: 125px;
            white-space: nowrap;
        }
        .name {
            width: 50%;
        }
        .state {
            width: 45%;
        }
    }

    &-properties-wrapper {
        .access-type-option {
            margin-left: 20px;

            &s {
                margin-bottom: 20px;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
