.acct-rights-details {

    &.spacer {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .menu-content {
        .selected {
            font-weight: bold;
        }
    }
    .rights-products-menu {
        @include grid-col(2);
        &.space {
            margin-top: 30px;
        }
    }
    .nav-side-menu ul li.collapsed:after {
        display: none;
    }
    .nav-side-menu li a {
        font-weight: 400;
    }
    .acct-grid {
        padding-left: 10px;
    }

    .action-item {
        .rp-actions-menu {
            &.rp-icon-more {
                @include rp-icon(ellipsis-v);
                &::before {}
            }
        }
    }
    .grid-col {
        &-cursor {
            cursor: pointer;
        }
        &-rights {
            font-weight: 500;
            color: $rp-primary;
        }
    }
    .actions-row {
        @include grid-row();
        margin-left: 0px;
        margin-right: 15px;
        padding-bottom: 10px;
        padding-top: 8px;

        .product-filter {
            width: 200px;
            float: left;
            padding-left: 0px;
        }
        .filters {
            .grid-control-item {
                .icon-color {
                    color: $rp-neutral-03;
                }
            }
        }
    }
    .rights-grid-section {
        @include grid-col(10);
        &.space {
            margin-top: 30px;
        }
        &-title {
            @include header-3;
        }
        &-action-bar {
            @include grid-col(12);
        }
    }
    .rights-grid {

        .roles-assigned {
            width: 10%;
        }
        .center-name {
            width: 10%;
        }

        .right {
            width: 10%;
        }
        .action-label {
            width: 10%;
        }

        .more {
            width: 10%;
        }
    }
    .rp-grid-header {
        .rp-grid-text {
            font-size: 14px;
        }

        &.center-name {
            width: 15%;
        }

        .right {
            width: 20%;
        }

        .action-label {
            width: 5%;
        }

        &.roles-assigned {
            width: 5%;
        }

        &.more {
            text-align: center;
            width: 5%;
        }
    }
    .rp-grid-cell {

        &.center-name {
            width: 15%;
        }

        .right {
            width: 15%;
        }

        .action-label {
            width: 5%;
        }

        &.roles-assigned {
            text-align: center;
            width: 5%;
        }

        &.more {
            text-align: center;
            width: 5%;
            font-size: 20px;
        }
    }
}

body .acct-rights-action-menu {
    min-width: 120px;
}

.acct-role-modal {
    width: 560px;
}
