<div ng-controller="OnesiteRolesCtrl as  ORCtrl" class="onesite-roles-details spacer">
    <div class="roles-grid-section">
        <h3 class="roles-grid-section-title">OneSite Roles <h3>
            </div>
            <div class=" actions-row">
                <div class="new-btn">
                    <button ng-if= "ORCtrl.hasAccess()" class="rp-btn primary" ng-click="ORCtrl.createNewRole()">
                        <i class="fa fa-fw fa-plus icon-size"></i> New Role</button>
                </div>
                <div class="filters">
                    <div class="grid-controls">
                        <div class="grid-control-item">
                            <rp-toggle model="ORCtrl.model.grid.filtersModel.state.active" options="{
                                defaultText: 'Filters',
                                activeIconClass: 'rp-icon-filter',
                                defaultIconClass: 'rp-icon-filter active'
                            }">
                            </rp-toggle>
                        </div>
                    </div>
                </div>
            </div>
            <div class="onesite-grid">
                <rp-grid model="ORCtrl.model.grid" class="roles-grid">
                </rp-grid>
                <rp-grid-pagination model="ORCtrl.model.gridPagination">
                </rp-grid-pagination>
            </div>
</div>
