<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<connectionStrings>
		<add name="IdpConfigurationDb" connectionString="Data Source=RCDUSODBSQL001.Corp.Realpage.com;Initial Catalog=UPLocal;user id=identityserver; password=p@$$w0rd;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!--call intervel for every 24 hours (converted to milli seconds 3600000)-->
		<add key="callIntervel" value="60000" />
		<add key="ScheduledTime" value="3:00 PM" />
		<add key="ThreadCount" value="5" />
		<add key="LandingAPIUri" value="https://www-local2.realpage.com/" />
		<!--Elastic search related configurations-->
		<add key="ElasticSearchUri" value="http://elkdev-es-1.realpage.com:9200" />
		<!--<add key="ElasticSearchUri" value="http://localhost:9200" />-->
		<add key="Environment" value="LOCAL" />
		<add key="LogPath" value="C:\Log" />
		<add key="LogProductName" value="DisableUserService" />
		<add key="ElasticSearchIndexTypeName" value="local-unity-disableuserservice" />
		<!--Elastic search related configurations-->
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>