<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <IdentityConfig>
    <add key="PublicOriginUri" value="https://myl.realpage.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IssuerUri" value="https://myl.realpage.com/identity" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReturnUri" value="https://my.realpage.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogFilePath" value="c:\log\log.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IdentityServerSigningCertThumbprint" value="296d24d9af89437354a483969568b0ccbeb81073" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IdentityAPIUri" value="https://my1.realpage.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LandingAPIUri" value="https://my2.realpage.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </IdentityConfig>
  <appSettings>
    <add key="ElasticSearchUri" value="http://cluster-e.monitoring.corp.realpage.com:9200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Environment" value="PROD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="ShouldWriteInFile" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>