<div class="accounting-entities-wrapper" ng-controller="AEntitiesGridCtrl as aep">
	<div class="accounting-entities-wrapper-body" ng-if="!aep.isDataError">		
	    <div ng-if="!aep.isAllProperties()">
		    <div class="grid-controls">
		        <div class="grid-control-item">
		            <rp-toggle model="aep.entitiesGrid.filtersModel.state.active" options="{
		                defaultText: 'Filter',
		                activeIconClass: 'rp-icon-filter',
		                defaultIconClass: 'rp-icon-filter active'
		            }">
		            </rp-toggle>
		        </div>
		    </div>

			<rp-grid ng-if="apa.isActive()" model="aep.entitiesGrid" class="accounting-entities-grid">
			</rp-grid>

			<rp-grid-pagination ng-if="apa.isActive()" model="gridPagination">
			</rp-grid-pagination>
		</div>

		<div class="accounting-entities-wrapper-error" ng-if="aep.isAllProperties()">
				This user will be provided access to all current and future entities.
		</div>

	</div>
	<div class="accounting-entities-wrapper-error" ng-if="aep.isDataError">
		{{::aep.dataErrorReason}}
	<div>
	
</div>
