<div class="accounting-wrap" 
    ng-show="apa.isActive()"
    detect-product-change="{onChange: apa.setChanged}"
    ng-controller="AccountingProductAccessCtlr as apa">
    <h3 class="assign-product-access-title">
        {{apa.panelName}}
    </h3>
    <div class="row">
        <div class="col-md-2">
           <div class="options" > Options: </div>
        </div>
        <div class="col-md-5" ng-if="apa.GetSiteSpendManagementAssignedToCompany()">
            <rp-switch class="inline label-1" ng-if="apa.GetSiteSpendManagementAssignedToCompany()"
                config="apa.acessSiteSpndMgmtOnlySwitch"
                rp-model="apa.acessSiteSpndMgmtOnly"
                rp-label-text="'Access to Site Spend Management only'">
            </rp-switch>
        </div>
        <div class="col-md-5">
            <rp-switch class="inline label-1"
                config="apa.allPropSwitch"
                rp-model="apa.allProperties"
                rp-label-text="'Allow access to all current and future properties'">
            </rp-switch>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-2">            
        </div>
        <div class="col-md-5">            
            <rp-switch class="inline label-1"
                config="apa.accountingAdminSwitch"
                rp-model="apa.accountingAdmin"
                rp-label-text="'Accounting Admin'">
            </rp-switch>
        </div>
    </div>
    <rp-scrolling-tabs-menu model="apa.tabsMenu">
    </rp-scrolling-tabs-menu>
    <ng-include
        ng-repeat="tab in apa.tabsList"
        src="tab.incUrl"
        ng-show="tab.isActive">
    </ng-include>
</div>
