<div class="roles-wrapper" ng-controller="ARolesGridCtrl as ar">
    <div class="roles-wrapper-body" ng-if="!ar.isDataError">

        <div ng-if="!ar.isAccountingAdmin()">
            <div class="grid-controls">
                <div class="grid-control-item">
                    <rp-toggle model="ar.rolesGrid.filtersModel.state.active" options="{
                    defaultText: 'Filter',
                    activeIconClass: 'rp-icon-filter',
                    defaultIconClass: 'rp-icon-filter active'
                }">
                    </rp-toggle>
                </div>
            </div>
            <rp-grid ng-if="apa.isActive()" model="ar.rolesGrid" class="accounting-roles-grid">
            </rp-grid>
            <rp-grid-pagination ng-if="apa.isActive()" model="gridPagination">
            </rp-grid-pagination>
        </div>
        <div class="accounting-companies-wrapper-error" ng-if="ar.isAccountingAdmin()">
            This user will be assigned the Administrator role.
        </div>

    </div>
    <div class="roles-wrapper-error" ng-if="ar.isDataError">
        {{::ar.dataErrorReason}}
    </div>
</div>