<div class="claimed-products-wrap">

  <div *ngIf="!isShowSuccessMsg">
    <h1 class="r-heading-xl">  <raul-icon icon="check-mark-success" class="r-text-success r-text-hero hydrated"></raul-icon> Claimed Products
    </h1>

    <ul class="list">
      <li >Onesite</li>
      <li>Asset Optimization</li>
      <li>Spend Management</li>
    </ul>
  </div>

  <div class="success-message-wrap" *ngIf="isShowSuccessMsg">
    <raul-icon icon="check-mark-success" class="r-text-success" style="font-size:60px;"></raul-icon>
    <h1 class="r-heading-xl"> Product(s) claimed and migrated sucessfully</h1>

    <p>Thank you for your assistance. You have successfully claimed products.</p>
  </div>


</div>

<div class="footer text-right">

  <div class=" r-mb-4">
    <div class="text-center">

      <raul-checkbox class="r-mt-6"
        label-text="I certify that I have reviewed and verified all of the products whihc are assinged to me">
        <input type="checkbox" />
      </raul-checkbox>

      <raul-button variant="primary" class="r-mt-6 r-mr-5 r-ml-6 wid-150" (click)="confirm()"> Confirm </raul-button>

    </div>
   
  </div>

</div>



