.claimed-products-wrap {
    margin: 5% auto;
    width: 500px;
    margin-left: -250px;
    position: relative;
    left: 50%;
}
.list li {
    padding:8px;
}
.success-message-wrap {
    text-align: center;
}