.assign-roles-rights-aside {

    .roles-error-msg {
        color: #d31612;
        font-size: 12px;
        line-height: 16px;
        font-weight: normal;
        letter-spacing: 0.005em;
    }

    .rp-grid-headers-1 .rp-grid-text {
        font-size: 14px;
        font-weight: bold;
    }
    .rp-grid-filters-1 {

        .rp-grid-cell {
            &.is-assigned {
                width: 40px;
            }
        }
        .rp-grid-cell {
            &.name {
                width: 70%;
            }
        }
        .rp-grid-cell {
            &.roletype {
                width: 20%;
            }
        }
    }
    .rp-grid-headers-1 {

        .rp-grid-cell {
            &.is-assigned {
                width: 40px;
            }
        }
        .rp-grid-cell {
            &.name {
                width: 70%;
                text-align: left;
            }
        }

        .rp-grid-cell {
            &.roletype {
                width: 20%;
                text-align: left;
            }
        }
    }

    .rp-grid-body-1 {
        .rp-grid-cell {
            &.is-assigned {
                width: 40px;
            }
        }

        .rp-grid-cell {
            &.name {
                text-align: left;
                width: 70%;
            }
        }

        .rp-grid-cell {
            &.roletype {
                text-align: left;
                width: 20%;
            }
        }
    }
}