raul-select {
  display: block;
}

raul-select .r-select {
  position: relative;
}

raul-select .r-select__label {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  color: #37474F;
  margin-bottom: 0.25rem;
}

raul-select .r-select__toggle {
  display: block;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  padding: 0;
  text-align: left;
  outline: 0;
  width: 100%;
}

raul-select .r-select__toggle__content {
  border-width: 1px;
  border-color: #C6CCD0;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  height: 2.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  line-height: 1.25;
  background-color: var(--raul-select-bg, #ffffff);
  border-radius: var(--raul-select-border-radius, 0.125rem);
  color: var(--raul-select-color, #37474F);
}

raul-select .r-select__toggle__content__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}

raul-select .r-select__toggle__content__arrow {
  font-size: 1rem;
  color: #C6CCD0;
  margin-left: 0.5rem;
}

raul-select .r-select__toggle__content--borderless {
  border-color: transparent;
}

raul-select .r-select__toggle:focus {
  outline: 0;
}

raul-select .r-select__toggle:focus .r-select__toggle__content {
  border-color: #0076CC;
}

raul-select .r-select__toggle:disabled .r-select__toggle__content {
  background-color: #EBEDEE;
  border-color: #EBEDEE;
  color: #9BA3A7;
  cursor: not-allowed;
}

raul-select .r-select__label {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

raul-select .r-select__hint {
  display: block;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

raul-select .r-select__error {
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  color: #D01A1F;
  margin-top: 0.5rem;
}

raul-select .r-select__error__icon {
  font-size: 1rem;
  margin-right: 0.25rem;
}

raul-select .r-select__menu {
  flex-direction: row;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #EBEDEE;
  box-shadow: 0 8px 16px 0 rgba(82, 97, 115, 0.18);
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 10rem;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: none;
  opacity: 0;
  background-color: var(--raul-select-menu-bg, #ffffff);
  border-radius: var(--raul-select-menu-border-radius, 0.125rem);
  transition: opacity 0.2s ease, scale 0.2s linear;
  z-index: 100000;
}

raul-select .r-select__menu__content {
  display: flex;
  flex-direction: column;
  max-height: 20rem;
  width: 100%;
}

@media (max-width: 640px) {
  raul-select .r-select__menu__content {
    max-height: none;
  }
}

raul-select .r-select__menu__body {
  flex-grow: 1;
  overflow: auto;
}

@media (max-width: 640px) {
  raul-select .r-select__menu {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: none;
    margin: 0;
    min-width: 0;
    position: fixed;
    border-width: 0;
    border-radius: 0;
    transform: scale(0, 0);
  }
}

raul-select .r-select__mobile-label {
  display: none;
}

@media (max-width: 640px) {
  raul-select .r-select__mobile-label {
    display: block;
  }

  raul-select .r-select__mobile-label__content {
    align-items: center;
    border-bottom-width: 1px;
    border-color: #EBEDEE;
    background-color: #F7F8F9;
    display: flex;
    font-size: 0.875rem;
    height: 2.5rem;
  }

  raul-select .r-select__mobile-label__content__text, raul-select .r-select__mobile-label__content__button {
    width: 33.333333%;
  }

  raul-select .r-select__mobile-label__content__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #37474F;
    font-weight: 500;
    text-align: center;
  }

  raul-select .r-select__mobile-label__content__button {
    color: #0076CC;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  raul-select .r-select__mobile-label__content__button--disabled {
    color: #9BA3A7;
  }

  raul-select .r-select__mobile-label__content__button--right {
    margin-left: auto;
    text-align: right;
  }
}

raul-select .r-select__search {
  color: #37474F;
  font-size: 0.75rem;
  position: relative;
}

raul-select .r-select__search__input {
  border-width: 1px;
  border-top-width: 0;
  border-color: #EBEDEE;
  height: 2.5rem;
  padding-left: 2rem;
  padding-right: 0.75rem;
  width: 100%;
}

raul-select .r-select__search__input:focus {
  outline: 1px solid #0076CC;
  outline-offset: -1px;
}

raul-select .r-select__search__input::-webkit-input-placeholder {
  color: #9BA3A7;
}

raul-select .r-select__search__input::-moz-placeholder {
  color: #9BA3A7;
}

raul-select .r-select__search__input:-ms-input-placeholder {
  color: #9BA3A7;
}

raul-select .r-select__search__input::-ms-input-placeholder {
  color: #9BA3A7;
}

raul-select .r-select__search__input::placeholder {
  color: #9BA3A7;
}

@media (max-width: 640px) {
  raul-select .r-select__search__input {
    border-left-width: 0;
    border-right-width: 0;
  }
}

raul-select .r-select__search__icon {
  color: #9BA3A7;
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
}

raul-select .r-select__search__icon-reset {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
}

raul-select .r-select__no-search-results {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  color: #37474F;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 0.75rem;
}

raul-select .r-select--opened .r-select__menu {
  display: flex;
}

raul-select .r-select--expanded .r-select__menu {
  opacity: 1;
}

@media (max-width: 640px) {
  raul-select .r-select--expanded .r-select__menu {
    transform: scale(1, 1);
  }
}

raul-select .r-select--invalid .r-select__toggle__content {
  border-color: #D01A1F;
}

raul-select .r-option {
  display: flex;
  align-items: center;
  border-width: 1px;
  border-color: #EBEDEE;
  border-top-width: 0;
  font-size: 0.75rem;
  cursor: pointer;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  white-space: nowrap;
  line-height: 1.25;
  min-height: 2.5rem;
}

raul-select .r-option__icon {
  display: flex;
  align-items: center;
  background-color: #EBEDEE;
  border-radius: 9999px;
  color: #9BA3A7;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  justify-content: center;
  margin-right: 1rem;
}

raul-select .r-option__icon raul-icon {
  display: inline-flex;
}

raul-select .r-option__text {
  color: #37474F;
  flex: 1 1 0%;
  padding-right: 0.75rem;
}

raul-select .r-option__text, raul-select .r-option__text__title, raul-select .r-option__text__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

raul-select .r-option__text__description {
  margin-top: 0.25rem;
}

raul-select .r-option__check-mark {
  color: #0076CC;
  font-size: 0.875rem;
  opacity: 0;
}

raul-select .r-option:not(.r-option--group):hover {
  background-color: #F7F8F9;
}

body[modality=keyboard] raul-select .r-option:focus {
  outline: 1px solid #0076CC;
  outline-offset: -1px;
}

raul-select .r-option--selected .r-option__check-mark {
  opacity: 1;
}

raul-select .r-option--disabled {
  pointer-events: none;
}

raul-select .r-option--disabled .r-option__text,
raul-select .r-option--disabled .r-option__check-mark {
  color: #9BA3A7;
}

raul-select .r-option--group, raul-select .r-option--heading {
  background-color: transparent;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

raul-select .r-option--group .r-option__text__title, raul-select .r-option--heading .r-option__text__title {
  font-weight: 600;
}

raul-select .r-option--group:not(.r-option--multiple) {
  cursor: auto;
}

raul-select .r-option--sub-option {
  padding-left: 1.5rem;
}

raul-select .r-option--with-description .r-option__text__title {
  font-weight: 600;
}

@media (max-width: 640px) {
  raul-select .r-option {
    border-left-width: 0;
    border-right-width: 0;
  }
}