raul-date-picker {
  position: relative;
}

@media (max-width: 640px) {
  raul-date-picker .r-date-picker__wrapper:not(.r-date-picker__inline) {
    width: 100%;
  }

  raul-date-picker .r-date-picker__wrapper:not(.r-date-picker__inline) .r-date-picker__toggle {
    width: 100%;
  }

  raul-date-picker .r-date-picker__wrapper--show:not(.r-date-picker__inline) .r-date-picker__container__responsive-utility-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5000;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

raul-date-picker .r-date-picker__wrapper {
  display: inline-block;
  width: 100%;
}

raul-date-picker .r-date-picker__wrapper--invalid .r-date-picker__toggle {
  border-color: #D01A1F;
}

raul-date-picker .r-date-picker__wrapper.r-date-picker__inline .r-date-picker__toggle {
  display: none;
}

raul-date-picker .r-date-picker__wrapper:not(.r-date-picker__inline) .r-date-picker__dropdown {
  position: absolute;
}

raul-date-picker .r-date-picker__wrapper:not(.r-date-picker__inline) .r-date-picker__container {
  border-width: 1px;
  border-color: #EBEDEE;
}

raul-date-picker .r-date-picker__wrapper:not(.r-date-picker__inline) .r-date-picker__months-view, raul-date-picker .r-date-picker__wrapper:not(.r-date-picker__inline) .r-date-picker__years-view, raul-date-picker .r-date-picker__wrapper:not(.r-date-picker__inline) .r-date-picker__container {
  box-shadow: 0 8px 16px 0 rgba(82, 97, 115, 0.18);
}

raul-date-picker .r-date-picker {
  position: relative;
}

raul-date-picker .r-date-picker__label {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  color: #37474F;
  margin-bottom: 0.25rem;
}

raul-date-picker .r-date-picker__hint {
  display: block;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

raul-date-picker .r-date-picker__error {
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  color: #D01A1F;
  margin-top: 0.5rem;
}

raul-date-picker .r-date-picker__error__icon {
  font-size: 1rem;
  margin-right: 0.25rem;
}

raul-date-picker .r-date-picker__toggle {
  width: 100%;
  border-width: 1px;
  border-color: #C6CCD0;
  border-radius: 0.125rem;
  display: block;
  font-size: 0.875rem;
  height: 2.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

raul-date-picker .r-date-picker__toggle--open {
  outline: 0;
  border-color: #0076CC;
}

raul-date-picker .r-date-picker__toggle:focus {
  outline: 0;
  border-color: #0076CC;
}

raul-date-picker .r-date-picker__toggle .r-date-picker__toggle__value {
  color: #37474F;
}

raul-date-picker .r-date-picker__toggle .r-date-picker__toggle__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

raul-date-picker .r-date-picker__toggle .r-date-picker__toggle__icon raul-icon {
  color: #9BA3A7;
  font-size: 1.125rem;
}

raul-date-picker .r-date-picker__toggle--disabled {
  border-color: #EBEDEE;
  background-color: #EBEDEE;
  pointer-events: none;
}

raul-date-picker .r-date-picker__toggle--disabled .r-date-picker__toggle__value {
  color: #C6CCD0;
}

raul-date-picker .r-date-picker__dropdown {
  z-index: 50;
  background-color: #ffffff;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.125rem;
}

raul-date-picker .r-date-picker__dropdown button:focus {
  outline: none;
}

raul-date-picker .r-date-picker__dropdown--top {
  position: absolute;
  bottom: 100%;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container {
  user-select: none;
  border-radius: 0.125rem;
  display: none;
  width: 252px;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container--show {
  display: block;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .is-hidden {
  display: none;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-title {
  display: none;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-single:focus {
  outline: 0;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .r-date-picker__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .r-date-picker__header .r-date-picker__header__month-year-label {
  border-radius: 9999px;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 0.75rem;
  font-size: 0.75rem;
  font-weight: 600;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .r-date-picker__header .r-date-picker__header__month-year-label:focus {
  outline: 0;
  border-width: 1px;
  border-color: #0076CC;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .r-date-picker__header .r-date-picker__header__month-year-label:hover {
  background-color: #E5F4FF;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .r-date-picker__header .r-date-picker__header__month-year-label .r-date-picker__header__month-year-label__focus-utility {
  flex: 0 1 auto;
  cursor: pointer;
  border-radius: 9999px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 9999px;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .r-date-picker__header raul-icon {
  flex: 0 1 auto;
  cursor: pointer;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table {
  width: 100%;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table .is-outside-current-month {
  color: lightgray;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table thead {
  background-color: #F7F8F9;
  opacity: 1;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table thead tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F7F8F9;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table thead tr th {
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table thead tr th button {
  height: 1.5rem;
  width: 1.5rem;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table thead tr th abbr {
  text-decoration: none;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody {
  padding-top: 0.5rem;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr:first-child {
  margin-top: 8px !important;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr td {
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 0.75rem;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr td button {
  height: 1.5rem;
  width: 1.5rem;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr td.is-selected button {
  height: 1.5rem;
  width: 1.5rem;
  border-width: 1px;
  border-color: #0076CC;
  color: #37474F;
  border-radius: 9999px;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr td.is-today:not(.is-selected):not(.is-startrange):not(.is-endrange) {
  flex: 1 1 0%;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr td.is-today:not(.is-selected):not(.is-startrange):not(.is-endrange) button {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #EBEDEE;
  border-radius: 9999px;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr td.is-today.is-current-selection button {
  color: #37474F !important;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr td.is-today.is-current-selection.is-selected button {
  color: #ffffff !important;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr td.is-startrange {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #fff 50%, #e5f4ff 50%);
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr td.is-startrange button {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #0076CC;
  color: #ffffff;
  border-radius: 9999px;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr td.is-endrange {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #e5f4ff 50%, #fff 50%);
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr td.is-endrange button {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #0076CC;
  color: #ffffff;
  border-radius: 9999px;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr td:not(:first-child):not(:last-child).is-inrange {
  background-color: #E5F4FF;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr td:first-child.is-inrange {
  background: linear-gradient(to right, #fff 50%, #e5f4ff 50%);
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr td:first-child.is-inrange button {
  background-color: #E5F4FF;
  border-radius: 9999px;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr td:first-child.is-endrange {
  background: white;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr td:last-child.is-inrange {
  background: linear-gradient(to right, #e5f4ff 50%, #fff 50%);
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr td:last-child.is-inrange button {
  background-color: #E5F4FF;
  border-radius: 9999px;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr td:last-child.is-startrange {
  background: white;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr:first-child {
  margin-top: 1rem;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container .pika-table tbody tr:last-child {
  margin-bottom: 0.5rem;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container--has-date .is-selected:not(.is-today) button {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #0076CC;
  color: #ffffff;
  border-radius: 9999px;
  color: white !important;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__container--has-date .is-selected.is-today button {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #0076CC;
  color: #ffffff;
  border-radius: 9999px;
  color: white !important;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__months-view__year-label {
  font-size: 0.75rem;
  font-weight: 600;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__months-view {
  user-select: none;
  background-color: #ffffff;
  width: 252px;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__months-view .r-date-picker__months-view__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__months-view .r-date-picker__months-view__header .r-date-picker__months-view__year-label {
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: 600;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__months-view .r-date-picker__months-view__header .r-date-picker__months-view__year-label:focus {
  outline: 0;
  border-width: 1px;
  border-color: #0076CC;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__months-view .r-date-picker__months-view__header .r-date-picker__months-view__year-label .r-date-picker__months-view__year-label__focus-utility {
  flex: 0 1 auto;
  cursor: pointer;
  border-radius: 9999px;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 9999px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  font-weight: 600;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__months-view .r-date-picker__months-view__header .r-date-picker__months-view__year-label .r-date-picker__months-view__year-label__focus-utility:hover {
  background-color: #E5F4FF;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__months-view .r-date-picker__months-view__header raul-icon {
  flex: 0 1 auto;
  cursor: pointer;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__months-view .r-date-picker__months-view__months-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__months-view .r-date-picker__months-view__months-container:focus {
  outline: 0;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__months-view .r-date-picker__months-view__months-container .r-date-picker__months-view__single-month-container {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 2px;
  min-width: calc(25% - 8px);
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__months-view .r-date-picker__months-view__months-container .r-date-picker__months-view__single-month-container .r-date-picker__months-view__month {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__months-view .r-date-picker__months-view__months-container .r-date-picker__months-view__single-month-container .r-date-picker__months-view__month--current {
  border-radius: 9999px;
  background-color: #EBEDEE;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__months-view .r-date-picker__months-view__months-container .r-date-picker__months-view__single-month-container .r-date-picker__months-view__month--selected {
  border-radius: 9999px;
  background-color: #0076CC;
  color: #ffffff;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__months-view .r-date-picker__months-view__months-container .r-date-picker__months-view__single-month-container--focused {
  border-radius: 9999px;
  box-shadow: 0 0 0 1px #0076CC;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__years-view {
  width: 252px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__years-view .r-date-picker__years-view__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__years-view .r-date-picker__years-view__header .r-date-picker__years-view__year-label {
  flex: 0 1 auto;
  cursor: pointer;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__years-view .r-date-picker__years-view__header raul-icon {
  flex: 0 1 auto;
  cursor: pointer;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__years-view .r-date-picker__years-view__years-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__years-view .r-date-picker__years-view__years-container:focus {
  outline: 0;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__years-view .r-date-picker__years-view__years-container .r-date-picker__years-view__year-container {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 2px;
  min-width: calc(25% - 8px);
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__years-view .r-date-picker__years-view__years-container .r-date-picker__years-view__year-container .r-date-picker__years-view__year {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__years-view .r-date-picker__years-view__years-container .r-date-picker__years-view__year-container .r-date-picker__years-view__year--current {
  border-radius: 9999px;
  background-color: #EBEDEE;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__years-view .r-date-picker__years-view__years-container .r-date-picker__years-view__year-container .r-date-picker__years-view__year--selected {
  border-radius: 9999px;
  background-color: #0076CC;
  color: #ffffff;
}

raul-date-picker .r-date-picker__dropdown .r-date-picker__years-view .r-date-picker__years-view__years-container .r-date-picker__years-view__year-container--focused {
  border-radius: 9999px;
  box-shadow: 0 0 0 1px #0076CC;
}

raul-date-picker .is-current-selection button {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #0076CC;
  color: #ffffff;
  border-radius: 9999px;
  color: white !important;
}