raul-content {
  display: block;
}

.r-content {
  max-width: 768px;
}

.r-content--fullwidth {
  max-width: 100%;
  max-width: none;
}

.r-content h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 2.5rem;
}

.r-content h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 1.625rem;
}

.r-content h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.25rem;
}

.r-content h4 {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  line-height: 1.25rem;
}

.r-content h5 {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  line-height: 1.125rem;
}

.r-content h6 {
  font-weight: 600;
}

.r-content p {
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}

.r-content hr {
  border-top-width: 1px;
  border-color: #EBEDEE;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.r-content code {
  font-weight: 700;
  color: #0069B7;
  background-color: #E5F4FF;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 0.8em;
}

.r-content pre {
  font-size: 0.75rem;
  font-family: Roboto Mono, Courier, monospace;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 1.5rem;
  background-color: #E5F4FF;
  color: #37474F;
  border-radius: 0.5rem;
}