<div class="product-solutions">
    <div class="product-card-wrap"
        ng-if="soln.isFavorite()"
        ng-repeat="soln in page.model.solutions">
        <div class="card product-card">
            <div class="disabled-product-card"
                ng-if="soln.isProductDisabled()">
            </div>

            <span class="product-card-icon rp-svg-icon"
                svg-src="{{soln.getIconId() | productIconPath}}">
            </span>

            <div class="product-card-favorite"
                ng-click="soln.toggleFavStatus()"
                ng-class="{active: soln.data.isFavorite}">
            </div>

            <div class="product-card-content">
                <p class="product-card-title"
                    ng-href="{{::soln.data.productUrl}}">
                    {{::soln.data.solutionName}}
                </p>

                <p class="product-card-description">
                    {{::soln.data.subsolution}}
                </p>

                <div class="product-card-actions">
                    <a bs-popover
                        data-auto-close="1"
                        data-container="body"
                        data-placement="top-right"
                        class="product-card-action"
                        data-template-url="products/base/templates/product-more-info.html">
                    <i class="more-info"></i>
                </div>

                <a class="product-card-link"
                    ng-href="{{::soln.data.productUrl}}"
                    ng-attr-target="{{soln.getWinId()}}">
                    Launch
                </a>
            </div>
        </div>
    </div>
</div>
