<div class="product-access"
    ng-show="productAccess.active"
    ng-controller="ProductAccessCtrl as productAccess">
    <span class="product-access-content-overlay" ng-class= "productAccess.hasNoAccessToProducts() ? 'product-access-content-overlay-hide' : 'product-access-content-overlay-show'"></span>
    <ng-include
        class="assign-products-wrap"
        src="'user/assign-products/templates/assign-products.html'">
    </ng-include>
    <ng-include
        class="assign-product-access-wrap"
        src="'user/assign-product-access/base/templates/assign-product-access.html'">
    </ng-include>
</div>
