<div class="rp-modal-wrap" ng-controller="SpndMgmtStatusMsgCtrl as status">
    <div class="rp-modal" ng-click="status.dismissModal()">
        <div class="rp-modal-dialog user-request-status-modal">
            <div class="rp-modal-header">
                <span class="rp-modal-close"></span>
                <h2 class="rp-modal-header-title">{{status.model.data.title}}</h2>
            </div>
            <div class="rp-modal-content">
                <p class="user-request-error-msg">
                    {{status.model.data.msg}}
                </p>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns user-request-footer-btns">
                    <button class="rp-modal-footer-btn rp-btn primary user-request-status-modal-footer-btn">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
