<div class="onsite-wrapper" ng-controller="OnSitePropertiesCtrl as pc">
    <div class="properties-body" ng-if="!pc.isDataError">
        <div class="all-properties">
            <rp-switch class="inline label-1"
                config="pc.allPropSwitch"
                rp-model="pc.allProperties"
                rp-label-text="'Allow access to all current and future properties'">
            </rp-switch>
        </div>
        <div ng-if="!pc.allProperties">
            <div class="grid-controls">
                <div class="grid-control-item">
                    <rp-toggle model="pc.grid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                    </rp-toggle>
                </div>
            </div>

        	<rp-grid ng-if="opa.isActive()" model="pc.grid" class="on-site-properties-grid">
        	</rp-grid>

        	<rp-grid-pagination ng-if="opa.isActive()" model="gridPagination">
        	</rp-grid-pagination>
        </div>
    </div>
    <div class="properties-body-error" ng-if="pc.isDataError">
        <p>{{::pc.dataErrorReason}}</p>
    </div>
</div>
