<div ng-controller="OnSitePropertyGroupsCtrl as pgc">
    <div class="propert-groups-body" ng-if="!pgc.isDataError">
        <div ng-if="!pgc.allProperties">
            <div class="grid-controls">
                <div class="grid-control-item">
                    <rp-toggle model="pgc.grid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                    </rp-toggle>
                </div>
            </div>

            <rp-grid ng-if="opa.isActive()" model="pgc.grid" class="on-site-property-groups-grid">
            </rp-grid>

            <rp-grid-pagination ng-if="opa.isActive()" model="gridPagination">
            </rp-grid-pagination>
        </div>
        <div ng-if="pgc.allProperties" class="onsite-all-properties">
            This user will have access to all current and future property groups.
        </div>
    </div>
    <div class="property-groups-error" ng-if="pgc.isDataError">
        <p>{{::pgc.dataErrorReason}}</p>
    </div>
</div>
