<div class="roles-wrapper" ng-controller="OnSiteRolesCtrl as rc">
    <div class="properties-body" ng-if="!rc.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="rc.grid.filtersModel.state.active" options="{
                    defaultText: 'Filter',
                    activeIconClass: 'rp-icon-filter',
                    defaultIconClass: 'rp-icon-filter active'
                }">
                </rp-toggle>
            </div>
        </div>

    	<rp-grid ng-if="opa.isActive()"
    		model="rc.grid" class="on-site-roles-grid">
    	</rp-grid>

    	<rp-grid-pagination ng-if="opa.isActive()" model="gridPagination">
    	</rp-grid-pagination>
    </div>
    <div class="roles-body-error" ng-if="rc.isDataError">
        <p>{{::rc.dataErrorReason}}</p>
    </div>
</div>
