// Onesite Product Access

.onesite-access {
    .all-properties {
        text-align: right;
        margin-bottom: 20px;
        display: none;
        .rp-switch {
            text-align: left;
        }
    }

    .grid-controls{
        display: none;
    } 
}
