<div class="user " ng-controller="UserCtrl as user">
    <div class="user-content-overlay-wrap">
        <span class="user-content-overlay" ng-class= "user.disableContent ? 'user-content-overlay-hide' : 'user-content-overlay-show'"></span>
        <rp-scrolling-tabs-menu model="user.tabsMenu" ng-if="user.hasMultipleTabs()">
        </rp-scrolling-tabs-menu>

        <ng-include src="tab.templateUrl" ng-show="tab.isActive" ng-repeat="tab in user.tabsList">
        </ng-include>

        <div class="user-actions" ng-if = "!user.disableContent">
            <button ng-click="user.cancel()" class="rp-btn outline primary user-action">
                {{'text.btn.cancel' | userBaseText}}
            </button>
            <button ng-if="user.hasAccess()" ng-click="user.save()" class="rp-btn primary user-action">
                {{user.view.saveTextKey | userBaseText}}
            </button>
        </div>
    </div>
</div>
