<div class="rm-companies-wrapper" ng-controller="RevenueManagementCompaniesCtrl as rmcs">
    <div class="rm-companies-body" ng-if="!rmcs.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="rmcs.grid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="rmcs.isActive()" model="rmcs.grid" class="rm-companies-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="rmcs.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="rm-companies-body-error" ng-if="rmcs.isDataError">
        {{::rmcs.dataErrorReason}}
    </div>
</div>
