<div class="rm-properties-list-wrapper" ng-controller="RMCompanyPropertiesCtrl as rmpropctrl">
    <div class="rm-properties-list-body" ng-if="!rmpropctrl.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="rmpropctrl.grid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="rmpropctrl.isActive()" model="rmpropctrl.grid" class="rm-properties-list-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="rmpropctrl.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="rm-properties-list-body" ng-if="rmpropctrl.isDataError">
        {{::rmpropctrl.dataErrorReason}}
    </div>
</div>

