<div ng-controller="RevenueManagementProductAccessCtrl as rmpctrl"
     ng-show="rmpctrl.isActive()"
     detect-product-change="{onChange: rmpctrl.setChanged}">
    <h3 class="assign-product-access-title">
        {{rmpctrl.panelName}}
    </h3>

    <div ng-show="rmpctrl.productDisabled" class="assign-product-access-error-msg">
        This product cannot be assigned when User Type is Regular user (no email).
    </div>

     <rp-scrolling-tabs-menu model="rmpctrl.tabsMenu">
        </rp-scrolling-tabs-menu>
        <ng-include
            src="tab.incUrl"
            ng-show="tab.isActive"
            ng-repeat="tab in rmpctrl.tabsList">
        </ng-include>
</div>
