<div class="rm-property-group-wrapper" ng-controller="RMPropertyGroupsCtrl as rmpgctrl">
    <div class="rm-property-group-body" ng-if="!rmpgctrl.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="rmpgctrl.grid.filtersModel.state.active" options="{
                        defaultText: 'Filter',
                        activeIconClass: 'rp-icon-filter',
                        defaultIconClass: 'rp-icon-filter active'
                    }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="rmpgctrl.isActive()"
            model="rmpgctrl.grid"
            class="rm-property-group-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="rmpgctrl.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="rm-property-group-body-error" ng-if="rmpgctrl.isDataError">
        {{::rmpgctrl.dataErrorReason}}
    </div>
</div>
