.add-user-details {

	&.panel-collapse {
		padding: 40px 45px;
		overflow: visible;
	}

	.add-persona-btn {
		color: $rp-primary;
		background-color: $white;
		border: none;

		margin-top: 40px;
	}
	.col-md-12 > .add-persona-btn {
		margin-top: 0;
	}

	.add-user-switch {
		&-label {
			text-align: right;

			&.form-control-label {
				@media #{$smScAndBelow} {
			        width: auto;
			        margin-top: 12px;
			        margin-bottom: 12px;
			    }
		    }
		}

		float: right;
		margin-top: 10px;

		@media #{$smScAndBelow} {
	        margin-top: 16px;
	        margin-bottom: 12px;
	    }
	}

	.ui-switch {
		border: none;
		background-color: $rp-neutral-06;

		i {
			&:before {
				border: none;
				background-color: $rp-neutral-06;				
			}

			&:after {
				background-color: $rp-neutral-02;	
			}
		}

		input:checked {
			& + i {				
				&:after {
					background-color: $rp-primary;
				}
			}
		}
	}

	.rp-datetimepicker {
		&-icon:before {
			color: $rp-nav-color-02;
		}

		&-text {
			border-right: 0;
			border-color: $input-border !important;
		}

		.input-group {
			border: 0;
		}
	}

}