/*****************************/
/****  Basic Styles for rp-cart component, a shopping cart made in React.js  ***/ 
/*****************************/


.rp-cart-node{
    margin-top: 0;
    position: fixed; 
    width: 100%; 
    z-index: 9999;
    right: 0; 
    top: 0; 

    .rp-cart-item-desc{
        .rp-cart-item-desc-r-bld { color: #515356; font-weight: bold; }

        &.strike-through{ text-decoration: line-through; }
    }

    .rp-cart-background{
        position: absolute;
        flex-direction: row;
        display: flex;
        right: 0;
        width: 100%;
        height: 100vh;
        background: rgba(55, 71, 79, 0.4);

        .rp-cart-wrapper{ 
            position: absolute; 
            top: 0; 
            right: 0; 
            height: 100%; 
            max-width: 550px; 
            z-index: 0;

            .rp-checkout-cart-summary { 
                position: absolute; 
                z-index: -1; 
                top: 0px; right: 99.8%; 
                height: 100%; 
                width: 80%; 
                background: rgba(235,240,242,1); 

                .rp-checkout-cart-summary-hdr { 
                    margin-bottom: 20px; }
            }

            .rp-cart{ 
                background: white; 
                padding-top: 10px; 
                height: 100%; 
                max-width: 550px;

                .rp-cart-header{ 
                    margin: 10px; }

                .rp-cart-timer { 
                    border: 2px solid orange; 
                    border-radius: 4px;}

                .rp-cart-display{ 
                    height: 100%;

                    .rp-cart-message{ 
                        border:2px solid #42a5f5; 
                        border-radius: 4px; 
                        margin-bottom: 5px; 
                        min-height: 30px; 

                        .rp-cart-message-icn{ width:30px; }
                    } 
                    
                    .rp-cart-display-items{ 
                        height:85%; 

                        .rp-cart-display-items-ldg { margin:30px; }

                        .rp-cart-item { 
                            position: relative; 
                            height: 80px;

                            .rp-cart-item-una { 
                                background: rgba(163, 175, 181, .9); 
                                position: absolute; 
                                width: 100%; 

                                .rp-cart-item-una-hdr { 
                                    position: absolute; 
                                    right: 0;
                                    margin-right: 10px; }

                                .rp-cart-item-una-bod {display: flex; flex-direction: column; align-items: center; color: white; padding-top: 1.15rem; padding-bottom: 1.15rem;}

                            }

                            .rp-cart-item-tmr-tag {font-size: 9px; color: red;}
                        }
                    }

                    .rp-cart-display-ftr-wrpr {  background: white;  position: absolute;  bottom: 0px;  left: 0px;  right: 0px;  padding-left: 0px;  max-width: 550px;}
                }

                .rp-checkout {
                    height: 100%;

                    .rp-checkout-ad { background: #42a5f5; color: white; 

                        .rp-checkout-ad-rw { text-align: center; padding: 5px; 

                            span a { text-decoration: underline; }
                        }
                        .rp-checkout-ad-buy { text-align: center; padding: 5px; margin: 5px auto 5px auto; 

                            & > button { background: white !important; }
                        }
                    }

                    .rp-checkout-pay{
                        .rp-checkout-sel-pay { margin-bottom: 30px; }
                        .rp-checkout-pay-bal{ margin-bottom: 40px; min-height: 80px; }
                    }

                    .rp-cart-display-ftr-wrpr { position: fixed; bottom: 0; right: 0; width: 550px; background: white;

                        .rp-checkout-trms-n-pol{ text-align: center; font-size: 8px; }
                    }

                    .rp-checkout-complete{
                        .rp-checkout-complete-rcpt-wrpr { border: 1px solid #0275d8; border-radius: 15px;}
                    }

                }
            }
        }
    }
}


/**** End cart basic styles *****/

/*****************************/
/******** Helper Styles ******/
/*****************************/


.rp-cart-background {
    .btn-alt-cart { height: 1.75rem; line-height: 1rem !important; border-radius: 15px; }
}

/*****************************/
/**** Transition Styles *****/
/*****************************/

/**** The cart uses animations/transitions via react-transition-group: they are below *****/

.rp-cart-background{

/****  transition - cart enters the page   ****/
    .ani-cart-appear { transform: translateX(550px); }
    .ani-cart-appear.ani-cart-appear-active{
        transform: translateX(0);
        transition: transform 500ms ease-in;
    }
    .ani-cart-leave { opacity: 1; }
    .ani-cart-leave.ani-cart-leave-active{
        opacity: 0;
        transition: opacity 1000ms ease;
    }
    

/***  transition styles for CartSummary  ***/
    .ani-cart-sum-enter { transform: translateX(400px); }
    .ani-cart-sum-enter.ani-cart-sum-enter-active {  transform: translateX(0); transition: transform 500ms ease; } 
    .ani-cart-sum-leave{ transform: translateX(0); transition: transform 100ms ease; }
    .ani-cart-sum-leave.ani-cart-sum-leave-active { transform: translateX(400px);}
/***  END ***/

/**** transition styles for  items entering and leaving the screen  ****/
   .ani-cart-items-enter {  opacity: 0; transform: scale(0.6); }
    .ani-cart-items-enter.ani-cart-items-enter-active {  opacity: 1; transform: scale(1); transition: all 500ms ease-in; } 
    .ani-cart-items-leave{ opacity: 1;  transform: scale(1);  transition: all 300ms ease-out; }
    .ani-cart-items-leave.ani-cart-items-leave-active{ opacity: 0;  transform: scale(0); }
    .ani-cart-items-leave.rp-cart-display-items-ldg, .ani-cart-items-leave .rp-loading-spinner{ display: none; }
/***  END ***/

/***  transition styles for unavailable items  ***/
    .ani-item-una-enter{ opacity: 0; transform: scale(0.6);}
    .ani-item-una-enter.ani-item-una-enter-active{ opacity: 1; transform: scale(1); transition: all 500ms ease-in; }
    .ani-item-una-leave{ opacity: 0; }
/***  END ***/

/**** transition - from cart to checkout *******/
    .ani-checkout-enter{ opacity: 0; }
    .ani-checkout-enter.ani-checkout-enter-active{
        opacity:1;
        transition: opacity 700ms ease-out;
    }
/**** END  ****/

/**** transition - in checkout, alert => account balance insufficient *****/
    .ani-cdt-bal-enter{ 
        transform: skewX(20deg) translateX(400px);
    }
    .ani-cdt-bal-enter.ani-cdt-bal-enter-active{
        transition: transform 500ms cubic-bezier(0.68, -0.15, 0.265, 1.37);
        transform: skewX(0deg) translateX(0);
    }
    .ani-cdt-bal-leave{ opacity: 0; }
/***** END.  ***/

/*** animaiton - blink ****/
    .blink {
        animation: blink 1s step-start 0s infinite;
        -webkit-animation: blink 1s step-start 0s infinite;
    }
    @keyframes blink {
        50% {
            opacity: 0.5;
        }
    }
    @-webkit-keyframes blink {
        50% {
            opacity: 0.1;
        }
    }
/***  END ***/

}

/**** End cart transition styles *****/