<div class="roles-wrapper" ng-controller="MCRolesGridCtrl as mcr">
    <div class="roles-body" ng-if="!mcr.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="mcr.rolesGrid.filtersModel.state.active" options="{
                    defaultText: 'Filter',
                    activeIconClass: 'rp-icon-filter',
                    defaultIconClass: 'rp-icon-filter active'
                }">
                </rp-toggle>
            </div>
        </div>

    	<rp-grid ng-if="mcpa.isActive()" model="mcr.rolesGrid" class="marketing-center-roles-grid">
    	</rp-grid>

    	<rp-grid-pagination ng-if="mcpa.isActive()" model="gridPagination">
    	</rp-grid-pagination>
    </div>
    <div class="roles-error" ng-if="mcr.isDataError">
        {{::mcr.dataErrorReason}}
    </div>
</div>
