/* Flex Positioning BEGIN*/

.flex { display: flex; }

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex-right {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

/**** Justify content ****/
.j-c-ctr { justify-content: center; }
.j-c-end { justify-content: flex-end; }
.j-c-start { justify-content: flex-start; }
.j-c-spc-btwn { justify-content: space-between; }
.j-c-spc-ard { justify-content: space-around; }

/***** Align Items ****/
.aln-strch { align-items: stretch; }
.aln-start { align-items: flex-start; }
.aln-end { align-items: flex-end; }
.aln-ctr { align-items: center; }

/***** Align Self ****/
.aln-slf-strch { align-self: stretch; }
.aln-slf-ctr { align-self: center; }


.flex-aln-ctr { display: flex; align-items: center; }
.flex-end-aln-ctr { display: flex; justify-content: flex-end; align-items: center; }

/*****  Flex Direction *****/
.flex-dir-row { flex-direction: row; }
.flex-dir-col { flex-direction: column; }