/*body {
  background-color: #28343b;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1366px;
  }
}

.w-half{
  width: 50%; 
}

.m-l-r-auto {
  margin-left: auto;
  margin-right: auto;
}


.inline-block {
    display: inline-block;
}

.pos-relative {
    position: relative;
}

.pos-relative-i {
    position: relative !important;
}

.pos-absolute {
    position: absolute;
}

.pos-absolute-i {
    position: absolute !important;
}

.pos-fixed {
  position: fixed;
}

.pos-fixed-i {
  position: fixed !important;
}

.bottom-zero {
    bottom: 0;
}

.list-no-style {
    list-style: none;
    padding: 0;
}

.box-shadow-none-i {
    box-shadow: none !important;

}

.bg-transparent-i {
    background: transparent !important; 
}*/