.m-b-md {
  margin-bottom: 30px;
}

.hidden { display: none !important; }

.background-offwhite { background-color: #f7f8f9; }

/*.background-white { background-color: $white; }*/

.text-chalice { color: $silver-chalice; } /* this may turn into a global change or this may be for specific ones */

/* Utility Row Striping for non-table BEGIN */
.row-striped:nth-of-type(odd) { background-color: #fafafa; }

.row-striped:nth-of-type(even) { background-color: #ffffff; }

/* Utility Row Striping for non-table BEGIN */

/* Utility Alignment BEGIN */
.align-items-center { align-items: center; }

.valign-top { vertical-align: top !important; }

.valign-text-top { vertical-align: text-top !important; }

.valign-middle { vertical-align: middle !important; }

.valign-bottom { vertical-align: bottom !important; }

.float-left { float: left; }

.float-right { float: right; }

/* Utility Alignment END */

/* Utility Positioning BEGIN */
.position-abs { position: absolute; }

.position-fixed { position: fixed; }

.position-relative { position: relative; }

/* Utility Positioning END */

/* Utility Max Widths BEGIN */
.max-width-40 { max-width: 40px; }

.max-width-60 { max-width: 60px; }

.max-width-80 { max-width: 80px; }

.max-width-100 { max-width: 100px; }

.max-width-200 { max-width: 200px; }

.max-width-300 { max-width: 300px; }

.max-width-350 { max-width: 350px; }

.max-width-400 { max-width: 400px; }

.max-width-500 { max-width: 500px; }

.max-width-600 { max-width: 600px; }

.max-width-700 { max-width: 700px; }

.max-width-800 { max-width: 800px; }

.max-width-900 { max-width: 900px; }

.max-width-1000 { max-width: 1000px; }

.max-width-1100 { max-width: 1100px; }

.max-width-1200 { max-width: 1200px; }

/* Utility Max Widths END */

/* Utility 100% Width Minus Pixel Widths BEGIN */
.max-width-minus-20 {
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
}

.max-width-minus-40 {
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  width: calc(100% - 40px);
}

.max-width-minus-60 {
  width: -webkit-calc(100% - 60px);
  width: -moz-calc(100% - 60px);
  width: calc(100% - 60px);
}

.max-width-minus-80 {
  width: -webkit-calc(100% - 80px);
  width: -moz-calc(100% - 80px);
  width: calc(100% - 80px);
}

.max-width-minus-100 {
  width: -webkit-calc(100% - 100px);
  width: -moz-calc(100% - 100px);
  width: calc(100% - 100px);
}

.max-width-minus-140 {
  width: -webkit-calc(100% - 140px);
  width: -moz-calc(100% - 140px);
  width: calc(100% - 140px);
}

.max-width-minus-200 {
  width: -webkit-calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width: calc(100% - 200px);
}

.max-width-minus-300 {
  width: -webkit-calc(100% - 300px);
  width: -moz-calc(100% - 300px);
  width: calc(100% - 300px);
}

/* Utility 100% Width Minus Pixel Widths END */

/* Utility Overflow BEGIN */
.no-wrap { white-space: nowrap; }

.overflow-hidden { overflow: hidden; }

.overflow-scroll { overflow: scroll; }

.overflow-y-scroll { overflow-y: scroll; }

.overflow-y-hidden { overflow-y: hidden; }

.overflow-x-scroll { overflow-x: scroll; }

.overflow-x-hidden { overflow-x: hidden; }

/* Utility Overflow BEGIN */

/* Utility Font Weights BEGIN */
._200 { font-weight: 200; }

._300 { font-weight: 300; }

._400 { font-weight: 400; }

._500 { font-weight: 500; }

._600 { font-weight: 600; }

._700 { font-weight: 700; }

._800 { font-weight: 800; }

._900 { font-weight: 900; }

/* Utility Font Weights END */

/* Utility Height BEGIN */
.height-40 { height: 40px; }

/* Utility Height END */

/* Utility Text Decoration BEGIN */
.txt-decor-underline,
.txt-decor-underline:hover { text-decoration: underline;}

.txt-decor-none,
.txt-decor-none:hover { text-decoration: none;}

/* Utility Text Decoration END */

/* Utility Borders BEGIN */
.b-a-0 { border: 0; }

.b-t-0 { border-top: 0; }

.b-b-0 { border-bottom: 0; }

.b-l-0 { border-left: 0; }

.b-r-0 { border-right: 0; }

.b-a { border: 1px solid rgba(120,130,140,0.13); }

.b-t { border-top: 1px solid rgba(120,130,140,0.13); }

.b-b { border-bottom: 1px solid rgba(120,130,140,0.13); }

.b-l { border-left: 1px solid rgba(120,130,140,0.13); }

.b-r { border-right: 1px solid rgba(120,130,140,0.13); }

.b-a-2 { border: 2px solid rgba(120,130,140,0.13); }

.b-t-2 { border-top: 2px solid rgba(120,130,140,0.13); }

.b-b-2 { border-bottom: 2px solid rgba(120,130,140,0.13); }

.b-l-2 { border-left: 2px solid rgba(120,130,140,0.13); }

.b-r-2 { border-right: 2px solid rgba(120,130,140,0.13); }

.b-a-dark { border:1px solid $border-color; }

/* Utility Borders END */

/* Additional Margins & Padding BEGIN */

.m-a-05 { margin: 0.5rem !important;}

/*.m-t-05 { margin-top: 0.5rem !important;}*/

.m-t-1rem { margin-top: 1rem !important; }

.m-t-2rem { margin-top: 2rem !important; }

.m-b-05 { margin-bottom: 0.5rem !important;}

.m-t-13 {margin-top: 13px !important;}

.m-t-20 {margin-top:20px !important;}

.m-t-30 {margin-top: 30px !important;}

.m-b-35 { margin-bottom: 35px !important;}

.m-b-50 {margin-bottom: 50px !important}

.m-l-05 { margin-left: 0.5rem !important;}

.m-r-05 { margin-right: 0.5rem !important;}

.m-r-5px { margin-right: 5px !important; }

.m-r-10px { margin-right: 10px !important; }

.m-r-20px { margin-right: 20px !important; }

.m-l-1 { margin-left: 1rem !important;}

.m-l-16 { margin-left:1.6rem !important; }

.p-a-0 {padding: 0 !important}

.p-a-05 { padding: 0.5rem !important;}

.p-t-05 { padding-top: 0.5rem !important;}

.p-b-05 { padding-bottom: 0.5rem !important;}

.p-l-05 { padding-left: 0.5rem !important;}

.p-r-05 { padding-right: 0.5rem !important;}

/* Additional Margins & Padding END */

/* Font Sizes BEGIN */
.ft-s-10 { font-size: 10px !important;}

.ft-s-12 { font-size: 12px !important;}

.ft-s-14 { font-size: 14px !important;}

.ft-s-16 { font-size: 16px !important;}

.ft-s-18 { font-size: 18px !important;}

.ft-s-20 { font-size: 20px !important;}

.ft-s-24 { font-size: 24px !important;}

.ft-s-30 { font-size: 30px !important;}

/* Font Sizes END */

/* List Types BEGIN*/

.list-style-none { list-style-type: none; }

/* List Types END */

/* Table Classes BEGIN */
.display-table { display: table; }

.display-table-cell { display: table-cell; }

/* Table Classes END */

/* Line Height BEGIN*/
  
.line-height-1 {
  line-height: 1;
}

.line-height-18 {
  line-height: 18px;
}

/*.line-height-38 {
    line-height: 38px;
}*/

/* Line Height END */

@media only screen and (min-width: 648px) {
  .md-text-right {
    text-align: right;
  }
}

/* Border Radius BEGIN */

.border-radius-top-left {
  border-top-left-radius: 500px !important;
}

.border-radius-top-right {
  border-top-right-radius: 500px !important;
}

.border-radius-bottom-left {
  border-bottom-left-radius: 500px !important;
}

.border-radius-bottom-right {
  border-bottom-right-radius: 500px !important;
}

/* Border Radius END */