<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="IdpConfigurationDb" connectionString="Data Source=greenbooknode;Initial Catalog=Identity;user id=identityserver; password=p@$$w0rd;Encrypt=yes;TrustServerCertificate=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="LandingAPIUri" value="https://my2.realpage.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Environment" value="PROD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>