<!-- VIEW USER -->

<div class="view-user" ng-if="page.dataReady">

	<!-- User profile -->
	<div class="user-profile-wrapper">
	    <gb-user-profile data="page.model.data"></gb-user-profile>
	</div>

	<!-- Personas -->
	<div ng-show="page.formState.hasAddedPersona"
	    ng-include src="'people/user/persona-navigation/templates/persona-navigation.html'"></div>

    <!-- Buttons
    <div class="actions row">
        <div class="col-md-3 pull-right">
            <a href="#/people/user/{{page.realPageId}}/edit"
                class="btn primary rounded w-full">
                    Edit User
            </a>
        </div>
    </div>
	-->
</div>