<div class="product-card-popover popover" tabindex="-1">
	<div class="arrow"></div>
	<div class="popover-content">
		<h3 class="popover-content-title">
			{{::soln.data.productName || family.data.productName}}
		</h3>
		<p>{{::soln.data.productDescription || family.data.productDescription}}</p>

		<div class="popover-content-footer">
			<a tabindex="-1"
				target="_blank"
				class="popover-redirect-link"
				ng-href="{{::page.realpageMainUrl}}">
				{{::"products.learnMore" | productsText}}
			</a>
		</div>
	</div>
</div>
