.renters-insurance-roles-grid {
    .is-assigned {
        min-width: 125px;
        max-width: 125px;
        white-space: nowrap;
    }

    .name {
        width: 90%;
    }
}

.renters-insurance-roles-wrapper {
    .roles-body-error {
        margin-top: 20px;
    }
}
