// Product Families

.product-families {
    .rp-collapsible-panel-toggle {
        margin-bottom: $grid-gutter-width;
        
        .rp-collapsible-panel-toggle-icon svg * {
            fill: white;
        }

        &.collapsed {
            .rp-collapsible-panel-toggle-icon svg * {
                fill: #515356;                
            }
        }
    }

    .rp-collapsible-panel {
        @include grid-row;
    }

    .product-card-wrap {
        @include grid-col(3);
    }
}

.product-solutions {
    @include grid-row;

    .product-card-wrap {
        @include grid-col(3);
    }
}
