// Product Card Icons

.product-card {
    &-icon {
        float: left;
        width: 65px;
        height: 110px;
        line-height: 100px;
        text-align: center;

        svg {
            height: 50px;
            width: auto;
            display: inline-block;
            vertical-align: middle;
            color: transparent !important;
            background: transparent !important;

            * {
                fill: #178DE3;
            }
        }
    }

}
