// Product Card

.product-card {

    &.card {
        @include clearfix;
        position: relative;
        background: #f7f7f7;
        margin-bottom: $grid-gutter-width;
        border: 1px solid $rp-nav-color-04;
        box-shadow: 1px 1px 1px 0 rgba(163, 175, 181, 0.5);

        .disabled-product-card {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            background-color: #ededed;
            opacity: 0.5;
        }

    }

    &-item {
        @include grid-col(12);
        @include clearfix;

        @media #{$lgSc} {
            @include grid-col(3);

            &:nth-of-type(4n+1) {
                clear: left;
            }
        }

        @media #{$mdScOnly} {
            @include grid-col(6);

            &:nth-of-type(2n+1) {
                clear: both;
            }
        }

        &-container {
            clear: both;
            margin-top: 5px;
            overflow: hidden;
        }
    }

    &-favorite {
        @include rp-icon(star);
        top: 0;
        z-index: 2;
        right: 10px;
        width: 20px;
        height: 32px;
        cursor: pointer;
        overflow: hidden;
        line-height: 30px;
        position: absolute;
        text-align: center;
        background: $rp-nav-color-02;

        &:before {
            color: #fff;
            font-size: 12px;
            line-height: 30px;
        }

        &.active {
            @include rp-icon(star-full);
            background: #f86347;

            &:before {
                font-size: 12px;
                line-height: 30px;
            }
        }

        &:after {
            width: 0;
            height: 0;
            left: -10px;
            content: "";
            bottom: -5px;
            display: block;
            overflow: hidden;
            position: absolute;
            border-bottom: solid 10px #fff;
            border-left: solid 20px transparent;
            border-right: solid 20px transparent;
        }
    }

    &-content {
        padding: 10px;
        min-height: 114px;
        margin-left: 65px;
        background-color: #fff;
    }

    &-text {
        clear: both;
        margin-bottom: 30px;
    }

    &-title {
        @include subheader-2;
        @include crop-text-overflow;

        font-weight: bold;

        display: inline-block;
        margin-bottom: 5px;
        width: 100%;
    }

    &-description {
        @include caption;
        color: $rp-neutral-02;

        min-height: 48px;
        height: 48px;
        margin-bottom: 5px;

        overflow: hidden;
    }

    &-fav {
        @include rp-icon(star);
        color: $rp-neutral-04;
        margin-right: 5px;
        cursor: pointer;

        &.active {
            @include rp-icon(star-full);
            color: $rp-warning;
        }
    }

    &-link {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        overflow: hidden;
        position: absolute;
        text-indent: -9000px;
    }

    &-actions {
        z-index: 2;
        position: relative;
    }

    %icon {
        &:before {
            font-size: 14px;
            line-height: 14px;
            color: $rp-nav-color-02;
        }
    }

    &-action {
        float: right;

        .more-info {
            @include rp-icon(info-circle);
            @extend %icon;
            width: 14px;
            height: 14px;
        }

    }
}
