.box-header-custom {
  background: #f6fafd;
  background: rgb(248, 248, 248);
}
.custom-box-body {
  background: rgba(238, 238, 238, 0.18);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  max-height: 0px;
  overflow: hidden;
  position: relative;
  /*padding-bottom: 90px;*/
}
.custom-box-body-action-bar {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #e4e4e4;
  min-height: 70px;
}
.custom-box-body.is-active {
  background: #ffffff;
  max-height: 400px;
  overflow: visible;
}