/* Property Card CSS BEGIN */
.card-property-setting-wrapper {
  position: relative;
  border: 1px solid #e2e2e2;
  display: block;

  &:hover .card-property-cta {
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1;
  }
}

.card-property-cta {
  -webkit-transform: translate(0,20px);
  -moz-transform: translate(0,20px);
  -ms-transform: translate(0,20px);
  -o-transform: translate(0,20px);
  transform: translate(0,20px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card-yellow {
  background: #FCCD2E;
}

.card-purple {
  background: #987BF1;
}

.card-teal {
  background: #22C9D9;
}

.card-orange {
  background: #FF8206;
}

.card-green {
  background: #88CB11;
}

.card-blue {
  background: #90CCFF;
}

.card-darkblue {
  background: #71A4CA;
}

.card-red {
  background: #F77376;
}

.card-property-setting-icon {
  padding: 30px 20px;
  text-align: center;
  font-size: 50px;
  color: white;
}

.card-property-setting-desc {
  padding: 20px 20px 25px;
  height: 120px;
  text-align: center;
  background-color: white;

  p {
    height: 42px;
    overflow: hidden;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30px;
      z-index: 10;
    }

  }
}

.card-hover {
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &:hover {
    -webkit-transform: translate(0px,-10px);
    -moz-transform: translate(0px,-10px);
    -ms-transform: translate(0px,-10px);
    -o-transform: translate(0px,-10px);
    transform: translate(0px,-10px);
  }
}

/* Property Card CSS END */