.btn-tracking-header {
  color:black;
  background-color: white;
  border-color: white;
  box-shadow: 0px 0px 0px;
}

table#add-property-to-tracking-source tr th:not(:first-child),
table#add-property-to-tracking-source tr td:not(:first-child){
  padding-left: .75rem;
  padding-right: .5rem ;
  width: calc(95%);
  text-align: left;
  word-break: break-all;
}

table#add-property-to-tracking-source.scroll-body tbody{
  height: 60vh;
}

.show-right .footer-right, .show-left .footer-left {
  transform: translateX(0);
}

.show-left .footer-right {
  transform: translateX(60vw);
}

.show-right .footer-left {
  opacity: 0;
  transform: translateX(calc(-40vw - 400px));
}

#company-tracking-sources-edit{
  overflow: hidden;
}

#company-tracking-sources-edit.show-left{
  width: 60vw;
}

#property-tracking-sources-edit,
#property-tracking-sources-edit .dmod-header,
#property-tracking-sources-edit .dmod-footer {
  width: 500px;
}

#company-tracking-sources-edit.show-right,
#company-tracking-sources-edit.show-right .dmod-header,
#company-tracking-sources-edit.show-right .dmod-footer {
  width: 400px;
}

#company-tracking-sources-edit.show-right .left-header{
  opacity: 0;
  transform: translateX(calc(-40vw - 400px));

}
 #company-tracking-sources-edit.show-right .right-header, #company-tracking-sources-edit.show-left .left-header{
  transform: translateX(0);
}

#company-tracking-sources-edit.show-left .right-header{
  transform: translateX(60vw);
}

#company-tracking-sources-edit.show-left .dmod-header,
#company-tracking-sources-edit .dmod-footer {
  width: 60vw;
}

.assign-properties-right {
  display: inline-block;
  transform: translateX(60vw);
  position: absolute;
  top: 0;
}

.assign-properties-right.active, .assign-properties-left.active {
  transform: translateX(0);
}

.assign-properties-left {
  display: inline-block;
  transform: translateX(calc(-40vw - 400px));
}

.tracking-filter {
  font-size: .8rem;
}

.expand-search {
  margin-top: 2px;
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
}

.expand-search input[type=search] {
  width:1px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

//.expand-search .input-group-addon:focus {
  /*border-color: #0076CC*/
//}

.expand-search input[type=search]:focus,
.expand-search:focus input[type=search],
.expand-search:focus {
  width:140px;
  /*border-color:#0076CC*/
}

.expand-search:focus {
  width: 140px;
  border-color:#0076CC
}

.inner-addon {
  position: relative;
}

.inner-addon .fa {
  position: absolute;
  padding-top: 10px;
  padding-right: 15px;
  pointer-events: none;
  color:black;
}

.right-addon .fa {
  right: 0px;
}

.bulk-options {
  display:none;
  font-size: 0.8rem
}

.bulk-options-button {
  font-size:18px !important;
}

.bulk-selected {
  padding-top:7px;
  padding-bottom: 7px;
}
.bulk-options-selected {
  font-size: .9rem;
  color:#0076CC;
  padding-top:4px;
}
.table-header {
  font-size:0.8rem;
}

/* Half check mark */

label.half-check input[type="checkbox"]:checked  + i:after {
    transform: none;
    position: absolute;
    left: 5px;
    top: -2px;
    display: table;
    width: 9px;
    border: 2px solid;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    content: ' ';
}

@media only screen and (min-width: 576px) {
  table#edit-tracking-source-table tr th,
  table#edit-tracking-source-table tr td{
    padding-left: .5rem;
    padding-right: .5rem;
    width: calc(100% / 6);
    text-align: left;
    word-break: break-all;
  }

  table.scroll-body thead,
  table.scroll-body tbody {
    width: 100%;
  }

  table.scroll-body tbody{
    height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 575px) {
  #property-tracking-sources-edit,
  #property-tracking-sources-edit .dmod-header,
  #property-tracking-sources-edit .dmod-footer {
    width: 100vw;
  }

  #company-tracking-sources-edit.show-right,
  #company-tracking-sources-edit.show-right .dmod-header,
  #company-tracking-sources-edit.show-left .dmod-header,
  #company-tracking-sources-edit .dmod-footer{
    width: 100vw;
  }

  .show-left .footer-right {
    transform: translateX(100vw);
  }

  #company-tracking-sources-edit.show-left{
    width: 100vw;
  }

  #company-tracking-sources-edit .dmod-header,
  #company-tracking-sources-edit .dmod-footer {
    width: 100vw;
  }

  #company-tracking-sources-edit.show-left .right-header{
    transform: translateX(100vw);
  }

  .assign-properties-right {
    display: inline-block;
    transform: translateX(100vw);
    position: absolute;
    top: 0;
  }

  .property-align {
    text-align: left;
  }
}

