/*  SCSS related to the dynamic modal placeholder */
.dmod-open {
  overflow: hidden;
}
.dmod-overlay{
  position:fixed;
  height:100%;
  width:100%;
  background-color:rgba(0,0,0,0.5);
  z-index:10000;
  top:0;
  left:0;
}

.dmod-modal{
  position:fixed;
  z-index:10001;
  background-color:#fff;
  width:60vw;
}

.dmod-modal-pos-right{
  height:100%;
  right:-100%;
  top:0;
  overflow:auto;
  box-shadow: 0 0 8px rgba(0,0,0,.5);
}

.dmod-content{
  padding:12px 0px;


  .dmod-title-row{
    height:45px;
    padding:0px 12px;

    h2 {
      font-size:18px;
      font-weight:600;
      margin-bottom:3px;
      display:inline-block;
    }
    p{
      margin:0;
      display:inline-block;
      color:rgba(163,175,181,1)
    }

    .dmod-close.pull-right{
      font-size:18px;
      padding-right:20px;
      font-weight:bold;
      margin-top:-15px;
    }
  }

  .dmod-search{
    margin-top:10px;
    margin-left:0px;
    margin-right:0px;

    .form-group{
      margin-bottom:0px;

      .fa.fa-search{top:13px;}

      input[type="text"] {
        border-left:none;
        border-right:none;
        border-bottom:none;
        border-color:rgba(204,204,204,0.5);
        padding:20px 45px;
        font-size:14px;
      }
    }
  }

  .dmod-chat.row{
    //margin-right:-20px;
    width:100%;
    margin-left:0px;
    margin-right:0px;

    .dmod-chat-scroller{
      //background-color:rgba(0,0,0,0.035);
      background-color:#eee;
      width:100%;
      //height:50vh;
      height:calc(100vh - 420px);
      overflow:scroll;

      .chat-summary-row{
        width:300px;
        margin:0 auto;
        margin-top:20px;
        margin-bottom:40px;
        text-align:center;

        div:last-child{
          font-size:14px;
        }
      }
    }
  }

  .dmod-search-footer{padding:0px 24px;}

  .dmod-search-footer > div{
    margin-top:10px;
  }

  .chat-options{
    //margin-top:20px;
    margin-left:0px;
    margin-right:0px;
    height:40px;

    div:first-child{padding-top:10px;}

    i.fa {
      font-size:18px;
      color:#42A5F5;
    }

    button {margin-right:12px; width:120px; height:40px}
  }

}

//If contents of flyout are longer that viewport height
.vert-scroll-wrapper {
  overflow-y: scroll;
}

.vert-scroll-target {
  padding-top: 20px;
  padding-bottom: 40px;
  height: 100vh;
}

.vert-scroll-target-small {
  height: 400px;
}
