.hover-reveal-select2-wrapper {
  .select2.select2-container {
    overflow: hidden;
    transition: all 0.3s ease;
    height: 0px;
  }

  .select2-selection__arrow {
    opacity: 0;
    transition: all 0.3s ease;
  }

  &:hover .select2.select2-container,
  .select2.select2-container.select2-container--open {
    height: 40px;

    .select2-selection__arrow {
      opacity: 1;
    }
  }
}

.hover-reveal-wrapper {
  &:hover .hover-reveal-hidden-content {
    max-height: 140px;
  }
  .hover-reveal-hidden-content {
    overflow: hidden;
    transition: all 0.3s ease;
    max-height: 0px;
  }
}