.modal-xl {
  max-width: 1200px;
}

/* pop-up modal */
.pop-up-message {
  position:fixed;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  border-radius:3px!important;
}

/*  IVR Modal Customs */
#ivr-delete-modal {

  .fa-close{color:$hit-gray;}

  .modal-header {
    border-bottom:1px solid $dark-gray;
    height:50px;
    padding:12px 30px;
    border-color:$eee-bg;

    .modal-title{ display:inline-block; }
    >div{padding-top:2px;}
  }

  .modal-body {

    .scrollable-modal-numbers{
      max-height:215px;
      overflow:hidden;
      overflow-y:scroll;
      color:$lochmara;

      p{
        font-weight:600;
        font-size:18px;
      }
    }
  }

  .modal-footer {
    button {
      width:200px;
    }
  }
}

#ivr-menu-settings {

  .fa-close{color:$hit-gray;}

  .rp-icon-info-circle,
  .fa.fa-info-circle{color:$lochmara;}

  .fa-edit{
    font-size:18px;
    margin-top:8px;
  }

  .rounded-color-box{
    margin-top:10px;
    border-radius:5px;
    height:20px;
    width:20px;
    display:inline-block;

    &.color-green{  background-color:$de-york; }
    &.color-blue{ background-color:$jellybean-blue; }
    &.color-orange{ background-color:$cinnabar; }
  }

  .rp-audio {height:34px;}

  >.right {
    width:80vw;

    .modal-header {
      height:85px;

      a{
        color:$lochmara;
      }
    }

    .modal-body {
      height:calc(100vh - 155px);
      p{ margin-bottom:.5rem; }
      >div {
        padding:20px 20px 20px 30px;
        height:calc(100vh - 155px);
        overflow:hidden;
        overflow-y:scroll;
      }

      >div.ivr-menu-settings-right-col{
        background-color:$alabaster;

        &.ivr-col-width-override{ width:28% !important; }

        strong { font-weight:bold; }

        .rounded-dialog-box{
          padding:15px 20px;
          font-size:.875rem;
          line-height:1.2rem;

          &.color-gray{ background-color:$white-smoke;}
          &.color-green{ background-color:$fringy-flower-green; }
          &.color-blue{ background-color:$botticelli-blue; }
        }

        hr { color:$hit-gray; }

        .right-col-title{ font-size:20px; margin-bottom:20px; font-weight:bold; }

        ul {
          list-style:none;
          padding-left:0px;

          strong { font-weight:bold; }

          &.ul-lvl-1{

            >li {
              margin-left:10px;
              margin-bottom:10px;

              span {
                margin-left:19px;
              }

              i + span {
                margin-left:6px;
              }

              ul.ul-lvl-2 {
                margin-left:21px;
                margin-top:10px;

                >li {
                  margin-bottom:10px;

                  ul.ul-lvl-3 {
                    margin-top:10px;
                    margin-bottom:20px;
                    margin-left:23px;



                    li {
                      margin-bottom:10px;

                      strong.extend-char {
                        margin-right:2px;
                      }

                      ul.ul-lvl-4 {
                        margin-top:10px;
                        margin-bottom:20px;
                        margin-left:48px;

                        li {
                          margin-bottom:10px;

                          span { margin-left: 0px; }
                        }
                      }
                    }
                  }
                }
              }
            }

          }
        }



      }

      >div.ivr-menu-settings-left-col{



        &.ivr-col-width-override{
          width:72% !important;
        }
      }

      .ivr-switch-div{
        display:inline-block;
        vertical-align:top;

        .ivr-span-switch{
          display:inline-block;
          vertical-align:top;
          margin-top:6px;

          >span:first-child{
            font-weight:500;
            font-size:16px;
          }
        }
      }

      .box-subheader{padding:1.875rem;}

      .box-subheader + .box-body{
        padding:0;

        >.row{margin-left:0px; margin-right:0px;}
      }

      .box-header { padding-left:30px; }

      .box-body {
        padding:30px;

        .lang-first-col-th{
          padding-left:30px;
        }

        .lang-first-col{
          >label { margin-right:20px; margin-left:18px; display:inline-block;}
          >div {
            display:inline-block;
            font-weight:600;
            font-size:16px;
            vertical-align:top;
            padding-top:7px;
          }
        }
      }

    }


  }
}
#phone-edit-settings,
#assign-number-slidein,
#filter-numbers-slidein,
#company-widget-template{

  .fa-close{color:$hit-gray;}

  .rp-icon-info-circle,
  .fa.fa-info-circle{color:$lochmara;}

  >.right {
    //width:50vw;

    .modal-content {
      border:none;

      .modal-header {
        height:60px;

        &.assign-number-modal-header,
        &.company-widget-template-header{
          height:95px;
        }
      }

      .modal-body {

        height:calc(100vh - 130px);
        overflow:hidden;
        overflow-y:scroll;

        &.assign-number-modal-body,
        &.company-widget-template-body{
          height:calc(100vh - 165px);
        }

        .ft-form {

          .row {
            margin-left:18px;
            margin-right:18px;
          }

          .btn.white.icon-grey{
            &.disabled{
              opacity:1;
            }
          }

        }

      }



    }
  }
}

#phone-unassign-modal,
#phone-delete-modal,
#phone-undo-delete-modal {
  .modal-alt {
    .modal-header {
      padding: 15px 30px;
      border-bottom:1px solid $white-smoke;
    }

    .yes-confirmation {
      text-transform: uppercase;
    }
  }
}

#phone-unassign-modal {

  .modal-content {

    .modal-body {

      .scrollable-modal-numbers{
        max-height:215px;
        overflow:hidden;
        overflow-y:scroll;
        color:$black;

        p{
          height:24px;
          color:$abbey-grey;
          font-size: 18px;
          font-family:'Roboto';
          font-weight:500;
          line-height:24px;
          text-align:center;
        }
      }

      .type-yes-assignment{
        >div {
          display:inline-block;
          font-weight:bold;

          input { width:90px; margin-right:20px;}
        }
      }


    }

  }
}

#phone-delete-modal {

  .type-yes-assignment{
    >div {
      display:inline-block;
      font-weight:bold;

      input { width:90px; margin-right:20px;}
    }
  }
}