.modal .left-pane, .modal .right-pane {
  position: absolute;
  transition: all .3s ease;
}
.modal.show-left .left-pane {
  left:0;
}
.modal.show-left .right-pane {
    right: -100%;
}
.modal.show-right .left-pane {
  left:-100%;
}
.modal.show-right .right-pane {
    right: -100%;
}
.modal.show-right .right-pane.selected {
    right:0;
}

