/***** Property Dashboard / Grid View / Summary View ****/
.bold { font-weight: 600; }

.box-body-left { padding-left: 1.875rem;}
.box-half-body{ padding:.93755rem; }

.background-grey { background-color: #ebf0f2 !important; }

.property-img-wrapper { position: relative; overflow: hidden; height: 182px; }

.property-img {  position: absolute; width: 1000px; left: 50%; top: -15%; margin-left: -500px; }
.property-img > img { display: block; margin: 0 auto; max-height: 215px;}

.property-view-star { color: white; float: right; margin-top: 10px; }

.tbl-hover { overflow: scroll; }
.tbl-hover tbody tr:hover { background-color: lightgrey; }

.flex-space-between { display: flex; justify-content: space-between; }
.flex-space-around { display: flex; justify-content: space-around; }

.m-b-cust-md { margin-bottom: 1em; }
.m-y-center { margin: auto 0; }

.dashboard-view-btn { width: 75px; float: right; }

.dashboard-property-img-wrapper { position: relative; max-height: 300px; overflow: hidden; width: 100%; height: 100%; }
.dashboard-property-img {  position: absolute; width: 1000px; left: 50%; top: -13%; margin-left: -500px;}
.dashboard-property-img > img { display: block; margin: 0 auto; max-height: 330px;}

#dashboard .dropdown.m-y-center { margin-top: 1.5%; }
#dashboard .dropdown.m-y-center:hover { cursor:pointer; }
#dashboard .subheading-dropdown { margin-top: .7rem !important; }

#dashboard-tasks th span.sort-tasks { display:flex; }
#dashboard-tasks th span.sort-tasks i:first-child { margin-left: 7px; padding-top: 1px; }
#dashboard-tasks th span.sort-tasks i:nth-child(2) { margin-top: 7px; margin-left: 0px; }

.v-align-mid{ vertical-align: middle; }

.font-125em { font-size: 1.25em;}

#propertyViews {

  /* this is to fix some unaligned checkboxes that get wonky at 991px */
  .row {
    margin-left: -12px !important;
    margin-right: -12px !important;

    [class*="col-"] {
      padding-left: 12px !important;
      padding-right: 12px !important;
    }
  }
}
/// hover styles
.hover-pointer:hover, .hover-pointer:focus { cursor: pointer; }

.property-img-wrapper {
  background-size:cover;
  background-position: center center;
}
