
.tables-container {
    background: $white;
    box-sizing: border-box;
    color: $charcoal-80;
    font-family: 'Roboto', sans-serif;
}

.tables-container-header {
    margin: 0;
    padding: 10px 0;
}

.tables-container h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 0;
}

.tables-container-line {
    border: 7px solid $charcoal-10;
    height: 3px;
    margin-top: 10px;
}

.table thead th {
    border: 0;
}

.table tr,
.table th {
    height: 16px;
}

/*.table tbody {
    border-bottom: 1px solid $charcoal-20;
}*/

.table.simple-table > thead > tr > th,
.table.simple-table > thead > tr > td,
.table > tbody > tr > td,
.table > thead > tr > th {
    font-size: 12px;
    line-height: 16px;
    padding: 11px 8px;
}

.table > tbody > tr > td,
.table > thead > tr > th {
    font-size: 14px;
}

.table.table-equal-columns td,
.table.table-equal-columns th {
    width: 152px;
}

.table.table-spaced-rows thead th,
.table.table-spaced-rows tbody tr th,
.table.table-spaced-rows tbody tr td {
    background-color: $nav-light-sub;
    border: 1px solid $charcoal-20;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.simple-table th,
.simple-table.table-striped th,
.simple-table.table-spaced-rows th {
    border: 0;
    font-weight: 500;
}

.simple-table th,
.simple-table td {
    border-top: 1px solid $charcoal-20;
}

.table-striped > tbody > tr:nth-child(odd) {
    background-color: $nav-light-sub;
}

.table-spaced-rows {
    border-collapse: separate;
    border-spacing: 0 8px;
}

//RAUL Status table and Edit Rows table
.raul-status-table thead,
.raul-edit-rows-table thead {
    background-color: $nav-light-sub;
    border-bottom: 1px solid $charcoal-20;
}

.raul-status-table.table .raul-table-status-column {
    font-size: 14px;
    max-width: 100px;
    width: 100px;
}

.raul-status-table.table .raul-table-status-column div::before {
    background: $charcoal-30;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 10px;
    margin-right: 6px;
    width: 10px;
}

.raul-status-table.table .raul-table-status-column-active div::before {
    background: $success;
}

.raul-status-table.table-striped > tbody > tr:nth-child(even),
.raul-edit-rows-table.table-striped > tbody > tr:nth-child(even) {
    background-color: $nav-light-sub;
}

.raul-status-table.table-striped > tbody > tr:nth-child(odd),
.raul-edit-rows-table.table-striped > tbody > tr:nth-child(odd) {
    background-color: $white;
}

.table.raul-edit-rows-table .control-panel-more-actions-wrap {
    min-height: 100px;
}

.table.raul-edit-rows-table tr td:first-child {
    width: 55%;
}

//RAUL Datatables
.raul-datatable-wrapper {
    font-family: 'Roboto';
    overflow: hidden;
    position: relative;
}

.raul-datatable-wrapper .raul-tables-global-action {
    cursor: pointer;
    display: none;
    left: 10px;
    line-height: 40px;
    position: absolute;
    top: 0;
    z-index: 50;
}

.raul-datatable-wrapper .raul-bulk-action-panel {
    background: $primary-60;
    box-sizing: border-box;
    color: $white;
    display: none;
    font-size: 14px;
    height: 40px;
    left: 0;
    line-height: 40px;
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(40px);
    transition: 0.5s;
    z-index: 60;
}

.raul-datatable-wrapper .raul-bulk-action-panel.raul-bulk-action-panel-open {
    transform: translateY(0);
}

.bulk-actions-left {
    float: left;
    height: 100%;
}

.bulk-actions-right {
    float: right;
    height: 100%;
}

.bulk-action-item {
    cursor: pointer;
    display: inline-block;
    margin-right: 32px;
}

.bulk-action-item i {
    font-size: 18px;
    margin-right: 8px;
}

.bulk-action-items-count,
.bulk-action-close {
    display: inline-block;
}

.bulk-action-close i {
    cursor: pointer;
    font-size: 14px;
    margin-left: 22px;
}

//global actions panel
.raul-tables-global-action {
   // box-sizing: border-box;
    //height: 40px;
    cursor: pointer;
}

.raul-tables-global-action img {
    color: $primary-60;
    //padding: 0 5px;
    padding-right: 5px;
    width: 25px;
}

.raul-tables-global-action span {
    /*font-size: 14px;*/
    font-weight: 500;
    /*color: $charcoal-80;*/
}

.raul-datatable.table.dataTable {
    color: $charcoal-80;
    font-family: 'Roboto';
    margin-bottom: 0 !important;
    position: relative;
    z-index: 70;
}

.raul-datatable.table.dataTable thead {
    background-color: $nav-light-sub;
    font-size: 12px;
}

.raul-datatable.table.dataTable thead th {
    border-top: 1px solid $charcoal-20;
    font-weight: 500;
}

.raul-datatable .raul-tables-label {
    display: block;
    height: 16px;
    margin: 0;
    padding-left: 0;
    position: relative;
    width: 16px;
}

.raul-datatable .raul-tables-label-content {
    border: 2px solid $charcoal-20;
    border-radius: 2px;
    display: inline-block;
    height: 12px;
    margin: 0;
    padding: 0;
    position: absolute;
    vertical-align: middle;
    width: 12px;
}

.raul-datatable.table.table-equal-columns td,
.raul-datatable.table.table-equal-columns th {
    line-height: inherit;
    vertical-align: middle;
}

.raul-tables-checkbox {
    height: 16px;
    opacity: 0;
    position: absolute;
    width: 16px;
}

.raul-tables-checkbox:checked {
    opacity: 1;
}

.raul-tables-checkbox:checked + .raul-tables-label-content {
    opacity: 0;
}

.raul-datatable.table.table-equal-columns td:first-child,
.raul-datatable.table.table-equal-columns th:first-child {
    width: 16px;
}

.raul-datatable.table.dataTable thead th span {
    margin-right: 8px;
    position: relative;
}

.raul-datatable.table.dataTable thead .sorting span::after {
    content: '\f107';
    font-family: 'FontAwesome';
    font-size: 14px;
    left: 100%;
    margin-left: 8px;
    position: absolute;
}

.raul-datatable.table.dataTable thead .sorting_asc span::after,
.raul-datatable.table.dataTable thead .sorting_desc span::after {
    color: $primary-60;
    content: '\f107';
    font-family: 'FontAwesome';
    font-size: 14px;
    left: 100%;
    margin-left: 8px;
    position: absolute;
}

.raul-datatable.table.dataTable thead .sorting_desc span::after {
    bottom: 50%;
    content: '\f106';
    margin-bottom: -7px;
}

.raul-datatable.table.dataTable thead .sorting {
    background-image: none;
}

.raul-datatable.table.dataTable thead .sorting_asc,
.raul-datatable.table.dataTable thead .sorting_desc {
    background-image: none;
}

.raul-datatable.table.dataTable td {
    border-top: 1px solid $charcoal-20;
}

.raul-datatable.table.dataTable thead td,
.raul-datatable.table.dataTable thead th {
    border-bottom: 0;
}

.raul-datatable.table.dataTable.no-footer {
    border-bottom: 1px solid $charcoal-20;
}

.raul-datatable.table.dataTable tbody tr.selected {
    background: $primary-05;
}

.raul-datatable .raul-datatable-icon {
    background: $nav-light-sub-hover;
    border-radius: 50%;
    float: left;
    height: 40px;
    width: 40px;
}

.raul-datatable .raul-datatable-icon + .raul-datatable-main-info {
    float: left;
    margin-left: 14px;
}

.raul-datatable-main-info .first-line-text {
    color: $primary-60;
}

.raul-datatable .second-line-text {
    color: $data-grey;
}

.table .control-panel-wrapper {
    font-size: 16px;
    position: relative;
    text-align: right;
}

.table .control-panel-wrapper > div {
    display: inline-block;
    margin-left: 22px;
}

.table .control-panel-wrapper > div:first-child {
    margin-left: 0;
}

.table .control-panel-wrapper > div img {
    width: 23px;
}

.table .control-panel-wrapper > div:hover {
    cursor: pointer;
}

.table .control-panel-more-actions-icon {
    color: $primary-60;
}

.table .control-panel-more-actions-icon.control-panel-more-actions-icon-active {
    color: $charcoal-80;
}

.table .control-panel-more-actions-wrap {
    background: $white;
    border: 1px solid $charcoal-20;
    bottom: 0;
    box-shadow: 2px 4px 8px 0 rgba(82, 97, 115, 0.18), -2px 4px 8px 0 rgba(82, 97, 115, 0.18);
    display: none;
    list-style: none;
    min-height: 120px;
    min-width: 127px;
    padding: 14px 0;
    padding-left: 20px;
    position: absolute;
    right: -8px;
    text-align: left;
    top: 100%;
    z-index: 10;
}

.control-panel-more-actions-icon-active + .control-panel-more-actions-wrap {
    display: inline-block;
}

.control-panel-more-actions-wrap li {
    padding-top: 8px;
}

.control-panel-more-actions-wrap li:first-child {
    padding-top: 0;
}

.control-panel-more-actions-wrap a {
    color: $primary-60;
    font-family: 'Roboto';
    font-size: 12px;
    text-decoration: none;
}

.raul-datatable-wrapper {
    overflow: visible;
}

.raul-datatable-wrapper .bottom {
    border-bottom: 1px solid $charcoal-20;
    box-sizing: border-box;
    color: $charcoal-80;
    font-family: 'Roboto';
    font-size: 12px;
    height: 40px;
}

.raul-datatable-wrapper .bottom::after,
.raul-bulk-action-panel::after {
    clear: both;
    content: '';
    display: table;
}

.raul-datatable-wrapper .dataTables_length {
    height: 100%;
    line-height: 40px;
}

.raul-datatable-wrapper .dataTables_length label {
    position: relative;
}

.raul-datatable-wrapper div.dataTables_length select {
    appearance: none;
    background: inherit;
    border: 0;
    color: $primary-60;
    font-size: 12px;
    padding: 0 5px;
    position: relative;
    width: 40px;
    z-index: 10;
}

.raul-datatable-wrapper div.dataTables_length select:focus,
.raul-datatable-wrapper input:focus {
    outline: none;
}

.raul-datatable-wrapper .dataTables_length label::after {
    color: $primary-60;
    content: '\f107';
    display: block;
    font-family: 'FontAwesome';
    font-weight: 500;
    height: 10px;
    position: absolute;
    right: 40px;
    top: 2px;
    width: 10px;
}

.raul-datatable-wrapper .first.paginate_button,
.raul-datatable-wrapper .last.paginate_button {
    display: none;
}

.raul-datatable-wrapper .dataTables_paginate > input[type='text'] {
    color: $primary-60;
    text-align: center;
    width: 38px;
}

//datatable search styles
.raul-datatable-wrapper .dataTables_filter {
    height: 100%;
    line-height: 40px;
    padding-right: 36px;
    position: relative;
}

.raul-datatable-wrapper .dataTables_filter input {
    background-color: $data-light-grey;
    border: 1px solid $charcoal-20;
    border-radius: 15px;
    font-size: 12px;
    height: 28px;
    padding: 6px 12px;
    transform: translateX(207px);
    transition: 0.5s ease-out;
    width: 201px;
}

.raul-datatable-wrapper .dataTables_filter input::placeholder {
    color: $data-grey;
}

.raul-datatable-wrapper .dataTables_filter.raul-tables-search-active {
    padding-right: 30px;
}

.raul-datatable-wrapper .dataTables_filter.raul-tables-search-active input {
    display: inline-block;
    position: relative;
    transform: translateX(0);
    transition: 0.3s ease-out;
    z-index: 2;
}

.raul-datatable-wrapper .dataTables_filter label {
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    text-indent: -53px;
}

.raul-datatable-wrapper .dataTables_filter::after {
    content: '\f002';
    cursor: pointer;
    font-family: 'FontAwesome';
    font-size: 18px;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

.raul-datatable-wrapper .dataTables_filter.raul-tables-search-active::after {
    content: '\f00d';
    font-size: 14px;
}

.raul-datatable-wrapper .dataTables_filter.raul-tables-search-active label::after {
    content: '\f002';
    cursor: pointer;
    font-family: 'FontAwesome';
    font-size: 14px;
    left: 100%;
    margin-left: 20px;
    margin-top: -7px;
    padding: 0 10px;
    position: absolute;
    top: 50%;
    z-index: 3;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .data-tables-processing,
.dataTables_wrapper .dataTables_paginate {
    color: $charcoal-80;
}

.raul-datatable-wrapper .top {
    height: 40px;
}

.raul-datatable-wrapper .top::after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
}

//datatable pagination styles
.dataTables_wrapper div.dataTables_paginate.paging-input {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
}

.dataTables_wrapper div.dataTables_paginate > input[type='text'] {
    text-align: center;
    width: 34px;
}

.dataTables_wrapper div.dataTables_paginate .paging-input .first,
.dataTables_wrapper div.dataTables_paginate .paging-input .last {
    display: none;
}

.dataTables_wrapper div.dataTables_paginate .paging-input .previous,
.dataTables_wrapper div.dataTables_paginate .paging-input .next {
    //-webkit-font-smoothing: antialiased;
    background-color: transparent !important;
    cursor: pointer;
    display: inline-block;
    font: normal normal normal 16px/34px FontAwesome;
    height: 100%;
    margin: 0;
    overflow: hidden;
    text-indent: -99999px;
    text-rendering: auto;
    vertical-align: middle;
}

.dataTables_wrapper div.dataTables_paginate .paging-input .previous::after {
    content: '\f104';
    float: left;
    text-indent: 0;
}

.dataTables_wrapper div.dataTables_paginate .paging-input .next::after {
    content: '\f105';
    float: right;
    text-indent: 0;
}

.dataTables_wrapper div.dataTables_paginate .paging-input .previous.disabled,
.dataTables_wrapper div.dataTables_paginate .paging-input .next.disabled {
    background-color: transparent !important;
    cursor: not-allowed;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    min-width: 1rem;
    padding: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
    background-color: inherit;
    border: 1px solid $white;
    box-shadow: none;
    color: $primary-60 !important;
}

//total-count-panel
.total-count-panel {
    border-bottom: 1px solid $charcoal-20;
    box-sizing: border-box;
    display: none;
    height: 50px;
    line-height: 50px;
}

//.table.table-spaced-rows thead th,
//.table.table-spaced-rows tbody tr th,
//.table.table-spaced-rows tbody tr td {
//background-color: #f7f8f9;
//border: 1px solid #e1e2e3;
//  border-left: 0;
//  border-right: 0;
//  border-top: 0;
//}

.raul-datatable-wrapper .total-count-item {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    padding: 0 8px;
}
