/*h5 {
    color: $charcoal-80;
}*/

// Switcher
/*.raul-switch-wrapper {
    line-height: normal;
    margin-bottom: 12px;
}*/

.raul-form-input-text {
    color: $charcoal-80;
    font-family: 'Roboto';
    font-size: 14px;
}

// The switch
.raul-switch {
    display: inline-block;
    height: 20px;
    margin-bottom: 0;
    position: relative;
    vertical-align: middle;
    width: 32px;
}

.raul-switch-wrapper .raul-form-input-text {
    /*padding-right: 5px;
    vertical-align: middle;*/
}

.raul-switch input {
    display: none;
}

// The slider
.raul-switch-slider {
    background-color: $charcoal-20;
    border-radius: 100px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.raul-switch-slider::before {
    background-color: $white;
    border-radius: 50%;
    bottom: 2px;
    content: '';
    height: 16px;
    left: 2px;
    position: absolute;
    transition: 0.4s;
    width: 16px;
}

.raul-switch input:checked + .raul-switch-slider {
    background-color: $success;
}

.raul-switch input:focus + .raul-switch-slider {
    box-shadow: 0 0 1px $success;
}

.raul-switch input:disabled + .raul-switch-slider {
    cursor: initial;
}

.raul-input-text-disabled {
    color: $charcoal-20;
    cursor: initial;
}

.raul-switch input:checked + .raul-switch-slider::before {
    transform: translateX(12px);
}

// Radio buttons
.raul-radio-wrapper {
    cursor: pointer;
    display: block;
    line-height: 18px;
    margin-bottom: 12px;
    padding-left: 28px;
    position: relative;
}

.raul-radio-wrapper input {
    opacity: 0;
    position: absolute;
}

.raul-radio-checkmark {
    border: 2px solid $charcoal-20;
    border-radius: 50%;
    box-sizing: border-box;
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 18px;
}

.raul-radio-wrapper input:checked ~ .raul-radio-checkmark {
    background-color: $primary-60;
    border: 2px solid $primary-60;
}

// dot-circle - hidden when not checked
.raul-radio-checkmark::after {
    content: '';
    display: none;
    position: absolute;
}

// Show dot/circle when checked
.raul-radio-wrapper input:checked ~ .raul-radio-checkmark::after {
    display: block;
}

// Style dot-circle
.raul-radio-wrapper .raul-radio-checkmark::after {
    background: $white;
    border-radius: 50%;
    height: 6px;
    left: 50%;
    margin-left: -3px;
    margin-top: -3px;
    top: 50%;
    width: 6px;
}

.raul-radio-wrapper input:disabled + .raul-radio-checkmark {
    cursor: initial;
}

// Check Boxes
.raul-checkbox-wrapper {
    cursor: pointer;
    display: block;
    margin-bottom: 12px;
    padding-left: 35px;
    position: relative;

    .raul-checkbox-some-selected ~ .raul-checkbox-checkmark::after {
        border: 0;
        border-top: 2px solid $white;
        content: '';
        display: block;
        left: 50%;
        margin-left: -6px;
        margin-top: -1px;
        position: absolute;
        top: 50%;
        transform: none;
        width: 12px;
    }
}

.raul-checkbox-wrapper input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.raul-checkbox-checkmark {
    border: 2px solid $charcoal-20;
    border-radius: 2px;
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
}

.raul-checkbox-wrapper input:checked ~ .raul-checkbox-checkmark {
    background-color: $primary-60;
    border-color: $primary-60;
}

.raul-checkbox-wrapper input:checked:disabled ~ .raul-checkbox-checkmark {
    background-color: $charcoal-20;
    border-color: $charcoal-20;
    cursor: initial;
}

.raul-checkbox-wrapper input:disabled ~ .raul-checkbox-checkmark {
    cursor: initial;
}

.raul-checkbox-checkmark::after {
    content: '';
    display: none;
    position: absolute;
}

.raul-checkbox-wrapper input:checked ~ .raul-checkbox-checkmark::after {
    display: block;
}

.raul-checkbox-wrapper .raul-checkbox-checkmark::after {
    border: solid $white;
    border-width: 0 2px 2px 0;
    height: 11px;
    left: 5px;
    top: 0;
    transform: rotate(45deg);
    width: 5px;
}

.raul-checkbox-wrapper .raul-checkbox-some-selected ~ .raul-checkbox-checkmark {
    background-color: $primary-60;
    border-color: $primary-60;
}
