.header-row {
  padding: 20px 0;
  border-top: solid 1px #e6e6e6;
  border-bottom: solid 2px #e1e1e1;
}
.router-header {
  font-weight:bold;
}
.router-rows .row{
  padding-bottom:10px;
  padding-top:15px;
  border-bottom:solid 1px #e6e6e6;
}
.router-rows .row:nth-child(even) {
  border-bottom: 2px solid #e1e1e1;
}
.router-rows .row:nth-child(4n-2), .router-rows .row:nth-child(4n-3) {
  background: #fafafa;
}
.template-list ul {
  list-style-type:none;
  padding:10px;
  display: inline-block;
}

.template-list ul li a{
  padding:5px;
}

.template-list ul li div {display:inline-block;}

.template-delete {padding:0 10px;}

#addRouter .save-button {
  position: fixed;
  z-index: 99;
  bottom: 11px;
  right: 45px;
}

#addRouter .box-header {display: none}
#addRouter .template-name label {font-size: 16px;}

/* data tables */
.data-sort span {
  display: inline-block;
  width: 15px;
  margin-left: 5px;
  margin-bottom: -8px;
}
.data-sort .fa {color:#bcc1c5!important;}
.data-sort span .fa.fa-caret-up, .data-sort span .fa.fa-caret-down {
  float: left;
  line-height: 10px;
  padding: 4px;
  width:100%;
}
.data-sort .fa:hover {
    color:#0076CC!important;
    cursor:pointer;
}
.name .data-sort .asc.name_asc, .name .data-sort .desc.name_desc,
.updated .data-sort .asc.updated_asc, .updated .data-sort .desc.updated_desc,
.created .data-sort .asc.created_asc, .created .data-sort .desc.created_desc
{
  color:#0076CC!important;
}

.data-sort span .fa.fa-caret-up {padding-bottom: 0;}
.data-sort span .fa.fa-caret-down {padding-top:0;}

/* Error Styles */
.form-control.error {
  box-shadow: 0 0 1px rgba(255, 0, 0, 1);
  border: solid 1px #FD5F68 !important;
}

.error {
  color: $brand-danger !important;
  margin-bottom: 0;
}

label.error {
  margin-top: .25rem !important;
}

/* Animations */

.linksAnimation-enter {
  opacity: 0.01;
}

.linksAnimation-enter.linksAnimation-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.linksAnimation-appear {
  opacity: 0.01;
}

.linksAnimation-appear.linksAnimation-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}


.linksAnimation-leave {
  opacity: 1;
}

.linksAnimation-leave.linksAnimation-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}