.table-wrapper-overflow-y-scroll {
  //To be applied on a wrapper for a table
  overflow: auto;
  position: relative;
  width: 100%;

  table {
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 575px) {
  .responsive-table tbody tr td label.responsive-label {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  /* Responsive Tables */
  .responsive-table thead {display:none;}
  .responsive-table tbody tr {
    border-bottom: 1px solid #ccc;
  }

  .responsive-table,
  .responsive-table tbody,
  .responsive-table tr,
  .responsive-table td {
    display: block;
  }
  .responsive-table tbody tr td {
    display:block;
    border:none;
    padding:4px 12px;
    border-width: 0px !important;
  }
  .responsive-table tbody tr td:first-child {
    padding-top:15px ;
  }
  .responsive-table tbody tr td:last-child {
    padding-bottom:15px ;
  }
  .responsive-table tbody tr td label.responsive-label {
    display: inline-block!important;
    font-weight:bold;
    padding-right:10px;
    margin:0;
    font-size:12px;
  }

}