.blue-input-file::-webkit-file-upload-button {
  color: #03A5FF;
  border: 1px solid #03A5FF;
  border-radius: 500px;
  background: #ffffff;
  padding: .375rem 2rem;
}

/* Radio button with check mark */

.radio-check input[type="radio"] {display:none;}
.radio-check label.md-check {min-height:24px;}
.radio-check .md-check span.fa-check,
.radio-check input[type="radio"]:checked + .md-check span.unselected-radio,
.radio-check input[type="radio"] + .md-check span.selected-radio
{
  display:none;
}
.radio-check input[type="radio"]:checked + .md-check {
  color:green;
}
.radio-check input[type="radio"]:checked + .md-check span,
.radio-check input[type="radio"]:checked + .md-check span.selected-radio,
.radio-check .md-check span.unselected-radio
{
  display:inline;
}
/* END - Radio button with check mark */

/* Required pre-conversation questions */

.pre-convo-q input[type="checkbox"] { display: none; }
.pre-convo-q label.md-check.required { min-height: 24px; }
/*.pre-convo-q .md-check.required span.fa-asterisk,*/
.pre-convo-q input[type="checkbox"]:checked + .md-check.required span.unselected-pre-convo-q,
.pre-convo-q input[type="checkbox"] + .md-check.required span.selected-pre-convo-q
{
  display:none;
}
.pre-convo-q input[type="checkbox"]:checked + .md-check.required .fa-asterisk {
  color: red !important;
}
.pre-convo-q input[type="checkbox"]:checked + .md-check.required span,
.pre-convo-q input[type="checkbox"]:checked + .md-check.required span.selected-pre-convo-q,
.pre-convo-q .md-check.required span.unselected-pre-convo-q
{
  display:inline;
}

/* END - Required pre-conversation questions */

/* Color Preview */
.docked-modal-header.docked-header i.icon-message-2-write {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.docked-modal-header.docked-header {
  width: 100%;
  display: inline-block;
  position: relative;
  padding-left: 35px;
}
.icon-phone-message-2:before, .rp-widget-icon-text:before {
  content: "\e897";
}
.icon-comments-2:before, .rp-widget-icon-chat:before {
  content: "\e855";
}
.communicationMode .communicationMode-inner i {
  font-size: 36px;
  transition: all .2s ease-in-out;
}
.communicationMode {
  width: 50%;
  float: left;
  margin: 0;
  padding: 15px;
  height: 110px;
  transition: all .2s ease-in-out;
  position: relative;
}
.communicationTypesChooser {
  width: 80%;
  margin-left: 10%;
  margin-top: 15px;
}
.jump-cell-1 {
  border-right: 1px solid #dadada;
}
.chat-footer {
  background: #121f2e;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
.widget-preview {
  display: inline-block;
  box-shadow: 0px 1px 1px 0 rgba(0,0,0,.2);
}
/* End color Preview */

.m-w-180 {min-width:180px;}

.md-check.multi-line > i {margin-right:0;}
.md-check.multi-line span.check-text {
  position: relative;
  right:-8px;
}
.nav-side-menu {height:auto!important;}

.color-swatch {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: solid 1px #ccc;
  margin-left: 10px;
  vertical-align: middle;
  border-radius:3px;
}

.nav-side-menu li {
  border-bottom:0;
  border-top:solid 1px #cbcbcb;
}

.widget-colors label {min-width: 90px;}
.widget-colors .form-inline .form-control {
  width:80px;
}

.nav-side-menu ul .sub-menu li {padding-top:0!important;}

.nav-side-menu ul .sub-menu li:before {display:none!important;}

.form-control.img-logo img {max-width:100%;}

.fixed-footer.pos-abt {
  position:absolute;
}

#modal-proactive-chat-settings {

  .form-control-label.font-weight-bold{
    font-weight: 900 !important;
  }
  .caption-r-l-null{
    right: 0 !important;
    left: 0 !important;
  }
  .nav-circle-wrapper{
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    width: 50%;
    &:hover > .nav-circle{
      transition: all 200ms ease-in;
      transform: translateX(0px);
      opacity:1;
    }
    &.nav-next{
      right:0;
    }
  }
  .nav-circle{
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(150,150,150,.7);
    align-self: center;
    opacity:0;

    &.next{
      right:0;
      position:absolute;
      transform: translateX(100px);

    }
    &.prev{
      left:0;
      transform: translateX(-100px);
    }
  }
}

a.add-widget {
  float: right;

  i {
    display: inline-block;
  }

  p {
    display: inline-block;
  }
}


.media-middle-important {
  vertical-align: middle !important;
}

.b-t-none{
  border-top: none;
}

.b-t-lightgrey{
  border-top: 1px solid rgba(18, 31, 46, 0.2);
}

.fixed-footer {
  position: fixed;
  bottom:0px;
  right:0;
  padding:10px 20px;
  width:100%;
  background-color:#f7f7f7;
  box-shadow:0 0 1px rgba(0,0,0,.5);
}

#pc-preview-flyout{
  position: fixed;
  opacity: 0;
  top: 25%;
  left: calc(50% + 70px);
  width: 550px;
  background: white;
  transform: translateX(-550px);
}

#pc-preview-flyout.show-preview {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.cta-selection-preview-img {
  position: relative;
  width: 149px;
  height: 125px;
  cursor:pointer;
  opacity: 1;
  img {
    opacity: .5;
  }
}

input:checked + label.cta-selection-preview-img {
  border: 2px solid $success;
  img {
    opacity: 1;
  }
}

.show-selected {
  opacity: 0;
  margin-top: .5rem;
  text-align: center;
  color: $brand-success;
  font-weight: 600;
}

.show-custom-button-msg {
  opacity: 0;
  position: absolute;
  max-width: 345px;
  font-size: 12px;
  left: 100%;
  top: 0;
  padding-left: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  ol {
    padding-left: 12px;
  }
}

input:checked + label.cta-selection-preview-img > .show-selected, input:checked + label.cta-selection-preview-img + div.show-selected {
  opacity: 1;
}

input:checked + label.cta-selection-preview-img > .show-selected, input:checked + label.cta-selection-preview-img + div.show-selected + div.show-custom-button-msg {
  opacity: 1;
}

.cta-selection-preview-img > img{
  max-width:100%;
}

.cta-selection-preview-img .full-preview:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #cbcbcb;
  position: absolute;
  bottom: -13px;
  left:65px;
}
.cta-selection-preview-img .full-preview {
  display:none;
  position:absolute;
  top:-317px;
  padding:10px;
  border:solid 1px #ccc;
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.cta-selection-preview-img .full-preview img { width: 330px; }
.cta-selection-preview-img:hover .full-preview { display: block; }
.cta-selection-preview-img:hover > img, .cta-selection-preview-img.active > img {
  box-shadow:0 0 0px 1px rgba(0,118,204,.7);
}

.br-desktop-widget-pos{
  position: absolute;
  width: 50px;
  height: 20px;
  bottom: 0;
  right: 0;
}
.br-desktop-widget-pos-circle{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  bottom: 7%;
  right: 7%;
}
.cl-desktop-widget-pos{
  position: absolute;
  width: 20px;
  height: 50px;
  right:0;
  top: 35%;
}
.w-full{
  width:100%;
}

#modal-proactive-chat-settings .dmod-content {
  padding: 16px 0px;
}


.pre-convo-q .fa-asterisk.required {
  color: red;
  cursor: pointer;
}

.pre-convo-q .fa-asterisk{
  color: #A3AFb5;
  cursor: pointer;
}

.card {
  border-color: rgba(120,130,140,.35);
  margin-bottom: 1.5rem;
}

.card-header{
  position: relative;
  background-color: white;
  border-bottom: none;
}

.card-collapse-arrow {
  position: absolute;
  top: 5px;
  color: white;
  width: 10%;
  height: 60px;
  text-align: center;
  cursor: pointer;
}

.card-collapse-arrow-wrapper:before {
  content: "";
  width: 30px;
  height: 30px;
  background: #0076CC;
  position: absolute;
  top: 20px;
  right: 15px;
  border-radius: 50%;
}

/*.md-check{
  top: 5px;
}*/

.fixed-footer-modal {
  position: absolute;
  bottom:0px;
  right:0;
  padding:10px 20px;
  width:100%;
  background-color:#f7f7f7;
  box-shadow:0 0 1px rgba(0,0,0,.5);
}

/**
    Dropzone styles
**/
.widget-logo-img{
  height:120px;
  width:268px;
  opacity:1;
  border:2px solid black;
}

.dropzone {
  max-width: 275px;
  min-width: 120px;
}

.dropzone-previews div.dz-preview {
  /*    margin-top: 14px;
      margin-left: 14px;
      margin-right: 0px;
      margin-bottom: 0px; */
  width: 100%;
  height:100%;
}

.dropzone .dz-preview .dz-image {
  display: flex;
  z-index: 0;
  /*width: 240px;*/
  /*max-height: 120px;*/
  border-radius: 0px;
  height: 100%;
  width: 100%;
}

.dropzone .dz-preview .dz-image img {
  width: 100%;
  height: 100%;
  /*            margin-top: auto;
      margin-bottom: auto; */
}

#conditional-invite-photo.no-logo #dropzone-proactive-photo-rec-no-logo {
  display:block;
}

#conditional-invite-photo #dropzone-proactive-photo-rec-no-logo {
  display:none;
}

#conditional-invite-photo.no-logo #dropzone-proactive-photo-rec-with-logo {
  display:none;
}

/**
    Dropzone warning styles
*/
.dropzone-warning-message{
  border: 2px solid;
  border-radius: 7px;
  width: 311px;
}
.dropzone-warning-message div{
  display: inline-block;
}
.dropzone-warning-message div:first-child{
  width: 265px;
}
.dropzone-warning-message div:last-child{
  vertical-align: top;
  padding: 1rem .5rem ;
  font-size: 18px;
}
/**
    Dropzone logo styles
*/
#dropzone-proactive-logo {
  max-width: 315px;
}

#dropzone-proactive-logo div.dz-preview {
  display: table;
  margin-top: 0;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 100%;
}

#dropzone-proactive-logo div.dz-image {
  display: table-cell;
  vertical-align: middle;
}

/**
    Dropzone photo styles
*/
#conditional-invite-photo #dropzone-proactive-photo.dropzone {
  max-width: 270px;
  height: 380px;
}

#conditional-invite-photo.no-logo {
  #dropzone-proactive-photo.dropzone {
    width: 245px;
    height: 265px;
  }

  #dropzone-proactive-photo .dz-image {
    width: 200px;
    height: 220px;
  }

  #dropzone-proactive-photo.dropzone div.dz-message {
    padding-top:20%;
  }

}

#dropzone-proactive-photo.dropzone div.dz-preview {
  margin-top: 0;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  width:200px;
}


#dropzone-proactive-photo.dropzone .dz-preview .dz-image {
  max-height: 335px;
  height: 335px;
  width: 225px;
}

#dropzone-proactive-photo.dropzone .dz-preview .dz-image img {
  width: 225px;
}

#dropzone-proactive-photo.dropzone div.dz-message {
  height: calc(100% - 60px);
  vertical-align: top;
  padding-top: 40%;
}

/**
    Dropzone icon styles
*/
#dropzone-proactive-icon.dropzone {
  max-width: 240px;
  height: 240px;
}

#dropzone-proactive-icon.dropzone div.dz-preview {
  margin: 0px;
  width: 100%;
}

#dropzone-proactive-icon.dropzone .dz-preview .dz-image {
  max-height: 300px;
  height: 200px;
  width: 200px;
}

#dropzone-proactive-icon.dropzone .dz-preview .dz-image img {
  width: 200px;
}

#dropzone-proactive-icon.dropzone div.dz-message {
  padding-top: 10px;
}

#dropzone-widget-logo-preview {
  padding: 10px;
}

#dropzone-widget-logo-preview .dz-preview {
  margin: 0px !important;
}

#dropzone-widget-logo-preview .dz-preview.centered {
  display: table;
}

#dropzone-widget-logo-preview .dz-preview.centered .dz-image {
  display: table-cell;
  vertical-align: middle;
}

#error-helper {
  bottom: 70px;
  right: 0;
  z-index: 1;
}

#error-helper #error-helper-container {
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  width: 250px;
  height: 350px;
  bottom:0;
  right: 50px;
  z-index: -1;
}

#error-helper #error-helper-items{
  height:calc(100% - 45px);
  overflow-y: scroll;
  overflow-x: auto;
}
/* .indev used to hide unfinished #error-helper*/
#error-helper[data-initialized=""]{
  display:none;
}

#error-helper.initial #error-helper-container {
  display: none !important;
}

#error-helper.initial #error-helper-btn {
  display: table;
  position: absolute;
  border-radius: 50%;
  width: 155px;
  height: 155px;
  z-index: 2;
  right: 25px;
  bottom: -84px;
}

#error-helper #error-helper-btn > div {
  display:none;
}

#error-helper.initial #error-helper-btn > div.error-helper-show-errors {
  display: table-cell;
  text-align: center;
  vertical-align: top;
  font-size: 40px;
  position: relative;
}

.error-helper-show-msg {
  position: absolute;
  top: 50%;
  bottom: 50%;
  font-size: 25px;
  margin-left: 13px;
}

#error-helper.active {
  bottom: 100px;
  right: 40px;
}

#error-helper.active #error-helper-btn {
  display: table;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

#error-helper.active #error-helper-btn > div.number-fill {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
}

#error-helper .error-helper-message {
  transform: translateX(0);
  font-weight: 400;
  transition: transform .5s ease, font-weight .2s;
}

#error-helper .error-helper-item:hover .error-helper-message {
  transform: translateX(-15px);
  font-weight: 600;
  transition: transform .5s ease, font-weight .4s;
}

#error-helper-btn .error-helper-hover {
  display: flex;
  justify-content: center;
  align-items: center;
}
.property-img-profile {
  position:
          relative;
  overflow: hidden;
  height: 11vh;
  width: 11vw;
}
.property-profile-cover {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.property-profile-text {
  color: black;
  font-size: .8vw;
  /*padding: 16px 32px;*/
}
.property-profile:hover .property-img-profile {
  opacity: 0.3;
}

.property-profile:hover .property-profile-cover {
  opacity: 1;
}
.property-profile {
  position:relative;
}

/* Portrait and Landscape Iphone 6*/
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
  .property-profile-text {
    font-size:15px
  }

  .property-img-profile {
    height:100%;
    width:100%;
  }
}
/*Iphone 5*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
  .property-profile-text {
    font-size:15px;
  }

  .property-img-profile {
    height:100%;
    width:100%;
  }
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
  .property-profile-text {
    font-size: 10px;
  }

  .property-img-profile {
    height: 100%;
    width: 15vw;
  }
}
