.all-properties {

	.all-properties-switch {
		&-label {
			vertical-align: middle;
			width: auto;

			&.form-control-label {
		        width: auto;
		        margin-right: 12px;
				@media #{$smScAndBelow} {
			        margin-top: 12px;
			        margin-bottom: 12px;
			    }
		    }
		}

		@media #{$smScAndBelow} {
	        margin-top: 16px;
	        margin-bottom: 12px;
	    }
	}

	.ui-switch {
		border: none;
		background-color: $rp-neutral-06;
		vertical-align: middle;

		i {
			&:before {
				border: none;
				background-color: $rp-neutral-06;				
			}

			&:after {
				background-color: $rp-neutral-02;	
			}
		}

		input:checked {
			& + i {				
				&:after {
					background-color: $rp-primary;
				}
			}
		}
	}
}