.onesite-roles-body {
    padding-left: 0px;
    padding-right: 0px;
}

.onesite-roles {
    width: 100%;
    .onesite-roles-grid {
        .rp-grid-headers-1,
        .rp-grid-filters-1,
        .rp-grid-body-1 {
            table-layout: auto;
        }
        .is-assigned {
            min-width: 90px;
            max-width: 90px;
        }
        .name {
            width: 90%;
        }
        .roletype {
            min-width: 200px;
            max-width: 200px;
        }
        .info-icon {
            min-width: 50px;
            max-width: 50px;
        }
    }
}

.role-info-icon {
    .rp-icon-info-circle {
        color: $rp-primary;
        cursor: pointer;
    }
}
