.entities-list-aside-body {
    padding-left: 0px;
    padding-right: 0px;

    &-error {
        margin-top: 20px;
    }
}

.entities-list-aside {
    width: 40%;

    &-grid {

        .is-assigned {
            min-width: 125px;
            max-width: 125px;
            white-space: nowrap;
            border:1px solid red;
        }

        .name {
            width: 90%;
        }

        .assigned-properties {
            min-width: 200px;
            max-width: 200px;
        }
    }
}