.entities-list-aside-body {
    padding-left: 0px;
    padding-right: 0px;

    &-error {
        margin-top: 20px;
    }
}

.entities-list-aside-header{
    width: 40%;
}

.entities-list-aside {
    &-grid {
        .is-assigned {
            min-width: 50px;
            max-width: 50px;
            white-space: nowrap;
        }

        .name {
            width: 60%;
        }

        .property-type {
            min-width: 20%;
            max-width: 20%;
        }
    }
}