.global-roles-body {
    padding-left: 0px;
    padding-right: 0px;

    &-error {
        margn-top: 20px;
    }
}

.global-roles {
    width: 100%;

    &-grid {
        .is-assigned {
            min-width: 125px;
            max-width: 125px;
            white-space: nowrap;
        }

        .name {
            width: 90%;
        }

        .role-type {
            min-width: 200px;
            max-width: 200px;
        }
    }
}
