<div class="property-group-wrapper" ng-controller="SMPropertyGroupGridCtrl as smp">
	<div class="property-group-body">
	    <div class="grid-controls">
	        <div class="grid-control-item">
	            <rp-toggle model="smp.propertyGroupGrid.filtersModel.state.active" options="{
	                defaultText: 'Filter',
	                activeIconClass: 'rp-icon-filter',
	                defaultIconClass: 'rp-icon-filter active'
	            }">
	            </rp-toggle>
	        </div>
	    </div>
		<rp-grid model="smp.propertyGroupGrid" class="spend-management-property-group-grid">
		</rp-grid>
		<rp-grid-pagination model="gridPagination">
		</rp-grid-pagination>
	</div>
	
</div>