.users-action-bar {

	.dropdown-menu {
		width: 160px;


		.md-check {
			padding-left: 0;

			& > i {
				display: none;
			}
		}
	}

	&.rp-action-bar {
		.action-item .action-icon {
			@include xx-small-text;
		}
	}

	&-select-all-menu {
		margin-top: -10px;
		margin-left: 10px;
	}

	&-more-info-menu li {
		cursor: pointer;
	}
}
