.users-list {
    .is-selected {
        width: 40px;
    }

    .user {
        width: 30%;

        &-photo {

            &-wrapper {
                float: left;

                .use-default {
                    padding-top: 8px;
                }
            }
        }

        &-identifier-wrapper {
            margin-left: 50px;
        }

        &-full-name {
            font-weight: 500;
            white-space: normal;
            @include break-word;
        }

        &-username {
            color: $rp-neutral-02;
            white-space: normal;
            @include break-word;
        }
    }

    .custom-field-col {
        // width: 10%;
        display: none;

    }

    &.display-custom {
        // .user {
        //     width: 25%;
        // }
        .custom-field-col {
            //display: block; 
            display: table-cell;
        }
    }

    .product-count,
    .property-count {
        width: 10%;
        font-weight: bold;
    }

    .last-login {
        @include body-3($rp-neutral-02);
        width: 15%;
        &-date {
            font-weight: 500;
        }
    }

    .account-status {
        text-align: center;
        width: 15%;

        &-label {
            border-radius: 3px;
            padding: 1px 0;
            width: 100px;
            display: inline-block;

            color: $white;
            font-weight: normal;
            text-transform: uppercase;

            @media #{$smScAndBelow} {
                padding: 3px 10px;
            }
        }

        .active-acct {
            background-color: $rp-success;
        }

        .disabled-acct {
            background-color: $rp-danger;
        }

        .deactivated-acct {
            background-color: $rp-danger;
        }

        .expired-acct {
            background-color: $rp-secondary-03;
        }
    }

    .lock-status {
        color: $rp-danger;
        width: 80px;


        @media #{$smScAndBelow} {
            width: 40px;
        }
    }

    .actions {
        width: 100px;
    }


    body &-action-menu {
        min-width: 110px;
    }
}