.marketing-center-property-groups-grid {

	.is-assigned {
        width: 5%;
	}
	.name {
		width: 50%;
	}
	.type {
		width: 40%;

	}
	.info-tooltip {
		width: 5%;
	}
}

.marketing-center-info-tooltip-icon {
	color: $rp-primary;
	cursor: pointer;
}

.property-groups-wrapper-error {
    margin-top: 20px;
}
