<div class="lead-2-lease-properties-wrapper" ng-controller="Lead2LeasePropertiesGridCtrl as l2lg">
    <div class="lead-2-lease-properties-body" ng-if="!l2lg.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="l2lg.grid.filtersModel.state.active" options="{
    	                defaultText: 'Filter',
    	                activeIconClass: 'rp-icon-filter',
    	                defaultIconClass: 'rp-icon-filter active'
    	            }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid ng-if="l2lg.isActive()" model="l2lg.grid" class="lead-2-lease-properties-grid">
        </rp-grid>
        <rp-grid-pagination ng-if="l2lg.isActive()" model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="lead-2-lease-properties-error" ng-if="l2lg.isDataError">
        {{::l2lg.dataErrorReason}}
    </div>
</div>
