<div class="roles-wrapper" ng-controller="Lead2LeaseRolesGridCtrl as l2lr">
    <div class="lead-2-lease-roles-body" ng-if="!l2lr.isDataError">
        <div class="lead-2-lease-roles-select">
            <rp-form-select-menu
                ng-if="!l2lr.presetRoles.empty()"
                config="l2lr.roleSelect"
                rp-model="l2lr.roleSelected">
            </rp-form-select-menu>
        </div>
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="l2lr.grid.filtersModel.state.active" options="{
                    defaultText: 'Filter',
                    activeIconClass: 'rp-icon-filter',
                    defaultIconClass: 'rp-icon-filter active'
                }">
                </rp-toggle>
            </div>
        </div>
    	<rp-grid ng-if="l2lr.isActive()"
    		model="l2lr.grid" class="lead-2-lease-roles-grid">
    	</rp-grid>
    	<rp-grid-pagination ng-if="l2lr.isActive()" model="gridPagination">
    	</rp-grid-pagination>
    </div>
    <div class="lead-2-lease-roles-error" ng-if="l2lr.isDataError">
        {{::l2lr.dataErrorReason}}
    </div>
</div>
