.persona-wrapper {

	.persona-form {
		margin-top: 15px;
		margin-bottom: 15px;
	}	
	
	.rp-datetimepicker {
		&-icon:before {
			color: $rp-nav-color-02;
		}

		&-text {
			border-right: 0;
			border-color: $input-border !important;
		}

		.input-group {
			border: 0;
		}
	}
}
