.spndmgmt-rights-details {

    &.spacer {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .menu-content {
        .selected {
            font-weight: bold;
        }
    }
    .rights-products-menu {
        @include grid-col(2);
        &.space {
            margin-top: 30px;
        }
    }
    .nav-side-menu ul li.collapsed:after {
        display: none;
    }
    .nav-side-menu li a {
        font-weight: 400;
    }
    .spndmgmt-grid {
        padding-left: 10px;
    }

    .action-item {
        .rp-actions-menu {
            &.rp-icon-more {
                @include rp-icon(ellipsis-v);
                &::before {}
            }
        }
    }
    .grid-col {
        &-cursor {
            cursor: pointer;
        }
        &-rights {
            font-weight: 500;
            color: $rp-primary;
        }
    }
    .actions-row {
        @include grid-row();
        margin-left: 0px;
        margin-right: 15px;
        padding-bottom: 10px;
        padding-top: 8px;

        .product-filter {
            float: left;
            @include grid-col(3);
            padding-left: 0px;
        }
        .filters {
            .grid-control-item {
                .icon-color {
                    color: $rp-neutral-03;
                }
            }
        }
    }
    .rights-grid-section {
        @include grid-col(10);
        &.space {
            margin-top: 30px;
        }
        &-title {
            @include header-3;
        }
        &-action-bar {
            @include grid-col(12);
        }
    }
    .rights-grid {

        .roles-assigned {
            width: 10%;
        }
        .center-name {
            width: 10%;
        }

        .more {
            width: 10%;
        }
    }
    .rp-grid-header {
        .rp-grid-text {
            font-size: 14px;
        }

        &.roles-assigned {
            width: 10%;
        }

        &.center-name {
            width: 10%;
        }

        &.more {
            text-align: center;
            width: 10%;
        }
    }
    .rp-grid-cell {

        &.roles-assigned {
            text-align: center;
            width: 10%;
        }

        &.center-name {
            width: 10%;
        }

        &.more {
            text-align: center;
            width: 10%;
            font-size: 20px;
        }
    }

    .spm-title {
        font-size: 22px;
        font-weight: bold;
        width: 80%;
        float: left;
    }
    .spm-filter {
        float: right;
        color: blue;
    }
    .spm-container:after {
        clear: both;
        content: "";
        display: block;
    }
    .app-spacer {
        padding: 20px;
    }
    .spm-accordion {
        margin-top: 20px;
    }
    .spm-title-container:after,
    .spm-accordion .spm-row-container:after {
        clear: both;
        content: "";
        display: block;
    }
    .spm-accordion .spm-header {
        font-size: 14px;
        font-weight: bold;
    }
    .spm-accordion .spm-header .rights {
        width: 33%;
        float: left;
        padding-left: 15px;
    }
    .spm-accordion .spm-header .description {
        width: 67%;
        float: left;
    }
    .spm-accordion .spm-header .edit-menu {
        // width: 10%;
        float: left;
    }
    .spm-accordion .spm-body {
        margin-top: 10px;
    }
    .spm-accordion .spm-body .rights {
        width: 30%;
        float: left;
        padding-left: 15px;
        font-weight: bold;
        &.right {
            font-weight: normal;
        }
    }
    .spm-accordion .spm-body .description {
        width: 70%;
        float: left;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .spm-accordion .spm-body .edit-menu {
        // width: 10%;
        float: left;
    }
    .spm-accordion .spm-body .editable-icon {
        float: right;
        margin-right: 10px;
    }
    .spm-body .spm-row-container {
        padding: 10px 0px;
        border-top: solid 1px #d3d3d3;
    }
    .rights {
        .spacer {
            margin-right: 10px;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
        }
    }
    .spm-row-1 .inner {
        margin-left: 30px;
    }

    .spm-row-2 .inner {
        margin-left: 60px;
    }
}

// .rp-actions-menu-panel {
//     &.spndmgmt-rights-actionsmenu {
//         z-index: 9999;
//     }
// }

body .spnd-mgt-rights-action-menu {
    min-width: 130px;
}
