.pa-properties-list-aside {
    width: 560px;
}

.pa-properties-list-aside-grid {
    .center-name {
        width: 50%;
    }
    .description {}

    .is-assigned {
        min-width: 125px;
        max-width: 125px;
        white-space: nowrap;
    }

    .property-name {
        width: 90%;
    }

    .statecode {
        min-width: 120px;
        max-width: 120px;
    }
}
