.pa-roles-body {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;

    &-error {
        margin-top: 20px;
    }
}

.pa-roles {
    width: 100%;

    &-wrapper {
        margin-top: 10px;
    }

    &-grid {
        .rp-grid-headers-1,
        .rp-grid-filters-1,
        .rp-grid-body-1 {
            table-layout: auto;
        }

        // min-height: 500px;
        .company-name {
            width: 35%;
        }

        .role {
            width: 35%;
             //min-width: 30%;
            // max-width: 30%;
        }

        .bmrole {
            width: 35%;
            // min-width: 30%;
            // max-width: 30%;
        }

    }
}
