<div class="lrc-settings-content settings-content" ng-class="page.sideMenuCollapsed ? 'closed' : 'open'">
    <div class="nav-side-menu">
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <span ng-repeat="navItem in page.navModel">
                    <li class="{{ ::navItem.id }}" data-toggle="collapse" data-target="#{{ ::navItem.id }}" ng-class="{ collapsed: !page.$state.includes(navItem.sref) }">
                        <a ng-bind-html="navItem.title"></a>
                    </li>
                    <ul class="sub-menu collapse" id="{{ ::navItem.id }}" ng-class="{ in: page.$state.includes(navItem.sref) }">
                        <a ng-repeat="navSubItem in navItem.subNav" ui-sref="{{ navSubItem.sref ? navSubItem.sref : '.' }}" ui-sref-active-eq="active" ng-bind-html="navSubItem.title"></li>
                    </ul>
                </span>
            </ul>
        </div>
    </div>
    <div ui-view ng-cloak class="lrc-setup-settings-panel product-panel-content"></div>
</div>
