raul-input {
  display: block;
}

raul-input .r-form-element__control {
  position: relative;
}

raul-input .r-form-element__control input[type=text],
raul-input .r-form-element__control input[type=password],
raul-input .r-form-element__control input[type=email],
raul-input .r-form-element__control input[type=number],
raul-input .r-form-element__control input[type=search],
raul-input .r-form-element__control input[type=tel],
raul-input .r-form-element__control input[type=url] {
  border-width: 1px;
  border-color: #C6CCD0;
  display: block;
  font-size: 0.875rem;
  height: 2.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100%;
  background-color: var(--raul-input-bg, #ffffff);
  border-radius: var(--raul-input-border-radius, 0.125rem);
  color: var(--raul-input-color, #37474F);
}

raul-input .r-form-element__control input[type=text]::-webkit-input-placeholder,
raul-input .r-form-element__control input[type=password]::-webkit-input-placeholder,
raul-input .r-form-element__control input[type=email]::-webkit-input-placeholder,
raul-input .r-form-element__control input[type=number]::-webkit-input-placeholder,
raul-input .r-form-element__control input[type=search]::-webkit-input-placeholder,
raul-input .r-form-element__control input[type=tel]::-webkit-input-placeholder,
raul-input .r-form-element__control input[type=url]::-webkit-input-placeholder {
  color: #9BA3A7;
}

raul-input .r-form-element__control input[type=text]::-moz-placeholder,
raul-input .r-form-element__control input[type=password]::-moz-placeholder,
raul-input .r-form-element__control input[type=email]::-moz-placeholder,
raul-input .r-form-element__control input[type=number]::-moz-placeholder,
raul-input .r-form-element__control input[type=search]::-moz-placeholder,
raul-input .r-form-element__control input[type=tel]::-moz-placeholder,
raul-input .r-form-element__control input[type=url]::-moz-placeholder {
  color: #9BA3A7;
}

raul-input .r-form-element__control input[type=text]:-ms-input-placeholder,
raul-input .r-form-element__control input[type=password]:-ms-input-placeholder,
raul-input .r-form-element__control input[type=email]:-ms-input-placeholder,
raul-input .r-form-element__control input[type=number]:-ms-input-placeholder,
raul-input .r-form-element__control input[type=search]:-ms-input-placeholder,
raul-input .r-form-element__control input[type=tel]:-ms-input-placeholder,
raul-input .r-form-element__control input[type=url]:-ms-input-placeholder {
  color: #9BA3A7;
}

raul-input .r-form-element__control input[type=text]::-ms-input-placeholder,
raul-input .r-form-element__control input[type=password]::-ms-input-placeholder,
raul-input .r-form-element__control input[type=email]::-ms-input-placeholder,
raul-input .r-form-element__control input[type=number]::-ms-input-placeholder,
raul-input .r-form-element__control input[type=search]::-ms-input-placeholder,
raul-input .r-form-element__control input[type=tel]::-ms-input-placeholder,
raul-input .r-form-element__control input[type=url]::-ms-input-placeholder {
  color: #9BA3A7;
}

raul-input .r-form-element__control input[type=text]::placeholder,
raul-input .r-form-element__control input[type=password]::placeholder,
raul-input .r-form-element__control input[type=email]::placeholder,
raul-input .r-form-element__control input[type=number]::placeholder,
raul-input .r-form-element__control input[type=search]::placeholder,
raul-input .r-form-element__control input[type=tel]::placeholder,
raul-input .r-form-element__control input[type=url]::placeholder {
  color: #9BA3A7;
}

raul-input .r-form-element__control input[type=text][disabled],
raul-input .r-form-element__control input[type=password][disabled],
raul-input .r-form-element__control input[type=email][disabled],
raul-input .r-form-element__control input[type=number][disabled],
raul-input .r-form-element__control input[type=search][disabled],
raul-input .r-form-element__control input[type=tel][disabled],
raul-input .r-form-element__control input[type=url][disabled] {
  background-color: #EBEDEE;
  border-color: #EBEDEE;
  color: #9BA3A7;
  cursor: not-allowed;
}

raul-input .r-form-element__control input[type=text]:focus,
raul-input .r-form-element__control input[type=password]:focus,
raul-input .r-form-element__control input[type=email]:focus,
raul-input .r-form-element__control input[type=number]:focus,
raul-input .r-form-element__control input[type=search]:focus,
raul-input .r-form-element__control input[type=tel]:focus,
raul-input .r-form-element__control input[type=url]:focus {
  border-color: #0076CC;
  outline: 0;
}

raul-input .r-form-element__control input[type=text]:invalid,
raul-input .r-form-element__control input[type=password]:invalid,
raul-input .r-form-element__control input[type=email]:invalid,
raul-input .r-form-element__control input[type=number]:invalid,
raul-input .r-form-element__control input[type=search]:invalid,
raul-input .r-form-element__control input[type=tel]:invalid,
raul-input .r-form-element__control input[type=url]:invalid {
  border-color: #D01A1F;
}

raul-input .r-form-element__label {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

raul-input .r-form-element__hint {
  display: block;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

raul-input .r-form-element__error {
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  color: #D01A1F;
  margin-top: 0.5rem;
}

raul-input .r-form-element__error__icon {
  font-size: 1rem;
  margin-right: 0.25rem;
}

raul-input .r-form-element--invalid input[type=text],
raul-input .r-form-element--invalid input[type=password],
raul-input .r-form-element--invalid input[type=email],
raul-input .r-form-element--invalid input[type=number],
raul-input .r-form-element--invalid input[type=search],
raul-input .r-form-element--invalid input[type=tel],
raul-input .r-form-element--invalid input[type=url] {
  border-color: #D01A1F;
}

raul-input .r-form-element--search input[type=text],
raul-input .r-form-element--search input[type=password],
raul-input .r-form-element--search input[type=email],
raul-input .r-form-element--search input[type=number],
raul-input .r-form-element--search input[type=search],
raul-input .r-form-element--search input[type=tel],
raul-input .r-form-element--search input[type=url] {
  padding-left: 2.25rem;
}

raul-input .r-form-element--search .r-from-element__control__search-icon {
  position: absolute;
  color: #9BA3A7;
  font-size: 1.125rem;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}