<!-- WHITE PAGE HEADER -->
<header id="raul-page-header" class="raul-page-header">
    <h2 id="raul-page-header-page" class="raul-page-header-page"></h2>
    <div id="raul-page-header-breadcrumbs" class="raul-page-header-breadcrumbs">

        <!-- MOBILE SOLUTION -->
        <div id="raul-page-header-breadcrumbs-dropdown" class="raul-page-header-breadcrumbs-dropdown d-md-none">
            <a class="raul-page-header-breadcrumbs-dropdown-breadcrumb rp-breadcrumbs-template hidden" href="/">RealPage</a>
        </div>

        <i id="raul-page-header-breadcrumbs-back" class="fa fa-angle-left d-md-none"></i>

        <!-- DESKTOP SOLUTION -->
        <div class="rp-breadcrumbs-wrapper rp-breadcrumbs-template hidden">
            <a class="raul-page-header-breadcrumb hidden-sm-down" href="/">RealPage</a>
            <span class="hidden-sm-down">/</span>
        </div>
    </div>
</header>

@*!!!Clear breadcrumbs scripts are in - _FootIncScripts.cshtml*@

@*!!!Hide/show breadcrumbs scripts are in - init-app.js*@

