
<footer>
    <div class="p-a-lg">
        <div class="row no-gutter">
            <div class="col-md-12 white-12">
                <span class="block">RealPage Inc.</span>
                <span class="block">4000 International Parkway</span>
                <span class="block">Carrollton, TX 75007 (USA)</span>
                <br />
                <span class="block">1.888.123.4567</span>
                <div class="text-right">
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa  fa-rss"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="breadcrumbs">
                    Copyright 1998-@DateTime.Now.Year; RealPage Inc. <a href="#">All Rights Reserved</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="breadcrumbs pull-md-right pull-lg-right pull-xl-right">
                    <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Site Map</a>
                </div>
            </div>
        </div>
    </div>
</footer>
