raul-bulk-action-bar {
  display: block;
}

raul-bulk-action-bar .r-bulk-actions {
  bottom: 0;
  color: #ffffff;
  left: 0;
  position: fixed;
  width: 100%;
  max-height: 0;
  transition: max-height 0.35s;
  z-index: 1010;
}

raul-bulk-action-bar .r-bulk-actions--expanded {
  max-height: 3rem;
}

@media (min-width: 768px) {
  raul-bulk-action-bar .r-bulk-actions {
    position: relative;
    bottom: auto;
  }
}

raul-bulk-action-bar .r-bulk-actions__wrapper {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  padding: 0.5rem;
  background-color: #0076CC;
  height: 3rem;
}

raul-bulk-action-bar .r-bulk-actions__left {
  display: flex;
  margin-right: auto;
  flex-grow: 1;
}

raul-bulk-action-bar .r-bulk-actions__buttons-wrapper {
  display: inline-block;
}

raul-bulk-action-bar .r-bulk-actions__buttons-wrapper .r-button {
  margin-right: 0.5rem;
}

raul-bulk-action-bar .r-bulk-actions__more {
  display: inline-block;
  position: relative;
}

raul-bulk-action-bar .r-bulk-actions__button-more {
  visibility: hidden;
}

raul-bulk-action-bar .r-bulk-actions__button-more--show {
  visibility: visible;
}

raul-bulk-action-bar .r-bulk-actions__right {
  align-items: center;
  display: flex;
  font-size: 0.75rem;
  justify-content: flex-end;
  flex: 0 0 auto;
  max-width: 265px;
  min-width: 55px;
}

raul-bulk-action-bar .r-bulk-actions__selected-count {
  font-size: 0.75rem;
}

raul-bulk-action-bar .r-bulk-actions__select-all {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: none;
}

raul-bulk-action-bar .r-bulk-actions__select-all:hover {
  text-decoration: underline;
}

raul-bulk-action-bar .r-bulk-actions__select-all::after {
  display: inline-block;
  margin-left: 0.5rem;
  content: "|";
}

@media only screen and (min-width: 768px) {
  raul-bulk-action-bar .r-bulk-actions__select-all {
    display: inline-block;
  }
}

raul-bulk-action-bar .r-bulk-actions__close {
  padding: 0.75rem;
}

raul-bulk-action-bar .r-bulk-actions__close raul-icon {
  font-size: 0.875rem;
}

raul-bulk-action-bar .r-bulk-actions__more-tray {
  left: 0;
  overflow: hidden;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0;
  padding-bottom: 0;
  position: fixed;
  width: 100%;
  background: #37474F;
  bottom: -100%;
  min-height: 48px;
  transition: bottom 0.35s;
  z-index: -1;
}

raul-bulk-action-bar .r-bulk-actions__more-tray--show {
  bottom: 48px;
}

raul-bulk-action-bar .r-bulk-actions__more-tray raul-button {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  raul-bulk-action-bar .r-bulk-actions__more-tray {
    background-color: #ffffff;
    border-radius: 0.125rem;
    bottom: auto;
    display: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: auto;
    vertical-align: middle;
    box-shadow: 0 8px 16px 0 rgba(82, 97, 115, 0.18);
    top: 36px;
    width: 180px;
    z-index: 2000;
  }

  raul-bulk-action-bar .r-bulk-actions__more-tray--show {
    display: block;
    bottom: auto;
  }

  raul-bulk-action-bar .r-bulk-actions__more-tray raul-button {
    display: block;
    margin-right: 0;
  }

  raul-bulk-action-bar .r-bulk-actions__more-tray raul-button .r-button--reverse .r-button__content {
    align-items: center;
    background-color: transparent;
    display: flex;
    font-size: 0.75rem;
    font-weight: 400;
    justify-content: flex-start;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #37474F;
    min-height: 32px;
  }

  raul-bulk-action-bar .r-bulk-actions__more-tray raul-button .r-button--reverse .r-button__focus-ring * {
    display: none;
  }

  raul-bulk-action-bar .r-bulk-actions__more-tray raul-button .r-button--reverse .r-button__element:hover ~ .r-button__content {
    background-color: transparent;
    text-decoration: underline;
  }

  raul-bulk-action-bar .r-bulk-actions__more-tray raul-button .r-button--reverse .r-button__content::before {
    border-color: #0076CC !important;
    border-radius: 0 !important;
    top: 2px !important;
    right: 2px !important;
    bottom: 2px !important;
    left: 2px !important;
  }
}