// Password Requirements

.pass-req {
    width: 300px;

    &-list {
        margin: 0;
        padding: 0;

        &-item {
            @include body-3;
            @include rp-icon("correct");
            list-style: none;

            &:before {
                float: left;
                width: 20px;
                display: block;
                line-height: 16px;
                visibility: hidden;
                color: $light-green-800;
            }

            &.valid {
                &:before {
                    visibility: visible;
                }
            }
        }
    }
}
