CREATE PROCEDURE [Logging].[InsertActivity_v2] (
	@LogCategoryType NVARCHAR(100),
	@LogType NVARCHAR(100),
	@CorrelationId uniqueidentifier,
	@Message NVARCHAR(400),
	@FromUserLoginName NVARCHAR(200),
	@FromUserFirstName NVARCHAR(50),
	@FromUserLastName NVARCHAR(50),
	@FromUserLoginId BIGINT,
	@FromUserRealpageId uniqueidentifier = NULL,
	@ToUserLoginName NVARCHAR(200),
	@ToUserLoginId BIGINT,
	@ToUserFirstName NVARCHAR(50),
	@ToUserLastName NVARCHAR(50),
	@ToUserRealpageId uniqueidentifier,
	@BooksMasterOrganizationId INT,
	@BooksProductCode NVARCHAR(100),
	@BooksMasterPropertyId INT = NULL,
	@IsSystemAdminActivity BIT = 0,
	@ServerName NVARCHAR(50),
	@Timestamp DATETIME,
	@AdditionalInformationJsonInput NVARCHAR(max),
	@ActivityId BIGINT OUTPUT
)
AS
BEGIN
	DECLARE @LogTypeId INT = null;
	DECLARE @MessageId int= null;
	DECLARE @ProductId int= null;
	DECLARE @ServerId int= null;
	DECLARE @Now datetime= GETUTCDATE();
	DECLARE @Key nvarchar(50)= null;
	DECLARE @Value nvarchar(200)= null;
	DECLARE @LogCategoryTypeId int= null;
	DECLARE @TPVId int= null;
	DECLARE @ToUserId bigint= null;
	DECLARE @FromUserId bigint= null;
	DECLARE @Increment int= null;
		
	BEGIN
		IF @LogCategoryType IS NOT NULL
		BEGIN
			SELECT @LogCategoryTypeId = LogCategoryTypeId
				FROM Logging.LogCategoryType
				WHERE [Name] = @LogCategoryType;
			IF @LogCategoryTypeId IS NULL 			
			BEGIN
				SELECT @Increment = MAX(LogcategoryTypeId)
				FROM Logging.LogCategoryType
				INSERT INTO Logging.LogCategoryType( LogcategoryTypeId, [Name] )
				VALUES( @Increment + 1, @LogCategoryType );
				SELECT @LogCategoryTypeId = SCOPE_IDENTITY();
			END;
		END;
		IF @LogType IS NOT NULL
		BEGIN
			SELECT @LogTypeId = LT.LogTypeId
				FROM Logging.LogType AS LT
					 INNER JOIN
					 Logging.LogCategoryType AS LCT
					 ON LCT.LogCategoryTypeId = LT.LogCategoryTypeId
				WHERE LT.[Name] = @LogType AND 
					  LCT.LogCategoryTypeId = @LogCategoryTypeId;
			IF @LogTypeId IS NULL
			BEGIN				
				SELECT @Increment = MAX(LogTypeId)
				FROM [Logging].[LogType]
				INSERT INTO Logging.LogType( LogTypeId, [Name], LogCategoryTypeId )
				VALUES( @Increment + 1, @LogType, @LogCategoryTypeId );
				SELECT @LogTypeId = SCOPE_IDENTITY();				
			END;
		END;
		IF @BooksProductCode IS NULL
			BEGIN
				SET @ProductId = 0;
			END;
		ELSE
		BEGIN
			SELECT @ProductId = ProductId
				FROM Logging.Product
				WHERE BooksProductCode = @BooksProductCode;
			IF @ProductId IS NULL			
			BEGIN
				INSERT INTO Logging.Product( BooksProductCode )
				VALUES( @BooksProductCode );
				SELECT @ProductId = SCOPE_IDENTITY();
			END;
		END;
		IF @ServerName IS NULL
		BEGIN
			SET @ServerId = 0;
		END;
		ELSE
		BEGIN
			SELECT @ServerId = ServerId
				FROM Logging.ServerName
				WHERE ServerName = @ServerName;
			IF @ServerId IS NULL
			BEGIN
				INSERT INTO Logging.ServerName( ServerName )
				VALUES( @ServerName );
				SELECT @ServerId = SCOPE_IDENTITY();
			END;
		END;
		IF @ToUserLoginId IS NOT NULL
		BEGIN			
				MERGE Logging.UserLogin AS T
				USING
				(
					SELECT @ToUserLoginId ToUserLoginId,
					@ToUserLoginname ToUserLoginName, @ToUserFirstName ToUserFirstName, @ToUserLastName ToUserLastName, @ToUserRealpageId ToUserRealPageId
				) AS S
				ON S.ToUserLoginId = T.[ProductUserId]
				WHEN MATCHED
					  THEN UPDATE SET T.FirstName = S.ToUserFirstName, T.LastName = S.ToUserLastName, T.RealPageId = S.ToUserRealPageId, T.LoginName = S.ToUserLoginName
				WHEN NOT MATCHED BY TARGET
					  THEN
					  INSERT(LoginName, ProductUserId,
					  FirstName, LastName, RealPageId)
					  VALUES( S.ToUserLoginName, S.ToUserLoginId,
					  S.ToUserFirstName, S.ToUserLastName, S.ToUserRealPageId );
				SELECT @ToUserId = UserId
				FROM Logging.UserLogin
				WHERE [ProductUserId] = @ToUserLoginId;			
		END;
		ELSE
		BEGIN
			SET @ToUserId = 0;
		END;
		IF @FromUserLoginId IS NOT NULL
		BEGIN			
			MERGE Logging.UserLogin AS T
			USING
			(
				SELECT @FromUserLoginId FROMUserLoginId,
				@FromUserLoginname FromUserLoginName, @FromUserFirstName FromUserFirstName, @FromUserLastName FromUserLastName, @FromUserRealpageId FromUserRealPageId
			) AS S
			ON S.FromUserLoginId = T.[ProductUserId]
			WHEN MATCHED
					THEN UPDATE SET T.FirstName = S.FromUserFirstName, T.LastName = S.FromUserLastName, T.RealPageId = S.FromUserRealPageId, T.LoginName = S.FromUserLoginName
			WHEN NOT MATCHED BY TARGET
					THEN
					INSERT(LoginName, ProductUserId,
					FirstName, LastName, RealPageId)
					VALUES( S.FromUserLoginName, S.FromUserLoginId,
					S.FromUserFirstName, S.FromUserLastName, S.FromUserRealPageId );
			SELECT @FromUserId = UserId
			FROM Logging.UserLogin
			WHERE [ProductUserId] = @FromUserLoginId
		END;
		ELSE
		BEGIN
			SET @FromUserId = 0;
		END;
				    --Process Activity Table

		INSERT INTO Logging.Activity
			(LogTypeId,
				CorrelationId,
				Message,
				FromUserId,
				ToUserId,
				BooksMasterOrganizationId,
				ProductId,
				ServerId,
				ApplicationTimestamp,
				DatabaseTimestamp,
				BooksMasterPropertyId,
				IsSystemAdminActivity
			)
		VALUES
			(@LogTypeId,
				@CorrelationId,
				@Message,
				@FromUserId,
				CASE
					WHEN @ToUserId IS NULL
					THEN 1
					ELSE @ToUserId
				END,
				ISNULL(@BooksMasterOrganizationId, 0),
				@ProductId,
				@ServerId,
				@Timestamp,
				@Now,
				@BooksMasterPropertyId,
				@IsSystemAdminActivity 
			);

		IF @@ROWCOUNT > 0
		BEGIN
			SET @ActivityId = SCOPE_IDENTITY();
		END;
		SELECT @ActivityId AS Id, '' AS ErrorMessage;
		
		INSERT INTO Logging.ActivityDetail( ActivityId, [Key], Value )
		SELECT @ActivityId, [key], [value]
		FROM OPENJSON (@AdditionalInformationJsonInput)
		WITH
		(
			[key] varchar(50) '$.Key',
			[value] nvarchar(max) '$.Value'
		) 
		WHERE ISJSON(@AdditionalInformationJsonInput) > 0
	END;
END;