docs-interface {
  display: block;
}

.r-docs-interface__section {
  font-size: 14px;
}

.r-docs-interface__section raul-simple-table {
  width: 100%;
}

.r-docs-interface__na {
  opacity: 0.5;
  font-size: 14px;
}