<div class="resident-portals-access"
    ng-show="rppa.isActive()"
    detect-product-change="{onChange: rppa.setChanged}"
    ng-controller="ResidentPortalsProductAccess as rppa">
    <h3 class="assign-product-access-title">
        {{rppa.panelName}}
    </h3>

    <rp-scrolling-tabs-menu
        class="resident-portals-tabs"
        ng-class="{visible: rppa.model.tabsReady}"
        model="rppa.tabsMenu">
    </rp-scrolling-tabs-menu>
    <ng-include
        src="tab.incUrl"
        ng-show="tab.isActive"
        ng-repeat="tab in rppa.tabsList">
    </ng-include>
</div>
