<div class="messaging-groups-wrapper" ng-controller="RPMessagingGroupsGridCtrl as mgpr">
    <div class="messaging-groups-body" ng-if="!mgpr.isDataError">
        <div class="grid-controls">
            <div class="grid-control-item">
                <rp-toggle model="mgpr.messagingGroupsGrid.filtersModel.state.active" options="{
                    defaultText: 'Filter',
                    activeIconClass: 'rp-icon-filter',
                    defaultIconClass: 'rp-icon-filter active'
                }">
                </rp-toggle>
            </div>
        </div>
        <rp-grid model="mgpr.messagingGroupsGrid" class="resident-portals-messaging-groups-grid">
        </rp-grid>
        <rp-grid-pagination model="gridPagination">
        </rp-grid-pagination>
    </div>
    <div class="messaging-groups-error" ng-if="mgpr.isDataError">
        {{::mgpr.dataErrorReason}}
    </div>
</div>
