<div class="resident-portals-properties-wrapper" ng-controller="RPPropertiesGridCtrl as prop">
	<div class="resident-protals-properties-body-wrapper" ng-if="!prop.isDataError">
	    <div class="all-properties" ng-if="prop.displayAllProperties">
			<rp-switch class="inline label-1"
				config="prop.allPropSwitch"
				rp-model="prop.allProperties"
				rp-label-text="'Allow access to all current and future properties'">
			</rp-switch>
	    </div>

		<div class="resident-portals-properties-body">
			<div class="resident-portals-properties" ng-if="!prop.allProperties">
			    <div class="grid-controls">
			        <div class="grid-control-item">
			            <rp-toggle model="prop.grid.filtersModel.state.active" options="{
			                defaultText: 'Filter',
			                activeIconClass: 'rp-icon-filter',
			                defaultIconClass: 'rp-icon-filter active'
			            }">
			            </rp-toggle>
			        </div>
			    </div>
				<rp-grid
					ng-if="rppa.isActive()"
					model="prop.grid" class="resident-portals-properties-grid">
				</rp-grid>
				<rp-grid-pagination ng-if="rppa.isActive()" model="gridPagination">
				</rp-grid-pagination>
			</div>
		</div>
	</div>
	<div class="resident-portals-properties-body-error" ng-if="prop.isDataError">
		{{::prop.dataErrorReason}}
	</div>
</div>
