<div ng-controller="OnesiteAssignRoleCtrl as assignRole" class="rp-aside-modal rp-aside-modal-right onesite-role-modal">
    <div class="rp-aside-modal-header">
        <span class="rp-aside-modal-close" ng-click="assignRole.cancel()">
        </span>
        <h2 class="rp-aside-modal-header-title">
            {{assignRole.model.headerText}}
        </h2>
        <h3 class="rp-aside-modal-header-subtitle">
            {{assignRole.model.roleData.name}}
        </h3>
    </div>
    <div class="rp-aside-modal-content">
        <form novalidate name="assignRoleForm" rp-focus-invalid-field>
            <div ng-if="assignRole.model.currentType=== 'edit'" class="row extend">
                <div class="col-md-12">
                    <label for="">Role Name</label>
                    <rp-form-input-text config="assignRole.roleConfig.assignRoleName" rp-model="assignRole.model.assignRoleName">
                    </rp-form-input-text>
                    <div ng-if="assignRole.isError" class="ul-roles-error-msg">
                        {{assignRole.errorMsg}}</div>
                </div>
            </div>
        </form>
        <rp-scrolling-tabs-menu class="page-tabs" model="assignRole.tabsMenu">
        </rp-scrolling-tabs-menu>
        <ng-include src="tab.incUrl" ng-show="tab.isActive" ng-repeat="tab in assignRole.tabsList">
        </ng-include>
    </div>
    <div class="rp-aside-modal-footer rp-aside-modal-footer-btns">
        <button ng-click="assignRole.cancel($event)" class="rp-btn rp-aside-modal-footer-btn outline primary">
            Cancel
        </button>
        <button ng-if= "assignRole.hasAccess()" ng-click="assignRole.update()" class="rp-btn rp-aside-modal-footer-btn primary">
            Update
        </button>
    </div>
</div>
