<div class="rp-modal-wrap top am-fade-and-slide-top" ng-controller="ChangeUserTypeConfirmationCtrl as ctrl">
    <div class="rp-modal" ng-if="ctrl.chgSuperToRegular()">
        <div class="rp-modal-dialog change-user-type-modal">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="ctrl.decline()"></span>
                <h2 class="rp-modal-header-title">Change User Type</h2>
            </div>
            <div class="rp-modal-content">
                <p>Are you sure you want to demote this user to Regular User?  You will need to specify and configure all products that should be accessible to the end user and click the Update User button to complete this process.</p>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns">
                    <button ng-click="ctrl.decline()" class="rp-btn medium rp-modal-footer-btn">
                        Cancel
                    </button>
                    <button ng-click="ctrl.confirmDemoteAdmin()" class="rp-btn medium primary rp-modal-footer-btn">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="rp-modal" ng-if="ctrl.chgToNoEmail()">
        <div class="rp-modal-dialog change-user-type-modal">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="ctrl.decline()"></span>
                <h2 class="rp-modal-header-title">Change User Type</h2>
            </div>
            <div class="rp-modal-content">
                <p>You cannot change an existing user to Regular User No Email.</p>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns">
                    <button ng-click="ctrl.decline()" class="rp-btn medium primary rp-modal-footer-btn">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="rp-modal" ng-if="ctrl.chgNoEmailToSuper()">
        <div class="rp-modal-dialog change-user-type-modal">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="ctrl.decline()"></span>
                <h2 class="rp-modal-header-title">Change User Type</h2>
            </div>
            <div class="rp-modal-content">
                <p>To promote a Regular User (No Email) to RealPage System Administrator, start by changing the user to Regular User and confirm that you are successful first.</p>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns">
                    <button ng-click="ctrl.decline()" class="rp-btn medium primary rp-modal-footer-btn">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="rp-modal" ng-if="ctrl.chgRegularToSuper()">
        <div class="rp-modal-dialog change-user-type-modal">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="ctrl.decline()"></span>
                <h2 class="rp-modal-header-title">Change User Type</h2>
            </div>
            <div class="rp-modal-content">
                <p>Are you sure you want to promote this user to RealPage System Administrator?  Administrative access to all products will be provided.</p>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns">
                    <button ng-click="ctrl.decline()" class="rp-btn medium rp-modal-footer-btn">
                        Cancel
                    </button>
                    <button ng-click="ctrl.confirmPromoteRegular()" class="rp-btn medium primary rp-modal-footer-btn">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="rp-modal" ng-if="ctrl.chgNoEmailToRegular()">
        <div class="rp-modal-dialog change-user-type-modal">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="ctrl.decline()"></span>
                <h2 class="rp-modal-header-title">Change User Type</h2>
            </div>
            <div class="rp-modal-content">
                <p>Are you sure this user should be updated to Regular User with an email address as username?</p>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns">
                    <button ng-click="ctrl.decline()" class="rp-btn medium rp-modal-footer-btn">
                        Cancel
                    </button>
                    <button ng-click="ctrl.confirmRegularWithEmail()" class="rp-btn medium primary rp-modal-footer-btn">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="rp-modal" ng-if="ctrl.chgNoEmailToExternal()">
        <div class="rp-modal-dialog change-user-type-modal">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="ctrl.decline()"></span>
                <h2 class="rp-modal-header-title">Change User Type</h2>
            </div>
            <div class="rp-modal-content">
                <p>Are you sure this user should be updated to External User with an email address as username?</p>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns">
                    <button ng-click="ctrl.decline()" class="rp-btn medium rp-modal-footer-btn">
                        Cancel
                    </button>
                    <button ng-click="ctrl.confirmExternalWithEmail()" class="rp-btn medium primary rp-modal-footer-btn">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="rp-modal" ng-if="ctrl.chgExternalToSuper()">
        <div class="rp-modal-dialog change-user-type-modal">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="ctrl.decline()"></span>
                <h2 class="rp-modal-header-title">Change User Type</h2>
            </div>
            <div class="rp-modal-content">
                <p>Are you sure you want to promote this user to RealPage System Administrator?  Administrative access to all products will be provided.</p>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns">
                    <button ng-click="ctrl.decline()" class="rp-btn medium rp-modal-footer-btn">
                        Cancel
                    </button>
                    <button ng-click="ctrl.confirmPromoteExternal()" class="rp-btn medium primary rp-modal-footer-btn">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="rp-modal" ng-if="ctrl.chgExternalToRegular()">
        <div class="rp-modal-dialog change-user-type-modal">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="ctrl.decline()"></span>
                <h2 class="rp-modal-header-title">Change User Type</h2>
            </div>
            <div class="rp-modal-content">
                <p>Are you sure you want to change this user to a Regular User? The Regular User type is intended for employees of your company. </p>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns">
                    <button ng-click="ctrl.decline()" class="rp-btn medium rp-modal-footer-btn">
                        Cancel
                    </button>
                    <button ng-click="ctrl.confirmPromoteExternal()" class="rp-btn medium primary rp-modal-footer-btn">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="rp-modal" ng-if="ctrl.chgSuperToExternal()">
        <div class="rp-modal-dialog change-user-type-modal">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="ctrl.decline()"></span>
                <h2 class="rp-modal-header-title">Change User Type</h2>
            </div>
            <div class="rp-modal-content">
                <p>Are you sure you want to demote this user to External User?  You will need to specify and configure all products that should be accessible to the end user and click the Update User button to complete this process.</p>
                <div ng-if="ctrl.isUserHasBIProductAccess()">
                    <p>At this time, the External user type is not available for Business Intelligence. Selecting "confirm" will remove this product from the user's portfolio.</p>
                </div>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns">
                    <button ng-click="ctrl.decline()" class="rp-btn medium rp-modal-footer-btn">
                        Cancel
                    </button>
                    <button ng-click="ctrl.confirmDemoteAdminToExternal()" class="rp-btn medium primary rp-modal-footer-btn">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="rp-modal" ng-if="ctrl.chgRegularToExternal()">
        <div class="rp-modal-dialog change-user-type-modal">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="ctrl.decline()"></span>
                <h2 class="rp-modal-header-title">Change User Type</h2>
            </div>
            <div class="rp-modal-content">
                <p>Are you sure you want to change to an External User? The External User type is intended for users who have access to your products who are not your employees. </p>
                <div ng-if="ctrl.isUserHasBIProductAccess()">
                    <p>At this time, the External user type is not available for Business Intelligence. Selecting "confirm" will remove this product from the user's portfolio.</p>
                </div>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns">
                    <button ng-click="ctrl.decline()" class="rp-btn medium rp-modal-footer-btn">
                        Cancel
                    </button>
                    <button ng-click="ctrl.confirmRegularExternal()" class="rp-btn medium primary rp-modal-footer-btn">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--  <div class="rp-modal" ng-if="ctrl.chgExternalToSuper()">
        <div class="rp-modal-dialog change-user-type-modal">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="ctrl.decline()"></span>
                <h2 class="rp-modal-header-title">Change User Type</h2>
            </div>
            <div class="rp-modal-content">
                <p>You cannot change an External user.</p>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns">
                    <button ng-click="ctrl.decline()" class="rp-btn medium primary rp-modal-footer-btn">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
 -->
</div>
