
<div class="rp-modal-wrap company-switch" ng-controller="DeactivatedUserModalCtrl as eu">
    <div class="rp-modal" >
        <div class="modal-width rp-modal-dialog add-user-success-modal">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="eu.dismissModal()"></span>
                <h2 class="rp-modal-header-title">Username already exists</h2>
            </div>
            <div class="rp-modal-content"> 
                <label for="">It looks like you are trying to create a multi-company user. This username has been deactivated by their primary company. Please use a different username.
                </label>
                   <br/> 
                <label>    
                        If this user is your employee, please contact <a target="_blank"  class="rp-supp-link" href="https://www.realpage.com/support/#support_request_form">RealPage Support </a> for assistance. 
                </label>

                 <div class="row">
                    
                    <div class="col-md-3"> 
                        <label class="rp-modal-header-subtitle">Username </label> 
                    </div>
                    <div class="col-md-9">  {{::eu.model.data.userLogin.loginName}}</div>

                </div>
                                              
            </div>

            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns add-user-success-modal-footer-btns">
                    
                    <button class="rp-modal-footer-btn rp-btn primary add-user-success-modal-footer-btn" ng-click="eu.selectUser()">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
