
<div class="rp-modal-wrap company-switch" ng-controller="ExistingUserModalCtrl as eu">
    <div class="rp-modal" >
        <div class="existing-user-modal rp-modal-dialog add-user-success-modal">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="eu.dismissModal()"></span>
            </div>
            <div class="rp-modal-content"> 
                <label for="">User already exists</label>
                <div class="user-modal-link" ng-if="eu.getShowExistingUserLink()"> 
                    <span  ng-click="eu.showExistingUser()">Edit User</span></div>
            </div>
            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns add-user-success-modal-footer-btns">
                    <button class="rp-modal-footer-btn rp-btn primary add-user-success-modal-footer-btn" ng-click="eu.dismissModal()">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
