
<div class="rp-modal-wrap company-switch" ng-controller="ExternalUserModalCtrl as eu">
    <div class="rp-modal" >
        <div class="modal-width rp-modal-dialog add-user-success-modal">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="eu.dismissModal()"></span>
                <h2 class="rp-modal-header-title">Existing User</h2>
            </div>
            <div class="rp-modal-content"> 
                <label for="">This user already exists in the RealPage platform.  We are designating the user as External so you can continue.  If this user is your employee, please contact RealPage support</label>

                 <div class="row">
                    
                    <div class="col-md-4"> 
                        <label class="rp-modal-header-subtitle">Login </label> 
                    </div>
                    <div class="col-md-8">  {{::eu.model.data.userLogin.loginName}}</div>
                    

                    <div class="col-md-4">
                        <label class="rp-modal-header-subtitle">First Name </label>  
                    </div>
                    <div class="col-md-8">  {{::eu.model.externalUserData.person.firstName}}
                    </div>

                    <div class="col-md-4">
                        <label class="rp-modal-header-subtitle">Last Name </label>  
                    </div>
                    <div class="col-md-8"> {{::eu.model.externalUserData.person.lastName}}
                    </div>

                    <div class="col-md-4">
                        <label class="rp-modal-header-subtitle">Middle Name </label>  
                    </div>
                    <div class="col-md-8"> {{::eu.model.externalUserData.person.middleName}}
                    </div>
                    <!-- <div>&nbsp;</div> -->

                </div>

               <div> Continuing will associate the selected product access to this user.</div>

                <div>Do you want to give this user access?</div>                                
            </div>

            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns add-user-success-modal-footer-btns">
                    <button class="rp-btn rp-aside-modal-footer-btn outline primary" ng-click="eu.dismissModal()">
                        Cancel
                    </button>
                    <button class="rp-modal-footer-btn rp-btn primary add-user-success-modal-footer-btn" ng-click="eu.selectUser()">
                        Switch
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
