
<div class="rp-modal-wrap company-switch" ng-controller="InternalUserModalCtrl as iu">
    <div class="rp-modal" >
        <div class="modal-width rp-modal-dialog add-user-success-modal">
            <div class="rp-modal-header">
                <span class="rp-modal-close" ng-click="iu.dismissModal()"></span>
                <h2 class="rp-modal-header-title">Username exists in another company</h2>
            </div>
            <div class="rp-modal-content"> 
                <label for="">
                    It looks like you are trying to create a multi-company user. To add this user as a RealPage Employee, click ok. The user will be changed 
                    to an external user in the other company.
                </label>
                   <br/> 
                 <div class="row">
                    
                    <div class="col-md-3"> 
                        <label class="rp-modal-header-subtitle">Username </label> 
                    </div>
                    <div class="col-md-9">  {{::iu.model.data.userLogin.loginName}}</div>

                </div>
                                              
            </div>

            <div class="rp-modal-footer">
                <div class="rp-modal-footer-btns add-user-success-modal-footer-btns">
                    <button class="rp-btn rp-aside-modal-footer-btn outline primary" ng-click="iu.dismissModal()">
                        Cancel
                    </button>
                    <button class="rp-modal-footer-btn rp-btn primary add-user-success-modal-footer-btn" ng-click="iu.selectUser()">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
