<form novalidate rp-focus-invalid-field name="userDetails.userDetailsForm" ng-controller="UserDetailsCtrl as userDetails" class="user-details rp-focus-invalid-field">
    <div class="user-details-field user-details-first-name">
        <label for="{{::userDetails.formConfig.firstName.id}}" class="user-details-form-label">
            {{::"label.firstName" | userDetailsText}}
        </label>
        <rp-form-input-text config="userDetails.formConfig.firstName" rp-model="userDetails.model.data.firstName">
        </rp-form-input-text>
    </div>
    <div class="user-details-field user-details-middle-initial">
        <label for="{{::userDetails.formConfig.middleName.id}}" class="user-details-form-label">
            {{::"label.middleName" | userDetailsText}}
        </label>
        <rp-form-input-text config="userDetails.formConfig.middleName" rp-model="userDetails.model.data.middleName">
        </rp-form-input-text>
    </div>
    <div class="user-details-field user-details-last-name">
        <label for="{{::userDetails.formConfig.lastName.id}}" class="user-details-form-label">
            {{::"label.lastName" | userDetailsText}}
        </label>
        <rp-form-input-text config="userDetails.formConfig.lastName" rp-model="userDetails.model.data.lastName">
        </rp-form-input-text>
    </div>
    <div class="user-details-field user-details-user-type">
        <label for="{{::userDetails.formConfig.userTypeId.id}}" class="user-details-form-label">
            {{::"label.userTypeId" | userDetailsText}}
        </label>
        <rp-form-select-menu ng-if="!userDetails.isDisabled() && !userDetails.isEditingSelf()" config="userDetails.formConfig.userTypeId" rp-model="userDetails.model.data.userTypeId">
        </rp-form-select-menu>
        <span ng-if="(userDetails.isDisabled() || userDetails.isEditingSelf())" class="rp-form-input-text-proxy">
            {{("options.userTypeId." + userDetails.model.data.userTypeId) | userDetailsText}}
        </span>
    </div>
    <div class="user-details-field user-details-username">
        <label for="{{::userDetails.formConfig.loginName.id}}" class="user-details-form-label">
            {{"label.loginName" | userDetailsText : userDetails.model.data.userTypeId}}
        </label>
        <rp-form-input-text config="userDetails.formConfig.loginName" rp-model="userDetails.model.data.userLogin.loginName">
        </rp-form-input-text>
    </div>
    <div ng-show="userDetails.passwordIsReqd()" rp-popover="userDetails.passReqPopoverConfig" class="user-details-field user-details-password" ng-class="{'show-validation-error': userDetails.userDetailsForm.password.$touched}">
        <label for="{{::userDetails.formConfig.password.id}}" class="user-details-form-label">
            {{::"label.password" | userDetailsText}}
        </label>
        <rp-form-input-text ng-if="userDetails.passwordIsReqd() " config="userDetails.formConfig.password" rp-model="userDetails.model.data.password">
        </rp-form-input-text>
    </div>
    <div ng-show="userDetails.passwordIsReqd() " class="user-details-field user-details-password-copy" ng-class="{'show-validation-error': userDetails.userDetailsForm.passwordCopy.$touched}">
        <label for="{{::userDetails.formConfig.passwordCopy.id}}" class="user-details-form-label">
            {{::"label.passwordCopy" | userDetailsText}}
        </label>
        <rp-form-input-text ng-if="userDetails.passwordIsReqd() " config="userDetails.formConfig.passwordCopy" rp-model="userDetails.model.data.passwordCopy">
        </rp-form-input-text>
    </div>
    <div class="user-details-field user-details-effective">
        <label for="{{::userDetails.formConfig.fromDate.id}}" class="user-details-form-label">
            {{::"label.fromDate" | userDetailsText}}
        </label>
        <rp-datetimepicker config="userDetails.formConfig.fromDate" rp-model="userDetails.model.data.userLogin.fromDate">
        </rp-datetimepicker>
    </div>
    <div class="user-details-field user-details-expires">
        <label for="{{::userDetails.formConfig.thruDate.id}}" class="user-details-form-label">
            {{::"label.thruDate" | userDetailsText}}
        </label>
        <rp-datetimepicker config="userDetails.formConfig.thruDate" rp-model="userDetails.model.data.userLogin.thruDate">
        </rp-datetimepicker>
    </div>

    <div ng-show="userDetails.emailIsReqd()" class="user-details-field user-details-notification-email">
        <label for="{{::userDetails.formConfig.notificationEmail.id}}" class="user-details-form-label">
            {{"label.notificationEmail" | userDetailsText : userDetails.assignProducts.notificationEmailReqd }}
        </label>
        <rp-form-input-text ng-if="userDetails.emailIsReqd()" config="userDetails.formConfig.notificationEmail" rp-model="userDetails.model.data.notificationEmail">
        </rp-form-input-text>
    </div>
    <div class="access-details">
        <h2 class="access-details-title">{{::"text.accessDetails.title" | userDetailsText}}</h2>
        <div class="access-details-item user-details-enable-onSwitchChangeaccess">
            <rp-switch ng-if="userDetails.canEditAccessData()"
                class="label-1"
                config="userDetails.activeDeactiveSwitch"
                rp-field-name="::'isEnabled'"
                rp-on-change="userDetails.updateTabsMenu()"
                rp-model="userDetails.model.data.userLogin.isActive"
                rp-label-text="::'label.isActive' | userDetailsText">
            </rp-switch>
        </div>
        <div class="access-details-item user-details-enable-access" ng-if="!userDetails.canEditAccessData()">
            <label class="user-details-form-label">
                {{::"label.isActive" | userDetailsText}}
            </label>
            <span> {{userDetails.model.data.userLogin.isActive ? "Yes" : "No"}} </span>
        </div>
        <div ng-if="userDetails.model.show3rdPartyIDPSetting" class="access-details-item user-details-use-third-party">
            <rp-switch ng-if="userDetails.canEditAccessData()"
              class="label-1" rp-field-name="::'is3rdPartyIDP'" 
              config="userDetails.activeDeactiveSwitchIDP"
              rp-model="userDetails.model.data.userLogin.is3rdPartyIDP" rp-label-text="::'label.is3rdPartyIDP' | userDetailsText">
            </rp-switch>
        </div>
        <div class="access-details-item user-details-use-third-party" ng-if="!userDetails.canEditAccessData()">
            <label class="user-details-form-label">
                {{::"label.is3rdPartyIDP" | userDetailsText}}
            </label>
            <span> {{userDetails.model.data.userLogin.is3rdPartyIDP ? "Yes" : "No"}} </span>
        </div>
    </div>
    <div class="custom-fields" ng-if="userDetails.model.isCustomFieldsExists()">
        <h2 class="custom-fields-title">Additional Information</h2>
        <div ng-repeat="item in userDetails.model.customFieldList">
            <div class="col-md-6 custom-fields-field">
                <h2 class="custom-fields-form-label"> {{item.data.name}} </h2>
                <h3 class="custom-fields-form-sub-label">Custom Field</h3>
            </div>
            <div class="col-md-6 custom-fields-field" ng-if="userDetails.canAddEditCustomFields()">
                <rp-form-input-text config="item.fieldConfig" rp-model="item.data.value">
                </rp-form-input-text>
            </div>
            <div class="col-md-6 custom-fields-field" ng-if="!userDetails.canAddEditCustomFields()">
                <span class="rp-form-input-text-proxy">
                    {{ item.data.value }}
                </span>
            </div>
            <!-- <hr ng-if="!$last"> -->
        </div>
    </div>
    <div class="profile-info" ng-if="!userDetails.userExists() || userDetails.isCloned()">
        <!-- <div class="profile-info-separator"></div> -->
        <h2 class="profile-info-title">Profile Information</h2>
        <div class="profile-info-info">
            <div class="col-md-2">
                <div class="profile-info-avatar-lg">
                    <p class="profile-info-initials">
                        {{userDetails.getUserIntials()}}
                    </p>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row" ng-repeat="item in userDetails.model.data.telecommunicationNumber"  ng-init="i=$index">
                    <div class="col-md-5">
                        <label for="phone-number">Phone</label>
                        <rp-form-input-text config="userDetails.formConfig.phoneNumber" rp-model="item.phoneNumber">
                        </rp-form-input-text>
                    </div>
                    <div class="col-md-3">
                        <label for="usage-type">Type</label>
                        <rp-form-select-menu config="userDetails.formConfig.phoneType" rp-model="item.contactMechanismUsageType.contactMechanismUsageTypeId">
                        </rp-form-select-menu>
                    </div>
                    <div class="col-md-1" ng-if="i !== 0">
                            <div class="del-ph" ng-click="userDetails.delPhone(item)"><i class="icon rp-icon-delete-2"></i></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="add-ph-link" ng-click="userDetails.addPhone(userDetails.userDetailsForm)"> + Add Phone</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label for="">Preferred Contact Method</label>
                        <rp-form-select-menu config="userDetails.formConfig.contactMethod" rp-model="userDetails.model.data.PreferredContactMethodId">
                        </rp-form-select-menu>
                    </div>
                </div>
                <hr class="col-md-8">
                <div class="row">
                    <div class="col-md-8">
                        <label for="">Industry Standard Job Title</label>
                        <rp-form-select-menu config="userDetails.formConfig.jobTitle" rp-model="userDetails.model.data.industryjobTitle">
                        </rp-form-select-menu>
                        <label for="">Company Job Title</label>
                        <rp-form-input-text config="userDetails.formConfig.title" rp-model="userDetails.model.data.title">
                        </rp-form-input-text>
                    </div>
                </div>
            </div>
        </div>
</form>
